@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap');

/**/

html,
body {
   margin: 0px;
   padding: 0px;
   position: relative;
}
* {
   box-sizing: border-box;
}
html {
   padding: 10px 20px;
}
body {
   font-size: 20px;
   line-height: 1.4;
}
.input-container {}
.input-rs {
   max-width: 200px;
   font-size: 19px;
   flex: 1;
   /* Adjust as needed */
}
.variable {
   transition: .2s;
   font-size: 3rem;
   margin-top: 100px;
   font-family: "Roboto Flex", sans-serif;
   font-optical-sizing: auto;
   font-weight: 650;
   font-style: normal;
   font-variation-settings: "slnt" 10, "wdth" 20, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}
