/*
.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: table-column-group;
  line-height: 1.2;
}
.calibre2 {
  display: table-row-group;
  line-height: 1.2;
  vertical-align: middle;
}
.calibre3 {
  display: table-row;
  line-height: 1.2;
  vertical-align: inherit;
}
.calibre4 {
  line-height: 1.2;
}
.calibre5 {
  display: block;
}
.class {
  color: #0078d2;
  display: block;
  font-size: 1em;
  font-weight: 800;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin: 0 5pt;
}
.class_s {
  display: block;
  margin: 0.816766em 0 0;
}
.class_s1 {
  color: #0078d2;
  text-decoration: underline;
}
.class_s1a {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s1c {
  display: block;
  font-weight: 800;
  text-indent: 0.225em;
  margin: 0;
}
.class_s1c1 {
  color: #0078d2;
  display: block;
  font-weight: 800;
  margin: 0;
}
.class_s1c2 {
  background-color: #c6d9f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1.4375em 1.406% 1px;
  border-right: white solid 1pt;
}
.class_s1c3 {
  background-color: #dbe5f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 0.718754em 1.406% 1px;
  border-right: white solid 1pt;
}
.class_s1cw {
  background-color: #95b3d7;
  display: table-cell;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s1e {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 1.4375em;
  max-width: 100%;
  text-indent: 0;
  width: 34.1037em;
}
.class_s1e1 {
  color: #0078d2;
  display: block;
  font-weight: 800;
  text-indent: 15.757%;
  margin: 0;
}
.class_s1f {
  display: block;
  font-weight: 800;
  text-indent: 0.225em;
  margin: 0.816766em 0 0;
}
.class_s1f1 {
  color: #0078d2;
  display: block;
  text-indent: 0.225em;
  margin: 0.816766em 0 0;
}
.class_s1f2 {
  height: auto;
  width: 58.398%;
}
.class_s1fk {
  height: auto;
  width: 39.063%;
}
.class_s1fm {
  color: #0078d2;
  display: block;
  font-weight: 800;
  margin-top: 1.63354em;
  text-align: center;
  text-indent: 0.225em;
}
.class_s1gm {
  height: auto;
  width: 54.883%;
}
.class_s1ht {
  height: auto;
  width: 31.641%;
}
.class_s1hz {
  height: auto;
  width: 34.18%;
}
.class_s1j {
  height: auto;
  width: 45.313%;
}
.class_s1j1 {
  display: block;
  font-style: italic;
  text-indent: 0.225em;
  margin: 0.816766em 0 0.816774em;
}
.class_s1jb {
  height: auto;
  width: 74.805%;
}
.class_s1kx {
  height: auto;
  width: 64.453%;
}
.class_s1m {
  height: auto;
  width: 66.992%;
}
.class_s1ma {
  height: auto;
  width: 59.18%;
}
.class_s1na {
  height: auto;
  width: 60.938%;
}
.class_s1nc {
  color: #0078d2;
  display: block;
  font-weight: 800;
  text-indent: 0.575em;
  margin: 0;
}
.class_s1nu {
  display: block;
  font-style: italic;
  text-indent: 2.325em;
  margin: 0.816766em 0 0;
}
.class_s1p {
  height: auto;
  width: 62.891%;
}
.class_s1r {
  display: block;
  font-size: 0.75em;
  text-indent: 0.295em;
  margin: 1.07277em 0 0;
}
.class_s1sk {
  display: block;
  font-style: italic;
  text-indent: 0.225em;
  margin: 0;
}
.class_s1ta {
  display: block;
  margin: 0.852277em 0 0;
}
.class_s1ug {
  color: #0078d2;
  display: block;
  font-weight: 800;
  margin: 1.63354em 0 0;
}
.class_s2 {
  color: #0078d2;
  display: block;
  font-size: 1.41667em;
  font-weight: 800;
  line-height: 1.2;
  text-indent: 0.149em;
  margin: 0;
}
.class_s2ad {
  color: #0070c0;
}
.class_s2b {
  display: block;
  margin: 1.63354em 0 0;
}
.class_s2k {
  display: block;
  font-size: 1.41667em;
  font-weight: 800;
  line-height: 1.2;
  text-indent: 0.149em;
  margin: 0;
}
.class_s2t {
  display: block;
  text-indent: 3.375em;
  margin: 0;
}
.class_s2t1 {
  display: block;
  font-weight: 800;
  text-indent: 3.375em;
  margin: 0;
}
.class_s2y {
  display: block;
  text-indent: 3.025em;
  margin: 0;
}
.class_s3 {
  font-size: 1.41667em;
  line-height: 1.2;
  text-decoration: underline;
}
.class_s4 {
  display: block;
  text-indent: 0.225em;
  margin: 0.816766em 0 0;
}
.class_s5 {
  color: #0078d2;
  display: block;
  font-size: 1.41667em;
  font-weight: 800;
  line-height: 1.2;
  text-indent: 0.169em;
  margin: 1.22864em 0 0;
}
.class_s5f {
  display: block;
  font-style: italic;
  text-indent: 0.225em;
  margin: 0.816766em 0 0;
}
.class_s5f1 {
  display: block;
  font-style: italic;
  margin: 0.816766em 0 0;
}
.class_s6 {
  color: #0078d2;
  display: block;
  font-weight: 800;
  margin-top: 0.816766em;
  text-align: center;
  text-indent: 0.225em;
}
.class_s6p {
  height: auto;
  width: 91.797%;
}
.class_s6r {
  color: #0078d2;
  display: block;
  font-weight: 800;
  text-align: center;
  text-indent: 0.225em;
}
.class_s6r1 {
  color: #0078d2;
  display: block;
  text-align: center;
}
.class_s6v {
  display: block;
  text-indent: 0.225em;
  margin: 0.816766em 0 0.816774em;
}
.class_s6z {
  display: block;
  margin-left: 0.742%;
  text-align: center;
}
.class_s6z1 {
  height: auto;
  width: 94.531%;
}
.class_s7 {
  height: auto;
  width: 100%;
}
.class_s7d {
  color: #0078d2;
  display: block;
  font-size: 1.41667em;
  font-weight: 800;
  line-height: 1.2;
  text-indent: 0.169em;
  margin: 0.61432em 0 0;
}
.class_s7h {
  display: block;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  margin: 0.680639em 0 0;
}
.class_s7k {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  margin: 0 0 0.680645em;
}
.class_s7k1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.680645em;
}
.class_s7r {
  display: block;
  line-height: 1.2;
  margin-left: 0.764%;
  text-align: center;
}
.class_s7r1 {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 538px;
  width: 100%;
}
.class_s7t {
  color: #0078d2;
  display: block;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  margin: 0 0 0.680645em;
}
.class_s7t1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 0.680645em;
}
.class_s7v {
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  border-top-style: solid;
  border-top-width: 1pt;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s7z {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  max-width: 100%;
  text-indent: 0;
  margin: 0.718754em auto 0;
}
.class_s8 {
  color: #0078d2;
  display: block;
  font-weight: 800;
  text-indent: 0.225em;
  margin: 0;
}
.class_s8g {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 539px;
  width: 100%;
}
.class_s8v {
  display: block;
  line-height: 1.2;
  margin-left: 0.763%;
  text-align: center;
}
.class_s8v1 {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 257.4pt;
  width: 100%;
}
.class_s9 {
  color: #0078d2;
}
.class_s9j {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 565px;
  width: 100%;
}
.class_s9x {
  height: auto;
  line-height: 1.2;
  max-width: 578px;
  width: 100%;
}
.class_s9y {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: center;
}
.class_s10 {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 550px;
  width: 100%;
}
.class_s11 {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0.718754em;
  max-width: 100%;
  text-indent: 0;
}
.class_s12 {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 571px;
  width: 100%;
}
.class_s13 {
  color: #0078d2;
  display: block;
  font-weight: 800;
  margin-top: 0.816766em;
  text-align: center;
}
.class_s13b {
  background-color: #95b3d7;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 0.718754em 1.406% 1px;
}
.class_s13e {
  background-color: #95b3d7;
  display: table-cell;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s13r {
  background-color: #c6d9f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_s13r1 {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_s13u {
  background-color: #c6d9f1;
  display: table-cell;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s13x {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_s14 {
  display: block;
  font-weight: 800;
  margin: 0.816766em 0 0;
}
.class_s14c {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_s14j {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_s15 {
  display: block;
  font-style: italic;
  margin: 2.4503em 0 0;
}
.class_s15b {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0.718754em;
  max-width: 100%;
  text-indent: 0;
  width: 34.1037em;
}
.class_s15j {
  background-color: #95b3d7;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 2.15627em 1.406% 1px;
}
.class_s15n {
  background-color: #95b3d7;
  display: table-cell;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s15x {
  display: table-row;
  line-height: 1.2;
  text-indent: 0;
  vertical-align: inherit;
}
.class_s16 {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_s16b {
  background-color: #c6d9f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_s16p {
  background-color: #dbe5f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s16y {
  background-color: #c6d9f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_s17 {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s18 {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_s18d {
  background-color: #95b3d7;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1.4375em 1.406% 1px;
}
.class_s19 {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: middle;
  padding: 1px;
}
.class_s20 {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0.718754em;
  max-width: 100%;
  text-indent: 0;
  width: 34.1807em;
}
.class_s20d {
  height: auto;
  width: 80.273%;
}
.class_s20f {
  color: #0078d2;
  display: block;
  margin: 0;
}
.class_s20w {
  display: block;
  text-indent: 0.225em;
  margin: 0 0 1.63354em;
}
.class_s21 {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_s21g {
  background-color: #8db3e2;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  border-top-style: solid;
  border-top-width: 1pt;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1.4375em 1.406% 1px;
}
.class_s21m {
  background-color: #8db3e2;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  border-top-style: solid;
  border-top-width: 1pt;
  display: table-cell;
  font-size: 1.25926em;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 0.651046em;
  text-align: left;
  text-indent: 0.165em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s21m1 {
  background-color: #8db3e2;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  border-top-style: solid;
  border-top-width: 1pt;
  display: table-cell;
  font-size: 1.25926em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.65105em;
  margin-top: 0.651046em;
  text-align: left;
  text-indent: 0.165em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s21w {
  background-color: #dbe5f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  font-size: 1.25926em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.3021em;
  margin-top: 0.651046em;
  text-align: inherit;
  text-indent: 0.165em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s21w1 {
  background-color: #dbe5f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  font-size: 1.25926em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.95314em;
  margin-top: 0.651046em;
  text-align: inherit;
  text-indent: 0.165em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s21w2 {
  background-color: #dbe5f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 2.9593em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s22 {
  background-color: #c6d9f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s22e {
  background-color: #c6d9f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s23 {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_s24 {
  background-color: #dbe5f1;
  display: table-cell;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s24b {
  display: block;
  margin: 0.816761em 0 0;
}
.class_s24m {
  display: block;
  font-style: italic;
  text-indent: 1.975em;
  margin: 0;
}
.class_s24p {
  display: block;
  text-indent: 1.975em;
  margin: 0;
}
.class_s25 {
  background-color: #dbe5f1;
  display: table-cell;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_s25g {
  display: block;
  text-indent: 0.225em;
  margin: 0.816769em 0 0;
}
.class_s26 {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1.36128em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_s26e {
  display: block;
  font-weight: 800;
  text-indent: 0.575em;
  margin: 0.816766em 0 0;
}
.class_s26m {
  display: block;
  text-indent: 1.975em;
  margin: 0.816766em 0 8.16767em;
}
.class_s26r {
  color: #0078d2;
  font-weight: 800;
}
.class_s26s {
  font-weight: 800;
}
.class_s26s1 {
  font-weight: 800;
  line-height: 1.2;
}
.class_s26t {
  font-style: normal;
}
.class_s26u {
  font-style: italic;
}
.class_s26u1 {
  font-style: italic;
  line-height: 1.2;
}
.class_s26w {
  text-decoration: underline;
}
.class_s26y {
  font-size: 1.125em;
  line-height: 1.2;
}
.class_s26z {
  font-size: 1.125em;
  font-style: italic;
  line-height: 1.2;
}
.class_s27 {
  display: block;
  margin: 0 0 1.63354em;
}
.class_s27c {
  color: #0070c0;
  text-decoration: underline;
}
.class_s27s {
  font-size: 1.41667em;
  line-height: 1.2;
}
.class_s27t {
  font-size: 1.41667em;
  font-style: italic;
  line-height: 1.2;
}
.class_s28 {
  display: block;
  font-weight: normal;
  margin-left: 0.742%;
  text-align: center;
  text-indent: 0;
}
.class_s29 {
  background-color: #dbe5f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s29n {
  font-style: italic;
  text-decoration: underline;
}
.class_s30 {
  background-color: #c6d9f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  font-size: 1.25926em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.65105em;
  margin-top: 0.651046em;
  text-align: inherit;
  text-indent: 0.165em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s31 {
  background-color: #c6d9f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  font-size: 1.25926em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.3021em;
  margin-top: 0.651046em;
  text-align: inherit;
  text-indent: 0.165em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s32 {
  background-color: #dbe5f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_s33 {
  color: #0070c0;
  display: block;
  font-size: 1.41667em;
  font-weight: 800;
  line-height: 1.2;
  text-indent: 0.169em;
  margin: 0;
}
.class_s34 {
  color: #0078d2;
  font-style: italic;
  text-decoration: underline;
}
.class_s35 {
  font-style: italic;
  font-weight: 800;
}
.class_sa {
  height: auto;
  line-height: 1.2;
  max-width: 566px;
  width: 100%;
}
.class_saj {
  height: auto;
  line-height: 1.2;
  max-width: 506px;
  width: 100%;
}
.class_saw {
  height: auto;
  line-height: 1.2;
  max-width: 486px;
  width: 98.028%;
}
.class_sb {
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  border-top-style: solid;
  border-top-width: 1pt;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 0.718754em 1.406% 1px;
}
.class_sb1 {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 542px;
  width: 100%;
}
.class_sbf {
  display: block;
  line-height: 1.2;
  margin-left: 0.765%;
  text-align: center;
}
.class_sbf1 {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 516px;
  width: 100%;
}
.class_sc {
  color: #0078d2;
  display: block;
  font-size: 1.41667em;
  font-weight: 800;
  line-height: 1.2;
  text-indent: 0.169em;
  margin: 0;
}
.class_sc1 {
  display: block;
  font-size: 1.125em;
  font-weight: 800;
  line-height: 1.2;
  text-indent: 0.198em;
  margin: 1.4375em 0 0;
}
.class_sca {
  color: #0078d2;
  display: block;
  font-weight: 800;
  text-indent: 0.225em;
  margin: 0.816766em 0 0;
}
.class_sca1 {
  color: #0078d2;
  display: block;
  font-weight: 800;
  margin: 0.816766em 0 0;
}
.class_sca2 {
  color: #0078d2;
  display: block;
  margin: 0.816766em 0 0;
}
.class_scd {
  display: block;
  text-indent: 1.275em;
  margin: 0;
}
.class_scn {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin: 0.680639em 0 0;
}
.class_scr {
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_sct {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin: 0.680639em 0 0.680645em;
}
.class_scv {
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_scx {
  display: table-row;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: inherit;
}
.class_sd {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_sd1 {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_sdp {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  background-color: #c6d9f1;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 2.15627em;
  margin-top: 0.718754em;
  text-indent: 0;
}
.class_sdu {
  display: block;
  margin-left: 0.742%;
}
.class_se {
  display: block;
  font-size: 1.125em;
  font-weight: 800;
  line-height: 1.2;
  text-indent: 0.198em;
  margin: 0;
}
.class_seb {
  height: auto;
  width: 96.484%;
}
.class_sed {
  color: #0078d2;
  display: block;
  font-weight: 800;
  text-indent: 0.225em;
  margin: 0.816766em 0 0.816774em;
}
.class_sf {
  display: block;
  font-size: 1.66667em;
  line-height: 1.2;
  text-indent: 0.132em;
  margin: 3.35419em 0 0;
}
.class_sf1 {
  display: block;
  text-indent: 1.275em;
  margin: 0 0 0.816774em;
}
.class_sf2 {
  height: auto;
  width: 46.094%;
}
.class_sf3 {
  display: block;
  text-indent: 1.275em;
  margin: 0.816766em 0 0;
}
.class_sfh {
  height: auto;
  width: 95.898%;
}
.class_sgb {
  display: block;
  text-indent: 2.675em;
  margin: 0.816766em 0 0;
}
.class_sh {
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  text-indent: 0.169em;
  margin: 0.667739em 0 0;
}
.class_sh1 {
  display: block;
  text-indent: 0.225em;
  margin: 3.26706em 0 0;
}
.class_shw {
  display: block;
  font-style: italic;
  text-indent: 0.225em;
  margin: 3.26706em 0 0;
}
.class_sjw {
  height: auto;
  width: 57.617%;
}
.class_sk {
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  text-indent: 0.169em;
  margin: 0;
}
.class_skx {
  display: block;
  line-height: 1.2;
  margin-left: 1.622%;
}
.class_skx1 {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 128px;
  width: 54.626%;
}
.class_skz {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_sm {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 2.15627em;
  max-width: 100%;
  text-indent: 0;
}
.class_sm1 {
  display: block;
  line-height: 1.2;
  margin-left: 1.54%;
}
.class_sm2 {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  max-width: 150px;
  width: 60.8%;
}
.class_smc {
  display: block;
  font-style: italic;
  text-indent: 0.225em;
  margin: 1.63354em 0 0;
}
.class_smc1 {
  display: block;
  font-style: italic;
  margin: 1.63354em 0 0;
}
.class_smy {
  height: auto;
  width: 22.07%;
}
.class_sn {
  display: block;
  text-indent: 0.225em;
  margin: 1.63354em 0 0;
}
.class_sna {
  display: block;
  margin: 0 0 0.816774em;
}
.class_sne {
  display: block;
  margin-left: 0.742%;
  text-align: center;
  text-indent: 0;
}
.class_sne1 {
  height: auto;
  width: 60.156%;
}
.class_snz {
  background-color: #95b3d7;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_sp {
  background-color: #95b3d7;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_sp1 {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_sp2 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 1.36128em;
}
.class_spb {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1.36128em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spb1 {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1.36128em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spf {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spk {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  text-indent: 0.537em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spk1 {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1.36128em;
  margin-top: 0.680639em;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spr {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spr1 {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  text-indent: 0.537em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spu {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  text-indent: 0.537em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spu1 {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spu2 {
  background-color: #c6d9f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_spy {
  background-color: #dbe5f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1.4375em 1.406% 1px;
}
.class_sr {
  display: block;
  text-indent: 0.225em;
  margin: 0;
}
.class_sr1 {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.680645em;
  margin-top: 0.680639em;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_sr2 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin: 0.680639em 0 1.36128em;
}
.class_sry {
  background-color: #dbe5f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 0.718754em 1.406% 1px;
}
.class_sst {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0.718754em;
  text-indent: 0;
}
.class_sva {
  display: block;
  font-style: italic;
  text-indent: 1.975em;
  margin: 0.816766em 0 0;
}
.class_svk {
  background-color: #95b3d7;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  border-top-style: solid;
  border-top-width: 1pt;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_svp {
  background-color: #95b3d7;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  border-top-style: solid;
  border-top-width: 1pt;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_svy {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
}
.class_sw {
  background-color: #dbe5f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_sw1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 2.04192em;
}
.class_swa {
  background-color: #dbe5f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: top;
  padding: 1px 1.406%;
}
.class_swg {
  background-color: #dbe5f1;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 0.718754em 1.406% 1px;
}
.class_swn {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0.718754em;
  max-width: 100%;
  text-indent: 0;
  width: 33.7663em;
}
.class_sx {
  display: table-cell;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_sx1 {
  display: table-cell;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 1.36128em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_sxe {
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_sxj {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_sxj1 {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 1.36128em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-left: white solid 1pt;
}
.class_sxs {
  background-color: #dbe5f1;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_sxs1 {
  background-color: #dbe5f1;
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1.36128em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_sy {
  display: block;
  margin: 0;
}
.class_sy1 {
  display: table-cell;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1.36128em;
  margin-top: 0.680639em;
  text-align: inherit;
  vertical-align: top;
  padding: 1px 1.406%;
  border-right: white solid 1pt;
}
.class_sz {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  background-color: #c6d9f1;
  border-bottom-color: gray;
  border-collapse: collapse;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 0 0;
  border-top-color: gray;
  display: table;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0.718754em;
  text-indent: 0;
}
.class_sz1 {
  display: block;
  font-weight: 800;
  text-indent: 0.225em;
  margin: 1.63354em 0 0;
}
.class1 {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-indent: 0.225em;
  margin: 0 5pt;
}
.class2 {
  color: #0070c0;
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.class3 {
  display: table-column;
  line-height: 1.2;
  width: 97.1275%;
}
.class4 {
  display: table-column;
  line-height: 1.2;
  width: 97.188%;
}
.class5 {
  display: table-column;
  line-height: 1.2;
  width: 97.1326%;
}
.class6 {
  display: table-column;
  line-height: 1.2;
  width: 97.2927%;
}
.class7 {
  display: table-column;
  line-height: 1.2;
  width: 97.2881%;
}
.class8 {
  display: table-column;
  line-height: 1.2;
  width: 97.2603%;
}
.class9 {
  display: table-column;
  line-height: 1.2;
  width: 97.3199%;
}
.class10 {
  color: #0078d2;
  display: table-row-group;
  font-weight: 800;
  line-height: 1.2;
  text-indent: 0.187em;
  vertical-align: middle;
}
.class11 {
  display: table-column;
  line-height: 1.2;
  width: 97.265%;
}
.class12 {
  display: table-column;
  line-height: 1.2;
  width: 96.9524%;
}
.class13 {
  display: table-column;
  line-height: 1.2;
  width: 96.8317%;
}
.class14 {
  display: table-column;
  line-height: 1.2;
  width: 97.1479%;
}
.class15 {
  display: table-column;
  line-height: 1.2;
  width: 97.0093%;
}
.class16 {
  display: table-column;
  line-height: 1.2;
  width: 28.6869%;
}
.class17 {
  display: table-column;
  line-height: 1.2;
  width: 65.0505%;
}
.class18 {
  display: table-row-group;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: middle;
}
.class19 {
  display: table-column;
  line-height: 1.2;
  width: 45.7661%;
}
.class20 {
  display: table-column;
  line-height: 1.2;
  width: 48.1855%;
}
.class21 {
  display: table-row-group;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
}
.class22 {
  display: table-column;
  line-height: 1.2;
  width: 32.2581%;
}
.class23 {
  display: table-column;
  line-height: 1.2;
  width: 61.6936%;
}
.class24 {
  display: table-row;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
  text-indent: 0.187em;
  vertical-align: inherit;
}
.class25 {
  display: table-row;
  line-height: 1.2;
  text-align: left;
  vertical-align: inherit;
}
.class26 {
  display: table-column;
  line-height: 1.2;
  width: 22.2222%;
}
.class27 {
  display: table-column;
  line-height: 1.2;
  width: 27.9412%;
}
.class28 {
  display: table-column;
  line-height: 1.2;
  width: 22.3856%;
}
.class29 {
  display: table-column;
  line-height: 1.2;
  width: 16.9935%;
}
.class30 {
  display: table-column;
  line-height: 1.2;
  width: 30.5051%;
}
.class31 {
  display: table-column;
  line-height: 1.2;
  width: 63.2323%;
}
.class32 {
  display: table-column;
  line-height: 1.2;
  width: 29.2929%;
}
.class33 {
  display: table-column;
  line-height: 1.2;
  width: 64.4444%;
}
.class34 {
  display: table-column;
  line-height: 1.2;
  width: 34.7475%;
}
.class35 {
  display: table-column;
  line-height: 1.2;
  width: 58.9899%;
}
.class36 {
  display: table-column;
  line-height: 1.2;
  width: 28.5484%;
}
.class37 {
  display: table-column;
  line-height: 1.2;
  width: 1.29032%;
}
.class38 {
  display: table-column;
  line-height: 1.2;
  width: 29.8387%;
}
.class39 {
  display: table-column;
  line-height: 1.2;
  width: 40.3226%;
}
.class40 {
  display: table-column;
  line-height: 1.2;
  width: 21.256%;
}
.class41 {
  display: table-column;
  line-height: 1.2;
  width: 19.0016%;
}
.class42 {
  display: table-column;
  line-height: 1.2;
  width: 24.7987%;
}
.class43 {
  display: table-column;
  line-height: 1.2;
  width: 25.1208%;
}
.class44 {
  display: table-row-group;
  line-height: 1.2;
  text-indent: 0.187em;
  vertical-align: middle;
}
.class45 {
  display: table-column;
  line-height: 1.2;
  width: 27.9032%;
}
.class46 {
  display: table-column;
  line-height: 1.2;
  width: 27.7419%;
}
.class47 {
  display: table-column;
  line-height: 1.2;
  width: 37.0968%;
}
.class48 {
  display: table-column;
  line-height: 1.2;
  width: 25.9677%;
}
.class49 {
  display: table-column;
  line-height: 1.2;
  width: 28.7097%;
}
.class50 {
  display: table-column;
  line-height: 1.2;
  width: 38.0645%;
}
.class51 {
  display: table-column;
  line-height: 1.2;
  width: 26.4516%;
}
.class52 {
  display: table-column;
  line-height: 1.2;
  width: 37.5806%;
}
.class53 {
  display: table-column;
  line-height: 1.2;
  width: 29.1935%;
}
.class54 {
  display: table-column;
  line-height: 1.2;
  width: 30.1613%;
}
.class55 {
  display: table-column;
  line-height: 1.2;
  width: 39.3548%;
}
.class56 {
  display: table-column;
  line-height: 1.2;
  width: 28.871%;
}
.class57 {
  display: table-column;
  line-height: 1.2;
  width: 40%;
}
.class58 {
  display: block;
  font-size: 1em;
  font-weight: 800;
  padding-left: 0;
  padding-right: 0;
  text-indent: 0.225em;
  margin: 0 5pt;
}
.class59 {
  display: table-column;
  line-height: 1.2;
  width: 16.9184%;
}
.class60 {
  display: table-column;
  line-height: 1.2;
  width: 39.426%;
}
.class61 {
  display: table-column;
  line-height: 1.2;
  width: 36.4048%;
}

*/