
/****
ROOT
****/

* {
	box-sizing: border-box;
}

html,
body,
#app,
#app .page,
.pageContainer{ 
	background: var(--BG-primary) !important;
}

.matching-node {
	background: var(--SIDEBAR-BUTTON--BG--HOVER);
	color: var(--NODE--TXT-CLR--main);
	-webkit-backdrop-filter: blur(24px);
	backdrop-filter: blur(24px);
	z-index: 222221;
}

.root > .children > .project.references:before,
.root > .children > .project.references:after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	border-radius: .5px;
	background: var(--SIDEBAR--BORDER-RIGHT)
}


[data-popper-reference-hidden][data-popper-escaped] {
	z-index: 2;
}


/****
BOX SHADOW TESTING - BOARDS

.board > .children .project {
	box-shadow: inset 0 0 0 1px red !important;
}
#app .board .boardCard {
	border-left: 0px !important;
	border-right: 0px !important;
}
.board > .children .project > .name,
.board > .children .project > .notes {
	box-shadow: inset 0 0 0 1px green !important;
}
.board > .children .project > .name .content,
.board > .children .project > .notes .content {
	box-shadow: inset 0 0 0 1px blue !important;
}
.board > .children .project > .name .content .innerContentContainer,
.board > .children .project > .notes .content .innerContentContainer {
	box-shadow: inset 0 0 0 1px purple !important;

}

****/
/***/ .project {
	box-shadow: inset 0 0 0px red;
}


