/*********
PROJECT
**********/

/*********
PROJECT > NAME
**********/

.is-desktop .project > .name {
	margin-left: 0px !important;
	padding-left: 0px !important;
}

/***BULLETS*/

:root {
	--btn-MargTop: -1px;
}

.project.header1 > .name {
	--btn-MargTop: 16px;
}

.project.header2 > .name {
	--btn-MargTop: 13px;
}

.project.header3 > .name {
	--btn-MargTop: 11px;
}

/*********
PROJECT > NAME > CONTENT
**********/
.project .project > .name > .content {
	padding-right: 0px !important;
	padding-top: 0px !important;
}

.project.board .project > .name > .content {
	padding-right: 0px !important;
}

/*********
BOARDS
**********/

#app .project.board .project.boardCard:not([class*="comment"]) {
	background: transparent;
}

/*********
???????
**********/
#app .name > .content,
#app .notes > .content,
#app .commentAttribution > span,
#app .name > [class*="PlaceholderWrapper"] {
	display: inline;
	margin-left: var(--children-Indent);
	padding-top: var(--content-PadTopBtm) !important;
	padding-bottom: var(--content-PadTopBtm);
	padding-left: var(--content-PadLeftRight);
	padding-right: var(--content-PadLeftRight);
	flex: 1;
}