* {
	box-sizing: border-box;
}

html,
body,
.main-content-wrap,
.page-wrap,
.page,
.pagecontent {
	padding: 0px;
	margin: 0px;
	width: 100%;
	max-width: 100%;
	font-family: "Iowan Old Style W01 Roman", georgia, serif !important;
}

.main-wrapper {
	width: 100%;
	max-width: 100%;
}

.app-wrap {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.book-wrapper {
	width: 65%;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin: 0 auto;
	max-width: 100%
}

#toc {
	width: 25%;
}

/*ANCHOR HEADINGS*/
.main-wrapper .anchor-heading svg {
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: #7253ed;
	visibility: hidden;
	position: absolute;

}

.main-wrapper .anchor-heading:hover svg,
.main-wrapper h1:hover > .anchor-heading svg,
.main-wrapper h2:hover > .anchor-heading svg,
.main-wrapper h3:hover > .anchor-heading svg,
.main-wrapper h4:hover > .anchor-heading svg,
.main-wrapper h5:hover > .anchor-heading svg,
.main-wrapper h6:hover > .anchor-heading svg {
	visibility: visible;
	left: 0;
}

:root {
	--bodyFontSize: 19px;
	--bodyLineHeight: 1.625;
}

body {
	font-family: "Iowan Old Style W01 Roman";
	font-size: var(--bodyFontSize) !important;
	line-height: var(--bodyLineHeight) !important;

}

p {
	margin-top: .6rem !important;
	margin-bottom: .6rem !important;
}

p,
ol li,
ul li {
	-webkit-hyphens: auto;
	hyphens: auto;
	font-size: var(--bodyFontSize) !important;
	line-height: var(--bodyLineHeight) !important;
	outline: var(--boxShadTestWidth) solid red;
}


a {
	color: black;
}

.darkMode a {
	color: #3089FF;
}

/*****************
 LISTS IN TOC
 *****************/
ul:not(.navigation ul),
ol:not(.navigation ol) {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}

ul:not(.navigation ul) ul,
ul:not(.navigation ul) ol,
ol:not(.navigation ol) ol,
ol:not(.navigation ol) ul {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}


ul:not(.navigation ul) {
	list-style: none;
}

ol:not(.navigation ol) {
	list-style-type: none;
	counter-reset: step-counter;
}

/*****************
******************
LISTS
******************
*****************/
:root {
	--boxShadTestWidth: 0px;
	--listItemPadLeftRight: 48px;
	--listItemBulletWidth: 9px;
	--listItemBulletMargRight: 12px;
}

/*****************
LISTS - ALL
*****************/
body ul,
body ol {
	padding-left: var(--listItemPadLeftRight) !important;
	list-style-type: none !important;
}

/*****************
LIST ITEMS - ALL
*****************/
body ul li,
body ol li {
	padding: 0;
	margin: 0 !important;
	margin-left: 0px !important;
	margin-bottom: .35rem !important;
	margin-top: .35rem !important;
	position: relative;
	text-align: justify;
	list-style-type: none;
}
/*****************
LIST ITEMS - UNORDERED
*****************/

body ul > li:before {
	background-color: black;
	position: absolute;
	content: "";
	width: var(--listItemBulletWidth) !important;
	height: var(--listItemBulletWidth) !important;
	z-index: 10101 !important;
	outline: var(--boxShadTestWidth) solid red;
	margin: unset !important;
	display: inline-block;
	top: 12px !important;
	left:calc(var(--listItemBulletWidth) * -1 - var(--listItemBulletMargRight));
	
}

ul ul > li:before {
	width: var(--listItemBulletWidth);
	height: var(--listItemBulletWidth);

}
/*****************
LIST ITEMS - ORDERED
*****************/
body ol > li{
}
body ol > li:before {
	position: absolute;
	content: counter(step-counter)".";
	counter-increment: step-counter;
	font-size: inherit !important;
	font-weight: 600 !important;
	text-align: right;
	outline: var(--boxShadTestWidth) solid red;
	line-height: inherit !important;
	display: inline-block;
	width: calc(var(--listItemPadLeftRight) - var(--listItemBulletMargRight));
	left: calc(var(--listItemPadLeftRight) * -1);
	top: unset !important;
}

body ol > li:before {
}
/*****************
******************
HEADINGS
******************
*****************/
h1 {
	font-size: 2em;
  line-height: 1.25;
  font-weight: 900;
  -webkit-font-smoothing:antialiased;
  margin-top: 4rem !important;
}
.h1-subhead{
  display: block;
  margin-top: 1.5rem;
  font-weight: 500;
  font-size:0.725em;
}

.h1-tag{
  font-size: calc(1em + 0.5rem);
  display: block;
  margin-bottom: 0.6rem;
}



@media (max-width: 550px) {
	h1 {
		font-size: 1.4em !important;
	}
}

h2,
.header-style-h2{
	font-size: 1.6em;
	font-weight: 600;
	text-align: left !important;
}


h2.part-heading {
	font-size: 1.4em !important;
}

@media (max-width: 550px) {
	h2.part-heading {
		font-size: 1.2em !important;
	}
}



h3,
.header-style-h3{
	font-size: 1.4em !important;
	letter-spacing: -0.25px;
	margin-top: 40px !important;
	margin-bottom: 30px !important;
	text-indent: 0 !important;
	text-align: left !important;
	line-height: 1.3em !important;
  font-weight: 900;
}

@media (max-width: 550px) {
	h3,
  .header-style-h3{
		font-size: 1.3em !important;
	}
}

h4 {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: -0.5px;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	text-indent: 0 !important;
	text-align: left !important;
}

@media (max-width: 550px) {
	h4 {
		font-size: 1em !important;
		line-height: 1.15em;
	}
}

.margin-top-20 {
	margin-top: 20px !important;
}

.list-none {
	list-style-type: none !important;
}

.header-aligned-right {
	text-align: right;
}

.font-weight-normal {
	font-weight: normal;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right !important;
}

.centered {
	text-align: center !important;
}

.uppercase {
	text-transform: uppercase;
}

/***PRimARY FONT FAMily**/
p {
	line-height: 1.5em;
	margin-bottom: 10px;
	text-indent: 16px;
	text-align: justify;
}

em,
i {
	font-size: 1.04em !important;
}

hr {
	background: black;
	display: block;
	height: 4px;
	border: none;
	text-align: left;
	margin-right: 40%;
}

h3.breaker {
	margin-top: 50px;
}

h3.breaker:before {
	content: "";
	display: block;
	width: 50%;
	height: 0;
	background: black;
	margin-bottom: 10px;
	margin-left: 20px;
}

/***************
 ***************
 NOTE W/BACKGROUND*/
.note-1 {
	padding: 10px 18px 5px 18px;
	position: relative;
	text-indent: 0 !important;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px hsl(210, 0%, 91%);
	background: hsla(220, 0%, 96%, 0.5);
	text-indent: 0 !important;
}

.note-1 * {
	text-indent: 0;
}

.note-1 p {
	margin-top: 6px !important;
	margin-bottom: 10px;
	line-height: 1.5em;
}

.note-1-callout {
	display: inline-block;
	color: hsl(210, 10%, 73%);
	font-size: 0.5em;
	font-family: sans-serif;
	letter-spacing: 1.3px;
	opacity: 1;
	margin-bottom: 5px;
	margin-top: 1px;
	text-align: justify;
	line-height: 2em;
}

/***************
 ***************
 BLOCKQUOTE KiND OF THiNG*/
.important-quote {
	text-align: justify;
	position: relative;
	padding: 10px 19px 6px 19px;
	border-radius: 2px;
	margin-bottom: 0.7em;
	margin-top: 1em;
	box-shadow: inset 0 0 0 1px hsl(210, 0%, 91%);
	background: hsla(220, 0%, 96%, 0.5);
}

.important-quote p:first-of-type {
	margin-top: 6px !important
}

ul.important-quote,
ol.important-quote {
	padding: 10px 49px 6px 40px !important;
}

ul.important-quote .important-quote-callout,
ol.important-quote .important-quote-callout {
	padding-left: 0 !important;
	margin-left: -18px;
	margin-bottom: 10px;
}

.important-quote * {
	text-indent: 0;
}

.important-quote-callout {
	display: inline-block;
	color: hsl(210, 5%, 75%);
	font-size: 0.5em;
	line-height: 1em;
	font-family: sans-serif;
	letter-spacing: 1.3px;
	padding: 2.5px 4px 2.5px 4px;
	border: 0 solid hsl(250, 5%, 91%);
	border-radius: 2px;
	z-index: 1000 !important;
	text-indent: 0;
	margin-top: 3px;
	margin-bottom: 5px;
	margin-left: -5px;
}

/***************
 ***************
 HiGHLiGHT*/
.copy-swipe-highlight {
	background-color: transparent;
	box-shadow: 0px 4px 0 0 hsla(50, 100%, 60%, 0.5);
	border-radius: 3px;
}

/*****************************
 *****************************
 COPY EXAMPLE NUMBER 1
 *****************************
 *****************************/
p.example-header-centered {
	text-align: center !important;
	font-size: 0.8em;
	margin-bottom: 0;
	margin-top: 20px !important;
}

.copy-swipe-example-block {
	padding: 8px 35px 8px 35px;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
	position: relative;
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.copy-swipe-example-callout {
	display: block;
	font-size: .5rem;
	z-index: 20202;
	user-select: all;
	text-transform: uppercase;
	font-family: sans-serif;
	padding: 3px 4px 0px 4px;
	color: hsl(0, 0%, 0%, .15);
}

@media (max-width: 550px) {
	.copy-swipe-example-block {
		padding: 6px 35px !important;
	}
}

@media (max-width: 450px) {
	.copy-swipe-example-block {
		padding: 6px 25px !important;
	}
}

.copy-swipe-example-centered,
.copy-swipe-example {
	background-color: hsla(33, 96%, 91%, 0);
	font-family: "Merriweather";
	text-indent: 0 !important;
	-webkit-font-smoothing: antialiased;
	font-size: 0.925em !important;
}

@media (max-width: 550px) {

	.copy-swipe-example-centered.ultra-weight,
	.copy-swipe-example-caslon-centered {
		font-size: 1.05em !important;
	}
}

.copy-swipe-example-centered,
p.copy-swipe-example-centered {
	text-align: center !important;
	font-weight: 900 !important;
	padding: 5px 10px;
	margin-top: 5px !important;
	margin-bottom: 12px !important;
}

.copy-swipe-example-centered.lesser-weight,
p.copy-swipe-example-centered.lesser-weight,
.block_26 {
	font-weight: 500 !important;
}

.copy-swipe-example.greater-weight,
p.copy-swipe-example.greater-weight {
	font-weight: 600 !important;
}

.copy-swipe-example-centered.ultra-weight,
p.copy-swipe-example-centered.ultra-weight {
	font-weight: 900 !important;
	font-size: 1.2em !important;
}

/******************************
 ******************************
 COPY EXAMPLE NUMBER 2 ********/
.copy-swipe-example-caslon-centered,
.copy-swipe-example-caslon,
.block_26 {
	font-family: "Adobe Caslon" !important;
	font-weight: inherit;
	background-color: hsla(198, 100%, 90%, 0);
	font-size: 1.1em !important;
	text-indent: 0 !important;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

.copy-swipe-example-caslon-centered,
p.copy-swipe-example-caslon-centered {
	text-align: center !important;
	font-size: 1.2em !important;
	padding: 4px 10px;
	margin-top: 15px !important;
	font-weight: 400;
}

p.merriweather.centered.no-indent.size-1-3.font-weight-600.margin-top-20p.margin-bottom-20p {
	font-size: 21px !important;
}

.copy-swipe-example-caslon-centered.lesser-weight {
	font-weight: 600;
}

.copy-swipe-example-caslon-centered.ultra-weight {
	font-weight: 400 !important;
	-webkit-text-stroke: 0.8px;
	letter-spacing: 0.4px;
}

.copy-swipe-example-block.warnok p {
	font-size: 20px !important;
}

.drop-number {
	font-weight: 600;
	float: left;
	font-size: 4.3rem;
	margin-right: 10px;
	height: 60px;
	font-family: "New York Large";
	margin-top: -16px;
}

/***/
.header-aligned-right {
	text-align: right;
}

.padding-up {
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}
body strong,
body b,
body em strong,
body em b {
  -webkit-font-smoothing:antialiased;
}
body .iowan-red-color,
body .iowan-red-color strong,
body .iowan-red-color b {
	color: rgb(237, 84, 84) !important;
}

.ordered-list-spoof-container {
	display: block;
	padding-left: 50px;
	position: relative;
	margin-top: 0.4em !important;
	margin-bottom: 0.6em !important;
}

.ordered-list-spoof-container-2 {
	display: block;
	padding-left: 50px;
	position: relative;
	margin-top: 0.4em !important;
	margin-bottom: 0.6em !important;
	margin-left: 4px;
}

@media (max-width: 550px) {
	.ordered-list-spoof-container {
		padding-left: 25px !important;
	}
}

body ol {
	list-style-type: none;
	counter-reset: step-counter;
}

body ol ol {
	list-style-type: lower-alpha;
}

body ol > li {
	position: relative;
}

.copy-example-heading{
	font-size: calc(1em + 2px)!important;
}

/*INLINE EXAMPLE*/
span.adobe-caslon.centered.no-indent.size-1-1.text-stroke-04.margin-top-20p.margin-bottom-20p.line-height-1{
	font-weight: 600;
}


.pagecontent ol > li ol {
	counter-reset: sub-counter;
}

.ordered-list-spoof-left {
	line-height: 1.375em !important;
	position: absolute;
	top: 0 !important;
	font-size: 1em !important;
	font-weight: 900;
	margin-left: -1em;
}

.ordered-list-spoof-left.color-bul {
	color: red !important;
}

.ordered-list-spoof-right {
	margin-left: 4px;
	line-height: 1.375em !important;
	text-align: justify;
	margin-bottom: 0.4em;
	position: relative;
}

.ordered-list-spoof-right .ordered-list-spoof-left {
	margin-left: -1.15em;
	text-align: right;
}

.ordered-list-spoof-right .ordered-list-spoof-left.final {
	margin-left: -2.05em;
	text-align: right;
}

img {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	max-width: 100%;
}

.sample-original-small {
	max-width: 200px;
	width: 100%;
}

.flex-row-container {
	display: flex;
	flex-direction: row;
}

.flex-row-inner {
	margin-right: 10px;
	max-width: 170px;
}

.flex-row-inner.smaller {
	max-width: 60px;
}

sample-original-text

/*********************
 BORDER RADiUS
 *********************/
.border-radius-4p {
	border-radius: 4px;
}

.border-radius-3p {
	border-radius: 3px;
}

.border-radius-2p {
	border-radius: 2px;
}

.btn {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
}

@media (max-width: 550px) {
	.btn.max-width-70-percent {
		max-width: 100% !important;
	}
}

/*********************
 MAX WIDTH
 *********************/
.max-width-70-percent {
	max-width: 60%;
}

.max-width-250px {
	max-width: 250px;
}

/*********************
 DiSPLAY
 *********************/
.display-inline {
	display: inline !important;
}

/*********************
 HEIGHT
 *********************/
.height-10p {
	height: 10px !important;
}

/*********************
 BACKGROUND
 *********************/
.bg-btn-base {
	background-color: hsl(0, 0%, 90%);
}

/*********************
 BORDER
 *********************/
.border-1p {
	border: 1px solid;
}

/*********************
 FONT SIZE
 *********************/
.size-1-45 {
	font-size: 1.45em !important;
}

.size-1-4 {
	font-size: 1.4em !important;
}

.size-1-35 {
	font-size: 1.35em !important;
}

.size-1-3 {
	font-size: 1.3em !important;
}

.size-1-25 {
	font-size: 1.25em !important;
}

.size-1-2 {
	font-size: 1.2em !important;
}

.size-1-15 {
	font-size: 1.025em !important;
}

.size-1-1 {
	font-size: 1.1em !important;
}

.size-1-05 {
	font-size: 1.05em !important;
}

.size-1 {
	font-size: 1em !important;
}

.size-095 {
	font-size: 0.95em !important;
}

.size-0925 {
	font-size: 0.925em !important;
}

.size-09 {
	font-size: 0.9em !important;
}

.size-085 {
	font-size: 0.85em !important;
}

.size-08 {
	font-size: 0.8em !important;
}

.size-075 {
	font-size: 0.75em !important;
}

.size-07 {
	font-size: 0.7em !important;
}

/*********************
 LINE HEIGHT
 *********************/
.line-height-1-85 {
	line-height: 1.85em !important;
}

.line-height-1-8 {
	line-height: 1.8em !important;
}

.line-height-1-75 {
	line-height: 1.75em !important;
}

.line-height-1-7 {
	line-height: 1.7em !important;
}

.line-height-1-65 {
	line-height: 1.65em !important;
}

.line-height-1-6 {
	line-height: 1.6em !important;
}

.line-height-1-55 {
	line-height: 1.55em !important;
}

.line-height-1-5 {
	line-height: 1.5em !important;
}

.line-height-1-45 {
	line-height: 1.45em !important;
}

.line-height-1-4 {
	line-height: 1.4em !important;
}

.line-height-1-35 {
	line-height: 1.35em !important;
}

.line-height-1-3 {
	line-height: 1.3em !important;
}

.line-height-1-25 {
	line-height: 1.25em !important;
}

.line-height-1-2 {
	line-height: 1.2em !important;
}

.line-height-1-15 {
	line-height: 1.15em !important;
}

.line-height-1-1 {
	line-height: 1.1em !important;
}

.line-height-1-15 {
	line-height: 1.5em !important;
}

.line-height-1 {
	line-height: 1em !important;
}

/*********************
 TEXT STROKE
 *********************/
.middle-weight,
.medium-weight {
	-webkit-text-stroke-width: 0.3px;
	text-stroke-width: 0.3px;
}

.text-stroke-08 {
	-webkit-text-stroke-width: 0.8px;
	text-stroke-width: 0.8px;
}

.text-stroke-06 {
	-webkit-text-stroke-width: 0.6px;
	text-stroke-width: 0.6px;
}

.text-stroke-04 {
	-webkit-text-stroke-width: 0.4px;
	text-stroke-width: 0.4px;
}

/*********************
 PADDING
 *********************/
.padding-vert-horiz--2px-4px {
	padding: 2px 4px !important;
	font-size: .5em !important
}

.padding-20,
.padding-horiz-20 {
	padding: 0 20px !important;
}

.padding-horiz-30 {
	padding: 0 30px !important;
}

.padding-horiz-40 {
	padding: 0 40px !important;
}

.padding-horiz-50 {
	padding: 0 50px !important;
}

.padding-horiz-60 {
	padding: 0 60px !important;
}

/*********************
 PADDING PERCENTAGE
 *********************/
.padding-horiz-percent-5 {
	padding: 0% 5% !important;
}

.padding-horiz-percent-7-05 {
	padding: 0% 7.5% !important;
}

.padding-horiz-percent-10 {
	padding: 0% 10% !important;
}

.padding-horiz-percent-12-05 {
	padding: 0% 12.5% !important;
}

.padding-horiz-percent-15 {
	padding: 0% 15% !important;
}

.padding-horiz-percent-17-05 {
	padding: 0% 17.5% !important;
}

.padding-horiz-percent-20 {
	padding: 0% 20% !important;
}

.padding-horiz-percent-12-05 {
	padding: 0% 22.5% !important;
}

.padding-horiz-percent-25 {
	padding: 0% 25% !important;
}

.padding-horiz-percent-27-05 {
	padding: 0% 27.5% !important;
}

.padding-horiz-percent-30 {
	padding: 0% 30% !important;
}

/*********************
 MAX WIDTH
 *********************/
/*********************
 INDENTATION
 *********************/
.text-indent-27 {
	text-indent: 27px !important;
}

.text-indent-20 {
	text-indent: 20px !important;
}

.no-indent {
	text-indent: 0 !important;
}

/*********************
 FONT WEIGHTS
 *********************/
.font-weight-900 {
	font-weight: 900 !important;
}

.font-weight-800 {
	font-weight: 800 !important;
}

.font-weight-700 {
	font-weight: 700 !important;
}

.font-weight-600 {
	font-weight: 600 !important;
}

.font-weight-500 {
	font-weight: 500 !important;
}

.font-weight-400 {
	font-weight: 400 !important;
}

.font-weight-300 {
	font-weight: 300 !important;
}

/*********************
 MARGINS
 *********************/
.margin-top-65p {
	margin-top: 65px !important;
}

.margin-top-60p {
	margin-top: 60px !important;
}

.margin-top-55p {
	margin-top: 55px !important;
}

.margin-top-50p {
	margin-top: 50px !important;
}

.margin-top-45p {
	margin-top: 45px !important;
}

.margin-top-40p {
	margin-top: 40px !important;
}

.margin-top-35p {
	margin-top: 35px !important;
}

.margin-top-30p {
	margin-top: 30px !important;
}

.margin-top-25p {
	margin-top: 25px !important;
}

.margin-top-20p {
	margin-top: 20px !important;
}

.margin-top-15p {
	margin-top: 15px !important;
}

.margin-top-10p {
	margin-top: 10px !important;
}

.margin-top-5p {
	margin-top: 5px !important;
}

.margin-top-0p {
	margin-top: 0 !important;
}

.margin-bottom-65p {
	margin-bottom: 65px !important;
}

.margin-bottom-60p {
	margin-bottom: 60px !important;
}

.margin-bottom-55p {
	margin-bottom: 55px !important;
}

.margin-bottom-50p {
	margin-bottom: 50px !important;
}

.margin-bottom-45p {
	margin-bottom: 45px !important;
}

.margin-bottom-40p {
	margin-bottom: 40px !important;
}

.margin-bottom-35p {
	margin-bottom: 35px !important;
}

.margin-bottom-30p {
	margin-bottom: 30px !important;
}

.margin-bottom-25p {
	margin-bottom: 25px !important;
}

.margin-bottom-20p {
	margin-bottom: 20px !important;
}

.margin-bottom-15p {
	margin-bottom: 15px !important;
}

.margin-bottom-10p {
	margin-bottom: 10px !important;
}

.margin-bottom-5p {
	margin-bottom: 5px !important;
}

.margin-bottom-2-05p {
	margin-bottom: 2.5px !important;
}

.margin-bottom-0p {
	margin-bottom: 0 !important;
}

/*********************
 LETTERSPACING
 *********************/
.letter-spacing-2 {
	letter-spacing: 2px;
}

.letter-spacing-05 {
	letter-spacing: 0.5px;
}

.letter-spacing-minus-05 {
	letter-spacing: 0;
}

/*********************
 FONTS
 *********************/
.font-publico,
.publico {
	font-family: "Publico", "Adobe Caslon", "Georgia", serif !important;
}

.font-adobe-caslon,
.adobe-caslon {
	font-family: "Adobe Caslon", "Georgia", serif !important;
}

.font-irvin-heading,
.irvin-heading {
	font-family: "Irvin Heading", "Adobe Caslon", "Georgia", serif !important;
}

.font-elena,
.elena {
	font-family: "Elena", "Georgia", serif !important;
}

.font-warnok,
.warnok {
	font-family: "Warnok Pro", "Georgia", serif !important;
}

.merriweather,
.font-merriweather {
	font-family: "Merriweather" !important;
}

.merriweather em,
.merriweather i {
	font-size: 1em !important;
}

.iowan,
.font-iowan {
	font-family: "Iowan Old Style W01 Roman", "Georgia", serif !important;
}

.messina {
	font-family: "Messinasansweb", "Helvetica Neue", sans-serif !important;
}

.new-york-large {
	font-family: "New York Large", "Georgia", serif !important;
}

.new-york-small {
	font-family: "New York Small", "Georgia", serif !important;
}

.sentinel {
	font-family: "Sentinel", "Georgia", serif !important;
}

.hyphens-none {
	-webkit-hyphens: none !important;
	hyphens: none !important;
}

.hyphens-auto {
	-webkit-hyphens: auto;
	hyphens: none;
}

/**
 **************************** 
 **************************** 
 ****************************  
 **************************** 
 **************************** 
 **************************** 
 MIDDLE SECTION PADDING*/







.pagecontent .anchor-heading {
	position: absolute;
	right: -1rem;
	width: 1.5rem;
	height: 100%;
	padding-right: 0.25rem;
	padding-left: 0.25rem;
	overflow: visible;
}

@media (min-width: 50rem) {
	.pagecontent .anchor-heading {
		right: auto;
		left: -1.5rem;
	}
}

@media (max-width: 600px) {

	p {
		text-align: left !important;
	}
}

.pagecontent .anchor-heading svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	fill: #7253ed;
	visibility: hidden;
}

.pagecontent .anchor-heading:hover svg,
.pagecontent h1:hover > .anchor-heading svg,
.pagecontent h2:hover > .anchor-heading svg,
.pagecontent h3:hover > .anchor-heading svg,
.pagecontent h4:hover > .anchor-heading svg,
.pagecontent h5:hover > .anchor-heading svg,
.pagecontent h6:hover > .anchor-heading svg {
	visibility: visible;
}

/*OLD LIGHTBOX TEXT - ORIGINAL ACCOMPANYING TEXT*/
.old-lightbox {
	border: 1px solid black;
	padding: 17px 20px;
	position: relative;
}

.featherlight-content .old-lightbox {
	margin-left: 0px !important;
	border: none;
	padding: 0px !important;
	padding-top: 20px !important;
}

.featherlight-content .old-lightbox * {
	font-size: 1.3rem;
}

.old-lightbox,
.old-lightbox * {
	font-size: .95rem;
}

.old-lightbox p {
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}

.old-lightbox:before {
	content: "Above callouts are reformatted. Original unformatted callouts below";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid black;
	color: white;
	background: black;
	font-size: .8rem;
	padding-left: 6px;
	padding-right: 6px;
	line-height: 1.3;

}

.bg-btn-base {
	background: black !important;
	box-shadow: none !important;
	color: white !important;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	font-size: .85rem !important;
	width: 270px !important;
	max-width: 100% !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.ba-cover {
	border: 1px solid hsl(0, 0%, 50%.7);
	box-shadow: 0 0 0 5px hsl(0, 0%, 50%, .3);
	border-radius: 6px;
	display: block;
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 60px
}


.block_4.no-indent.font-weight-600.margin-top-20p {
	font-weight: 900 !important;
}

/*
/**NAVGOCO*/
.iowan-red-color,
.red-number {
	color: rgb(237, 84, 84) !important;
}

.nav a:hover {
	background-color: hsla(210, 4%, 36.47%, 0.2);
	transition: .2s;
}



.nav > li.active > a,
.nav > li.nav-active > a {
	background-color: hsl(217.29, 98.88%, 64.9%);
	color: white !important;
}

.nav li.active:hover > a,
.nav li.active > a {
	color: hsla(210, 4%, 00%, 1);
	font-weight: 600;
}

.side-bar.left-open + .main-content-wrap .main-content.left-open,
.side-bar.left-open-on-load + .main-content-wrap .main-content.left-open,
.side-bar.left-open + .main-content-wrap .main-content.left-open-on-load,
.side-bar.left-open-on-load + .main-content-wrap .main-content.left-open-on-load {
	margin: 0 auto !important;
	transition: 1s;
}

.main-content.left-open-on-load {
	margin: 0 auto !important;
	transition: 1s !important;
}


body {
	color: black;
}

.greater-weight {
	font-size: .9em;
}

.copy-swipe-example-block.adobe-caslon.font-weight-300 p {
	font-size: 1.125em;
}

.merriweather.centered.no-indent.size-1-15.font-weight-600.margin-top-5p.margin-bottom-10p {
	margin-top: 25px !important;
	margin-bottom: 25px !important
}

.irvin-heading {
	-webkit-foont-smoothing: subpixel-antialiased;
	-webkit-text-stroke-width: .4px !important
}

.copy-swipe-example-caslon-centered.ultra-weight {
	font-weight: 600 !important;
	-webkit-text-stroke-width: .2px;
	font-size: 1.1em !important;
	padding: 2px 30px !important;
}

p.block_4.no-indent.font-weight-600.margin-top-20p {
	margin-bottom: 25px !important;
	margin-top: 45px !important;
}

.copy-swipe-example-block.new-york-small.font-weight-300 p {
	-webkit-text-stroke-width: 0px !important;
}

.copy-swipe-example-block p.merriweather {}

p.copy-swipe-example-caslon {
	-webkit-font-smoothing: subpixel-antialiased;
}

.copy-swipe-example-block.adobe-caslon p,
.copy-swipe-example-block.adobe-caslon ol li,
.copy-swipe-example-block.adobe-caslon ul li,
.adobe-caslon.size-1-2,
.adobe-caslon.size-1-15 {
	font-size: 21px !important;
}

.adobe-caslon.size-1-24 {
	font-size: 24px !important;
	;
}

.line-height-1-65.margin-bottom-15p {
	margin-top: 25px !important;
	margin-bottom: 25px !important
}

.merriweather.copy-swipe-example-block p,
.merriweather.size-095.no-indent.copy-swipe-example-block.line-height-1-6 {}

.merriweather.size-0925,
.merriweather.size-0925.copy-swipe-example-block p,
.merriweather.size-095.copy-swipe-example-block,
.merriweather.size-095.copy-swipe-example-block p {
	font-size: 18px !important;
	line-height: 1.84 !important;
}



.stage-number {
	font-size: 0px;
	line-height: 1px;
	color: transparent
}

.awareness-spacer {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	height: 0px !important;
}

.awareness-spacer br {}

.numbered-title-number-container-outer-small {
	margin-top: 5px
}

/*****************
******************
******************
******************
******************
******************
******************
******************
DARK THEME
******************
******************
******************
******************
******************
******************
******************/
body {
	background: var(--bgPrimary)
}

body.darkMode {
	background: var(--bgPrimary);
	color: hsl(0, 0%, 80%)
}

.darkMode h1,
.darkMode h2,
.darkMode h3,
.darkMode h4,
.darkMode h5,
.darkMode h6,
.darkMode .font-weight-600 {
	color: hsl(0, 0%, 100%) !important;
	border-color: hsl(0, 0%, 94%) !important;
	-webkit-text-stroke-width: 0px !important;

}

.darkMode .numbered-title-number-container {
	color: white;
	background: black;
}

.darkMode .centered.text-stroke-08,
.darkMode .centered.text-stroke-04,
.darkMode .text-stroke-08,
.darkMode .copy-swipe-example-caslon-centered.ultra-weight {
	-webkit-font-smoothing: antialiased !important;
	color: hsl(0, 0%, 100%) !important;
	-webkit-text-stroke-color: hsl(0, 0%, 95%) !important;
}

.darkMode .note-1,
.darkMode .important-quote {
	background-color: hsl(0, 0%, 10.5%) !important;
	box-shadow: inset 0 0 0 1px #222222 !important;
}

.darkMode .font-weight-600 {
	color: hsl(0, 0%, 100%) !important;
	border-color: hsl(0, 0%, 94%) !important;
}

.darkMode ol li:before,
.darkMode ul li:before {
	background: white !important;
}

.darkMode ol li:before {
	background: transparent !important;
	color: white;
}


.darkMode .numbered-title-number-container-small:before,
.darkMode .numbered-title-number-container-small:after,
.darkMode .numbered-title-number-container:before,
.darkMode .numbered-title-number-container:after {
	border-color: white !important;
}

.darkMode .numbered-title-text-main-small-container p {
	color: white !important;
}

.darkMode strong,
.darkMode b {
	color: white;
}

.darkMode .copy-swipe-example-callout,
.darkMode .copy-swipe-example-callout span {
	color: hsla(0, 0%, 100%, .15) !important
}

/*DARK MODE - EXAMPLES*/
.darkMode .copy-swipe-example.greater-weight,
.darkMode p.copy-swipe-example.greater-weight,
.darkMode .copy-swipe-example-block *,
.darkMode .copy-swipe-example-caslon-centered,
.darkMode p.copy-swipe-example-caslon-centered,
.darkMode .merriweather,
.darkMode .font-merriweather,
.darkMode .drop-number,
.darkMode .new-york-large.centered.no-indent.size-1-4.font-weight-700.margin-top-15p,
.darkMode .copy-swipe-example-centered,
.darkMode p.copy-swipe-example-centered {
	color: white;
}

.darkMode .numbered-title-number-container-outer-small,
.darkMode .numbered-title-number-container-outer {
	background-image: url("assets/css/VERSACE-WHITE.svg");
}

.darkMode .numbered-title-number-container-small {
	background: black;
	color: white;
}