/*#table-of-contents{
	position: fixed;
	z-index: 22;
	background: white;
	overflow-y: scroll;
	bottom: 0;
	top: 0;
	left: 0;
	padding: 5px 15px;
	width: 250px;
}
#table-of-contents p {
	margin-top: 5px;
	margin-bottom: 5px;
}
#table-of-contents a {
	text-decoration: none;
}
#table-of-contents .text_1{
	font-size: 14px;
	font-family: sans-serif;
}
@media (max-width: 800px){
# {

}
}*/

