/******
This file is a direct copy of: 
/Users/adman/Dropbox/Dropbox Local/HYPERWEB - INJECT/CSS - HEPTABASE/Hepta-Right-Sidebar-2.css
*******/

@media (max-width: 800px) {


		#root [class*="bg-background"][style*="width"]:not(._rightSidebar_1fabk_5 [class*="bg-background"][style*="width"]) {
				position: fixed !important;
				right: 0;
				bottom: 0;
				top: 0;
				left: 0;
				z-index: 9002039494949494 !important;
				width: 100% !important;
				overflow: hidden;
		}
}

/*****************
******************
******************
******************
MIMIC R SIDEBAR > SMALL FONT > ALL
- - 
FOR 
- - 
VIVALDI PANELS
******************
******************
******************
******************/
@media (max-width: 900px) {
		#root .ProseMirror,
		#root ~ .hepta-scrim .ProseMirror {
		--bodyFontSize: 15.5px;
		--listBulletMargTop: 2px;
		--listBulletCircWidth: 5px;
		--listBulletWrapperMargRight: 0px;
		--toggleBulletMargTop: 7px !important;
		--listMargTopBtm: 3px;
		--embedFontSize:var(--bodyFontSize);
		--embedHeadingSize-Title:19px;
		--highlightFontSize: calc(var(--bodyFontSize) - 0px);
		/*headings*/
		--H1lineHeight:1.25;
		--HeaderLineHeight:1.3;
		/*Heading Font Sizes*/
		--H1size:25px;
		--H2size:23.5px;
		--H3size:21px;
		--H4size:19px;
		--H5size:17.5px;
		--H6size:var(--bodyFontSize);
		/*toggle heading chevron margin*/
		--toggleBulletMargTop-EmbedTitle:7px;
		--toggleBulletMargTop-H1: 13px;
		--toggleBulletMargTop-H2: 13px;
		--toggleBulletMargTop-H3: 11px;
		--toggleBulletMargTop-H4: 9px;
		--toggleBulletMargTop-H5: 7px;
		--toggleBulletMargTop-H6: 6px;
		/*tables*/
		--tableBodyFontSize:17px;
		/*embed heading line height*/
		--embedH1lineHeight: 1.25;
		--embedHeaderLineHeight: var(--HeaderLineHeight);
		/*embed heading font size*/
		--embedH1size: var(--H1size);
		--embedH2size: var(--H2size);
		--embedH3size: var(--H3size);
		--embedH4size: var(--H4size);
		--embedH5size: var(--H5size);
		--embedH6size: var(--H6size);
		/*embed toggle heading chevron margins*/
		--embedtoggleBulletMargTop-H1:11.5px;
		--embedtoggleBulletMargTop-H2:10.5px;
		--embedtoggleBulletMargTop-H3:9px;
		--embedtoggleBulletMargTop-H4:7.5px;
		--embedtoggleBulletMargTop-H5:6px;
		--embedtoggleBulletMargTop-H6:5px;
		--embedtoggleBulletMargTop:6px;
		}
		

		/*****************
		NUMBERED LISTS
		******************/
		#root .ProseMirror [data-node-type="numbered_list_item"],
		#root ~ .hepta-scrim .ProseMirror [data-node-type="numbered_list_item"] {
				--listBulletMargTop: 1px;
		}
		/*****************
		MENTIONS
		******************/
		#root .ProseMirror [data-node-type="mention"] > [class*="group"] > svg,
		#root ~ .hepta-scrim .ProseMirror [data-node-type="mention"] > [class*="group"] > svg {
				margin-top: 6px !important;
		}
		/****
		ALL HEADINGS > MARGIN TOP
		*****/
		#root .ProseMirror [data-node-type="heading"],
		#root ~ .hepta-scrim .ProseMirror [data-node-type="heading"],
		/*toggles*/
		#root .ProseMirror [data-node-type="toggle_list_item"][class*="_toggleHeadingLevel"],
		#root ~ .hepta-scrim .ProseMirror [data-node-type="toggle_list_item"][class*="_toggleHeadingLevel"] {
				--headingMargTop: 5px !important;
		}
}