:root {
--linkPadTopBtm:5px;
--linkPadLeftRight:.5rem;
}


/*************
**************
SIDEBAR
**************
**************/
.bg-sidebar a,
.bg-sidebar a:hover {
height:unset  !important;
padding-top: var(--linkPadTopBtm);
padding-bottom: var(--linkPadTopBtm);
padding-left: var(--linkPadLeftRight);
padding-right: var(--linkPadLeftRight);
position:relative;
}


/*Wrapper*/
.bg-sidebar a > .overflow-hidden{
display:flex;
align-items:flex-start;
justify-content:flex-start;
}

/*text*/
.bg-sidebar a > .overflow-hidden,
.bg-sidebar a > .overflow-hidden .truncate  {
overflow: unset; 
white-space: normal; 
text-overflow: unset;
}
.bg-sidebar a > .overflow-hidden .truncate{
line-height:1.2rem;
padding-top:2px;
}

/*buttons*/
.bg-sidebar a > .hidden{
display:flex;
width:0px;
overflow:hidden;
right:5px;
top:calc(var(--linkPadTopBtm) - 1px);
position:absolute;
background:var(--bg-sidebar);
border-radius:6px;
z-index:10;
}

.bg-sidebar a:hover > .hidden {
width:auto;
}

/*EDITING*/
.bg-sidebar .px-2 form{
height:unset;
padding-top: calc(var(--linkPadTopBtm) - 3px);
padding-bottom: calc(var(--linkPadTopBtm) - 3px);
}
/*
overflow: unset; 
white-space: normal; 
text-overflow: unset; 
*/



/*
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
*/



/*************
**************
EDITOR
**************
**************/

/*main editor container*/


/*DARTH THEME*/

.dark header[class*="sidebar-width"],
.dark header[class*="sidebar-width"] + div,
footer {
background:hsl(240, 4%, 8%) !important;
} 
header + div > div.py-10.pt-10 > .mx-auto > div {
  width:780px;
  max-width:100%;
  margin:0 auto;
}
/*chat response container*/
.message:not(.user-message) {
}
.message:not(.user-message) .bg-zinc-100[class*="dark"][class*="text-white"]{
  background:hsla(240, 4%, 16%,.25);
  box-shadow: inset 0 0 0 1px hsla(240, 4%, 16%,.2);
}

/**/
div.message-contents + div{
  max-width:10px;
}



/*lists*/
.message .prose ol li, .message .prose ol li{
  margin-top: 3px;
  margin-bottom: 3px;
}