/*************
**************
SIDEBAR
**************
**************/
:root {
    --linkPadTopBtm: 5px;
    --linkPadLeftRight: .5rem;
}


.bg-sidebar a,
.bg-sidebar a:hover {
    height: unset !important;
    padding-top: var(--linkPadTopBtm);
    padding-bottom: var(--linkPadTopBtm);
    padding-left: var(--linkPadLeftRight);
    padding-right: var(--linkPadLeftRight);
    position: relative;
}


/*Wrapper*/
.bg-sidebar a > .overflow-hidden {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/*text*/
.bg-sidebar a > .overflow-hidden,
.bg-sidebar a > .overflow-hidden .truncate {
    overflow: unset;
    white-space: normal;
    text-overflow: unset;
}
.bg-sidebar a > .overflow-hidden .truncate {
    line-height: 1.2rem;
    padding-top: 2px;
}

/*buttons*/
.bg-sidebar a > .hidden {
    display: flex;
    width: 0px;
    overflow: hidden;
    right: 5px;
    top: calc(var(--linkPadTopBtm) - 1px);
    position: absolute;
    background: var(--bg-sidebar);
    border-radius: 6px;
    z-index: 10;
}

.bg-sidebar a:hover > .hidden {
    width: auto;
}

/*EDITING*/
.bg-sidebar .px-2 form {
    height: unset;
    padding-top: calc(var(--linkPadTopBtm) - 3px);
    padding-bottom: calc(var(--linkPadTopBtm) - 3px);
}

/*
overflow: unset; 
white-space: normal; 
text-overflow: unset; 
*/
/*
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
*/

/*************
**************
EDITOR
**************
**************/
.prose,
.prose * {
    box-sizing: border-box !important;
}

/*main editor container*/
/*DARTH THEME*/
.dark header[class*="sidebar-width"],
.dark header[class*="sidebar-width"] + div,
footer {
    background: hsl(240, 4%, 8%) !important;
}
header + div > div.py-10.pt-10 > .mx-auto > div {
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
}
/*chat response container*/
.message:not(.user-message) {}
.message:not(.user-message) .bg-zinc-100[class*="dark"][class*="text-white"] {
    background: hsla(240, 4%, 16%, 0);
    box-shadow: inset 0 0 0 1px hsla(240, 4%, 16%, .2);
}


/*************
EDITOR - FONT SIZES
**************/
.prose {
    font-size: 1rem;
    line-height: 1.75;
}

/*************
EDITOR - MESSAGE CONTAINER
**************/
:root {
    --usermessagePadLeftRight: 1rem;
    --usermessagePadTopBtm: .75rem;
    --listMargTopBtm: 5px;
}

/*overrides*/
.message-contents > .max-w-full[class*="90%"] {
    max-width: 100%;
}
.message > .flex > div[aria-hidden="true"] {
    max-width: 0px;
    margin: 0px;
}

/*************
EDITOR - MESSAGE
**************/
/*user message normal text padding*/
.message .message-contents .w-fit {
    padding-left: var(--usermessagePadLeftRight) !important;
    padding-right: 0px !important;

}
/*************
EDITOR - USER MESSAGE
**************/
:is(.dark .dark\:bg-blue-600) {}
.message.user-message .message-contents {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    flex-direction: column !important;
}
.message.user-message .message-contents > .max-w-full {
    max-width: 570px !important;
    width: 100%;
}
@media (max-width:600px) {
    .message.user-message .message-contents > .max-w-full {
        max-width: 80%
    }
}
/*user message normal text padding*/
.message.user-message .message-contents .w-fit {
    padding-left: var(--usermessagePadLeftRight) !important;
    padding-right: var(--usermessagePadLeftRight) !important;
    padding-top: var(--usermessagePadTopBtm) !important;
    padding-bottom: var(--usermessagePadTopBtm) !important;
    background: hsla(240, 2%, 0%, 0.2);
    box-shadow: 0 0 0 1px hsla(240, 2%, 35%);
    border-radius: 17px;
}
.message.user-message .message-contents .code-wrapper {
    border-radius: 0px !important;
    border-left-style: none !important;
    border-right-style: none !important;
    margin-left: calc(var(--usermessagePadLeftRight) * -1) !important;
    margin-right: calc(var(--usermessagePadLeftRight) * -1) !important;
}

/*************
EDITOR - LISTS
**************/
.message .prose ol li,
.message .prose ol li {
    margin-top: var(--listMargTopBtm) !important;
    margin-bottom: var(--listMargTopBtm) !important;
}

/*************
EDITOR - CODEBLOCKS
**************/
.code-wrapper {
    background-color: rgb(39 39 42 / var(--tw-bg-opacity));
    border-radius: 10px !important;
    border-style: solid !important;
    overflow: hidden;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
pre {
    margin-top: calc(var(--listMargTopBtm) * 1.9) !important;
    margin-bottom: calc(var(--listMargTopBtm) * 1.9) !important
}
.code-block {
    white-space: pre-wrap
}