/*root*/

:root {
  --heading-color:black;
  --bold-color:black;
}
[data-mode="dark"]{
  --heading-color:white;
  --bold-color:white;
}

/***/

:root {
  --cld-tstBrdW:.5px;
}
/*********
! ??
**********/
form[class*="pb"]{
  max-width: 100% !important
} 
/*********
! LEFT SIDEBAR
**********/
ul.flex > li[style*="opacity"] a[href]{
  height: unset !important;
  white-space: normal !important;

  
}

ul.flex > li[style*="opacity"] a[href] .truncate {
  white-space: normal !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} 
/*********
! HOVER MENUS

*:is([data-user-message-bubble] + .flex,.contents + .flex){
  border: solid red var(--cld-tstBrdW) !important;
  position: sticky;
  bottom: anchor-size(--chat-input height);
  anchor-name: --chat-input;
}
**********/
/*********
! EDITOR - CHAIN OF THOUGHT
**********/
[class*="claude-response"] div .flex ~ [style*="1fr"] [style*="max-height: 200px"],
[class*="max-h"][class*="200px"][class*="overflow-y-auto"][class*="text-xs"] {
  max-height: unset !important;
}
/*********
! EDITOR - 
**********/
[data-test-render-count] [aria-label*="code"] > div[class*="overflow"] > pre > code{
  white-space: pre-wrap !important;;
}

[class*="max-h"][class*="200px"][class*="overflow-y-auto"][class*="text-xs"] {
  
}
/*********
! EDITOR - HEADINGS
**********/


.standard-markdown *:is(h1,h2,h3,h4,h5,h6){
  color: var(--heading-color) !important;
}

/*Heading 1*/
.standard-markdown h1{
  font-size: 1.45rem !important;
  line-height: 1.25 !important;
}
/*Heading 2*/
.standard-markdown h2{
  font-size: calc(1em + 4px) !important;
  line-height: 1.4 !important;
}
/*Heading 3*/
.standard-markdown h3{
  font-size: calc(1em + 3px) !important;
}
/*Heading 4*/
.standard-markdown h4{
  font-size: calc(1em + 1px) !important;
}
/*********
! EDITOR - BOLD
**********/



[data-theme="claude"] b, 
[data-theme="claude"] strong, 
[data-theme="claude"] .font-bold, 
[data-theme="claude"] .font-bolder{
  color: var(--bold-color) !important;
  font-weight: 600 !important;
}
/*********
! EDITOR - CODE BLOCKS
**********/
.tiptap.ProseMirror .code-block > pre{
  box-shadow: inset 0 0 0 1px hsla(0,0%,50%, 0.4)
}

/*********
! TEXT AREA - CHAT - MIDDLE OF CHAT
**********/


div[class*="content-visibility:"] textarea.cds-input{
  min-height: 80vh;

}
textarea.cds-input:not(:focus-within){
  box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.2) !important;
}
/*********
! TEXT AREA - CHAT - BOTTOM
**********/


#chat-input-file-upload-bottom ~ .relative .max-h-96{
  max-height: 60vh;
}
/*********
! TEXT AREA - CHAT - NEW CHAT
**********/


body:not(.chat-ui-core) fieldset .relative .max-h-96{
  max-height: 1200px !important;
}


/*********
! TEXT AREA - CHAT - BOTTOM, DISCLAIMER
**********/

[data-autoscroll-container] .sticky.bottom-0 > [data-disclaimer="true"] {
  overflow: hidden;

  padding: 4px;
}
[data-autoscroll-container] .sticky.bottom-0 > [data-disclaimer="true"] a{
  display: none;
}

/*********
! TEXT AREA - PROJECT INSTRUCTIONS
**********/
div[id][data-cds="Dialog"] {
  max-height: calc(100vh - 30px);
}



div[id][data-cds="Dialog"] [class*="max-h-"] {
  max-height: 2000px !important;
}

div[id][data-cds="Dialog"] *:is(textarea[aria-label="Set project instructions"]){
  min-height: calc(100vh - 210px) !important;
  flex: 0;
  margin-bottom: 0px;
}


/*FOOTER*/

div[id][data-cds="Dialog"] textarea + div[class*="justify-end"]{
  position: sticky;
  bottom: 0;
  padding-top: 0px !important;
  margin-top: 10px;
}
