* {
  box-sizing: border-box;
}
html,
body {
  padding: 0px;
  margin:0px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 19.5px;
  line-height: 1.4;
  background: var(--bg-primary) !important;
  color:var(--textClr-primary);
  font-weight: 200;
  
}

:root {
  --linkPadLR: 10px;
  --linkPadL: 34px;
  --bg-primary:hsl(240, 3%, 10%);
  --bg-second:hsl(240, 3%, 10%);
  --textClr-primary:hsl(0, 0%, 100%, 0.8);
  --linkTransition:.2s;
  --innerTextWidth:600px
}



.wrapper {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  gap: 0px;
  padding-bottom: 500px;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
  color: var(--textClr-primary);
  padding: 10px var(--linkPadLR);
  padding-left: calc(var(--linkPadL) * 1.25);
  max-width: 100%;
  transition:var(--linkTransition);
  margin-bottom: -1px;
  flex: 1;
  position: relative;
}

.link:hover {
  color: white;
  z-index: 2;
}
/*LINK BG*/
.link:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -50vw;
  right: -50vw;
  bottom: 0;
  background: hsl(240, 2%, 18%, 0);
  border-top: 1px solid hsl(0, 0%, 14%);
  border-bottom: 1px solid hsl(0, 0%, 14%);
  transition:var(--linkTransition)
}
.link:hover:after{
  background: hsl(208, 100%, 50%, 0.2);
  border-color: var(--bg-primary);
  z-index: 1;
}
/*LINK TEXT*/
.link-inner {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--innerTextWidth);
  display: flex;
  max-width: 100%;
  margin-top: 2px;
  gap: 10px;
  transition:calc(var(--linkTransition) * .25);
}
.link:hover .link-inner{
}


.link-inner:after {
  content: url("https://sm1therz.github.io/code-playground/kiosk-home/assets/Github-arrow.svg");
  display: block;
  width: calc(var(--linkPadL) * .75);
  height: calc(var(--linkPadL) * .75);
  background: hsla(0, 0%, 100%, 0.0);
  color: red;
  transition:.2s;
  opacity: 0;
  transform: translateX(-20px) scale(1);
  
}
.link:hover .link-inner:after {
  background: hsl(208, 100%, 50%, .0);
  opacity: 1 !important;
  transform: translateX(-10px) scale(1);
  transition: .5s;
}

.indent {
  padding-left: calc(var(--linkPadL) * 0) !important;
}

/*TOGGLES*/
.toggle-icon {
  width: calc(var(--linkPadL) * 0.7);
  height: calc(var(--linkPadL) * 0.7);

  z-index: 202;
  position:absolute;
  left: calc(var(--linkPadLR) * 1);
  background-color: hsl(0, 0%, 50%, 0);
  border-radius: 4px;
  margin-top:1px !important;
  display: block;
}
.toggle-icon:hover {
  background-color: hsl(0, 0%, 100%, .2);
}
.toggle-icon-svg{
  width:100%;
  height:100%;
  background-image: url(assets/Github-chevron.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
  transition: 0.15s;
}
.title-open .toggle-icon-svg {
  transform: rotate(90deg);
}
.toggle-item {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggle-title {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
}
.toggle-children {
  overflow: hidden;
  max-height: 0px;
  transition: .5s ease-in-out;
  width: 100%;
}
.child-open.toggle-children {
  max-height: 1000px;
}

.title-open {
}
.child-open {
}
/*HEADLINE*/
.header-wrap {
  padding: 0px var(--linkPadLR);
  padding-left: calc(var(--linkPadL) * 1.25); 
  width:100%;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-second);
  padding-top: 24px;
  padding-bottom:10px;
  z-index: 929292;
}

.header-wrap h1 {
  font-weight: 400;
  font-size: 1.8rem;
  transition: var(--linkTransition);
  width:var(--innerTextWidth);
  max-width:100%;
}

@media (max-width: 550px) {
  .link-inner {
    width: var(--innerTextWidth) !important;
    margin-top: 0px !important;
  }
  .link-inner:after {
    transform: scale(.8);
    margin-top: 4px;
  }
  .header-wrap h1 {
    font-size:1.5rem;
  }
  * {
    --linkPadL: 28px;
    --linkPadLR: 6px;
  }
}
