* {
  box-sizing: border-box;
}
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background: var(--bg-primary) !important;
  color: var(--textClr-primary);
  font-weight: 200;
}

:root {
  /*padding / margins*/
  --linkPad: 10px;
  --linkPadL: 40px;
  --linkChildMargL:calc(var(--linkPadL) * .5);
  /*backgrounds*/
  --bg-primary: hsl(240, 3%, 12%);
  --bg-second: hsl(240, 3%, 10%);
  --linkBg-Hover: hsl(240, 3%, 19%);
  /*text*/
  --textClr-primary: hsl(0, 0%, 100%, 0.8);
  /*misc*/
  --linkTransition: 0.2s;
  --innerTextWidth: 600px;
}
/*HEADLINE*/
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-second);
  padding:var(--linkPad);
  padding-left:calc(var(--linkPadL) * 1);
  padding-top: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(0, 0%, 14%);
}

h1 {
  font-weight: 400;
  font-size: 1.6rem;
  transition: var(--linkTransition);
  width: var(--innerTextWidth);
  max-width: 100%;
}
/*LINKS**/
.links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.link-group {
  width: var(--innerTextWidth);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.link-group-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  width:100%;
}
.link-group-children {
  overflow: hidden;
  max-height: 0px;
  transition: 0.5s ease-in-out;
  width: 100%;
}
.link-group-children.children-open {
  max-height: 1000px;
}


.link {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width:100%;
  color: var(--textClr-primary);
  padding: var(--linkPad);
  padding-left: calc(var(--linkPadL) * 1);
  transition: var(--linkTransition);
  margin-bottom: -1px;
  position: relative;
}

.link-group-children > .link {
  /*
  margin-left: var(--linkChildMargL);
  max-width: calc(100% - var(--linkChildMargL));
  */
  padding-left: calc(var(--linkPadL) * 1.25);
}
.link:hover {
  color: white;
  z-index: 2;
}
/*LINK BG*/
.link:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: hsl(240, 2%, 18%, 0);
  border-top: .5px solid hsl(0, 0%, 14%);
  border-bottom: .5px solid hsl(0, 0%, 12%);
  transition: calc(var(--linkTransition) * 1.8) !important;
  border-radius: 0px;
}
.link:hover:after {
  background: var(--linkBg-Hover);
  border-color: hsl(240, 3%, 10%);
  border-radius: 6px;
}
/*LINK TEXT*/
.link-inner {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  max-width: 100%;
  margin-top: 2px;
  gap: 10px;
  transition: calc(var(--linkTransition) * 0.25);
  z-index: 2;
  flex: 1;
  position: relative;
}

.link-inner:after {
  content: url("https://sm1therz.github.io/code-playground/kiosk-home/assets/Github-arrow.svg");
  display: block;
  width: calc(var(--linkPadL) * 0.62);
  height: calc(var(--linkPadL) * 0.62);
  background: hsla(0, 0%, 100%, 0);
  color: red;
  transition: 0.1s ease-in-out;
  opacity: 0;
  transform: translateX(-10px) scale(1.1);
  position: absolute;
  right: 0;
}
.link:hover .link-inner:after {
  background: hsl(208, 100%, 50%, 0);
  opacity: 1 !important;
  transform: translateX(-0px) scale(1);
  transition: 0.3s ease-in-out;
}

.indent {
  padding-left: calc(var(--linkPadL) * 0) !important;
}

/**********
***********
TOGGLE BUTTON
***********
***********/

.toggle-button {
  width: calc(var(--linkPadL) * 0.6);
  height: calc(var(--linkPadL) * 0.6);
  z-index: 202;
  position: absolute;
  left: calc(var(--linkPad) * 1);
  background-color: hsl(0, 0%, 50%, 0);
  border-radius: 4px;
  margin-top: 1px !important;
  display: block;
  top:var(--linkPad);
  transition: var(--linkTransition);
}
.toggle-button:hover {
  background-color: hsl(0, 0%, 100%, 0.2);
}
.toggle-icon {
  width: 100%;
  height: 100%;
  background-image: url(assets/Github-chevron.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  transition: 0.15s;
}
.toggle-icon.open {
  transform: rotate(90deg);
}



@media (max-width: 550px) {
  .link:after {
    border-radius: 0px !important;
  }

}

