body {
	background: hsl(0, 0%, 93%);
	height: 100vh;
}
.rs-twitter-wrapper{
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 100%;
	overflow-y: auto;
}
.twitter-tweet {
	margin: 0 auto !important;
}

article:hover{
	background-color: hsl(180, 14%, 96.5%);
}
article > div:hover:last-of-type a {
	background-color: rgba(0, 111, 214, 0.1);
}