/************
! GRID - HEIGHT ADJUST
*************/

/*
.brick .brick-content {
		border-radius: var(--brickBrdRad);
		outline: var(--testBrdW) solid red !important;
		outline-offset: 0px;
}*/
/*
#gridsContainer .brick > .brick-settings {
		box-shadow: inset 0 0 0 var(--testBrdW) green;
}*/
.visual-grid-item {
		outline: var(--testBrdW) solid turquoise !important;
		outline-offset: 0px;
}
#app .brick .brick-background{
}

/****
HEIGHTS
*****/

:root {
		--gridIncrementH:14px;
		--gridHeightAdjust:30px;
}

.visual-grid-item[gs-h="1"]{
		height: calc(var(--gridIncrementH) * 1 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="1"] {
		top: calc(var(--gridIncrementH) * 1 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="1"]{
		height: calc(var(--gridIncrementH) * 1 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="1"] {
		top: calc(var(--gridIncrementH) * 1 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="2"]{
		height: calc(var(--gridIncrementH) * 2 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="2"] {
		top: calc(var(--gridIncrementH) * 2 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="3"]{
		height: calc(var(--gridIncrementH) * 3 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="3"] {
		top: calc(var(--gridIncrementH) * 3 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="4"]{
		height: calc(var(--gridIncrementH) * 4 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="4"] {
		top: calc(var(--gridIncrementH) * 4 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="5"]{
		height: calc(var(--gridIncrementH) * 5 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="5"] {
		top: calc(var(--gridIncrementH) * 5 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="6"]{
		height: calc(var(--gridIncrementH) * 6 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="6"] {
		top: calc(var(--gridIncrementH) * 6 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="7"]{
		height: calc(var(--gridIncrementH) * 7 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="7"] {
		top: calc(var(--gridIncrementH) * 7 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="8"]{
		height: calc(var(--gridIncrementH) * 8 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="8"] {
		top: calc(var(--gridIncrementH) * 8 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="9"]{
		height: calc(var(--gridIncrementH) * 9 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="9"] {
		top: calc(var(--gridIncrementH) * 9 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="10"]{
		height: calc(var(--gridIncrementH) * 10 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="10"] {
		top: calc(var(--gridIncrementH) * 10 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="11"]{
		height: calc(var(--gridIncrementH) * 11 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="11"] {
		top: calc(var(--gridIncrementH) * 11 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="12"]{
		height: calc(var(--gridIncrementH) * 12 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="12"] {
		top: calc(var(--gridIncrementH) * 12 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="13"]{
		height: calc(var(--gridIncrementH) * 13 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="13"] {
		top: calc(var(--gridIncrementH) * 13 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="14"]{
		height: calc(var(--gridIncrementH) * 14 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="14"] {
		top: calc(var(--gridIncrementH) * 14 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="15"]{
		height: calc(var(--gridIncrementH) * 15 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="15"] {
		top: calc(var(--gridIncrementH) * 15 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="16"]{
		height: calc(var(--gridIncrementH) * 16 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="16"] {
		top: calc(var(--gridIncrementH) * 16 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="17"]{
		height: calc(var(--gridIncrementH) * 17 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="17"] {
		top: calc(var(--gridIncrementH) * 17 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="18"]{
		height: calc(var(--gridIncrementH) * 18 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="18"] {
		top: calc(var(--gridIncrementH) * 18 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="19"]{
		height: calc(var(--gridIncrementH) * 19 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="19"] {
		top: calc(var(--gridIncrementH) * 19 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="20"]{
		height: calc(var(--gridIncrementH) * 20 - var(--gridHeightAdjust)) !important;
}
.visual-grid-item[gs-y="20"] {
		top: calc(var(--gridIncrementH) * 20 - var(--gridTopCalc)) !important;
		--gridTopCalc: calc(var(--gridIncrementH) * 20 * var(--gridHeightAdjust) * -1);
}

.visual-grid-item[gs-h="21"]{
		height: calc(var(--gridIncrementH) * 21 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="21"] {
		top: calc(var(--gridIncrementH) * 21 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="22"]{
		height: calc(var(--gridIncrementH) * 22 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="22"] {
		top: calc(var(--gridIncrementH) * 22 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="23"]{
		height: calc(var(--gridIncrementH) * 23 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="23"] {
		top: calc(var(--gridIncrementH) * 23 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="24"]{
		height: calc(var(--gridIncrementH) * 24 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="24"] {
		top: calc(var(--gridIncrementH) * 24 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="25"]{
		height: calc(var(--gridIncrementH) * 25 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="25"] {
		top: calc(var(--gridIncrementH) * 25 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="26"]{
		height: calc(var(--gridIncrementH) * 26 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="26"] {
		top: calc(var(--gridIncrementH) * 26 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="27"]{
		height: calc(var(--gridIncrementH) * 27 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="27"] {
		top: calc(var(--gridIncrementH) * 27 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="28"]{
		height: calc(var(--gridIncrementH) * 28 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="28"] {
		top: calc(var(--gridIncrementH) * 28 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="29"]{
		height: calc(var(--gridIncrementH) * 29 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="29"] {
		top: calc(var(--gridIncrementH) * 29 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="30"]{
		height: calc(var(--gridIncrementH) * 30 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="30"] {
		top: calc(var(--gridIncrementH) * 30 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="31"]{
		height: calc(var(--gridIncrementH) * 31 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="31"] {
		top: calc(var(--gridIncrementH) * 31 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="32"]{
		height: calc(var(--gridIncrementH) * 32 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="32"] {
		top: calc(var(--gridIncrementH) * 32 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="33"]{
		height: calc(var(--gridIncrementH) * 33 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="33"] {
		top: calc(var(--gridIncrementH) * 33 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="34"]{
		height: calc(var(--gridIncrementH) * 34 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="34"] {
		top: calc(var(--gridIncrementH) * 34 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="35"]{
		height: calc(var(--gridIncrementH) * 35 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="35"] {
		top: calc(var(--gridIncrementH) * 35 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="36"]{
		height: calc(var(--gridIncrementH) * 36 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="36"] {
		top: calc(var(--gridIncrementH) * 36 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="37"]{
		height: calc(var(--gridIncrementH) * 37 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="37"] {
		top: calc(var(--gridIncrementH) * 37 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="38"]{
		height: calc(var(--gridIncrementH) * 38 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="38"] {
		top: calc(var(--gridIncrementH) * 38 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="39"]{
		height: calc(var(--gridIncrementH) * 39 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="39"] {
		top: calc(var(--gridIncrementH) * 39 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="40"]{
		height: calc(var(--gridIncrementH) * 40 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="40"] {
		top: calc(var(--gridIncrementH) * 40 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="41"]{
		height: calc(var(--gridIncrementH) * 41 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="41"] {
		top: calc(var(--gridIncrementH) * 41 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="42"]{
		height: calc(var(--gridIncrementH) * 42 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="42"] {
		top: calc(var(--gridIncrementH) * 42 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="43"]{
		height: calc(var(--gridIncrementH) * 43 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="43"] {
		top: calc(var(--gridIncrementH) * 43 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="44"]{
		height: calc(var(--gridIncrementH) * 44 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="44"] {
		top: calc(var(--gridIncrementH) * 44 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="45"]{
		height: calc(var(--gridIncrementH) * 45 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="45"] {
		top: calc(var(--gridIncrementH) * 45 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="46"]{
		height: calc(var(--gridIncrementH) * 46 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="46"] {
		top: calc(var(--gridIncrementH) * 46 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="47"]{
		height: calc(var(--gridIncrementH) * 47 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="47"] {
		top: calc(var(--gridIncrementH) * 47 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="48"]{
		height: calc(var(--gridIncrementH) * 48 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="48"] {
		top: calc(var(--gridIncrementH) * 48 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="49"]{
		height: calc(var(--gridIncrementH) * 49 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="49"] {
		top: calc(var(--gridIncrementH) * 49 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="50"]{
		height: calc(var(--gridIncrementH) * 50 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="50"] {
		top: calc(var(--gridIncrementH) * 50 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="51"]{
		height: calc(var(--gridIncrementH) * 51 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="51"] {
		top: calc(var(--gridIncrementH) * 51 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="52"]{
		height: calc(var(--gridIncrementH) * 52 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="52"] {
		top: calc(var(--gridIncrementH) * 52 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="53"]{
		height: calc(var(--gridIncrementH) * 53 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="53"] {
		top: calc(var(--gridIncrementH) * 53 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="54"]{
		height: calc(var(--gridIncrementH) * 54 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="54"] {
		top: calc(var(--gridIncrementH) * 54 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="55"]{
		height: calc(var(--gridIncrementH) * 55 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="55"] {
		top: calc(var(--gridIncrementH) * 55 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="56"]{
		height: calc(var(--gridIncrementH) * 56 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="56"] {
		top: calc(var(--gridIncrementH) * 56 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="57"]{
		height: calc(var(--gridIncrementH) * 57 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="57"] {
		top: calc(var(--gridIncrementH) * 57 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="58"]{
		height: calc(var(--gridIncrementH) * 58 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="58"] {
		top: calc(var(--gridIncrementH) * 58 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="59"]{
		height: calc(var(--gridIncrementH) * 59 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="59"] {
		top: calc(var(--gridIncrementH) * 59 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="60"]{
		height: calc(var(--gridIncrementH) * 60 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="60"] {
		top: calc(var(--gridIncrementH) * 60 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="61"]{
		height: calc(var(--gridIncrementH) * 61 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="61"] {
		top: calc(var(--gridIncrementH) * 61 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="62"]{
		height: calc(var(--gridIncrementH) * 62 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="62"] {
		top: calc(var(--gridIncrementH) * 62 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="63"]{
		height: calc(var(--gridIncrementH) * 63 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="63"] {
		top: calc(var(--gridIncrementH) * 63 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="64"]{
		height: calc(var(--gridIncrementH) * 64 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="64"] {
		top: calc(var(--gridIncrementH) * 64 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="65"]{
		height: calc(var(--gridIncrementH) * 65 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="65"] {
		top: calc(var(--gridIncrementH) * 65 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="66"]{
		height: calc(var(--gridIncrementH) * 66 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="66"] {
		top: calc(var(--gridIncrementH) * 66 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="67"]{
		height: calc(var(--gridIncrementH) * 67 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="67"] {
		top: calc(var(--gridIncrementH) * 67 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="68"]{
		height: calc(var(--gridIncrementH) * 68 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="68"] {
		top: calc(var(--gridIncrementH) * 68 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="69"]{
		height: calc(var(--gridIncrementH) * 69 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="69"] {
		top: calc(var(--gridIncrementH) * 69 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="70"]{
		height: calc(var(--gridIncrementH) * 70 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="70"] {
		top: calc(var(--gridIncrementH) * 70 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="71"]{
		height: calc(var(--gridIncrementH) * 71 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="71"] {
		top: calc(var(--gridIncrementH) * 71 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="72"]{
		height: calc(var(--gridIncrementH) * 72 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="72"] {
		top: calc(var(--gridIncrementH) * 72 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="73"]{
		height: calc(var(--gridIncrementH) * 73 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="73"] {
		top: calc(var(--gridIncrementH) * 73 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="74"]{
		height: calc(var(--gridIncrementH) * 74 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="74"] {
		top: calc(var(--gridIncrementH) * 74 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="75"]{
		height: calc(var(--gridIncrementH) * 75 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="75"] {
		top: calc(var(--gridIncrementH) * 75 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="76"]{
		height: calc(var(--gridIncrementH) * 76 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="76"] {
		top: calc(var(--gridIncrementH) * 76 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="77"]{
		height: calc(var(--gridIncrementH) * 77 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="77"] {
		top: calc(var(--gridIncrementH) * 77 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="78"]{
		height: calc(var(--gridIncrementH) * 78 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="78"] {
		top: calc(var(--gridIncrementH) * 78 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="79"]{
		height: calc(var(--gridIncrementH) * 79 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="79"] {
		top: calc(var(--gridIncrementH) * 79 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="80"]{
		height: calc(var(--gridIncrementH) * 80 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="80"] {
		top: calc(var(--gridIncrementH) * 80 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="81"]{
		height: calc(var(--gridIncrementH) * 81 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="81"] {
		top: calc(var(--gridIncrementH) * 81 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="82"]{
		height: calc(var(--gridIncrementH) * 82 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="82"] {
		top: calc(var(--gridIncrementH) * 82 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="83"]{
		height: calc(var(--gridIncrementH) * 83 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="83"] {
		top: calc(var(--gridIncrementH) * 83 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="84"]{
		height: calc(var(--gridIncrementH) * 84 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="84"] {
		top: calc(var(--gridIncrementH) * 84 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="85"]{
		height: calc(var(--gridIncrementH) * 85 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="85"] {
		top: calc(var(--gridIncrementH) * 85 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="86"]{
		height: calc(var(--gridIncrementH) * 86 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="86"] {
		top: calc(var(--gridIncrementH) * 86 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="87"]{
		height: calc(var(--gridIncrementH) * 87 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="87"] {
		top: calc(var(--gridIncrementH) * 87 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="88"]{
		height: calc(var(--gridIncrementH) * 88 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="88"] {
		top: calc(var(--gridIncrementH) * 88 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="89"]{
		height: calc(var(--gridIncrementH) * 89 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="89"] {
		top: calc(var(--gridIncrementH) * 89 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="90"]{
		height: calc(var(--gridIncrementH) * 90 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="90"] {
		top: calc(var(--gridIncrementH) * 90 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="91"]{
		height: calc(var(--gridIncrementH) * 91 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="91"] {
		top: calc(var(--gridIncrementH) * 91 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="92"]{
		height: calc(var(--gridIncrementH) * 92 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="92"] {
		top: calc(var(--gridIncrementH) * 92 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="93"]{
		height: calc(var(--gridIncrementH) * 93 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="93"] {
		top: calc(var(--gridIncrementH) * 93 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="94"]{
		height: calc(var(--gridIncrementH) * 94 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="94"] {
		top: calc(var(--gridIncrementH) * 94 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="95"]{
		height: calc(var(--gridIncrementH) * 95 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="95"] {
		top: calc(var(--gridIncrementH) * 95 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="96"]{
		height: calc(var(--gridIncrementH) * 96 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="96"] {
		top: calc(var(--gridIncrementH) * 96 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="97"]{
		height: calc(var(--gridIncrementH) * 97 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="97"] {
		top: calc(var(--gridIncrementH) * 97 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="98"]{
		height: calc(var(--gridIncrementH) * 98 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="98"] {
		top: calc(var(--gridIncrementH) * 98 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="99"]{
		height: calc(var(--gridIncrementH) * 99 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="99"] {
		top: calc(var(--gridIncrementH) * 99 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="100"]{
		height: calc(var(--gridIncrementH) * 100 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="100"] {
		top: calc(var(--gridIncrementH) * 100 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="101"]{
		height: calc(var(--gridIncrementH) * 101 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="101"] {
		top: calc(var(--gridIncrementH) * 101 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="102"]{
		height: calc(var(--gridIncrementH) * 102 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="102"] {
		top: calc(var(--gridIncrementH) * 102 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="103"]{
		height: calc(var(--gridIncrementH) * 103 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="103"] {
		top: calc(var(--gridIncrementH) * 103 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="104"]{
		height: calc(var(--gridIncrementH) * 104 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="104"] {
		top: calc(var(--gridIncrementH) * 104 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="105"]{
		height: calc(var(--gridIncrementH) * 105 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="105"] {
		top: calc(var(--gridIncrementH) * 105 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="106"]{
		height: calc(var(--gridIncrementH) * 106 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="106"] {
		top: calc(var(--gridIncrementH) * 106 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="107"]{
		height: calc(var(--gridIncrementH) * 107 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="107"] {
		top: calc(var(--gridIncrementH) * 107 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="108"]{
		height: calc(var(--gridIncrementH) * 108 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="108"] {
		top: calc(var(--gridIncrementH) * 108 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="109"]{
		height: calc(var(--gridIncrementH) * 109 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="109"] {
		top: calc(var(--gridIncrementH) * 109 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="110"]{
		height: calc(var(--gridIncrementH) * 110 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="110"] {
		top: calc(var(--gridIncrementH) * 110 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="111"]{
		height: calc(var(--gridIncrementH) * 111 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="111"] {
		top: calc(var(--gridIncrementH) * 111 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="112"]{
		height: calc(var(--gridIncrementH) * 112 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="112"] {
		top: calc(var(--gridIncrementH) * 112 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="113"]{
		height: calc(var(--gridIncrementH) * 113 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="113"] {
		top: calc(var(--gridIncrementH) * 113 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="114"]{
		height: calc(var(--gridIncrementH) * 114 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="114"] {
		top: calc(var(--gridIncrementH) * 114 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="115"]{
		height: calc(var(--gridIncrementH) * 115 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="115"] {
		top: calc(var(--gridIncrementH) * 115 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="116"]{
		height: calc(var(--gridIncrementH) * 116 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="116"] {
		top: calc(var(--gridIncrementH) * 116 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="117"]{
		height: calc(var(--gridIncrementH) * 117 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="117"] {
		top: calc(var(--gridIncrementH) * 117 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="118"]{
		height: calc(var(--gridIncrementH) * 118 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="118"] {
		top: calc(var(--gridIncrementH) * 118 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="119"]{
		height: calc(var(--gridIncrementH) * 119 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="119"] {
		top: calc(var(--gridIncrementH) * 119 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="120"]{
		height: calc(var(--gridIncrementH) * 120 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="120"] {
		top: calc(var(--gridIncrementH) * 120 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="121"]{
		height: calc(var(--gridIncrementH) * 121 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="121"] {
		top: calc(var(--gridIncrementH) * 121 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="122"]{
		height: calc(var(--gridIncrementH) * 122 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="122"] {
		top: calc(var(--gridIncrementH) * 122 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="123"]{
		height: calc(var(--gridIncrementH) * 123 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="123"] {
		top: calc(var(--gridIncrementH) * 123 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="124"]{
		height: calc(var(--gridIncrementH) * 124 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="124"] {
		top: calc(var(--gridIncrementH) * 124 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="125"]{
		height: calc(var(--gridIncrementH) * 125 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="125"] {
		top: calc(var(--gridIncrementH) * 125 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="126"]{
		height: calc(var(--gridIncrementH) * 126 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="126"] {
		top: calc(var(--gridIncrementH) * 126 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="127"]{
		height: calc(var(--gridIncrementH) * 127 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="127"] {
		top: calc(var(--gridIncrementH) * 127 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="128"]{
		height: calc(var(--gridIncrementH) * 128 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="128"] {
		top: calc(var(--gridIncrementH) * 128 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="129"]{
		height: calc(var(--gridIncrementH) * 129 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="129"] {
		top: calc(var(--gridIncrementH) * 129 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="130"]{
		height: calc(var(--gridIncrementH) * 130 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="130"] {
		top: calc(var(--gridIncrementH) * 130 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="131"]{
		height: calc(var(--gridIncrementH) * 131 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="131"] {
		top: calc(var(--gridIncrementH) * 131 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="132"]{
		height: calc(var(--gridIncrementH) * 132 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="132"] {
		top: calc(var(--gridIncrementH) * 132 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="133"]{
		height: calc(var(--gridIncrementH) * 133 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="133"] {
		top: calc(var(--gridIncrementH) * 133 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="134"]{
		height: calc(var(--gridIncrementH) * 134 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="134"] {
		top: calc(var(--gridIncrementH) * 134 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="135"]{
		height: calc(var(--gridIncrementH) * 135 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="135"] {
		top: calc(var(--gridIncrementH) * 135 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="136"]{
		height: calc(var(--gridIncrementH) * 136 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="136"] {
		top: calc(var(--gridIncrementH) * 136 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="137"]{
		height: calc(var(--gridIncrementH) * 137 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="137"] {
		top: calc(var(--gridIncrementH) * 137 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="138"]{
		height: calc(var(--gridIncrementH) * 138 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="138"] {
		top: calc(var(--gridIncrementH) * 138 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="139"]{
		height: calc(var(--gridIncrementH) * 139 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="139"] {
		top: calc(var(--gridIncrementH) * 139 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="140"]{
		height: calc(var(--gridIncrementH) * 140 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="140"] {
		top: calc(var(--gridIncrementH) * 140 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="141"]{
		height: calc(var(--gridIncrementH) * 141 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="141"] {
		top: calc(var(--gridIncrementH) * 141 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="142"]{
		height: calc(var(--gridIncrementH) * 142 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="142"] {
		top: calc(var(--gridIncrementH) * 142 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="143"]{
		height: calc(var(--gridIncrementH) * 143 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="143"] {
		top: calc(var(--gridIncrementH) * 143 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="144"]{
		height: calc(var(--gridIncrementH) * 144 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="144"] {
		top: calc(var(--gridIncrementH) * 144 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="145"]{
		height: calc(var(--gridIncrementH) * 145 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="145"] {
		top: calc(var(--gridIncrementH) * 145 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="146"]{
		height: calc(var(--gridIncrementH) * 146 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="146"] {
		top: calc(var(--gridIncrementH) * 146 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="147"]{
		height: calc(var(--gridIncrementH) * 147 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="147"] {
		top: calc(var(--gridIncrementH) * 147 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="148"]{
		height: calc(var(--gridIncrementH) * 148 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="148"] {
		top: calc(var(--gridIncrementH) * 148 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="149"]{
		height: calc(var(--gridIncrementH) * 149 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="149"] {
		top: calc(var(--gridIncrementH) * 149 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="150"]{
		height: calc(var(--gridIncrementH) * 150 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="150"] {
		top: calc(var(--gridIncrementH) * 150 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="151"]{
		height: calc(var(--gridIncrementH) * 151 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="151"] {
		top: calc(var(--gridIncrementH) * 151 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="152"]{
		height: calc(var(--gridIncrementH) * 152 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="152"] {
		top: calc(var(--gridIncrementH) * 152 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="153"]{
		height: calc(var(--gridIncrementH) * 153 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="153"] {
		top: calc(var(--gridIncrementH) * 153 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="154"]{
		height: calc(var(--gridIncrementH) * 154 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="154"] {
		top: calc(var(--gridIncrementH) * 154 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="155"]{
		height: calc(var(--gridIncrementH) * 155 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="155"] {
		top: calc(var(--gridIncrementH) * 155 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="156"]{
		height: calc(var(--gridIncrementH) * 156 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="156"] {
		top: calc(var(--gridIncrementH) * 156 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="157"]{
		height: calc(var(--gridIncrementH) * 157 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="157"] {
		top: calc(var(--gridIncrementH) * 157 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="158"]{
		height: calc(var(--gridIncrementH) * 158 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="158"] {
		top: calc(var(--gridIncrementH) * 158 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="159"]{
		height: calc(var(--gridIncrementH) * 159 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="159"] {
		top: calc(var(--gridIncrementH) * 159 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="160"]{
		height: calc(var(--gridIncrementH) * 160 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="160"] {
		top: calc(var(--gridIncrementH) * 160 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="161"]{
		height: calc(var(--gridIncrementH) * 161 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="161"] {
		top: calc(var(--gridIncrementH) * 161 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="162"]{
		height: calc(var(--gridIncrementH) * 162 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="162"] {
		top: calc(var(--gridIncrementH) * 162 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="163"]{
		height: calc(var(--gridIncrementH) * 163 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="163"] {
		top: calc(var(--gridIncrementH) * 163 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="164"]{
		height: calc(var(--gridIncrementH) * 164 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="164"] {
		top: calc(var(--gridIncrementH) * 164 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="165"]{
		height: calc(var(--gridIncrementH) * 165 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="165"] {
		top: calc(var(--gridIncrementH) * 165 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="166"]{
		height: calc(var(--gridIncrementH) * 166 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="166"] {
		top: calc(var(--gridIncrementH) * 166 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="167"]{
		height: calc(var(--gridIncrementH) * 167 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="167"] {
		top: calc(var(--gridIncrementH) * 167 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="168"]{
		height: calc(var(--gridIncrementH) * 168 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="168"] {
		top: calc(var(--gridIncrementH) * 168 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="169"]{
		height: calc(var(--gridIncrementH) * 169 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="169"] {
		top: calc(var(--gridIncrementH) * 169 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="170"]{
		height: calc(var(--gridIncrementH) * 170 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="170"] {
		top: calc(var(--gridIncrementH) * 170 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="171"]{
		height: calc(var(--gridIncrementH) * 171 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="171"] {
		top: calc(var(--gridIncrementH) * 171 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="172"]{
		height: calc(var(--gridIncrementH) * 172 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="172"] {
		top: calc(var(--gridIncrementH) * 172 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="173"]{
		height: calc(var(--gridIncrementH) * 173 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="173"] {
		top: calc(var(--gridIncrementH) * 173 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="174"]{
		height: calc(var(--gridIncrementH) * 174 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="174"] {
		top: calc(var(--gridIncrementH) * 174 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="175"]{
		height: calc(var(--gridIncrementH) * 175 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="175"] {
		top: calc(var(--gridIncrementH) * 175 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="176"]{
		height: calc(var(--gridIncrementH) * 176 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="176"] {
		top: calc(var(--gridIncrementH) * 176 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="177"]{
		height: calc(var(--gridIncrementH) * 177 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="177"] {
		top: calc(var(--gridIncrementH) * 177 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="178"]{
		height: calc(var(--gridIncrementH) * 178 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="178"] {
		top: calc(var(--gridIncrementH) * 178 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="179"]{
		height: calc(var(--gridIncrementH) * 179 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="179"] {
		top: calc(var(--gridIncrementH) * 179 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="180"]{
		height: calc(var(--gridIncrementH) * 180 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="180"] {
		top: calc(var(--gridIncrementH) * 180 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="181"]{
		height: calc(var(--gridIncrementH) * 181 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="181"] {
		top: calc(var(--gridIncrementH) * 181 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="182"]{
		height: calc(var(--gridIncrementH) * 182 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="182"] {
		top: calc(var(--gridIncrementH) * 182 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="183"]{
		height: calc(var(--gridIncrementH) * 183 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="183"] {
		top: calc(var(--gridIncrementH) * 183 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="184"]{
		height: calc(var(--gridIncrementH) * 184 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="184"] {
		top: calc(var(--gridIncrementH) * 184 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="185"]{
		height: calc(var(--gridIncrementH) * 185 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="185"] {
		top: calc(var(--gridIncrementH) * 185 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="186"]{
		height: calc(var(--gridIncrementH) * 186 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="186"] {
		top: calc(var(--gridIncrementH) * 186 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="187"]{
		height: calc(var(--gridIncrementH) * 187 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="187"] {
		top: calc(var(--gridIncrementH) * 187 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="188"]{
		height: calc(var(--gridIncrementH) * 188 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="188"] {
		top: calc(var(--gridIncrementH) * 188 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="189"]{
		height: calc(var(--gridIncrementH) * 189 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="189"] {
		top: calc(var(--gridIncrementH) * 189 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="190"]{
		height: calc(var(--gridIncrementH) * 190 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="190"] {
		top: calc(var(--gridIncrementH) * 190 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="191"]{
		height: calc(var(--gridIncrementH) * 191 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="191"] {
		top: calc(var(--gridIncrementH) * 191 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="192"]{
		height: calc(var(--gridIncrementH) * 192 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="192"] {
		top: calc(var(--gridIncrementH) * 192 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="193"]{
		height: calc(var(--gridIncrementH) * 193 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="193"] {
		top: calc(var(--gridIncrementH) * 193 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="194"]{
		height: calc(var(--gridIncrementH) * 194 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="194"] {
		top: calc(var(--gridIncrementH) * 194 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="195"]{
		height: calc(var(--gridIncrementH) * 195 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="195"] {
		top: calc(var(--gridIncrementH) * 195 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="196"]{
		height: calc(var(--gridIncrementH) * 196 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="196"] {
		top: calc(var(--gridIncrementH) * 196 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="197"]{
		height: calc(var(--gridIncrementH) * 197 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="197"] {
		top: calc(var(--gridIncrementH) * 197 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="198"]{
		height: calc(var(--gridIncrementH) * 198 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="198"] {
		top: calc(var(--gridIncrementH) * 198 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="199"]{
		height: calc(var(--gridIncrementH) * 199 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="199"] {
		top: calc(var(--gridIncrementH) * 199 - var(--gridHeightAdjust) ) !important;
}

.visual-grid-item[gs-h="200"]{
		height: calc(var(--gridIncrementH) * 200 - var(--gridHeightAdjust) ) !important;
}
.visual-grid-item[gs-y="200"] {
		top: calc(var(--gridIncrementH) * 200 - var(--gridHeightAdjust) ) !important;
}
