
*{
  box-sizing: border-box;
  font-family: sans-serif
}
body {
  font-size: 1.2rem;
}
[data-wf-link] {
  color: gray;
}


.note {
  display: block;
  margin-top: 3px;
  font-size: .89rem;
  margin-bottom: 10px;
}

img {
  display: block;
  width: 100% !important;
  border: 1px solid red;
}