div {
box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
}
table {
-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	margin: 0 auto;
	max-width: 100%;
	min-width: 100%;
}
tr {
border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	height: 0;
	hyphens: auto;
}
td {
background-color: #494745;
	border: 1pt solid;
	border-collapse: collapse;
	border-color: #494745 #494745 #ffffff;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;
}
p {
-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;
}
span {
border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
}
p {
-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;
}
span {
background-color: #494745;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;
}
span {
border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
}
span {
background-color: #c4c4c3;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;
}
span {
border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
}
span {
background-color: #e8e8ea;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;
}
span {
border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	vertical-align: baseline;
}
span {
border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
}
div {
box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
}
table {
-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	margin: 0 auto;
	max-width: 100%;
	min-width: 100%;
}
tr {
border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	height: 0;
	hyphens: auto;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	height: 0;
	hyphens: auto;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	height: 0;
	hyphens: auto;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	height: 0;
	hyphens: auto;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	height: 0;
	hyphens: auto;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	height: 0;
	hyphens: auto;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	height: 0;
	hyphens: auto;
}
td {
background-color: #494745;
	border: 1pt solid;
	border-collapse: collapse;
	border-color: #494745 #494745 #ffffff;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #494745;
	border: 1pt solid;
	border-collapse: collapse;
	border-color: #494745 #494745 #ffffff;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #494745;
	border: 1pt solid;
	border-collapse: collapse;
	border-color: #494745 #494745 #ffffff;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #494745;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #c4c4c3;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #c4c4c3;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #494745;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #e8e8ea;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #e8e8ea;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #494745;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #c4c4c3;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #c4c4c3;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #494745;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #e8e8ea;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #e8e8ea;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #494745;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #c4c4c3;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #c4c4c3;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #494745;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #e8e8ea;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;background-color: #e8e8ea;
	border: 1pt solid #ffffff;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	hyphens: auto;
	padding: 4pt;
	vertical-align: top;
	width: 156pt;
}
p {
-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;-webkit-font-smoothing: subpixel-antialiased;
	border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: Iowan-Old-Style, georgia, serif;
	font-size: 17.5px;
	hyphens: auto;
	line-height: 1.625;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;
}
span {
border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline; border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline; border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline; border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline; border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline; border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline; border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left; border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline; border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline; border-collapse: collapse;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;border-collapse: collapse;
	box-sizing: border-box;
	color: #000000;
	font-family: "Roboto Condensed";
	font-size: 17.5px;
	font-weight: 300;
	hyphens: auto;
	line-height: 28.4375px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
}
