/***********
! NOTE OVERRIDES
************/

:root {
		--notesMaxH:21px;
}

#app .page .project.root > .children .project > .notes > .content {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
		max-height: var(--notesMaxH); 
}

#app .page .project.root > .children .project > .notes > .content.active {
	-webkit-line-clamp: 100;
		--notesMaxH:1000px;
}

/*********** 
! NOTE OVERRIDES 
************/
:root {
	--notesMaxH: 22px;
}

/*NOTES > MAKE THEM 1 LINE*/
#app .page .project.root>.children .project>.notes>.content:not(:empty) {
	display: -webkit-box !important;
	-webkit-box-orient: vertical !important;
	-webkit-line-clamp: 1 !important;
	max-height: var(--notesMaxH) !important;
	overflow: hidden !important;
	line-height: 20px !important;
	font-size: 14.5px !important
}

/*NOTES > SHOW ALL LINES WHEN ACTIVE*/

/*ACTIVE*/
#app .page .project.root > .children .project > .notes > .content.active,
#app .page .project > .children .project > .notes > .content.active {
	-webkit-line-clamp: 100 !important;
	--notesMaxH: 1000px !important;
	display:block !important;
	overflow:unset !important;
	-webkit-box-orient: unset !important;
}



/*BOARDS NOTES*/

#app .page .project.board.root > .children .project>.notes>.content,
#app .page .project.root > .children .project.board > .children .project >.notes>.content {
	font-size: .85rem !important;
	line-height: 18px !important;
}

/*BOARD*/

#app .board:not(.root){
		--notesMaxH:21px;
}

#app .board.root{
		--notesMaxH:21px;
}

#app .board .boardColumn .notes > .content:not(:empty){
	margin-bottom: 4px !important;
}
