/*root*/

/*COMMENT BOARDERS > ALL*/

:root {
  --notBoard-CommentBrdClr:hsl(200, 12%, 9.5%);
  --notBoard-CommentBrdClr:hsl(200, 12%, 0%);
  --notBoard-CommentBrdClr:hsl(200, 6%, 31%) !important;
  /**/
  --Root-CommentBrdClr:black;

}
#app .project.comment,
#app .project.root.comment{
  border-color: var(--notBoard-CommentBrdClr) !important;
  
}
#app .project.root.comment{
  border-width: 1.6px;
  border-color: var(--Root-CommentBrdClr) !important;
}



*:not(.board) .project.comment .project.comment,
*:not(.board) .project.comment .project.comment .project.comment .project.comment,
*:not(.board) .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment,
*:not(.board) .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment {
  
  border-color: hsl(200, 12%, 10.5%) !important;
  border-color: hsl(200, 12%, 9.5%) !important;
}

/*COMMENT BACKGROUND > ALL*/
.board {}
._theme-dark {

  .project.comment {
    --COMMENT-CONTAINER--BG: hsl(197, 18%, 15%) !important;
    --COMMENT-CONTAINER--BG: hsl(200, 12%, 21.25%)
 !important;
  }
  .project.comment.root {
    --COMMENT-CONTAINER--BG: hsl(197, 18%, 15%) !important;
  }

  .board .comment {
    --COMMENT-CONTAINER--BG: hsl(197, 18%, 15%) !important;
  }
}

/*COMMENT BOARDERS > BOARDS > NOT ROOT*/
#app .board:not(.root) .project.comment {
  border-color: var(--COMMENT-CONTAINER--BORDER-CLR) !important;
  --COMMENT-CONTAINER--BORDER-CLR:hsl(200, 6%, 31%) !important;
}



#app .board:not(.root) .project.comment .project.comment,
#app .board:not(.root) .project.comment .project.comment .project.comment .project.comment,
#app .board:not(.root) .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment,
#app .board:not(.root) .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment {

  border-color: var(--COMMENT-CONTAINER--BORDER-CLR) !important;
}

/*COMMENT BORDERS > BOARDS.ROOT*/
:root,
#app .board.root
#app .board.root *,
#app .board.root .project.comment{
  --boardRoot-CommentBrdClr:hsl(200, 12%, 8.5%);
  --boardRoot-CommentBrdClr:hsl(200, 12%, 0%);

}
#app .board.root .project.comment,
#app .board.root .project.comment{
  border-color: var(--boardRoot-CommentBrdClr) !important;
}


#app .project.board.root > .children > .boardColumn > .children > .project.boardCard.comment {
  box-shadow: 0 0 0 1px var(--boardRoot-CommentBrdClr) !important;
  border-width: 0px !important
}

/*all*/
#app .project.board.root > .children > .boardColumn > .children > .boardCard.comment,
#app .board.root .boardColumn .boardCard > .children > .project.comment,
/***/
#app .board.root .project.comment,
#app .board.root .project.comment .project.comment,
#app .board.root .project.comment .project.comment .project.comment .project.comment,
#app .board.root .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment,
#app .board.root .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment .project.comment {
  
  border-color: var(--boardRoot-CommentBrdClr) !important;
}

/*COMMENT BORDERS > DASHBOARD*/

:root {
  --DashCommentChildren--BrdClr:hsl(200, 6%, 21.4%);
}
#app .page.dashboard-page .dashboard-card:not(.comment) .children > .comment:not(.comment .comment):after,
#app .page.dashboard-page .dashboard-card:not(.noted) > .name:before,
#app .page.dashboard-page .dashboard-card.noted > .notes:before,
#app .dashboard-card.comment:not(.noted) > .name:after,
#app .dashboard-card.comment.noted > .notes:after,
#app .dashboard-card.comment > .name:before {
  --DashCrd--BrdClr:hsl(200, 6%, 27%) !important;
}

#app .page.dashboard-page .dashboard-card .project.comment {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: var(--DashComment--BrdClr) !important
}

