/***********
! NOTE OVERRIDES
************/

:root {
	--notesMaxH: 21px;
}

#app .page .project.root>.children .project>.notes > .content {
display:  -webkit-box !important;
-webkit-box-orient: vertical !important;
	-webkit-line-clamp: 1 !important;
	max-height: var(--notesMaxH) !important;
overflow:hidden !important; 
line-height:21px !important;
font-size:14.5px !important
}

#app .page .project >.children .project>.notes>.content{
margin-bottom:2px !important
}
/*ACTIVE*/
#app .page .project.root > .children .project > .notes > .content.active,
#app .page .project > .children .project > .notes > .content.active {
	-webkit-line-clamp: 100 !important;
	--notesMaxH: 1000px !important;
	display:block !important;
	overflow:unset !important;
	-webkit-box-orient: unset !important;
}


/*BOARD*/

#app .board:not(.root) {
	--notesMaxH: 25px;
}

#app .board.root {
	--notesMaxH: 25px;
}