#app .pageContainer .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] {
  background: transparent !important;
  box-shadow: unset !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

#app .project.board:is(.root) > .children > .boardColumn > .children > .boardCard[class*="header3"] > .name > .content{
  -webkit-font-smoothing:antialiased !important;

--header3-fontSize: 20px;
  --header3-lineHeight: 27px;
    color: white !important;
}


#app .project.board > .children > .boardColumn > .children > .boardCard[class*="header3"] > .name > .content{
  -webkit-font-smoothing:antialiased !important;
}

#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] + .boardCard:not([class*="header3"]) {
  margin-top: calc(var(--boardRoot-ColumnGap) * 1.5) !important;

}
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"].open + .boardCard:not([class*="header3"]) {
  margin-top: calc(var(--boardRoot-ColumnGap) * 3) !important;

}

#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"]:first-child{
  margin-top: calc(var(--boardRoot-ColumnGap) * 1) !important;
}


#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project[class*="header"]:not(.noted) > .name > .content,
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project[class*="header"].noted > .notes > .content,
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project.comment.noted > .notes > .content {
  padding-bottom: calc(var(--content-PadTopBtm) * 2 + 4px) !important

}



/******
HEADING 3 BOARD CARDS > INCREASE PADDING
*******/
#app .pageContainer .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"]{
    padding-bottom: 0px !important;
    margin-bottom: calc(var(--rootBrdCrdPadTopBtm) * 0.5) !important;
    padding-top: calc(var(--content-PadTopBtm) * 1) !important;
}
#app .project.board.root .project.boardCard[class*="header3"]:not(.noted) > .name{
    padding-bottom: calc(var(--content-PadTopBtm) * 2) !important;
}

#app .project.board.root .project.boardColumn .project.boardCard[class*="header3"].noted > .notes{
    padding-bottom: calc(var(--content-PadTopBtm) * 2) !important;
}

/******
HEADING 3 BOARD CARDS > BULLET POSITION
*******/
#app .project.board.root .project.boardCard[class*="header3"] > .name > .bullet,
#app .project.board.root .project.boardCard[class*="header3"] > .name > .menu,
#app .project.board.root .project.boardCard[class*="header3"] > .name > .expand,
#app .project.board.root .project.boardCard[class*="header3"] > .name > .prefix {
    --btn-MargTop: 8px !important;
}



/*CHILDREN AS CARD - TOP LEVEL NAME / NOTE  > BOTTOM BORDER*/
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .name,
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .notes,
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .name,
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .notes{
  position: relative;
  margin-bottom: 0px !important
}
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"]:not(.noted) > .name:before,
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"].noted > .notes:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--content-PadTopBtm) * 0 - 1px);
  height: 1px;
  background: var(--boardrootH3CardBrdClr);
  z-index: 929292;
}

#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children{
  row-gap:var(--boardRoot-ColumnGap);
}

/* HEADER 3 > CHILDREN CARDS*/
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project:not(.comment){
    box-shadow: 0 0 0 1px var(--boardrootCardBrdClr) !important;
  background: var(--boardrootCardBgClr);
  border-radius: var(--boardRoot-CardBrdRad) !important;
  padding-top: 5px;
    border: unset !important;
  
}

#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project.comment{
    --COMMENT-CONTAINER--BORDER-CLR:var(--boardRoot-CommentBrdClr) !important;
}
/*CHILDREN AS CARD - MAKE BOARD CARDS*/
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project.comment{
  border-radius: var(--boardRoot-CardBrdRad) !important;
  border: 1px solid var(--COMMENT-CONTAINER--BORDER-CLR) !important;
  margin-left: unset !important;
  max-width: 100% !important;
}


#app .page .board.root > .children > .boardColumn > .children > .boardCard.project[class*="header3"] > .children > .project.comment:not(.noted):is(.open) > .name:before,
#app .page .board.root > .children > .boardColumn > .children > .boardCard.project[class*="header3"] > .children > .project.comment.noted:is(.open) > .notes:before{
  opacity: 1 !important;
}
#app .page .board.root > .children > .boardColumn > .children > .boardCard.project[class*="header3"] > .children > .project.comment .comment:not(.open) > .name:before,
#app .page .board.root > .children > .boardColumn > .children > .boardCard.project[class*="header3"] > .children > .project.comment .comment:not(.open) > .notes:before{
  opacity: 0 !important;
}
#app .page .board.root > .children > .boardColumn > .children > .boardCard.project[class*="header3"] > .children > .project.comment .comment > .name:before,
#app .page .board.root > .children > .boardColumn > .children > .boardCard.project[class*="header3"] > .children > .project.comment .comment > .notes:before {
  left: 0 !important;
}
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project.comment{
  padding-left:calc(var(--children-Indent) * .5) !important;
  

}

#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project.comment > .commentAttribution{
  padding-left: 18px !important; 
  padding-top: var(--boardCommentAttributionPadTop) !important;
  margin-left: 0px !important;
}

/*CHILDREN AS CARD - PADDING*/
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project{
  padding-top: 5px;
  padding-bottom: 5px;

}


/*CHILDREN AS CARD - FIRST CARD*/
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project:first-child{
  margin-top: calc(var(--boardRoot-ColumnGap) * 1.5) !important;
}


#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .children {
  padding-left: 0px !important;
}


/*BORDER COLOR OVERRIDES*/
#app .board.root .boardCard[class*="header3"] > .children > .project > .children > .project:not(.noted) > .name:before, 
#app .board.root .boardCard[class*="header3"] > .children > .project > .children > .project.noted > .notes:before {
    content: "";
  display: block !important;
  height: 1px !important;
  background: var(--boardChildBrdClr) !important;
  position: absolute !important;
  opacity: var(--boardChild-FakeBrdOpacity) !important;
  z-index: 2 !important;
  inset: unset !important;
  left: calc(var(--children-Indent) * -.5) !important;
  right: 0 !important;
  bottom: -1px !important;
}
#app .board.root .boardCard[class*="header3"] > .children > .project:not(:last-of-type, .comment) > .children:before{
  opacity: 0 !important;
}

#app .board.root .boardCard[class*="header3"] > .children > .project > .children > .project.project:not(.noted):last-of-type > .name:before{
  opacity: 0 !important;
}
#app .board.root .boardCard[class*="header3"] > .children > .project:not(.open) > .name:before{
  opacity: 0 !important; 
}
#app .board.root .boardCard[class*="header3"] > .children > .project > .children:before{
  visibility: hidden 
}


/*************
**************
BULLET
**************
**************/
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .name > .bullet,
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .name > .prefix{
  opacity: 1 !important;
    display: flex !important;
  right: calc(var(--children-Indent) * 1);
  left: unset;
  transform: scale(1) rotate(0deg) !important;
  box-shadow: unset !important;
  outline: unset !important;
}
/*************
BULLET > NORMAL
**************/
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project:not(.divider) > .name > .bullet:before{
  opacity: 1;
  background: var(--BG-Bullet-open) !important;
  width: var(--btnIcn-ExpandB4Up-W);
  height: var(--btnIcn-ExpandB4Up-H);
  border-radius: var(--btnIcn-ExpandB4Up-BrdRad);
  z-index: 2;
  background-image: unset !important;
  content: "" !important;
}
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project:not(.divider,.paragraph,.checkmark) > .name > .bullet:before{
   transform: rotate(-45deg)scale(var(--btnIcn-Scale)) !important; 
}

#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project:not(.divider,.paragraph,.checkmark).collapsed > .name > .bullet:before {
   transform: rotate(45deg)scale(var(--btnIcn-Scale)) !important; 
}

/*after*/
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project:not(.checkmark).collapsed > .name > .bullet:after{
  transform: rotate(45deg)scale(1);
}
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project:not(.checkmark) > .name > .bullet:after{
  transform: rotate(-45deg)scale(0);
  opacity: 1 !important;
  content: ""!important;
  display: flex !important;
}
/*************
BULLET > NORMAL > MIRRORED
**************/ 
/*************
BULLET > CHECKMARK
**************/

#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project.checkmark > .name > .bullet:before{
  opacity: 0 !important;
}

/*************
**************
EXPAND
**************
**************/


/*************
**************
BOARDCARD > EXPAND
**************
**************/

#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .name > .expand > div:before{
  content: var(--ICON--ARROW-BLACK) !important;
  opacity: 0.5;
    width: 24px;
  height: 24px;
    transform: scale(.47) rotate(90deg);

}
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .name > .expand > div:hover {
  background: var(--BG-BUTTON--HOVER) !important;
}
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project.collapsed > .name > .expand > div:before{
    transform: scale(.47) rotate(0deg);
}
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .name > .expand:before,
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .name > .expand:after {
  opacity: 0;
  display: none !important;
}


/**************
name + Notespadding
***************/
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .name,
#app .project.board.root > .children > .boardColumn > .children > .boardCard[class*="header3"] > .children > .project > .notes{
  padding-right: 10px;
}



#app .board.root .floating-conversations:before{
    background: transparent !important; 
}