/*******************************
********************************
! BOARDS in COMMENTS
********************************
********************************/

:root {
  --pagePadLeft: 1vw;
  --pagePadRight: 1.0vw;
  --pageMaxWidth: 630px;
}
#app .project.board > .children:not(#app .project.board.root > .children) {
  min-width: 2200px !important;
  left: calc(var(--pagePadLeft) * -56) !important;
  padding-left: calc(var(--pagePadLeft) * 56.5) !important;
  padding-right: 1000px !important;
}
