html,
body {
   margin: 0px;
   padding: 0px;
   position: relative;
}
* {
   box-sizing: border-box;
}
html {
   padding: 10px 20px;
}
body {
   z-index: font-family: "Iowan-Old-Style", Georgia, serif;
   font-size: var(--bodyFontSize);
   line-height: var(--bodyLineHeight);
   font-size: 100px;
}
.input-container {}
.input-rs {
   max-width: 200px;
   font-size: 19px;
   flex: 1;
   /* Adjust as needed */
}
