/********
*********
*********
ROOT
*********
*********
*********/
:root {
}
[data-theme="night"] {
	/*text-colors*/
	/*whites*/
	--color--wht--100-percent: hsl(0, 0%, 100%, 1);
	--color--wht--90-percent: hsl(0, 0%, 100%, .9);
	--color--wht--80-percent: hsl(0, 0%, 100%, .8);
	--color--wht--70-percent: hsl(0, 0%, 100%, .7);
	--color--wht--60-percent: hsl(0, 0%, 100%, .6);
	--color--wht--50-percent: hsl(0, 0%, 100%, .5);
	--color--wht--40-percent: hsl(0, 0%, 100%, .4);
	--color--wht--30-percent: hsl(0, 0%, 100%, .3);
	--color--wht--20-percent: hsl(0, 0%, 100%, .2);
	--color--wht--10-percent: hsl(0, 0%, 100%, .10);
	--color--wht--05-percent: hsl(0, 0%, 100%, .05);
	--color--wht--025-percent: hsl(0, 0%, 100%, .025);
	/*blacks*/
	--color--blk--100-percent: hsl(0, 0%, 0%, 1);
	--color--blk--90-percent: hsl(0, 0%, 0%, .9);
	--color--blk--80-percent: hsl(0, 0%, 0%, .8);
	--color--blk--70-percent: hsl(0, 0%, 0%, .7);
	--color--blk--60-percent: hsl(0, 0%, 0%, .6);
	--color--blk--50-percent: hsl(0, 0%, 0%, .5);
	--color--blk--40-percent: hsl(0, 130%, 0%, .4);
	--color--blk--30-percent: hsl(0, 0%, 0%, .3);
	--color--blk--20-percent: hsl(0, 0%, 0%, .2);
	--color--blk--10-percent: hsl(0, 0%, 0%, .1);
	--color--blk--05-percent: hsl(0, 0%, 0%, .05);
	--color--blk--025-percent: hsl(0, 10%, 0%, .025);
	/*GREYS*/
	--color--grey--50-percent: hsl(0, 0%, 50%, .5);
	/*COLORS*/
	--color--tag: hsl(40, 0%, 55%);
	--color--tag--hover: hsl(40, 52%, 71%);
	--color--tagBrd--hover: hsl(40, 52%, 71%, .5);
	--color--tag--hover--50: hsl(40, 0%, 61%, .25);
	/*CONTRAST*/
	--color--contrast: hsl(0, 0%, 100%);


	/*backgrounds*/
	--bg--transparent: transparent;
	--bg--active--blue: hsl(207, 80%, 49%);
	--bg--main-background: hsl(228, 3%, 10%);
	--bg--main-background-header: hsl(228, 3%, 17%, .5);
	--editBoxBG: hsl(0, 0%, 7%);
	--editBoxBgFocus: hsl(0, 0%, 10%);
	--aboutBgClr: var(--color--blk--20-percent);

	/*SEARCH*/
	--search--bg-clr: hsl(218, 5%, 18%);

	/*FOOTER*/
	--footer--bg-clr: hsl(228, 3%, 38%, .05);
	--footer--bg-clr-Hover: hsl(228, 3%, 38%, .25);
	--footer--brd-clr: hsl(228, 3%, 80%, .07);
	--footer--brd-clr-Hover: hsl(228, 3%, 80%, 0.15);
	--footer--txt-clr: hsl(228, 0%, 70%);
	--footer--txt-clr-Hover: hsl(228, 0%, 70%);

	/*border-colors*/
	--border-color--75-percent: hsl(0, 0%, 75%);
	--editBoxBrdClr: hsl(0, 0%, 50%, .4);
	--editBoxBrdClrFocus: hsl(0, 0%, 50%, .4);
	/*masonry cards*/
	--gridbookmarkBgClr: hsla(228, 3%, 17%, 1);
	--gridbookmarkBgClr-Hover: hsla(228, 3%, 20%, 1);
	--gridbookmarkBrdClr: hsl(0, 0%, 0%, 1);
	/*masonry cards - right clicked*/
	--gridbookmarkBgClr-RightClick: hsla(211, 100%, 50%, 1);
	--gridbookmarkBrdClr-RightClick: var(--gridbookmarkBgClr-Selected);
	--gridbookmarkTxtClrPrimary-RightClick: hsla(211, 0%, 100%, 1);
	--gridbookmarkTxtClrSecondary-RightClick: hsla(211, 0%, 100%, 0.8);
	/*masonry cards - SELECTION*/
	--gridbookmarkBgClr-Selected: hsla(215, 100%, 60%, 0.2);
	--gridbookmarkBrdClr-Selected: hsl(215, 100%, 67%, 0.5);
	/*Action Menu Buttons*/
	--actionBtnBgClr: hsla(228, 3%, 29%, 0.6);
	--actionBtnBgClr-Hover: hsla(228, 3%, 12%, 0.7);
	--actionBtnBrdClr: hsla(228, 3%, 27%, .6);
	--actionBtnBrdClr-Hover: hsla(228, 3%, 37%, .6);
	--actionBtnClr: hsl(0, 0%, 95%);
	--actionBtnClr-Hover: hsl(0, 0%, 100%);
	/*Full Text search*/
	--fulltextsearchMatchClr: white;
	--fulltextsearchMatchBgClr: hsla(56, 100%, 50%, .18);
	/*highlights*/
	--highlightBrdClr: hsl(0, 0%, 100%, .05);
	--highlightBgClr: hsl(0, 0%, 100%, .05);
	/*NOTES*/
	--note-text-color:hsl(0, 0%, 100%, .575);
	--note-text-color-alpha:hsl(0, 0%, 100%, 0.575);

}

[data-theme="day"] {
	/*text-colors*/
	/*whites*/
	--color--wht--100-percent: hsl(0, 0%, 100%, 1);
	--color--wht--90-percent: hsl(0, 0%, 100%, .9);
	--color--wht--80-percent: hsl(0, 0%, 100%, .8);
	--color--wht--70-percent: hsl(0, 0%, 100%, .7);
	--color--wht--60-percent: hsl(0, 0%, 100%, .6);
	--color--wht--50-percent: hsl(0, 0%, 100%, .5);
	--color--wht--40-percent: hsl(0, 0%, 100%, .4);
	--color--wht--30-percent: hsl(0, 0%, 100%, .3);
	--color--wht--20-percent: hsl(0, 0%, 100%, .2);
	--color--wht--10-percent: hsl(0, 0%, 100%, .10);
	--color--wht--05-percent: hsl(0, 0%, 100%, .05);
	--color--wht--025-percent: hsl(0, 0%, 100%, .025);
	/*blacks*/
	--color--blk--100-percent: hsl(0, 0%, 0%, 1);
	--color--blk--90-percent: hsl(0, 0%, 0%, .9);
	--color--blk--80-percent: hsl(0, 0%, 0%, .8);
	--color--blk--70-percent: hsl(0, 0%, 0%, .7);
	--color--blk--60-percent: hsl(0, 0%, 0%, .6);
	--color--blk--50-percent: hsl(0, 0%, 0%, .5);
	--color--blk--40-percent: hsl(0, 0%, 0%, .4);
	--color--blk--30-percent: hsl(0, 0%, 0%, .3);
	--color--blk--20-percent: hsl(0, 0%, 0%, .2);
	--color--blk--10-percent: hsl(0, 0%, 0%, .1);
	--color--blk--05-percent: hsl(0, 0%, 0%, .05);
	--color--blk--025-percent: hsl(0, 0%, 0%, .025);
	/*GREYS*/
	--color--grey--50-percent: hsl(0, 0%, 50%, .5);
	/*COLORS*/
	--color--tag: hsl(207, 80%, 49%);
	--color--tag--hover: hsl(207, 80%, 59%);
	--color--tag--hover--50: hsl(207, 80%, 59%, .5);
	/*CONTRAST*/
	--color--contrast: hsl(0, 0%, 0%);

	/*backgrounds*/
	--bg--transparent: transparent;
	--bg--active--blue: hsl(207, 80%, 49%);
	--bg--main-background: white;
	--bg--main-background-header: hsl(228, 0%, 100%, .5);
	--editBoxBG: hsl(0, 0%, 94%);

	/*SEARCH*/
	--search--bg-clr: hsl(218, 5%, 14%);

	/*FOOTER*/
	--footer--bg-clr: hsl(228, 3%, 17%, .2);
	--footer--bg-clr-Hover: var(--footer--bg-clr);
	--footer--brd-clr: hsl(228, 3%, 40%, .5);
	--footer--brd-clr-Hover: var(--footer--brd-clr);
	--footer--txt-clr: hsl(228, 0%, 90%);
	--footer--txt-clr-Hover: var(--footer--txt-clr)/*border-colors*/
	--border-color--75-percent: hsl(0, 0%, 75%);
	--editBoxBrdClr: hsl(0, 0%, 75%);
	/*highlights*/
	--highlightBrdClr: hsl(0, 0%, 0%, .05);

}

/*TESTING**/
article [class*="about"],
article [class*="about"] *,
article [class*="about"] [class*="title"],
article [class*="about"] [class*="description"] [class*="note"],
article [class*="about"] [class*="description"] [class*="excerpt"],
article [class*="about"] [class*="description"] [class*="highlight"],
article [class*="about"] [class*="description"] [class*="highlight"] [class*="text"],
article [class*="about"] [class*="description"] [class*="tags"],
article [class*="about"] [class*="info"] {
	outline: var(--tstbrdw) solid red !important;
	box-shadow: inset  0 0 0 var(--tstbrdw) pink !important;
}
#react [class*="about"] [class*="note"] p,
#react [class*="about"] [class*="note"] ul li,
#react [class*="about"] [class*="note"] ol li,
#react [class*="about"] [class*="note"] ul,
#react [class*="about"] [class*="note"] ol,
#react [class*="about"] [class*="note"] blockquote,
#react [class*="about"] [class*="note"] pre {
	box-shadow: 0 0 0 var(--tstbrdw) pink;
}
article [class*="about"] [class*="description"] [class*="highlight"] [class*="text"] {
	border: var(--tstbrdw) solid green
}


/********
*********
*********
MAIN APP
*********
*********
*********/

*{
		box-sizing: border-box;
}

#react{
		overflow: hidden;
}

/****
OVERRIDES
*****/
[class*="upgrade"]{
		display: none;
}
/********
*********
*********
BACKGROUNDS
*********
*********
*********/
.svMain,
.header-Tqac[data-fancy=true],
.header-Tqac[data-solid=true],
.footer-jiX_,
.tabs-WJR9,
.svReader {
	background: var(--bg--main-background);
}


/********
*********
*********
TOP HEADER
*********
*********
*********/
/*TOP HEADER*/
.header-Tqac.svMainHeader {
	width: 100%;
	-webkit-backdrop-filter: blur(20px);
	position: sticky;
	top: 0;
}

/*SECTION HEADERS*/
.header-Tqac.header-BQ_V {
	width: 100%;
	-webkit-backdrop-filter: blur(20px);
}

/*MAIN AREA*/
.bookmarks-hMDW > .item-K3tx:first-child .scroll-IT9j>.masonry-Z6Qr {
	margin-top: 60px;
}


/********
*********
*********
NORMAL LAYOUT
*********
*********
*********/
#react main [role="listitem"]{
		background: var(--bg--main-background) ;
}
/********
*********
*********
MASONRY / WATERFALL
*********
*********
*********/
/*GRID GAPS*/
/*Padding - Above all bookmarks*/
.masonry-Z6Qr .item-K3tx {
	margin-top: 10px !important;
}


/*Border - Light Theme - Around Bookmarks*/
.masonry-Z6Qr .element-DxJD {
	border: 1px solid var(--color--blk--20-percent);
	border-radius: 5px !important;
}

/*Border - Dark Theme - Around Bookmarks*/
[data-theme="night"] .masonry-Z6Qr .element-DxJD {
	border: 1px solid var(--color--blk--100-percent);
	box-shadow: 0 0 0 0.5px black;
}

/*Background - Dark Theme - About Section*/
[data-theme="night"] .masonry-Z6Qr .about-X3Q4 {
	background: var(--color--blk--10-percent);
}

#react [class*="superLink"] {
	box-shadow: none !important;
}


/*GRID*/
#react .masonry-Z6Qr main{
		grid-auto-rows: unset !important;
}
@media (max-width:700px){
.masonry-Z6Qr main {
		padding-left: 5px;
		padding-right:5px;
}
		}

/********
*********
*********
CARDS
*********
*********
*********/

:root {
		--aboutPadLR:10px;
		--descriptionGap:8px;
		--titleGap:6px;
}

/*CARD > CONTAINER*/
.masonry-Z6Qr .item-K3tx{
		position: relative !important;
		display: inline !important;
		outline-offset: 0px;
		overflow: hidden;
		margin: unset !important
}

/********
*********
*********
CARD - COLORS
*********
*********
*********/
#react [class*="masonry"] [role="listitem"],
#react [class*="grid-"] [role="listitem"]{
		background: var(--gridbookmarkBgClr) ;
		border: 1px solid var(--gridbookmarkBrdClr) !important;
		box-shadow: none;
}


/********
*********
*********
CARD - COLORS - SELECTED
*********
*********
*********/
#react  [role="listitem"].checked-JJLX{
		--gridbookmarkBgClr:var(--gridbookmarkBgClr-Selected) !important;
		--gridbookmarkBrdClr:var(--gridbookmarkBrdClr-Selected)
}
/********
*********
*********
CARD - COLORS - RIGHT CLICKED
*********
*********
*********/
#react [class*="masonry"] [role="listitem"]:focus-within:not(.selectModeEnabled-RiCw){
		--gridbookmarkBgClr:var(--gridbookmarkBgClr-RightClick) !important;
		--gridbookmarkBrdClr:var(--gridbookmarkBrdClr-RightClick);
		--primary-text-color:var(--gridbookmarkTxtClrSecondary-RightClick);
		--secondary-text-color:var(--gridbookmarkTxtClrSecondary-RightClick);
		--color--tag:var(--gridbookmarkTxtClrSecondary-RightClick);
		--color--tag--hover--50:var(--gridbookmarkTxtClrSecondary-RightClick);
		color:var(--gridbookmarkTxtClrPrimary-RightClick)
		
}

/*CARD > CONTAINER > ELEMENT CONTAINER*/
#react [class*="masonry"] .about-X3Q4{
		background:var(--aboutBgClr) !important;
		background:transparent !important;
		padding:0px !important;
		row-gap: var(--descriptionGap) !important;
		bottom: 0;
		left: 0;
		right:0;
}
#react [class*="masonry"] .about-X3Q4,
#react [class*="grid"] .about-X3Q4 {
		padding-bottom: calc(var(--aboutPadLR) * 1) !important

}
#react [class*="grid"] .about-X3Q4{
		padding: 0px
}

/*CARD > ELEMENTS > PADDING*/

#react  [class*="about"] > div{
		padding-left:var(--aboutPadLR) !important;
		padding-right:var(--aboutPadLR) !important;
		margin: 0px;
}
/*TITLE*/

#react  [class*="mason"] [class*="about"] > [class*="title"],
#react  [class*="grid"] [class*="about"] > [class*="title"]{
		font-size: 1.1em;
		line-height: 1.3;
		margin-top:calc(var(--aboutPadLR) * .75) !important;
}

#react [class*="hide-title"] [class*="about"] [class*="title"]{
		margin-top: 0px !important;
		display: none !important;
		height:0px !important;
		overflow: hidden !important;
}
[class*="hide-title"] [class*="about"] [class*="title"] + div{
		margin-top:calc(var(--aboutPadLR) * 1) !important;
}

/********
*********
*********
NOTE FORMATTING
*********
*********
*********/

:root {
	--noteMargTopBtm:.25em;
	--noteLineHeight:1.26;
}

#react [class*="about"] [class*="note"] > ul:first-child,
#react [class*="about"] [class*="note"] > ol:first-child,
#react [class*="about"] [class*="note"] > p:first-child,
#react [class*="about"] [class*="note"] > pre:first-child,
#react [class*="about"] [class*="note"] > blockquote:first-child{
		margin-top: 0px !important;
}
#react [class*="about"] [class*="note"] > ul:last-child,
#react [class*="about"] [class*="note"] > ol:last-child,
#react [class*="about"] [class*="note"] > p:last-child,
#react [class*="about"] [class*="note"] > pre:last-child,
#react [class*="about"] [class*="note"] > blockquote:last-child{
		margin-bottom: 0px !important;
}

#react [class*="about"] [class*="note"] p,
#react [class*="about"] [class*="note"] ul li,
#react [class*="about"] [class*="note"] ol li,
#react [class*="about"] [class*="note"] blockquote,
#react [class*="about"] [class*="note"] pre{
		margin-top: var(--noteMargTopBtm) !important;
		margin-bottom: var(--noteMargTopBtm)  !important;
		line-height:var(--noteLineHeight);
}

/*code*/
#react [class*="about"] [class*="note"] code {
		font-size: calc(var(--primary-font-size) - 2px);
		border-radius: 2px;
}
/*code block*/
#react [class*="about"] [class*="note"] pre,
#react [class*="about"] [class*="note"] code:not(pre code){
		box-shadow: inset 0 0 0 1px hsla(0,0%,100%,0.15) !important;
		background: hsla(0,0%,50%,0.1) !important;
		border-radius: 3px !important;
		padding: 1px 3px;
	line-height: inherit;
}

/*lists*/
#react [class*="about"] [class*="note"] ul{
		gap: 0px;
}
#react [class*="about"] [class*="note"] ul li{
		position: relative;
		display: block;
}
#react [class*="about"] [class*="note"] ul li:before{
		content: "";
		position: absolute;
		display: block;
		left: calc(var(--aboutPadLR) * -1.2);
		top: 10px;
		width:7px;
		height:2px;
		background:var(--color--contrast);
		opacity: 0.5;
		border-radius: 10px;
		z-index: 1;
	background: var(--note-text-color);
}
#react [class*="about"] [class*="note"] > ul:first-child li:first-child,
#react [class*="about"] [class*="note"] > ol:first-child > li:first-child{
		margin-top: 0px !important;
}
#react [class*="about"] [class*="note"] > ul:last-child li:last-child,
#react [class*="about"] [class*="note"] > ol:last-child > li:last-child{
		margin-bottom: 0px !important;
}
:root {
	--quotebrdrw:3px
}
/*blockquotes*/
#react [class*="about"] [class*="note"] blockquote {
	border-left: var(--quotebrdrw) solid hsla(0,0%,0%,0.001);
	padding-left: calc(.8em - var(--quotebrdrw));

	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
		position: relative;

}
#react [class*="about"] [class*="note"] blockquote:before{
		content:"";
		position: absolute;
		background: hsla(0,0%,100%,.7);
		width: var(--quotebrdrw);
		top: 2px;
		bottom: 2px;
		left: calc(var(--quotebrdrw) * -1);
		border-radius: 100px;
}
.about-X3Q4,
.about-X3Q4 .description-G1ZJ{
		row-gap:  var(--descriptionGap) !important;
		display: flex;
		flex-direction: column;
}
main [class*="list"],
main [class*="simple-"]{
		--descriptionGap:2px;
}

.about-X3Q4 > div,
.about-X3Q4 .description-G1ZJ > div{
		box-shadow: inset 0 0 0 0px;
}
[class*="highlight-"] {
		margin: 0px !important; 
}

/*DESCRIPTION - REORDER ELEMENTS*/
.about-X3Q4 .description-G1ZJ > div{
		order: 4;
}
.about-X3Q4 .description-G1ZJ [class*="excerpt"]{
		order: 1;
}
.about-X3Q4 .description-G1ZJ [class*="note"]{
		order: 2;
}

#react [class*="about"] > div.info-drai{
		width:100%;
		align-items: center;
}
#react main [class*="list"] [class*="about"] > div.info-drai,
#react main [class*="simple-"] [class*="about"] > div.info-drai {
}

 .info-drai >section {
		font-size: 12px;
				align-items: center;
		display: flex;
		 opacity: .8
}
#react [class*="about"] > div.info-drai img {
		transform: scale(.8);
}


/*CARD - ACTIVE*/
.element-DxJD.active-nOan {
	background: var(--bg--active--blue) !important;
}

.element-DxJD.active-nOan .title-yyxF {
	color: var(--color--wht--100-percent) !important;
}

.element-DxJD.active-nOan .description-G1ZJ {
	color: var(--color--wht--80-percent) !important;
}

.element-DxJD.active-nOan .info-drai,
.element-DxJD.active-nOan .info-drai * {
	color: var(--color--wht--60-percent) !important;

}
.info-drai{
 z-index: 933343334 !important;
}
/********
*********
*********
HIDE SHOW OPTIONS
*********
*********
*********/
#react [class*="masonry"].hide-tags [class*="tags"]{
		display: none;
}


/********
*********
*********
! HIGHLIGHTS
*********
*********
*********/
:root {
		--highlightPadTopBtm:3px;
}


.highlights-gNLm .text-jxj0:before {
	width: 5px;
	left: -15px;
		height: 15px;
		width: 15px;
		border-radius: 0px;
}

[data-theme="day"] .highlights-gNLm .text-jxj0:before {
	box-shadow: 0 0 0 1px var(--color--blk--20-percent);
}

[data-theme="night"] .highlights-gNLm .text-jxj0:before {
	box-shadow: 0 0 0 1px var(--color--blk--20-percent);
}

[class*="description"] [class*="highlights"] {
		display: flex;
		flex-direction: column;
		width: 100%;
		row-gap: calc(var(--descriptionGap) * .5);
}
[class*="hide-highlight"] [class*="description"] [class*="highlights"]{
		display: none !important;
}
/*SHOW ALL LINES OF HIGHLIGHT*/
.highlights-EOy7 [class*="highlight-"] {
	-webkit-line-clamp: unset;
}

/*HIGHLIGHTS CONAINER*/
.highlights-gNLm {
	box-shadow: none;
}
:root {
		--highlightBrdRad:5px;
}
/*HIGHLIGHT - LIGHT-THEME*/
[class*="description"] [class*="highlights"] [class*="highlight"]{
	background: transparent !important;
	border-radius: var(--highlightBrdRad);
	padding-top: var(--highlightPadTopBtm);
	padding-bottom: var(--highlightPadTopBtm);
	padding-right: 4px;
	border: 1px solid hsla(0,0%,0%,0.5) !important;
	overflow: hidden;
}
[class*="description"] [class*="highlights"] [class*="highlight"]:before{
		
}

/*HIGHLIGHT - DARK-THEME*/
[data-theme="night"] [class*="highlights"] [class*="highlight"] {
	background: var(--highlightBgClr) !important;
	border-color: var(--color--wht--10-percent);
}

/*RED*/
[data-theme="night"] [class*="highlight-"][style*="--highlight-color: red"] {
	background: hsl(0, 100%, 60%, 0.33) !important
}

/*Yello*/
[data-theme="night"] [class*="highlight-"][style*="--highlight-color: yellow"] {
	background: hsla(60, 50%, 60%, 0.15) !important;
}

/*Blue*/
[data-theme="night"] [class*="highlight-"][style*="--highlight-color: blue"] {
	background: hsl(222, 100%, 60.3%, 0.19) !important;
}

/*Green*/
[data-theme="night"] [class*="highlight-"][style*="--highlight-color: green"] {
	background: hsl(110, 100%, 50%, 0.23) !important
}


/*HIGHLIGHT - ACTIVE*/
.element-DxJD.active-nOan [class*="highlight-"] {
	border-color: var(--color--wht--10-percent);
	background: var(--color--wht--10-percent);
}

/*HIGHLIGHT BORDER*/
[class*="description"] [class*="highlights"] [class*="highlight"]:before{
		border-right:0px;
		background: var(--highlightBgClr);
		left: 3px;
		
}

[class*="description"] [class*="highlights"] [class*="highlight"][style*="--highlight-color: yellow;"]:before{
		background: var(--highlight-color, #fe0);
		background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .3) 0, hsla(0, 0%, 100%, .3));
}


[class*="description"] [class*="highlights"] [class*="highlight"][style*="--highlight-color: red;"]:before{
			 background: var(--highlight-color, #fe0);
		background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .3) 0, hsla(0, 0%, 100%, .3));
}

[class*="description"] [class*="highlights"] [class*="highlight"][style*="--highlight-color: green;"]:before{
		background: var(--highlight-color, #fe0);
		background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .3) 0, hsla(0, 0%, 100%, .3));
}

[class*="description"] [class*="highlights"] [class*="highlight"][style*="--highlight-color: blue;"]:before{
		background: var(--highlight-color, #fe0);
		background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .3) 0, hsla(0, 0%, 100%, .3));
}

.text-jxj0:before{
		filter: saturate(2);
}

/********
*********
*********
HIGHLIGHTS IN LIST & HEADLINE VIEW
*********
*********
*********/
[class*="list"] [class*="description"] [class*="highlights"],
[class*="simple-"] [class*="description"] [class*="highlights"]{
		gap: 4px;
}
/*
[class*="list"] [class*="description"] [class*="highlights"] [class*="highlight"],
[class*="simple-"] [class*="description"] [class*="highlights"] [class*="highlight"]{
		background: hsla(0,0%,100%,.0451) !important;
		border-bottom-width: 0px;
		border: none;
}*/
[class*="list"] [class*="description"] [class*="highlights"] [class*="highlight"]:before,
[class*="simple-"] [class*="description"] [class*="highlights"] [class*="highlight"]:before{
		left: 3px;
}

[class*="list"] [class*="description"] [class*="highlights"] [class*="highlight"]:first-child,
[class*="simple-"] [class*="description"] [class*="highlights"] [class*="highlight"]:first-child{
		border-top-width: 1px;
		border-top-left-radius: var(--highlightBrdRad);
		border-top-right-radius: var(--highlightBrdRad);
}
[class*="list"] [class*="description"] [class*="highlights"] [class*="highlight"]:last-child,
[class*="simple-"] [class*="description"] [class*="highlights"] [class*="highlight"]:last-child{
		border-bottom-left-radius: var(--highlightBrdRad);
		border-bottom-right-radius: var(--highlightBrdRad);
		border-bottom-width: 1px;
}
/********
*********
*********
HIGHLIGHT WRAPPER
*********
*********
*********/
:root {
		--highlightFontSize:14.5px;
		--highlightLineHeight:20px;
		--highlightMargTopBtm:10px;
}
.items-wzRe {
	padding-right: 10px !important;
	padding-left: 10px;
	margin: unset;
}

.item-Dg4A {
	position: relative;
	width: 100%;
	max-width: 100%;
	gap: 0px;
	border: 0px !important;
	box-shadow: 0px !important;
	margin-top: 10px;
	border-radius: 5px;
}

.highlights-gNLm> :not(:first-child) {
	box-shadow: none;
}


/*HIGHLIGHT WRAPPER*/
[data-theme="day"] .highlights-gNLm .item-Dg4A {
	background: var(--color--wht--100-percent);
	border: 1px solid rgba(0, 0, 0, .1) !important;
}

[data-theme="night"] .highlights-gNLm .item-Dg4A {
	background: var(--color--wht--10-percent);
		background: transparent;
	border-bottom: 1px solid hsla(0, 0%, 50%, .2) !Important;
		border-top: unset !important;
		border-radius: unset !important;
		margin-top: unset;
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left:15px;
		
}

.highlights-gNLm .item-Dg4A *:is(.text-jxj0){
		opacity: .7
}
.highlights-gNLm .item-Dg4A .text-jxj0,
.highlights-gNLm .item-Dg4A textarea:not(:empty){
		color: hsl(240, 2%, 90%);
		-webkit-text-fill-color: #e5e5e6;
		font-size: var(--highlightFontSize);
		line-height: var(--highlightLineHeight);
		margin-bottom: 10px;
}

/**NOTE*/

.highlights-gNLm .item-Dg4A textarea:not(:empty){
		font-weight: 550;
		margin-bottom: 10px;
		
}

[data-theme="night"] .highlights-gNLm .item-Dg4A:focus-within,
[data-theme="night"] .highlights-gNLm .item-Dg4A:focus,
[data-theme="night"] .highlights-gNLm .item-Dg4A:active{
		background: hsla(0,0%,100%,.02);
}

/********
*********
*********
HIGHLIGHT
*********
*********
*********/
.highlights-gNLm .item-Dg4A>div[class*="text"] {
	padding-left: 10px;
	margin-left: 10px;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif !important;
	-webkit-font-smoothing: subpixel-antialiased !important;
	font-style: normal;
		margin-bottom: 0px;
}

/********
*********
*********
ANNOTATIONS
*********
*********
*********/
.highlights-gNLm .item-Dg4A>.footer-N45X {
	padding-bottom: 0px;
}

.highlights-gNLm .item-Dg4A>.footer-N45X Textarea {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid hsla(0,0%,100%,0.05);
	margin-left: 20px;
	position: relative;
}

.highlights-gNLm .item-Dg4A>.footer-N45X Textarea:empty {
	border-top: 0px !important;
	margin-top: 5px;
	padding-top: 0px;
}

/*BUTTONS*/
.highlights-gNLm .item-Dg4A>.footer-N45X .buttons-gRcy {
	position: absolute;
	bottom: 0.4rem;
	right: 0.4rem;
	gap: 0;
	z-index: 3;
}

.created-JMGD {
	z-index: -1;
	white-space: nowrap;
}

/*COLOR BUTTON WRAPPER*/
/*MAKE ACTIVE COLOR VISIBLE*/
.highlights-gNLm .item-Dg4A>.footer-N45X .buttons-gRcy .colors-K33q {
	bottom: 0;
	cursor: pointer !important;
}

.highlights-gNLm .item-Dg4A>.footer-N45X .buttons-gRcy .colors-K33q .button-dQdc[data-active="true"] {
	order: 9;
}

.highlights-gNLm .item-Dg4A>.footer-N45X .buttons-gRcy .button-dQdc {
	padding-left: 4px;
	padding-right: 4px;
}

/*DELETE BUTTON*/
.highlights-gNLm .item-Dg4A>.footer-N45X .buttons-gRcy .colors-K33q .button-dQdc[title="Remove highlights"] {}

/********
*********
*********
IN PAGE HIGHLIGHTS
*********
*********
*********/
html mark[data-rdhid] {
	background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) !important;
}

html mark[data-rdhid][style*="green"] {
	text-decoration-color: hsl(121, 100%, 25%, .3) !important;
		text-decoration: underline;
	text-decoration-color: inherit;
	text-underline-offset: 3px;
	text-decoration-thickness: 2.5px;
}

/********
*********
*********
TAGS
*********
*********
*********/
:root{
		--tagBrdWidth:1px;
		--tagBrdRad:3.5px;
}
/*HIDE #*/
article [class*="tags"] > a > span[class*="icon"] {
	display: none;
}

article [class*="tags"]  {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 3px;
		column-gap: 3px;
}


[class*="tags"] > a {
	color: var(--note-text-color-alpha);
	font-size: .3rem;
	line-height: 1 !important;
	padding: 1.5px 3px 1.5px 3px;
	border-radius:var(--tagBrdRad);
	box-shadow: none;
		border: var(--tagBrdWidth) solid var(--color--tag--hover--50);
	text-decoration: none !important;
		margin: 0px;
		transition: .05s;
}
[data-theme="day"] .active-nOan [class*="tags"] > a {
	color: var(--color--wht--70-percent);
	box-shadow: inset 0 0 0 1px var(--color--wht--30-percent);
}

[class*="tags"] > a:hover {
		border-color: var(--color--tagBrd--hover);
	color: var(--color--tag--hover);
	background: var(--color--tag--hover--50);
		--tagBrdWidth:1.2px;
		--tagBrdRad:3px;
		z-index: 1;
}




/*****
*****
***** 
SELECT BUTTON
*****
*****
******/
/*NORMAL STATE*/
.header-Tqac.header-BQ_V+.scroll-IT9j .element-DxJD .select-BIuO,
.header-Tqac.header-BQ_V+.scroll-IT9j .element-DxJD .select-BIuO * {
	cursor: pointer !important;
}

.header-Tqac.header-BQ_V+.scroll-IT9j .element-DxJD .select-BIuO {
	opacity: 0;
	transition: .1s;
}

/*NORMAL STATE - HOVERING*/
.header-Tqac.header-BQ_V+.scroll-IT9j .element-DxJD:hover .select-BIuO {
	opacity: 0;
}

.header-Tqac.header-BQ_V+.scroll-IT9j .element-DxJD:hover .select-BIuO:hover {
	opacity: 1;
}

/*WHEN SELECTING*/
.header-Tqac+.scroll-IT9j .element-DxJD .select-BIuO {
	display: flex;
	opacity: 1;
	transition: .1s;
	box-shadow: inset 0 0 0 1px hsl(218, 0%, 51%);
	top: 5px;
	left: 5px;
	border-radius: 4px;
	height: 18px !important;
	width: 18px !important;
}

/*WHEN SELECTING - CHECKED/SELECTED*/
/*NEW CHECKBOX*/
.header-Tqac+.scroll-IT9j .element-DxJD.checked-JJLX .select-BIuO {
	background: hsl(215, 100%, 51%);
}

.header-Tqac+.scroll-IT9j .element-DxJD.checked-JJLX .select-BIuO:before {
	transform: scale(.5);
}

.select-BIuO:before {
	content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.7448 7.91405C26.9424 7.11166 25.6415 7.11166 24.8391 7.91404L13.48 19.2732C13.2421 19.511 12.8566 19.511 12.6187 19.2732L7.70648 14.3609C6.90381 13.5583 5.60243 13.5583 4.79976 14.3609C3.99709 15.1636 3.99709 16.465 4.79976 17.2677L11.5942 24.0622C11.8884 24.3563 12.2495 24.5427 12.6285 24.6212C13.284 24.7576 13.9931 24.5714 14.5019 24.0627L27.7448 10.8197C28.5472 10.0174 28.5472 8.71643 27.7448 7.91405Z" fill="%23ffffff"/></svg>');
	display: block;
	width: 33px;
	height: 33px;
	position: absolute;
	z-index: 1;
	transform: scale(0);
	transition: 350ms cubic-bezier(.25, 2.9, .11, .4);
}

/*Whole bookmark */
.header-Tqac+.scroll-IT9j .element-DxJD.checked-JJLX {
	border: none;
	box-shadow: 0 0 0 0.5px hsl(218, 61%, 51%);
}

/*overlay*/
.element-DxJD.checked-JJLX .permalink-Wc76,
.element-DxJD.checked-JJLX:hover .permalink-Wc76 {
	background-color: hsla(211, 100%, 50%, 0.2) !important;
}

/*BUTTON - CHECKBOX*/
.select-BIuO input {
	opacity: 0;
}


/*HIDE SELECT UNLESS BEING SELECTED*/

.header-Tqac[data-solid="true"]{
		
}

/********
*********
*********
ACTIONS MENU
*********
*********
*********/

:root{
		--actionBtnPosition:.3rem;
		--actionBtnBrdRad:5px;
}
#react main [role="listitem"] [class*="actions"]{
		transition: 190ms cubic-bezier(.7, 1.5, 0, .95);
		display: grid;
		transform: scale(0.9);
		transform-origin: right top;
		top: var(--actionBtnPosition);
		Right: var(--actionBtnPosition);
}

#react  main [role="listitem"]:hover .actions-iba3 {
		transform: scale(1);
		opacity: 1;

}

/********
*********
*********
ACTIONS MENU - Buttons
*********
*********
*********/


#react main [role="listitem"] [class*="actions"] > a,
#react main [role="listitem"] [class*="actions"] > [role="button"]{
		border-radius: var(--actionBtnBrdRad);
		transition: 140ms cubic-bezier(.7, 1.5, 0, .95);
		background: var(--actionBtnBgClr) !important;
		box-shadow: inset 0 0 0 .75px var(--actionBtnBrdClr);
		color: var(--actionBtnClr);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		opacity: 0;
		
}
#react main [role="listitem"]:hover .actions-iba3 > a,
#react main [role="listitem"]:hover .actions-iba3 > [role="button"]{
		opacity: 1;
}

#react main [role="listitem"] [class*="actions"] > a:hover,
#react main [role="listitem"] [class*="actions"] > [role="button"]:hover {
		background: var(--actionBtnBgClr-Hover) !important;
		--actionBgClr:red !important;
		--actionBtnBrdClr:var(--actionBtnBrdClr-Hover);
		--actionBtnClr:var(--actionBtnClr-Hover)
}
/********
*********
*********
COLORS RIGHT CLICK
*********
*********
*********/
.element-DxJD:focus-within:not(.selectModeEnabled-RiCw){
	background: var(--bg--active--blue) !important;
}
.element-DxJD:focus-within:not(.selectModeEnabled-RiCw),
.element-DxJD:focus-within:not(.selectModeEnabled-RiCw) [class*="note"]{
		color:white !important;
	
}
.element-DxJD:focus-within:not(.selectModeEnabled-RiCw) [class*="note"] a {
	color: white;
	text-decoration-color: white;
	text-decoration: underline;
}

.element-DxJD:focus-within:not(.selectModeEnabled-RiCw) [class*="note"] code:not(pre code),
.element-DxJD:focus-within:not(.selectModeEnabled-RiCw) [class*="note"] pre {
	background: hsla(0,0%,100%,0.1) !important;
	box-shadow: inset 0 0 0 1px hsla(0,0%,50%,0.3) !important
}
/*POPUP MENU*/
/*MAKE IMAGE STAND OUT*/
article .actions-wrq5 a[data-button="current_tab"][href*="api.raindrop.io"]~a[data-button="preview"],
article .actions-wrq5 a[data-button="current_tab"][href*="jpg"]~a[data-button="preview"],
article .actions-wrq5 a[data-button="current_tab"][href*="jpeg"]~a[data-button="preview"],
article .actions-wrq5 a[data-button="current_tab"][href*="png"]~a[data-button="preview"],
article .actions-wrq5 a[data-button="current_tab"][href*="mp4"]~a[data-button="preview"],
article .actions-wrq5 a[data-button="current_tab"][href*="gif"]~a[data-button="preview"] {
	background: var(--color--tag--hover) !important;
	box-shadow: 0 0 0 1px var(--color--tag--hover--50) !important;
	z-index: 3939393;
	cursor: pointer;
	transition: 1s;
}


/*HOVER BACKGROUND*/
article:hover [class*="permalink"]{
		background: hsla(200, 0%, 65%, .00) !important;
				backdrop-filter: unset;
}
#react article:hover{
		--gridbookmarkBgClr:var(--gridbookmarkBgClr-Hover);
}
/*HOVER BACKGROUND*/
article:hover [class*="permalink"][href*="api.raindrop.io"],
article:hover [class*="permalink"][href*="jpg"],
article:hover [class*="permalink"][href*="jpeg"],
article:hover [class*="permalink"][href*="png"],
article:hover [class*="permalink"][href*="mp4"],
article:hover [class*="permalink"][href*="gif"]{
		background: hsla(236, 100%, 66%, 0.3) !important;
		box-shadow: inset 0 0 0 .25px hsla(236, 100%, 86%, 0.4) !important;
		backdrop-filter: contrast(1.05)brightness(1.2);
}

/*ONLY CLICK PREVIEW
article .actions-wrq5 a[data-button="current_tab"][href*="api.raindrop.io"]~a[data-button="preview"]:before,
article .actions-wrq5 a[data-button="current_tab"][href*="jpg"]~a[data-button="preview"]:before,
article .actions-wrq5 a[data-button="current_tab"][href*="jpeg"]~a[data-button="preview"]:before,
article .actions-wrq5 a[data-button="current_tab"][href*="png"]~a[data-button="preview"]:before,
article .actions-wrq5 a[data-button="current_tab"][href*="mp4"]~a[data-button="preview"]:before,
article .actions-wrq5 a[data-button="current_tab"][href*="gif"]~a[data-button="preview"]:before {
}*/

article .actions-wrq5 a[data-button="current_tab"][href*="api.raindrop.io"]~a[data-button="preview"] svg,
article .actions-wrq5 a[data-button="current_tab"][href*="jpg"]~a[data-button="preview"] svg,
article .actions-wrq5 a[data-button="current_tab"][href*="jpeg"]~a[data-button="preview"] svg,
article .actions-wrq5 a[data-button="current_tab"][href*="png"]~a[data-button="preview"],
article .actions-wrq5 a[data-button="current_tab"][href*="mp4"]~a[data-button="preview"],
article .actions-wrq5 a[data-button="current_tab"][href*="gif"]~a[data-button="preview"] {
	fill: var(--color--contrast) !Important
}

/*TAGS ABOVE LINK ON HOVER*/
[class*="about"][class*="description"]:hover  [class*="tags"]{
	z-index: 99999999999;
}


/*PERMANENT COPY - IMAGES*/
body[style*="margin: 0px"] img {
	display: block;
	width: 100%;
	max-width: 100%;
}

body img {
	max-width: 100%;
}



/********
*********
*********
TURN PREVIEW INTO Modal
*********
*********
*********/
:root{
		--modalWidth:970px;
		--modalMargLeftRight:50px;
		--modalHeight:980px;
		--modalMargTopBtm:30px;
		--modalBrdRad:10px;
}

/*MODAL CONTAINER*/

/*TAG EDITOR*/
/*THumbnail Container*/
body .r-JslL .svMain {
	max-width: 100% !important;
}

/*Thumbnail Container - On Fullscreen*/
.r-JslL.f-fEyX .svMain {
	visibility: visible !important;
}


/*RIGHT PREVIEW COLUMN - INTO MODAL*/
body aside.svReader {
		
	position: fixed !important;
	top: 00px !important;
	bottom: 10px !important;
	left: 0 !important;
	right: 0 !important;
	z-index: 1000 !important;
	height: var(--modalHeight) !important;
	max-height: calc(100vh - var(--modalMargTopBtm) * .3) !important;
		min-height: unset !important;
	border-radius: var(--modalBrdRad) !important;
	border: 1px solid;
	margin: 0 auto !important;
	transition: .2s ease-in-out !important;
	contain: unset !important;
	overflow: unset !important;
	border: none !important;
		align-self: center;
		margin-top: calc(var(--modalMargTopBtm) * .15) !important;
		margin-bottom:calc(var(--modalMargTopBtm) * .15) !important;
		
}


/*READER MODAL BACKGROUND BLUR*/
body aside.svReader:before {
	content: "";
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	position: fixed;
	background: hsl(0, 0%, 0%, .5);
		z-index: 0
}

/*
body aside.svReader:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 101010101;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border:1px solid rgba(125,125,125,.5) !Important;
	border-radius: 6px;
}*/

/*RIGHT PREVIEW COLUMN - NORMAL WIDTH*/
body aside.svReader{
	max-width: calc(100vw - var(--modalMargLeftRight))!important;
		height: calc(100vh - 0px) !important;
	width: var(--modalWidth) !important;

}

/*RIGHT PREVIEW COLUMN - FULL WIDTH*/
body aside.svReader[data-fullscreen="true"] {
		--modalWidth:100vw !important;
}

/*RIGHT PREVIEW COLUMN - HEADER */
body aside.svReader .header-Tqac.svReaderHeader {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid hsl(0,0%,19%);
	border-bottom: none !important;
		column-gap: var(--modalNavBtnMargRight);
		padding-left: 10px;
		padding-right: 10px;
		
}

body aside.svReader .header-Tqac,
body aside.svReader .header-Tqac>div,
body aside.svReader .header-Tqac>a {
	z-index: 1000 !important;
}

html[data-modal-showing="true"] .modal-st0e,
html[data-modal-showing="true"] .modal-st0e,
html[data-popover-showing="true"] .tags-rX_r,
html[data-popover-showing="true"] .tags-rX_r *,
html[data-popover-showing="true"] listbox,
html[data-popover-showing="true"] listbox * {
	z-index: 1001 !important;
}
/*******
MODAL - NAV -  BUTTONS
********/
:root{
		--modalNavBtnWidth:30px;
		--modalNavBtnHeight:30px;
		--modalNavBtnMargRight:10px;
}
body aside.svReader .header-Tqac.svReaderHeader > [role="button"]{
		min-width:var(--modalNavBtnWidth);
		min-height: var(--modalNavBtnHeight);
		margin-right: 0px;
		width: unset;
}
body aside.svReader .header-Tqac.svReaderHeader > [role="button"].show-on-small-body{
		min-width:calc(var(--modalNavBtnWidth) * 3)
}



/*CLOSE BUTTON**/
body aside.svReader .header-Tqac>a[href*="my/"] {
	order: 100;
	margin-right: 0px !important;
}





body aside.svReader .header-Tqac>a[href*="https://"] {
	z-index: 1000 !Important;
}

/*RIGHT PREVIEW COLUMN - HEADER - FULLSCREEN BUTTON*/
body aside.svReader .header-Tqac>div[title="Fullscreen"] {
	order: 99;
		margin-right:calc(var(--modalNavBtnWidth) + var(--modalNavBtnMargRight)) !important;
}

body aside.svReader .header-Tqac>div[title="Fullscreen"]>span {
	display: flex;
	justify-content: center;
	align-items: center;
}

body aside.svReader .header-Tqac>div[title="Fullscreen"]>span svg {
	min-width: 24px !Important;
	min-height: 24px !important;
}


.content-_qZD {
	background: var(--bg--main-background);
	border: 1px solid var(--color--blk--50-percent);
	border-top: none;
	border-bottom: none;
}

.wrap-pUJc,
.footer-xf6r {
	background: var(--bg--main-background);
	border: 1px solid var(--color--blk--50-percent);
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/*RIGHT PREVIEW COLUMN - CONTENT SECTION */
.content-_qZD,
.wrap-pUJc,
.items-wzRe,
.items-wzRe,
.footer-xf6r {
	z-index: 1000;
}


/*MOBILE IFRAME*/
aside.svReader .content-_qZD {}

aside.svReader iframe {
	margin: 0 auto;
	width: 100% !important;
}

/*IMG INSIDE IFRAME*/
body[style*="margin: 0 auto"] img[src*="s3.eu-central-1.amazonaws.com/up.raindrop.io"] {
	width: 100%;
}





/************
*************
*************
*************
MODAL - PUT HIGHLIGHTS ON RIGHT SIDE
*************
*************
*************
*************/
body aside.svReader {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap !important;
	justify-content: flex-start;
	height: 50px;

}

/*HEADER*/
body aside.svReader .header-Tqac {
	width: 100%;
}

/*Content*/
body aside.svReader .content-_qZD {
	max-height: 100%;
	height: calc(100% - var(--modalMargTopBtm) * 1.7);
	width: 100%;
	flex: 1 300px;
	border: unset;
}

:root {
		--highlightSidebarBgClr:hsla(0,0%,0%,.2);
		--highlightSidebarBrdClr:hsla(0,0%,100%,0.15);
		--highlightSidebarBrdRad:5px;
}

/*Highlights*/
body aside.svReader .wrap-pUJc {
	max-height: 100%;
	height: calc(100% - 50px);
	width: 32%;
	max-width: 420px;
		z-index: 990939393;
		border-top-width: 0px !important;
		box-shadow: unset !important;
		border: unset !important;
		padding: 7px;
		padding-top: 0px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
}
body aside.svReader .wrap-pUJc > .header-Tqac {
		padding-left: 27px;
		background: transparent;
		background: var(--highlightSidebarBgClr);
		backdrop-filter: blur(100px);
		display: flex;
		border-top-left-radius: var(--highlightSidebarBrdRad);
		border-top-right-radius: var(--highlightSidebarBrdRad);
				border: 1px solid var(--highlightSidebarBrdClr) !important;
		border-bottom: 0px !important;
}
body aside.svReader .wrap-pUJc  > [class*="items"] {
		padding-left: 0px;
		padding-right: 0px !important;
		overflow-y: auto;
		background: var(--highlightSidebarBgClr);
		border-bottom-left-radius: var(--highlightSidebarBrdRad);
		border-bottom-right-radius: var(--highlightSidebarBrdRad);
		border: 1px solid var(--highlightSidebarBrdClr) !important;
		
}

.footer-xf6r{
		width: 40px;
		padding:2px 7px;
		background:black !important;
		overflow:hidden;
		box-shadow: unset !important;
	background: transparent !important;
}
.footer-xf6r [role="button"] {
		transform: rotate(-90deg)translateY(-50px);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');



/************
*************
*************
*************
EDIT INPUTS
*************
*************
*************
*************/

:root {
	--editBoxPadLftRght: 5px;
	--editBoxPadTopBtm: 4px;
	--editBoxBrdRad: 4px;
	/*border*/
	--editBoxBrdClr: hsl(0, 0%, 17%);
	--editBoxBrdClrFocus: hsl(0, 0%, 20%);
	--editBoxBrdClrFocus2: hsl(0, 0%, 24%);
	/*bg*/
	--editBoxBG: hsl(0, 0%, 8%);
	--editBoxBgFocus: var(--editBoxBrdClrFocus);

}

/*EDIT container*/
:root {
		--editImageWidth:90px;
}
.layout-xiEN[data-type=grid] {
		grid-template-columns: .25fr 1fr;
}
/*EDIT IMAGE*/
.layout-xiEN[data-type=grid] picture {
		width: var(--editImageWidth);
		height: auto;
		display: block;
}
.layout-xiEN[data-type=grid] picture img{
		width: var(--editImageWidth);
		height: auto;
		aspect-ratio: auto 56 / 48;
}
/*EDIT TITLE*/
.layout-xiEN[data-type=grid] .wrap-YHOv{
		align-self: flex-end;
}
.edit-nTT_{
		width: 100% !important;
		max-width: 100%;
		max-height: 100%;
		overflow-y: auto;
		display: flex;
		align-items: flex-start;
		justify-content: center;
}
.edit-nTT_ > .form-clFe{
		max-width: 12.5rem !important;
}

.edit-nTT_>.form-clFe .wrap-eXUL {
	padding: 0px;
}

.edit-nTT_>.form-clFe .wrap-eXUL:focus,
.edit-nTT_>.form-clFe .wrap-eXUL:focus-within {
	box-shadow: none !Important;
}


.edit-nTT_ textarea,
.edit-nTT_ div[role="combobox"] .multi-K9Ag {
	transition: .08s !important;
	box-shadow:
		inset 0px 0px 0px 0px var(--editBoxBrdClr);
	border-radius: 6px !important;
	padding-top: var(--editBoxPadTopBtm) !important;
	padding-bottom: var(--editBoxPadTopBtm) !important;
	padding-left: var(--editBoxPadLftRght) !important;
	padding-right: var(--editBoxPadLftRght) !important;
		background: transparent
}
.wrap-eXUL.note-_bBo{
		
}


.edit-nTT_>.form-clFe textarea[name="excerpt"] {
	margin-top: 5px !Important;
		min-height:30px;
		padding-top:6px !important;
		padding-bottom:6px;
}

/*ON FOCUS*/

.edit-nTT_ textarea:focus-within,
.edit-nTT_ textarea:focus,
.edit-nTT_ div[role="combobox"] .multi-K9Ag:focus-within,
.edit-nTT_ div[role="combobox"] .multi-K9Ag:focus {
	--editBoxBrdClr: var(--editBoxBrdClrFocus) !important;
	--editBoxBG: var(--editBoxBgFocus)!important;
	box-shadow:
		inset 0px 0px 0px 1px var(--editBoxBrdClr);
	border-radius: var(--editBoxBrdRad);
	--editBoxBrdRad: 2px !important;

}



/*collection button*/
.edit-nTT_>.form-clFe [class*="label"]+div>.button-dQdc {
	box-shadow: 0 0 0 1px var(--editBoxBrdClr);
}

/*Tags area*/
.edit-nTT_>.form-clFe div[role="combobox"] .multi-K9Ag,
/*link area*/
.edit-nTT_>.form-clFe .wrap-eXUL textarea[name="link"] {
	border-radius: var(--editBoxBrdRad);
}


/*Link area*/
.edit-nTT_>.form-clFe .wrap-eXUL textarea[name="link"] {
	max-height: unset !Important;
	padding-bottom: 10px !Important;
	--max-rows: 10;
}

/*TEXTREA HEIGHTS*/
.edit-nTT_ textarea{
		max-height: unset !important;
}

/*TAGS*/
.edit-nTT_ [role="combobox"],
#react .edit-nTT_ [role="combobox"] > .multi-K9Ag{
	padding:unset !important;
}
/************
*************
*************
*************
PREVIEW POPUP
*************
*************
*************
*************/
.wrap-RPOy {
	z-index: 94949494 !Important;
}

/************
*************
*************
*************
SEARCH
*************
*************
*************
*************/
.form-s7Xa>div>.wrap-eXUL {
	background: var(--search--bg-clr);
	border-radius: 8px;
}
/************
*************
*************
*************
SEARCH RESULTS
*************
*************
*************
*************/

:root {
	--searchBrdW:2px;
}

.about-X3Q4 em{
		color: var(--fulltextsearchMatchClr);
	margin-left: calc(var(--searchBrdW) * -1);
	margin-right:calc(var(--searchBrdW) * -1); 
	display: inline;
	outline: var(--searchBrdW) solid yellow;
	outline-offset: -1px;
	padding-left: var(--searchBrdW);
	padding-right: var(--searchBrdW);
	border-radius: 4px;
}

/************
*************
*************
*************
FOOTER
*************
*************
*************
*************/
.footer-jiX_ {

	justify-content: center;
	z-index: 9595959595;
		background: transparent !important;
	width: auto;
	margin: 0 auto;
	right: 0;
	left: 0;

}

.footer-jiX_ [role="button"] {
	padding: 0px !important;

	color: inherit !important;
	height: 28px !important;
	padding: 5px 20px;
	width: 100% !important;
	box-shadow: unset !important;
	line-height: unset !important;
	border-radius: 5px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background: var(--footer--bg-clr) !important;
	border: 1px solid var(--footer--brd-clr);
	color: var(--footer--txt-clr) !important;
		transition: .1s;
}
div:is([class*="simple-"],[class*="list-"]) [role="button"]:hover {
	background: red !important;
}

.footer-jiX_ [role="button"]:hover {
	background: var(--footer--bg-clr-Hover) !important;
	border: 1px solid var(--footer--brd-clr-Hover);
	color: var(--footer--txt-clr-Hover) !important;
		
}

/************
*************
*************
*************
GRID , INFO SPACING
*************
*************
*************
*************/

/****
! GRID - DESCRIPTION
******/
#react [class*="masonry"] article > [class*="about"] > [class*="description"] {
		margin: 0px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
}
/****
! GRID - ABOUT
******/
#react [class*="masonry"] article > [class*="about"] {
		padding-bottom:0px !important;
}

/****
! GRID - TITLE
******/
#react [class*="masonry"] article > [class*="about"] > [class*="title"] {
		margin-top:calc(var(--titleGap) * 1.25) !important;
		margin-bottom:calc(var(--titleGap) * 1) !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
}
/*only title*/
#react [class*="masonry"].hide-excerpt.hide-note.hide-highlights.hide-tags article > [class*="about"] > [class*="title"] {
		 margin-bottom:calc(var(--titleGap) * 1.25) !important;   
}
/*GRID - HIDE TITLE*/
#react [class*="masonry"].hide-title article > [class*="about"] > [class*="title"]{
		display: none !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin:0px !important;
}
#react [class*="masonry"].hide-title article > [class*="about"] > [class*="description"]{
		 margin-top:calc(var(--titleGap) * 1.25) !important;   

}
/****
! GRID - NOTE
******/
#react [class*="masonry"] article > [class*="about"] > [class*="description"] [class*="note"] {
		margin-bottom: calc(var(--descriptionGap) * 1) !important;
}

/*GRID - HIDE NOTE*/
#react [class*="masonry"].hide-note article > [class*="about"] > [class*="description"] [class*="note"]{
		display: none !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin:0px !important;
}

/*remove line-clamp from note*/
article > [class*="about"] > [class*="description"] [class*="note"]{
		display: -webkit-box;
	-webkit-line-clamp: 9; /* Total lines for the whole container */
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/****
! GRID - EXCERPT
*****/
#react [class*="masonry"] article > [class*="about"] > [class*="description"] [class*="excerpt"]{
		margin-bottom: calc(var(--descriptionGap) * 1) !important;
}
/*GRID - HIDE EXCERPT*/
#react [class*="masonry"].hide-excerpt article > [class*="about"] > [class*="description"] [class*="excerpt"]{
		display: none !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin:0px !important;
}
/****
! GRID - HIGHLIGHTS
*****/
#react [class*="masonry"] article > [class*="about"] > [class*="description"] [class*="highlights"] {
		margin-bottom: calc(var(--descriptionGap) * 1.2) !important;
}
/*GRID - HIDE HIGHLIGHTS*/
#react [class*="masonry"].hide-highlights article > [class*="about"] > [class*="description"] [class*="highlights"]{
		display: none !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin:0px !important;
}
/****
! GRID - TAGS
*****/
#react [class*="masonry"] article > [class*="about"] > [class*="description"] > div:not([class]) [class*="tags"]{
		margin-bottom: calc(var(--descriptionGap) * 1) !important;
}
/*GRID - HIDE TAGS*/
#react [class*="masonry"].hide-tags article > [class*="about"] > [class*="description"] > div:not([class]){
		display: none !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin:0px !important;
}

/****
! GRID - INFO
*****/
#react [class*="masonry"] article > [class*="about"] > [class*="info"]{
		margin-bottom: calc(var(--descriptionGap) * 1) !important;
}
/*GRID - HIDE INFO*/
#react [class*="masonry"].hide-info article > [class*="about"] > [class*="info"]{
		display: none !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin:0px !important;   
}

/****
! GRID - SEARCH RESULTS
******/
#react [class*="masonry"] article > [class*="about"] > [class*="description"] [class*="body"] {
		margin-bottom: calc(var(--descriptionGap) * 1) !important;
}

/****
! GRID - HIDE NOTE, HIDE EXCERPT, HIDE HIGHLIGHT
******/
#react [class*="masonry"].hide-excerpt.hide-note.hide-highlights.hide-tags article > [class*="about"] > [class*="description"]{
		display: none !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin:0px !important;}

#react [class*="masonry"] .about-X3Q4 [class*="description"],
#react [class*="masonry"] .about-X3Q4{
		row-gap: 0px !important;
}
/************
*************
*************
*************
! MAIN APP > READER > CLOSE BUTTON
*************
*************
*************
*************/
/*MAKE CLOSE BUTTON FULL SCREEN*
body aside.svReader .header-Tqac>a[href*="my/"] {
	order: 100;
	margin-right: 0px !important;
		position: fixed;
		width: calc(100vw + 20vw) !important;
		height: 100vh;
		right: -20vw !important;
		top: 0;
		bottom: -100px !important;
		width: 100vw;
}*/

/*MAKE CLOSE BUTTON FULL SCREEN
body aside.svReader .header-Tqac>a[href*="my/"]:hover{
		background: transparent;
}*/
/************
*************
FOLDERS 
*************
*************/


.header-Tqac {
		outline: var(--tstBrdW) solid  red;
	height: var(--stickyHeaderH);
		z-index:929294949492;

}

.header-Tqac .firstAction-M8_8 {
	transform: scale(1.2);
	
	
}
.title-Ntls {
	font-size: 0.45rem;
}

.title-Ntls a {
	border: unset !important;
	border-bottom: 1px solid hsla(0,0%,50%,.2)!important;
	border-style: dotted;
}
.title-Ntls a:not(:hover) {
	border-bottom-width: 0px !important;
}
/************
*************
FOOTERS
*************
*************/

:root {
	--stickyHeaderH:.9rem;
}
.footer-jiX_{
	height: var(--stickyHeaderH);
	box-shadow: inset 0 0 0 var(--tstBrdW) red;
	color:hsla(0,0%,50%,0.8)
}
.footer-jiX_ div {

}
/************
*************
*************
*************
LIST and HEADLINE ITEMS
*************
*************
*************
*************/
*:is(.list-rt1n, [class*="simple-"]) article:focus-within {
	background: var(--gridbookmarkBgClr-RightClick) !important;
}

article .about-X3Q4 .description-G1ZJ {
	color: var(--note-text-color) !important;
}




/*CODE BLOCKS*/
#react article .about-X3Q4 [class*="note-"] pre {
	display: block !important;
	width: unset !important;
	white-space: pre-wrap;
	padding: 7px 11px !important;
	border-radius: 6px !important;
	white-space: pre-wrap;
	margin-top: calc(var(--noteMargTopBtm) * 2) !important;
}
#react article .about-X3Q4 [class*="note-"] pre code {
	display: block;
	white-space: pre-wrap;
}

/*align*/
*:is(.list-rt1n, [class*="simple-"]) article .about-X3Q4 {
	align-self: center;
	max-width: 86vw;
	max-width: 100%;
}

*:is(.list-rt1n, [class*="simple-"]) article .about-X3Q4 ul li:before {
	top: 9px !important;
}

article .about-X3Q4 .excerpt-ddEH,
.info-drai{
	color: var(--note-text-color-alpha) !important;
}

/*HOVER*/
*:is(.list-rt1n, [class*="simple-"]) article {
	transition: .05s;
}

*:is(.list-rt1n, [class*="simple-"]) article:hover {
	background: hsla(0, 0%, 100%, .05) !important;
}
[class*="simple-"] [class*="title-"]{
	line-height: 1.35 !important;
}
[class*="simple-"] [class*="title-"],
[class*="simple-"] [class*="title-"] * {
	-webkit-font-smoothing:antialiased;
	-webkit-font-smoothing: subpixel-antialiased !important;
	font-weight: 500;
}
/************
LIST ITEMS
*************/
:root {
	--listitemPadLR: 17px;
	--listitemPadTopBtm: 12px;
	--listitemGap: 5px;
}



.list-rt1n article {
	padding-left: var(--listitemPadLR);
	padding-right: var(--listitemPadLR);
	padding-top: var(--listitemPadTopBtm);
	padding-bottom: var(--listitemPadTopBtm);
	gap: var(--listitemGap) !important;
}

/*NOTE + DESCRIPTION GAP*/
.list-rt1n article .about-X3Q4,
.list-rt1n article .description-G1ZJ {
	gap: 2px !important;
}

/*select*/
.list-rt1n article [class*="select"] {
	top: calc(var(--listitemPadTopBtm)) !important;
	left: calc(var(--listitemPadLR)) !important;
}

/*ACTIONS*/
.list-rt1n article [class*="actions"] {
	top: calc(var(--listitemPadTopBtm)) !important;
}

/************
HEADLINE ITEMS
*************/
:root {
	--headlineitemPadTopBtm: 8px;
	--headlineitemPadLR: 16px;
}
[class*="simple-"] article {
	padding-left: var(--headlineitemPadLR);
	padding-right: var(--headlineitemPadLR);
	padding-top: var(--headlineitemPadTopBtm);
	padding-bottom: calc(var(--headlineitemPadTopBtm) * .925);
	gap: 3px;
}

[class*="simple-"] main > div:first-child article {
	padding-top: calc(var(--headlineitemPadTopBtm) * 1.5)
}


/*select*/
[class*="simple-"] article [class*="select"] {
	left: calc(var(--listitemPadLR))!important;
	top: calc(var(--headlineitemPadTopBtm) + 1px) !important
}
[class*="simple-"] article picture[class*="wrap"] {
	top: 1px;
}

/*ACTIONS*/
[class*="simple-"] article [class*="actions"] {
	top: calc(var(--headlineitemPadTopBtm) * .65) !important;
}

/*ICONS
.simple-Dh4f .image-LAVC{
		background: hsla(0,0%,50%,.5);
		border-radius: 100px;
		box-shadow: inset 0 0 0 1px hsla(0,0%,50%,.5);
}*/

:root{
	--codeMaxW:91vw
}

pre, pre code {
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0 !important;
}
div:is([class*="simple-"],[class*="list-"]) .about-X3Q4 [class*="title"], 
div:is([class*="simple-"],[class*="list-"]) .about-X3Q4 [class*="description"], 
div:is([class*="simple-"],[class*="list-"]) .about-X3Q4 [class*="note-"] {
	max-width: calc(var(--codeMaxW) - 30px);
	margin: 0px !important;
}

:is(.list-rt1n, [class*="simple-"]) article:hover{
	background: hsla(0, 0%, 100%, .035) !important
}
:root {
	--gridbookmarkBgClr-Hover: hsla(228, 3%, 20%, 0);
}

/*RED*/
[data-theme="night"] [class*="highlight-"][style*="--highlight-color: red"] {
background:hsl(0, 100%, 60%, 0.13) !important
}

/*Yello*/
[data-theme="night"] div:is([class*="simple-"],[class*="list-"]) [class*="highlight-"][style*="--highlight-color: yellow"] {
			background: hsla(60, 30%, 50%, 0.1) !important;
		border-color: hsla(60, 0%, 50%, 0.25) !important;
}

/*Blue*/
[data-theme="night"] div:is([class*="simple-"],[class*="list-"]) [class*="highlight-"][style*="--highlight-color: blue"] {
}

/*Green*/
[data-theme="night"] div:is([class*="simple-"],[class*="list-"]) [class*="highlight-"][style*="--highlight-color: green"] {

	background: hsl(110, 80%, 50%, 0.1) !important
}
[data-theme="night"] div:is([class*="simple-"],[class*="list-"]) [class*="highlight-"]{
	border-color: hsla(0,0%,100%,.1) !important;

}
[data-theme="night"] div:is([class*="simple-"],[class*="list-"]) [class*="highlight-"]:before{

		width:2px !important;
	outline: 0px solid #000;
	left: 4px !important;
}

div:is([class*="simple-"],[class*="list-"]) [class*="description"] [class*="highlights"]{
	margin-top: calc(var(--noteMargTopBtm) * 1) !important;
	margin-bottom: calc(var(--noteMargTopBtm) * 1) !important;
	--highlightPadTopBtm:1.5px;
}

/**HIGHLIGHTS*/
/************
*************
*************
*************
TAGS
*************
*************
*************
*************/

article [class*="tags"] a{
	color: var(--note-text-color-alpha);
}

*:is(.list-rt1n, [class*="simple-"]) article [class*="tags"] {
	display: block;
	padding-top: 0px
}
.hide-tags *:is(.list-rt1n, [class*="simple-"]) article [class*="tags"] {
	display: none !important;
}
*:is(.list-rt1n, [class*="simple-"]) article [class*="tags"] > a {
	padding: 0px;
	line-height: 1px !important;
	margin-right: 2px;
	border-radius: 3px;
}
*:is(.list-rt1n, [class*="simple-"]) article [class*="tags"] > a:not(:hover) {
	border-color: hsla(0, 0%, 50%, .0)
}
/*ICON*/
:root {
	--tagHashOpacity:.5
}
*:is(.list-rt1n, [class*="simple-"]) article [class*="tags"] > a [class*="icon"] {
	display: inline-block;
	transform: scaleY(1.1);
	vertical-align: baseline;
	position: relative;
	top: 1px;
	opacity: 0.5;
	margin-right: 1px;
	
}

*:is(.list-rt1n, [class*="simple-"]) article [class*="tags"] > a:hover [class*="icon"]{
	opacity: 1;
}

#react .hide-tags [class*="tags"] {
	display: none !important;
}
/************
*************
*************
*************
! MEDIA QUERIES
*************
*************
*************
*************/
@media (max-width: 700px) {

}

@media (max-width: 700px) {
	:root {
		--bg--main-background: hsla(218, 4%, 17%, 1.0);
		--bg--main-background: #1C1B22
	}
	/*popup preview*/
	body aside.svReader {
		max-width: 100% !important;
		height: 100% !important;
		max-height: 100% !important;
		margin: unset !important;
	}
	/*HEADER*/
	.header-Tqac.svMainHeader {
		background: #1B1B1FFF
	}
	/********
	LIST & HEADLINES
	*********/
	*:is(.list-rt1n, [class*="simple-"]) article .about-X3Q4 .description-G1ZJ {
		font-size: 13px;
	}

	#react *:is(.list-rt1n, [class*="simple-"]) article .about-X3Q4 .description-G1ZJ,
	#react *:is(.list-rt1n, [class*="simple-"]) article .about-X3Q4 .description-G1ZJ * {
		line-height: var(--noteLineHeight);
		--noteMargTopBtm: 3px;
		outline: var(--tstBrdW) solid hsla(0, 100%, 50%, .5);
		outline-offset: calc(var(--tstBrdW) * -1)
	}
	/*CODE FONT SIZE*/
	#react *:is(.list-rt1n, [class*="simple-"]) article .about-X3Q4 .description-G1ZJ code {
		font-size: calc(1em - 1px);
	}
	/********
	LIST ITEMS
	*********/
	/********
	HEADLINE ITEMS
	*********/
	/*FONT SIZE > TITLES*/
	[class*="simple-"] article .about-X3Q4 .title-yyxF {
		font-size: 13.5px;
	}
	/*FONT SIZE > EVERYTHING ELSE*/
	[class*="simple-"] article .about-X3Q4 .description-G1ZJ {
		font-size: 12px;
	}

	#react [class*="simple-"] article .about-X3Q4 .description-G1ZJ,
	#react [class*="simple-"] article .about-X3Q4 .description-G1ZJ * {
		line-height: var(--noteLineHeight);
		--noteMargTopBtm: 2px;
	}
	/*LIST BULLETS*/
	[class*="simple-"] article .about-X3Q4 ul li:before {
		top: 8px !important;
	}

	/*GAP*/
	[class*="simple-"] article .about-X3Q4,
	[class*="simple-"] article .description-G1ZJ {
		gap: 3px !important;
	}
	*:is(.list-rt1n, [class*="simple-"]) article [class*="tags"] a {
		font-size: .285rem !important;
	}
	/************
	*************
	FOLDERS 
	*************
	*************/
	.header-Tqac .firstAction-M8_8 {
		transform: scale(1);
	}
	.title-Ntls {
		font-size: 0.4rem;
	}
}

@media (max-width: 1000px) {
	:root {
		--SVReaderHeaderH: 48px;
	}


	body aside.svReader::before {
		display: none;
	}
	.footer-xf6r{
		width: 35px;
		padding: 0px  5px!important;
	}
	body aside.svReader .wrap-pUJc{
		width:35%;
	}
}
/*ICONS*/
:root {
		--iconCloseButton: url('data:image/svg+xml;utf8,<svg  viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.9999 14.5859L3.27188 1.85791L1.85767 3.27212L14.5857 16.0002L1.85782 28.728L3.27203 30.1422L15.9999 17.4144L28.7277 30.1422L30.1419 28.728L17.4141 16.0002L30.1421 3.27218L28.7279 1.85797L15.9999 14.5859Z" fill="%23cacbce"/></svg>');
}