/*root*/
:root {
		--sectionMaxWidth: 740px;
		--sectionPadLeftRight: 20px;
		--widgetHeaderHeight: 38px;
		--notesPadTopBtm: 26px;
		/*bookmarks*/
		--bookmarkWrapperGap: 20px;
		--bookmarkLinkBrdRad: 17px;
		--bookmarkThumbnailWidth: 90px;
		--bookmarkThumbnailMargTopBtm: 4px;
		/*font-sizes*/
		--bodyFontSize: 14px;
		--bodyLineHeight: 18px;
}

/***********
************
GOOGLE SEARCH
************
************/
.search {
		box-sizing: border-box;
		width: var(--sectionMaxWidth);
		max-width: 100%;
		padding-left: calc(var(--sectionPadLeftRight) * .5) !important;
		padding-right: calc(var(--sectionPadLeftRight) * .5) !important;
}
.widget-page__searchbar{
		padding-top: 0px;
}
.search__wrapper {
		background: rgba(65, 65, 65, 1) !important;
		backdrop-filter: blur(30px) brightness(0.6);
		-webkit-backdrop-filter: blur(30px) brightness(0.6); /* Safari */
		-moz-backdrop-filter: blur(30px) brightness(0.6); /* Firefox (not yet supported) */
		-ms-backdrop-filter: blur(30px) brightness(0.6); /* Internet Explorer (not supported) */
		-o-backdrop-filter: blur(30px) brightness(0.6); /* Opera (not supported) */
		border-radius: 24px;
}

.search-results {
		background: rgba(65, 65, 65, 1) !important;
}
.search-results li.search-results__search-result,
.search-results li.search-results__search-result *,
.search .search__wrapper .search__input{
		color: white;
		font-size: 1.1rem !important;
		line-height: 2 !important;
}
.search .search__wrapper .search__input::placeholder{
		color: white !important;
		opacity: 0.6;
}
.search__control-arrow-icon, .search__control-icon {
		stroke:hsla(0, 0%, 100%, .6) !important;
		transition:all .02s !important;
		outline: 3px solid hsla(0,0%,50%,.0);
		border-radius: 2px;

}
.search__control-arrow-icon:hover, .search__control-icon:hover{
		stroke:hsla(0, 0%, 100%, 1) !important;
		background:hsla(0,0%,50%,.5);
		outline: 5px solid hsla(0,0%,50%,.5);
		transition:.2s !important;
}
.search__dark_menu, .search__menu{
		border: none;
		padding: 0px;
}
.search-results__results-list:before{
		display: none;
}
li.search-results__search-result{
		padding-left: 50px;
}

.search-results__search-result_selected{
		background: hsla(0,0%,100%,.15)
}


/***********
************
COLUMNS
************
************/
.columns-2 > section:first-child{
		position: a
}
@media (max-width:700px) {
		.columns-2{
				display: flex !important;
				flex-direction: column-reverse;
		}
}


/***********
************
BACKGROUND


.app__background {
		filter: blur(5px) !important;
		left: -40px;
		top: -40px;
		bottom: -40px;
		right: -40px;
}


************
************/



/***********
************
NAV & MAIN PAGE
************
************/

header a[href*="upgrade"],
header a[href="/"]{
		display: none;
}
header ul.pages-bar__list-container .pages-bar__item_active{
		background: hsla(0,0%,100%,.2);
		-webkit-text-fill-color: white !important
}
header[role="navigation"] {
		position: relative !important;
		top: unset !important;
		left: unset !important;
		right: unset !important;
		bottom: unset !important;
		overflow: hidden;

}
.widget-page__main{
		position: relative;
		overflow-y: auto;
		overflow: hidden;
}


/***********
************
OVERRIDES
************
************/
header.header,
.app__main-layout,
.app__body,
.widget-page,
.widget-page__main,
.widget-page__container{
		width: 100% !important;
		max-width: unset !important;
		min-width: unset !important;
		
}

/***********
************
SECTIONS
************
************/

* {
		font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,-apple-system,Noto Sans,Helvetica,Nimbus Sans L,Arial,sans-serif !important;
}

html .page-section{
		width: 100% !important;
		max-width: var(--sectionMaxWidth) !important;
		margin: 0 auto;
		padding-right: 0px !important;
		padding-left: 10px;
}

.notes-widget,
.bookmark-widget,
.bookmark-widget__list,
.bookmark-item__title{
		font-size: var(--bodyFontSize) !important;
		line-height: var(--bodyLineHeight) !important;
		-webkit-font-smoothing:antialiased;
}
.widget-header__title{
		font-size: var(--bodyFontSize);
		line-height: var(--bodyLineHeight) !important;

		--bodyFontSize:15.5px;
		--bodyLineHeight:20px;
		font-weight: 500;
		-webkit-font-smoothing:subpixel-antialiased !important;
		gap: 4px
}
.widget-header__title input {
		border: none !important;
}

.bookmark-widget .widget-header__title{
		-webkit-font-smoothing:antialiased;
		opacity: 0.5;
		color: white;
		font-weight: 400;
}

.bookmark-item__title{
		color: #ffffffe6 !important;
		text-shadow: rgba(0, 0, 0, .2) 0 0 3px !important;
		font-weight: 500;
}
/*description*/
.bookmark-description {
		color: hsl(0, 0%, 60%) !important;
		opacity: 0.6 !important
}
.widget__description_empty{
		display: none !important;
}

/***********
************
BOOKMARKS
************
************/



/*WIDGET - CONTAINER*/
.widget__container{
		border-radius: 10px;
		height: unset !important;
		max-height: unset !important;
		min-height: unset !important;
}
.widget__container:not([style*=", 0)"]){
		backdrop-filter: blur(10px);
}
/*WIDGET HEADER*/
.widget__header{
		height: var(--widgetHeaderHeight) !important;
		outline-offset: -1px;
		align-items: center;
		cursor: pointer;
}
/*WIDGET HEADER CHEVRON*/

.widget-header__chevron{
		display: block;
		opacity: .5 !important;
		transform: scale(1.5)rotate(0deg);
		transition: .1s;
}
.bookmark-widget .widget-header__chevron{
		opacity: .5 !important;
		stroke: white !important;
}
/*collapsed*/
.widget_collapsed .widget-header__chevron{
		transform: scale(1.5)rotate(-180deg);
}
/*WIDGET HEADER CONTROLS*/
.widget-header__controls > .widget-header__control{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
}
.widget-header__text{
}
/*WIDGET BODY*/
/*OPEN*/
html .widget__box{
		margin: 0px;
		margin-bottom: 0px !important;
		max-height:2000px !important;
		height: unset !important;
		min-height: unset !important;
		transition: 1s !important;
		opacity: 1 !important;
}
/*COLLAPSED*/
html .widget_collapsed .widget__box{
		max-height:0px !important;
		height: unset !important;
		min-height: unset !important;
}


.bookmark-widget .widget__body{
margin: 6px 16px 16px !important;
}
.bookmark-widget:not(.bookmark-widget_edited) .bookmark-widget__body_mode_icon ul{
		display: flex !important;
		flex-direction: row !important;
		flex-wrap: wrap !important;
		gap:var(--bookmarkWrapperGap);
		margin-bottom: -10px;
}
.bookmark-widget:not(.bookmark-widget_edited) .bookmark-widget__body_mode_icon ul li {
		min-width: unset !important;
		flex: unset !important;
		width: var(--bookmarkThumbnailWidth);
		transition:.1s;
}
.bookmark-widget:not(.bookmark-widget_edited) .bookmark-widget__body_mode_icon ul li:hover{
		transform: scale(1.05);
}
.bookmark-widget:not(.bookmark-widget_edited)  ul li .bookmark-item__icon-wrapper{
		border: none;
		border-radius: var(--bookmarkLinkBrdRad);
		overflow: hidden;
		background: hsla(0,0%,50%,.2);
		backdrop-filter: blur(20px)brightness(2);
		
}

/*BOOKMARK - LINK CONTAINER*/
.bookmark-widget:not(.bookmark-widget_edited) .bookmark-widget__body_mode_icon .bookmark-item__link{
		margin: 0px !important;
		padding: 0px !important;
		border-radius: var(--bookmarkLinkBrdRad) !important;
		overflow: hidden;
		
}
.bookmark-widget .bookmark-item:hover {
		background: transparent !important;
}
.bookmark-widget .bookmark-item:hover a{
		background: transparent !important;
}
/*BOOKMARK - ICON/IMAGE THUMBNAIL*/
.bookmark-widget .bookmark-widget__body_mode_icon ul li .bookmark-item__icon-wrapper,
.bookmark-widget .bookmark-widget__body_mode_icon ul li .bookmark-item__icon-wrapper img{
		height: unset !important;
		width:var(--bookmarkThumbnailWidth) !important;
		max-height: var(--bookmarkThumbnailWidth) !important;
		min-width: unset !important;
		max-width: unset !important;
}
.bookmark-widget ul li .bookmark-item__icon-wrapper img{

}
		.bookmark-item__icon-wrapper{
		outline: 1px solid hsla(0,0%,70%,0.2) !important;
				outline-offset: -1px;
}

.bookmark-widget:not(.bookmark-widget_edited) .bookmark-widget__body_mode_icon span.bookmark-item__title{
		margin-top: 2px;
		margin-bottom: 0px !important;
}



/*********
BOOKMARK SECTION TYPE - DETAILS & LIST
**********/
.bookmark-item_mode_list,
.bookmark-item_mode_detail{
		position: relative;
		cursor: pointer;
}
.bookmark-item_mode_list *,
.bookmark-item_mode_detail *{
		text-decoration: none !important;
}
.bookmark-item_mode_list:before,
.bookmark-item_mode_detail:before{
		content: "";
		display: block;
		position: absolute;
		left: -5px;
		right: -5px;
		top: 0;
		bottom: 0;
		background: hsla(0,0%,100%,0.1);
		backdrop-filter: blur(40px) saturate(1.3);
		border-radius: 8px;
		transition: .12s;
		opacity: 0;
		z-index: -1;
}
.bookmark-widget .bookmark-item_mode_list:hover:before,
.bookmark-widget .bookmark-item_mode_detail:hover:before {
		opacity: 1;
}

/*********
BOOKMARK SECTION TYPE - ICONS
**********/
.bookmark-item_mode_icon{
		padding: 0px !important;
		border-radius: var(--bookmarkLinkBrdRad);
}



.bookmark-item_mode_icon .bookmark-item__icon-wrapper{
		--bookmarkLinkBrdRad:6px;
		min-width: var(--bookmarkThumbnailWidth)!important;
		min-height: var(--bookmarkThumbnailWidth)!important;
		width: var(--bookmarkThumbnailWidth)!important;
		height: var(--bookmarkThumbnailWidth)!important;
		/**/
		margin: 0 auto !important;
		margin-bottom: var(--bookmarkThumbnailMargTopBtm) !important;
}

/*none*/
.bookmark-item_mode_icon.bookmark-item_size_none .bookmark-item__icon-wrapper{
				--bookmarkThumbnailWidth:0px;
--bookmarkThumbnailMargTopBtm:27px;
				margin-right:0px !important;
}
/*small*/
.bookmark-item_mode_icon.bookmark-item_size_small .bookmark-item__icon-wrapper{
		--bookmarkThumbnailWidth:40px;
--bookmarkThumbnailMargTopBtm:4px;
}
/*medium*/
.bookmark-item_mode_icon.bookmark-item_size_medium .bookmark-item__icon-wrapper {
		--bookmarkThumbnailWidth:66px;
		--bookmarkThumbnailMargTopBtm:4px;
		--bookmarkLinkBrdRad:9px;

}
/*large*/
.bookmark-item_mode_icon.bookmark-item_size_large .bookmark-item__icon-wrapper {
		--bookmarkThumbnailWidth:90px;
		--bookmarkLinkBrdRad:17px;
		--bookmarkThumbnailMargTopBtm:4px;
}
.bookmark-item_mode_icon .bookmark-item__icon{
		max-width: unset !important;
		max-height: unset !important;
		width: 100%
}

/*********
BOOKMARK SECTION TYPE - DETAILS
**********/
.bookmark-item_mode_detail{
		padding: 0px !important;
		border-radius: var(--bookmarkLinkBrdRad);
}

.bookmark-widget:not(.bookmark-widget_edited) .bookmark-widget__body_mode_detail .bookmark-widget__list li+li{
		border-top-color: hsla(0,0%,0%,0.1)
}
.bookmark-widget li:hover + li {
		border-color: hsla(0,0%,100%,0) !important;
}


.bookmark-item_mode_detail .bookmark-item__icon-wrapper{
		--bookmarkLinkBrdRad:6px;
		min-width: var(--bookmarkThumbnailWidth)!important;
		min-height: var(--bookmarkThumbnailWidth)!important;
		width: var(--bookmarkThumbnailWidth)!important;
		height: var(--bookmarkThumbnailWidth)!important;
		/**/
		margin-right: 10px !important;
		margin-top: var(--bookmarkThumbnailMargTopBtm) !important;
		margin-bottom: var(--bookmarkThumbnailMargTopBtm) !important;
}

/*none*/
.bookmark-item_mode_detail.bookmark-item_size_none .bookmark-item__icon-wrapper{
				--bookmarkThumbnailWidth:0px;
--bookmarkThumbnailMargTopBtm:27px;
				margin-right:0px !important;
}
/*small*/
.bookmark-item_mode_detail.bookmark-item_size_small .bookmark-item__icon-wrapper{
		--bookmarkThumbnailWidth:30px;
--bookmarkThumbnailMargTopBtm:12px;
}
/*medium*/
.bookmark-item_mode_detail.bookmark-item_size_medium .bookmark-item__icon-wrapper {
		--bookmarkThumbnailWidth:44px;
		--bookmarkThumbnailMargTopBtm:11px;
}
/*large*/
.bookmark-item_mode_detail.bookmark-item_size_large .bookmark-item__icon-wrapper {
		--bookmarkThumbnailWidth:65px;
		--bookmarkLinkBrdRad:14px;
		--bookmarkThumbnailMargTopBtm:10px;
}
.bookmark-item_mode_detail .bookmark-item__icon{
		max-width: unset !important;
		max-height: unset !important;
		width: 100%
}
/*********
BOOKMARK SECTION TYPE - LIST
**********/

.bookmark-item_mode_list .bookmark-item__icon-wrapper{
		--bookmarkLinkBrdRad:6px;
		min-width: var(--bookmarkThumbnailWidth)!important;
		min-height: var(--bookmarkThumbnailWidth)!important;
		width: var(--bookmarkThumbnailWidth)!important;
		height: var(--bookmarkThumbnailWidth)!important;
		/**/
		margin-right: 10px !important;
		margin-top: var(--bookmarkThumbnailMargTopBtm) !important;
		margin-bottom: var(--bookmarkThumbnailMargTopBtm) !important;
}
/*none*/
.bookmark-item_mode_list.bookmark-item_size_none .bookmark-item__icon-wrapper{
				--bookmarkThumbnailWidth:0px;
--bookmarkThumbnailMargTopBtm:19px;
				margin-right:0px !important;
}
/*small*/
.bookmark-item_mode_list.bookmark-item_size_small .bookmark-item__icon-wrapper{
		--bookmarkThumbnailWidth:30px;
		--bookmarkThumbnailMargTopBtm:4px;
}
/*medium*/
.bookmark-item_mode_list.bookmark-item_size_medium .bookmark-item__icon-wrapper {
		--bookmarkThumbnailWidth:44px;
		--bookmarkThumbnailMargTopBtm:6px;
}
/*large*/
.bookmark-item_mode_list.bookmark-item_size_large .bookmark-item__icon-wrapper {
		--bookmarkThumbnailWidth:65px;
		--bookmarkLinkBrdRad:14px;
		--bookmarkThumbnailMargTopBtm:8px;
}
.bookmark-item_mode_list .bookmark-item__icon{
		max-width: unset !important;
		max-height: unset !important;
		width: 100%
}

/*FOOTER*/

.page-footer {
		display: none !important;
}