
:root{
	--finderBtnPositionTop:5px;
	--finderBtnPositionRight:40px;
}
.finder {
	position: fixed;
	top: -50px;
	right: 0;
	left: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	height: 50px;
	background: #fff;
	font-family: sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 5px;
	transition: top 0.15s ease-out;
}

.finder.active {
	top: 0;
}

.finder-input {
	flex-grow: 1;
	width: 0;
	height: 33px;
	border: none;
	padding: 8px;
	outline: none !important;
	font-size: 15px;
	background: #f7f8f9;
	border-radius: 6px;
}

.finder-input.not-found {
	color: #e7353f;
}

.btn-finder {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 0;
	font-size: 18px;
}
/* .btn-finder-icon {
	content: "\e902";
} */

.finder-input,
.btn-finder:not(:last-child) {
	margin-right: 5px;
}
.btn-finder-prev {
	width: 45px;
	height: 45px;
	border-radius: 6px;
	border: 1px solid #ddd;
	background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4%2015l8-8l8%208%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center;
	background-size: 60%;
}
.btn-finder-next {
	width: 45px;
	height: 45px;
	border-radius: 6px;
	border: 1px solid #ddd;
	background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4%209l8%208l8-8%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center;
	background-size: 60%;
}
.btn-finder-close {
	width: 45px;
	height: 45px;
	border-radius: 6px;
	border: 1px solid #ddd;
	background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M13.41%2012l4.3-4.29a1%201%200%201%200-1.42-1.42L12%2010.59l-4.29-4.3a1%201%200%200%200-1.42%201.42l4.3%204.29l-4.3%204.29a1%201%200%200%200%200%201.42a1%201%200%200%200%201.42%200l4.29-4.3l4.29%204.3a1%201%200%200%200%201.42%200a1%201%200%200%200%200-1.42z%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
	background-size: 60%;
}

.finder-count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #888;
	border-right: 1px solid #e5e5e5;
	margin-right: 5px;
	padding-right: 20px;
	white-space: nowrap;
}

.btn-finder,
.finder-count {
	flex-shrink: 0;
	flex-grow: 0;
}

.highlight {
	background: #ff8;
}

.highlight.active {
	background: #ffd71b;
}

.finder-activator {
	position: fixed;
	top: var(--finderBtnPositionTop);
	right: var(--finderBtnPositionRight);
	z-index: 1;
	width: 30px;
	height: 30px;
	background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M21%2021l-4.486-4.494M19%2010.5a8.5%208.5%200%201%201-17%200a8.5%208.5%200%200%201%2017%200z%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') hsla(0, 0%, 50%, .1) no-repeat center;
	background-size: 60%;
	border-radius: 6px;
	border: 1px solid hsla(0,0%,50%,.35);
	-webkit-backdrop-filter:blur(10px);
	cursor: pointer;
}


.finder {
	top: -150px;
	right: calc(50% - 182px);
	left: calc(50% - 182px);
}

.finder.active {
	top: var(--finderBtnPositionTop);
}