/*root*/
:root {
		/*arguments wrapper*/
		--argwrapperGreenBgClr: hsl(120, 50%, 50%,.75);
		--argwrapperRedBgClr: hsl(0, 70%, 50%);
		/*arguments*/
		--argBrdClr: hsla(0, 0%, 0%, 1.0);
		--argBgClr: hsla(0, 0%, 100%, 1.0);
		--argToggleBrdClr:hsla(0,0%,0%,.15);
		/*highlights*/
		--argHlClr-Orange:hsl(34, 100%, 50%) ;
		--argHlClr-Blue: hsl(211, 100%, 50%);
		--argHlClr-Purple: hsl(275, 100%, 58%);
		--argHlClr-Pink: hsl(300, 100%, 68%) ;
		--argHlClr-Brown: hsl(0, 80%, 50%);
		--argHlClr-Green: hsl(140, 100%, 30%);
		/**/
				--argStrikethroughBlockquoteBgClr:hsl(0, 0%, 97%);
}
[data-theme="dark"] {
		/*arguments wrapper*/
		--argwrapperGreenBgClr: hsl(120, 50%, 50%, 0.25);
		--argwrapperRedBgClr: hsl(11, 100%, 51%, .4);
		/*arguments*/
		--argBrdClr: hsla(0, 0%, 100%, 0.5);
		--argBgClr: var(--whiteBoardTextElementBgClr-Black);
		--argToggleBrdClr:hsla(0,0%,100%,.15);
		/*highlights*/
		--argHlClr-Orange:hsl(25, 100%, 50%) ;
		--argHlClr-Blue: hsl(211, 100%, 50%);
		--argHlClr-Purple: hsl(275, 100%, 58%);
		--argHlClr-Pink: hsl(300, 100%, 68%) ;
		--argHlClr-Brown: brown;
		--argHlClr-Green: hsl(120, 100%, 30%);
				--argStrikethroughBlockquoteBgClr:hsl(214, 7%, 17%);

}

/*****************
VIEW - WHITEBOARD - ARGUMENT MAPPING
******************/
/*ORANGE text elements and ORANGE cards - to - NORMAL |||| CLAIMS/CONTENTIONS*/
[data-object-type="textElement"] > [style*="--bg-orange-sect"] {
		--bg-orange-sect: var(--whiteBoardBoardBg) !important;
		--bg-orange: var(--whiteBoardBoardBg) !important;
		/*borders*/
		--mMapBrdClr: var(--argBrdClr) !important;
		box-shadow: inset 0 0 0 1px var(--argBrdClr) !important;
		background: var(--argBgClr) !important;
		border: none !important;
}


/*BLUE text elements and BLUE cards - to - GREEN |||| REASONS - BECAUSE*/
[data-object-type="textElement"] > [style*="--bg-blue-sect"] {
		--bg-blue-sect: var(--whiteBoardBoardBg) !important;
		--bg-blue: var(--whiteBoardBoardBg) !important;
		/*borders*/
		--border-blue-sect: var(--border-green-sect) !important;
		--mMapBrdClr: var(--border-green-sect) !important;
		box-shadow: inset 0 0 0 0px var(--mMapBrdClr) !important;
		background-image: linear-gradient(to top, transparent 10%, var(--argwrapperGreenBgClr) 100%)!important;
		overflow: hidden !important;
}


/*PURPLE text elements and PURPLE cards - to - RED |||| OBJECTIONS - BUT*/
[data-object-type="textElement"] > [style*="--bg-purple-sect"] {
		--bg-purple-sect: var(--whiteBoardBoardBg) !important;
		--bg-purple: var(--whiteBoardBoardBg) !important;
		/*borders*/
		--border-purple-sect: var(--border-red-sect) !important;
		--mMapBrdClr: var(--border-red-sect) !important;
		box-shadow: inset 0 0 1 0px var(--mMapBrdClr) !important;
		border: none !important;
		background: linear-gradient(to top, transparent 30%, var(--argwrapperRedBgClr) 100%)!important;
}



/*****************
VIEW - WHITEBOARD - TABLES
******************/
:root {
		--argTableSpacing: 13px;
		--argTableCellPadTopBtm:3px;
}
/*ALL ELEMENT PADDING*/
[data-object-type="textElement"] > [style*="--bg-blue-sect"] > div > .ProseMirror > [data-node-type]:not([data-node-type="table"]),
[data-object-type="textElement"] > [style*="--bg-purple-sect"] > div > .ProseMirror > [data-node-type]:not([data-node-type="table"]) {
		padding-left: calc(var(--argTableSpacing) * 2);
}



#root [data-object-type="textElement"] > [style*="--bg-blue-sect"],
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] {
		border-radius: 17px !important;
		padding-right: 10px !important;
		padding-left: 0px !important;
		padding-bottom: 0px !important;
		padding-top: 0px !important;
		border: none !important;
}
#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] [data-node-type="table"],
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] [data-node-type="table"] {
		margin-top: 0px !important;
}
#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] table,
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] table {
		border-spacing: var(--argTableSpacing) !important;
		border: none !important;
		margin-top: 8px;
}


#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] table td,
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] table td {
		box-shadow: none !important;
		border-top: 0px !important;
		border-bottom: 0px !important;
		border-left: 0px !important;
		border-right: 0px !important;
		border: 1px solid var(--argBrdClr) !important;
		border-radius: 8px !important;
		padding-top: var(--argTableCellPadTopBtm) !important;
		padding-bottom: var(--argTableCellPadTopBtm) !important;
		padding-left: 5px !important;
		padding-right: 5px !important;
		
}
[data-object-type="textElement"] > [style*="--bg-orange-sect"],
#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] table [data-node-type],
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] table [data-node-type]{
				--tableBodyFontSize: var(--bodyFontSize) !important;
		--tableBodyLineHeight: var(--bodyLineHeight) !important;
		--bodyLineHeight:1.5;
		--listMargTopBtm:6px
}

#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] table td,
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] table td{
		background-color: var(--argBgClr) !important;
}

/*****************
TABLE CELL BACKGROUND - HEADER ROW
******************/
#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] table td[data-background-color="gray"],
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] table td[data-background-color="gray"]{
		background-color: var(--light-grey) !important;
}
/*****************
TABLE CELL BACKGROUND - HEADER ROW
******************/

#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] .ProseMirror ._hasRowHeader_7b1uz_8 > div > table > tbody > tr:first-child td,
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] .ProseMirror ._hasRowHeader_7b1uz_8 > div > table > tbody > tr:first-child td{
				background-color: var(--light-grey) !important;

}
#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] .ProseMirror ._hasRowHeader_7b1uz_8 > div > table > tbody > tr:first-child [data-node-type] *,
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] .ProseMirror ._hasRowHeader_7b1uz_8 > div > table > tbody > tr:first-child [data-node-type] *{
		font-size: 13px  !important;
		font-weight: 400;
}

/*NESTED TABLES*/
#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] [class*="nested"] table,
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] [class*="nested"] table {
		margin-left: calc(var(--argTableSpacing) * -2 + 1px) !important;
		width:calc(100% + var(--argTableSpacing) * 2 + -1px) !important;
}
/*****************
MENU - TEXT ELEMENT COLORS
******************/

/*MENU - ORANGE - TO - CLEAR || CLAIM*/
.fixed.z-dropdown-menu div:not(.hepta-menu-item) [style*="--palette-orange"] {

		order: 8;
		background-color: transparent !important;
		box-shadow: inset 0 0 0 1px hsla(0, 0%, 50%) !important;
}


/*MENU - BLUE - TO - GREEN || REASON*/
.fixed.z-dropdown-menu div:not(.hepta-menu-item) [style*="background-color: var(--palette-blue)"] {

		order: 9;
		background-color: transparent !important;
		box-shadow: inset 0 0 0 1px var(--border-green-sect) !important;
}

/*MENU - PURPLE - TO - RED || OBJECTION*/
.fixed.z-dropdown-menu div:not(.hepta-menu-item) [style*="background-color: var(--palette-purple)"] {

		order: 10;
		background-color: transparent !important;
		box-shadow: inset 0 0 0 1px var(--border-red-sect) !important;
}

.fixed.z-dropdown-menu div:not(.hepta-menu-item) [style*="--palette-orange"][class*="active"],
.fixed.z-dropdown-menu div:not(.hepta-menu-item) [style*="background-color: var(--palette-blue)"][class*="active"],
.fixed.z-dropdown-menu div:not(.hepta-menu-item) [style*="background-color: var(--palette-purple)"][class*="active"] {
		outline: 2px solid var(--active-item);
}



/*ARGUMENT TYPE - CALLOUT - ALL*/
[data-object-type="textElement"] > [style*="--bg-orange-sect"]:before,
[data-object-type="cardInstance"] > [style*="background-color: var(--bg-orang)"]:before,
[data-object-type="textElement"] > [style*="--bg-blue-sect"]:before,
[data-object-type="cardInstance"] > [style*="background-color: var(--bg-blue)"]:before,
[data-object-type="textElement"] > [style*="--bg-purple-sect"]:before,
[data-object-type="cardInstance"] > [style*="background-color: var(--bg-purple)"]:before {
		content: "because";
		display: block;
		position: absolute;
		color: var(--argwrapperGreenBgClr);
		top: -22px;
		z-index: 23;
		opacity: 1;
		left:var(--argTableSpacing);
}
/*ARGUMENT TYPE - CALLOUT |||| OBJECTIONS - BUT*/
[data-object-type="textElement"] > [style*="--bg-purple-sect"]:before,
[data-object-type="cardInstance"] > [style*="background-color: var(--bg-purple)"]:before {
		content: "but";
		color: var(--argwrapperRedBgClr);
}

/*ARGUMENT TYPE - CALLOUT |||| CLAIM*/
[data-object-type="textElement"] > [style*="--bg-orange-sect"]:before,
[data-object-type="cardInstance"] > [style*="background-color: var(--bg-orang)"]:before {
		content: "contention";
		color: var(--argBrdClr);

}



/*****************
HIGHLIGHTS
******************/
:root{
		--argHlBrdW:2px;
		--argHlPadLeftRight:calc(var(--argHlBrdW) * .5);
		--argHlBrdRad:5px;
		
}
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-orange-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-orange"],
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-blue-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-blue"],
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-purple-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-purple"],
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-pink-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-pink"],
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-brown-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-brown"],
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-green-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-green"]{
		border-radius: var(--argHlBrdRad);
		border: var(--argHlBrdW) solid var(--argHlClr) !important;
		padding: 0px !important;
		box-shadow: none !important;
		margin-left: calc(var(--argHlBrdW) * -1 + var(--argHlPadLeftRight) * -1);
		margin-right: calc(var(--argHlBrdW) * -1 + var(--argHlPadLeftRight) * -1);
		padding-left: var(--argHlPadLeftRight) !important;
		padding-right: var(--argHlPadLeftRight) !important;
		outline-offset: 0px;
		background: transparent !important;
		fill: transparent;
		display: inline;

		
}
/*menu only*/
.text-label-mini + div > svg > rect[fill*="orange"],
.text-label-mini + div > svg > rect[fill*="blue"],
.text-label-mini + div > svg > rect[fill*="purple"],
.text-label-mini + div > svg > rect[fill*="pink"],
.text-label-mini + div > svg > rect[fill*="brown"],
.text-label-mini + div > svg > rect[fill*="green"]{
		outline-offset: 0px !important;
		background: transparent !important;
		stroke: var(--argHlClr);
		stroke-width: 2px;
		
		outline: none !important;
}

/*****************
MENU - HIGHLIGHTS
******************/

/*ORANGE*/
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-orange-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-orange"] {
		--argHlClr:var(--argHlClr-Orange)
}
/*BLUE*/
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-blue-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-blue"] {
		--argHlClr:var(--argHlClr-Blue)
}
/*PURPLE*/
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-purple-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-purple"] {
		--argHlClr:var(--argHlClr-Purple)
}
/*PINK*/
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-pink-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-pink"] {
		--argHlClr:var(--argHlClr-Pink)
}

/*BROWN*/
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-brown-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-brown"] {
		--argHlClr:var(--argHlClr-Brown)
}

/*GREEN*/
/*highlight*/
.ProseMirror span[data-color][data-type="background"][style*="var(--bg-green-editor)"],
/*menu*/
.text-label-mini + div > svg > rect[fill*="--bg-green"] {
		--argHlClr:var(--argHlClr-Green)
}


/*****************
TEXT ELEMENT - HIGHLIGHTS - INSIDE STRIKETHROUGH
******************/
:root{
		--argStrikethroughBgClr:var(--background-editor-primary);
}
#root .ProseMirror s,
#root ~ .p-12.hepta-scrim .ProseMirror s,
#root .ProseMirror s *,
#root ~ .p-12.hepta-scrim .ProseMirror s *{
		z-index: 9494 !important;
		background: var(--argStrikethroughBgClr) !important;
		border-right-color:var(--argStrikethroughBgClr) !important; 
		position: relative;
}
#root .ProseMirror [data-type="background"] + s > [data-type="background"],
#root ~ .p-12.hepta-scrim .ProseMirror [data-type="background"] + s > [data-type="background"]{

		border-radius: calc(var(--argHlBrdRad) * .5);
		border-left-color: transparent !important;
}
#root s > [data-type="background"],
#root ~ .p-12.hepta-scrim s > [data-type="background"]{
		border-radius: 0px !important;
		border-left-width: 0px !important;
		padding-left: 3px !important;
		border-right-width: 0px !important;
		padding-right: 3px !important;
}
#root .ProseMirror s,
#root ~ .p-12.hepta-scrim .ProseMirror s{
		background: var(--argStrikethroughBgClr);
}
/*
#root .ProseMirror s + [data-type="background"] {
		background: var(--argStrikethroughBgClr) !important;
		border-top-left-radius: 2px !important;
		border-bottom-left-radius: 2px !important;
		border-left-color: transparent !important;
}*/

#root .ProseMirror [data-node-type="blockquote"],
#root ~ .p-12.hepta-scrim .ProseMirror [data-node-type="blockquote"] {
		--argStrikethroughBgClr:var(--argStrikethroughBlockquoteBgClr);
}



/*****************
TEXT ELEMENT - NODE SEPARATORS
******************/

[data-object-type="textElement"] > [style*="--bg-purple-sect"] > div > .ProseMirror [data-node-type="table"] [data-node-type]:before,
[data-object-type="textElement"] > [style*="--bg-blue-sect"] > div > .ProseMirror [data-node-type="table"] td [data-node-type]:before {
		opacity: 1;
}
[data-object-type="textElement"] > [style*="--bg-purple-sect"] > div > .ProseMirror [data-node-type="table"] td [data-node-type]:last-of-type:before,
[data-object-type="textElement"] > [style*="--bg-blue-sect"] > div > .ProseMirror [data-node-type="table"] td [data-node-type]:last-of-type:before {
		opacity: 0;
}


/*****************
TOGGLES
******************/
[data-object-type="textElement"] > [style*="--bg-blue-sect"] > div > .ProseMirror > [data-node-type="toggle_list_item"],
[data-object-type="textElement"] > [style*="--bg-purple-sect"] > div > .ProseMirror > [data-node-type="toggle_list_item"]{
		padding-left: calc(var(--listBulletWidth)* 1.25 + calc(var(--argTableSpacing) * 3)) !important;
		margin-left: calc(var(--listBulletWidth)* -3 ) !important;
		width: calc(100% + var(--listBulletWidth)* 3) !important;
}

[data-object-type="textElement"] > [style*="--bg-blue-sect"] > div > .ProseMirror > [data-node-type="toggle_list_item"] > [class*="bulletWrapper"],
[data-object-type="textElement"] > [style*="--bg-purple-sect"] > div > .ProseMirror > [data-node-type="toggle_list_item"] > [class*="bulletWrapper"]{
		background: transparent !important;
		box-shadow:0 0 0 1px var(--argToggleBrdClr)!important;
		width: calc(var(--listBulletWidth) * .75) !important;
		overflow: hidden;
}
#root [data-object-type="textElement"] > [style*="--bg-blue-sect"] > div > .ProseMirror > [data-node-type="toggle_list_item"] > [class*="bulletWrapper"] [class*="bullet"],
#root [data-object-type="textElement"] > [style*="--bg-purple-sect"] > div > .ProseMirror > [data-node-type="toggle_list_item"] > [class*="bulletWrapper"] [class*="bullet"]{
		width: 100%!important
}


[data-object-type="textElement"] > [style*="--bg-blue-sect"] > div > .ProseMirror > [data-node-type="toggle_list_item"] > [class*="nestedBlocks"],
[data-object-type="textElement"] > [style*="--bg-purple-sect"] > div > .ProseMirror > [data-node-type="toggle_list_item"] > [class*="nestedBlocks"]{
		padding-left: calc(var(--listBulletWidth)* 0 + var(--listBulletWidth) * .25) !important;
}
