/***********
************
************
************
************
************
FIRST LINE TOGGLE
************
************
************
************
************
************/
:root {
    --bulletwrapperW: 1.75rem;
}
[data-card-tab-id] > div > .ProseMirror > [data-node-type*="toggle"],
.p-12.hepta-scrim [class*="editor"] > .ProseMirror > [data-node-type*="toggle"],
.bg-background-primary > [style*="width: "] .app-region-drag + div [class*="group/"] .ProseMirror > [data-node-type*="toggle"],
[data-is-whiteboard-panel-container="true"] > .bg-background-secondary[style*="width"]> .bg-background-primary div > .relative.grow.flex.flex-col .mt-3 .ProseMirror > [data-node-type*="toggle"],
[data-is-whiteboard-panel-container]  .ProseMirror > [data-node-type*="toggle"],
div[style*="--annotation-"] + div .ProseMirror > [data-node-type*="toggle"]{
    position: relative;
    padding-left: var(--bulletwrapperW);
    width: calc(100% + var(--bulletwrapperW));
    margin-right: calc(var(--bulletwrapperW) * 0);
    align-self: flex-end;
}
[data-card-tab-id] > div > .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"],
.p-12.hepta-scrim [class*="editor"] > .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"],
.bg-background-primary > [style*="width: "] .app-region-drag + div [class*="group/"] .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"],
[data-is-whiteboard-panel-container="true"] > .bg-background-secondary[style*="width"]> .bg-background-primary div > .relative.grow.flex.flex-col .mt-3 .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"],
[data-is-whiteboard-panel-container]  .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"],
div[style*="--annotation-"] + div .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"]{
    position: absolute;
    left: calc(var(--bulletwrapperW) * 0.0);
    width: var(--bulletwrapperW);
    
}

[data-card-tab-id] > div > .ProseMirror > [data-node-type*="toggle"] > [class*="nestedBlocks"],
.p-12.hepta-scrim [class*="editor"] > .ProseMirror > [data-node-type*="toggle"] > [class*="nestedBlocks"],
.bg-background-primary > [style*="width: "] .app-region-drag + div [class*="group/"] .ProseMirror > [data-node-type*="toggle"] > [class*="nestedBlocks"],
[data-is-whiteboard-panel-container="true"] > .bg-background-secondary[style*="width"]> .bg-background-primary div > .relative.grow.flex.flex-col .mt-3 .ProseMirror > [data-node-type*="toggle"] > [class*="nestedBlocks"],
[data-is-whiteboard-panel-container]  .ProseMirror > [data-node-type*="toggle"] > [class*="nestedBlocks"],
div[style*="--annotation-"] + div .ProseMirror > [data-node-type*="toggle"] > [class*="nestedBlocks"]{
    width: 100%;
}
@media (max-width: 600px) {
    :root {
        --bulletwrapperW: var(--notePadLeftRight);
    }
}


/*middle brder*/
[data-card-tab-id] > div > .ProseMirror > [data-node-type*="toggle"]:before,
.p-12.hepta-scrim [class*="editor"] > .ProseMirror > [data-node-type*="toggle"]:before,
.bg-background-primary > [style*="width: "] .app-region-drag + div [class*="group/"] .ProseMirror > [data-node-type*="toggle"]:before,
[data-is-whiteboard-panel-container="true"] > .bg-background-secondary[style*="width"]> .bg-background-primary div > .relative.grow.flex.flex-col .mt-3 .ProseMirror > [data-node-type*="toggle"]:before,
[data-is-whiteboard-panel-container]  .ProseMirror > [data-node-type*="toggle"]:before{
    content:"";
    display: block;
    position: absolute;
    width: 1px;
    background: hsla(0,0%,50%,1);
    top: 30px;
    bottom: 0;
    left: calc(var(--bulletwrapperW) * .5 - .5px);
    border-radius: 1px;
    transition: .1s;
  opacity: .0;
    
}

[data-card-tab-id] > div > .ProseMirror > [data-node-type*="toggle"][class*="folded"]:before,
.p-12.hepta-scrim [class*="editor"] > .ProseMirror > [data-node-type*="toggle"][class*="folded"]:before {
    bottom: 50%;
    
}

._hasNestedBlock_mglho_11>._bulletWrapper_mglho_1>div>span>div>._toggleIcon_mglho_4{
  opacity: .5
}


/*********
! TOGGLES > CHAT
*********/

/**references*/
.group\/1741629705525 .ProseMirror{
    position: relative;
}
.group\/1741629705525 .ProseMirror > [data-node-type*="toggle"]{
    position: relative;
    padding-left: var(--bulletwrapperW);
    width: calc(100% + var(--bulletwrapperW));
    margin-right: calc(var(--bulletwrapperW) * 0);
    align-self: flex-end;
}
.group\/1741629705525 .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"]{
        position: absolute;
    left: calc(var(--bulletwrapperW) * 0.0);
    width: var(--bulletwrapperW);
}

/*********
! TOGGLES > REFERENCES
*********/

/**references*/
.group\/1685197199740 + div .ProseMirror{
    position: relative;
}
.group\/1685197199740 + div .ProseMirror > [data-node-type*="toggle"]{
    position: relative;
    padding-left: var(--bulletwrapperW);
    width: calc(100% + var(--bulletwrapperW));
    margin-right: calc(var(--bulletwrapperW) * 0);
    align-self: flex-end;
}
.group\/1685197199740 + div .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"]{
        position: absolute;
    left: calc(var(--bulletwrapperW) * 0.0);
    width: var(--bulletwrapperW);
}

/*********
! TOGGLES > WHITEBOARD > RIGHT SIDEBAR > CHAT + NOTE
*********/
*:is(.group\/1700998616504, .group\/1741629705525) .ProseMirror {
    position: relative;
    --bulletwrapperW: 1.5rem;
}
*:is(.group\/1700998616504, .group\/1741629705525) .ProseMirror > [data-node-type*="toggle"] {
    position: relative;
    padding-left: var(--bulletwrapperW);
    width: calc(100% + var(--bulletwrapperW));
    margin-right: calc(var(--bulletwrapperW) * 0);
    align-self: flex-end;
}
*:is(.group\/1700998616504, .group\/1741629705525) .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"] {
    position: absolute;
    left: calc(var(--bulletwrapperW) * 0.0) !important;
    width: var(--bulletwrapperW);
    z-index: 939393;
}

*:is(.group\/1741629705525) .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"]:not([class*="Heading"]){
    top: -2px;
}

.group\/1741629705525 .ProseMirror > [data-node-type*="toggle"] > [class*="bullet"] {
    left: calc(var(--bulletwrapperW) * -1);
}