/***********
************
************
************
************
************
EDITOR TEXT COLORS - ROOT
************
************
************
************
************
************/

:root {
--bldClr:black;
--headingClr:black;
--strikethrough-Clr:hsl(0, 0%, 70%);
}


[data-theme="dark"] {
--bldClr:hsl(0, 0%, 93%);
--headingClr:hsl(0, 0%, 96%);
--strikethrough-Clr:hsl(0, 0%, 40%);
}

/***********
BOLD
************/
.ProseMirror strong {
	color: var(--bldClr);
}
.ProseMirror strong a {
	color:var(--active-item);
}
/***********
STRIKETHROUGH
************/
.ProseMirror s {
	text-decoration-thickness:1.5px !important;
	color: var(--strikethrough-Clr) !important;
}


/***********
INLINE MENTION
************/
.ProseMirror .text-active .border-b{
	border-bottom-style: dashed;

}

/***********
COLORED TEXT
************/

.ProseMirror [data-underline="true"] [data-color="gray"]{
border-bottom:1px solid var(--text-gray-editor);
}