/*root*/

:root {
  --refTstBrdW:0px;
  --refTstBrdClr1:red;
  --refTstBrdClr2:yellow;
  --refTstBrdClr3:green;
}
.group\/1685197199740,
.group\/1685197199740 > *,
.group\/1685197199740 > * > * {
  box-shadow: inset 0 0 0 var(--refTstBrdW) var(--refTstBrdClr1);
}

.group\/1685197199740 > *{
  --refTstBrdClr1:var(--refTstBrdClr2)
}

.group\/1685197199740 > * > *{
  --refTstBrdClr1:var(--refTstBrdClr3)
}

.group\/1685197199740 > svg[viewBox="0 0 14 14"] + div > .truncate.text-label {
  outline: var(--refTstBrdW) solid #00adff;
  outline-offset: -1px;
}

/*****************
******************
******************
! ATTRIBUTES - REORDER
******************
******************
******************/


/*info popup - reference container */
.hepta-pseudo-overlay > .absolute + .bg-background-secondary > div > div,
/*sidebar - reference container*/
[style*="width"]>[style*="width"] > div > .h-full.bg-background-secondary > div > div,
[class*="info"] > div:nth-child(4){
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}


/*info popup - all divs*/
.hepta-pseudo-overlay > .absolute + .bg-background-secondary > div > div > div,
/*sidebar - all divs*/
[style*="width"]>[style*="width"] > div > .h-full.bg-background-secondary > div > div > div,
/*note - all divs*/
[class*="info"] > div:nth-child(4) > div{
    width: 100% !important;
    max-width: 100%;
    order: 2
}

/*info popup - tags and whiteboard*/
.bg-background-secondary > div > div > .flex.mt-1.flex-row.items-start,
/*sidebar - tags and whiteboard*/
[style*="width"]>[style*="width"] > div > .h-full.bg-background-secondary > div > div > div.flex.mt-1.flex-row.items-start{
    order: 0;
}


/*info - popup*/
/*sidebar - properties*/
[style*="width"]>[style*="width"] > div > .h-full.bg-background-secondary > div > div > div.my-1{
    order: 1;
    box-shadow: 0 -1px 0 0 hsla(0,0%,50%,.2);
}


/*date created*/
[class*="info"] > div:nth-child(4) > .py-1,
/*sidebar - all divs*/
[style*="width"]>[style*="width"] > div > .h-full.bg-background-secondary > div > div > div.py-1{
    order: 4;
    box-shadow: 0 -1px 0 0 hsla(0,0%,50%,.2);
}









/********
*********
*********
ATRIBUTES > MOVE BACKLINKS TO BOTTOM
*********
*********
*********/


/********
SET PARENT TO FLEX
*********/

/*info > info popup */
.pr-\[calc\(20px-var\(--scrollbar-width\)\)\] > div,
/*info > bottom of note */
/*info > right sidebar */
[style*="width: "] .mt-1.w-full{
    display:flex;
    flex-direction:column;
    box-shadow: inset 0 0 0 var(--refTstBrdW) red;
    
}

/********
MOVE BACKLINKS TO BOTTOM
*********/

/*info > info popup */
.pr-\[calc\(20px-var\(--scrollbar-width\)\)\] > div > .mt-1.flex-col,
/*info > bottom of note */
[class*="info"] > .mt-1.flex-col,
/*info > right sidebar */
*:is([style*="width: "],.\@container\/reference-item) .mt-1.w-full > .my-1 + .flex.mt-1.flex-col{
    box-shadow:0px -1px 0 0 var(--light-middle-grey);
    order:9939;
    padding-bottom: 40px;
    padding-top: 10px;
}


/********
REMOVE HEIGHT
*********/

/*info > info popup */
.pr-\[calc\(20px-var\(--scrollbar-width\)\)\] > div .h-12,
/*info > bottom of note */
[class*="info"] .h-12,
/*info > right sidebar */
[style*="width: "] .mt-1.w-full > .h-12{
  display: none;
}

/********
*********
*********
! ATRIBUTES > WHITEBOARDS
*********
*********
*********/

/*MAKE COLUMN*/
*:is([class*="info"],.hepta-pseudo-overlay,[style*="width: "],.\@container\/reference-item) .flex.flex-wrap.gap-y-1\.5.py-\[5px\].pl-2\.5{
  flex-direction: column;
}
/********
ICONS > WHITEBOARDS > GREEN
*********/
*:is([class*="info"],.hepta-pseudo-overlay,[style*="width: "],.\@container\/reference-item) .flex.flex-wrap.gap-y-1\.5.py-\[5px\].pl-2\.5 svg {
  fill: rgb(61, 174, 162) !important;
}

/********
ICONS > WHITEBOARD BACKLINS > GREEN
*********/
*:is([class*="info"],.hepta-pseudo-overlay,[style*="width: "],.\@container\/reference-item) *:is(.group\/1685197199740, .group\/1685197199740 + div) svg path:is([d*="m21.32 5.04999-6-2h"],[d*="M6.632 3.123a.667.667"]){
  fill: rgb(61, 174, 162) !important;
}


/*****************
******************
******************
! REFERENCES - TAGS
******************
******************
******************/
:root {
    --refTagBgClr: hsla(214, 8%, 30%, .075);
    --refTagBrdClr: hsla(214, 8%, 20%, 0.15);
    --refTagFilter-Hover:brightness(.8)contrast(9);
}
[data-theme="dark"] {
    --refTagBgClr: hsl(214, 8%, 55%,0.15);
    --refTagBrdClr: hsl(214, 8%, 55%,0.135);
}
.w-40 + div .text-label-mini [class*="_tag"] {
    background: var(--refTagBgClr);
    border-color: var(--refTagBrdClr);
    transition: .1s;
}
.w-40 + div .text-label-mini [class*="_tag"]:hover {
    --refTagBgClr:hsla(214, 8%, 50%, 0.2);
}

/*****************
******************
******************
! REFERENCES - PROPERTIES
******************
******************
******************/
:root {
  --propLabelIcnW:.875rem;
  --propValueW:100%;
  --propValueMaxW:calc(100% - 34px);
  --propValueMargL:calc(var(--propLabelIcnW));
}
/*labels*/
/*labels*/
.text-label.text-middle-hard-grey.w-40 {
  width: 12rem
}
/**url**/
[class*="group"] > a.box-border.block.h-full {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 50px;
}

.grow.text-label.text-middle-grey {}

.relative.flex[style*="max-width: calc(0px + 50vw)"] {
  
}
/******
RIGHT SIDEBAR > WIDTH - UNDER 400px > 

PROPERTY WRAPPER > SET TO COLUMN
*******/
.relative.flex:is([style*=" width: 3"], [style*=" width: 40"], [style*=" width: 41"],[style*=" width: 42"],[style*=" width: 43"],[style*=" width: 44"], [style*=" width: 45"]) .mt-2 > .my-1[class*="gap"] > div{
  flex-direction: column;
  
}

/*PROPERTY - LABEL*/
.relative.flex:is([style*=" width: 3"], [style*=" width: 40"], [style*=" width: 41"],[style*=" width: 42"],[style*=" width: 43"],[style*=" width: 44"], [style*=" width: 45"]) .mt-2 > .my-1[class*="gap"] > div > div.w-40 {
  width: 100% !important;
  box-shadow: inset 0 0 0 var(--refTstBrdW) red;
  margin: unset;
}

/*PROPERTY - VALUE*/
.relative.flex:is([style*=" width: 3"], [style*=" width: 40"], [style*=" width: 41"],[style*=" width: 42"],[style*=" width: 43"],[style*=" width: 44"], [style*=" width: 45"]) .mt-2 > .my-1[class*="gap"] > div > div.w-40 + div{
  width: var(--propValueW) !important;
  max-width: var(--propValueMaxW) !important;
  box-shadow: inset 0 0 0 var(--refTstBrdW) red;
    margin: unset;
  margin-left: var(--propValueMargL)

}

/*****************
******************
******************
! REFERENCES - CONNECTIONS + TAGS
******************
******************
******************/


/*CONNECTIONS + TAGS > ICONS*/
.group\/1699370106252 .flex[style*="transform: scale"] > div[class*="gap-"] > .relative{
  order: 0;
  background: hsla(0,0%,0%,0.3);
  box-shadow:unset;
  border: 1px solid hsl(0,0%,50%,0.3);

  display: flex;
  align-items: center;
  justify-content: center;

}

.group\/1699370106252 .flex[style*="transform: scale"] > div[class*="gap-"] > .relative:hover{
  background: hsla(0,0%,50%,0.1);
  filter: brightness(1.4);
}

.group\/1699370106252 .flex[style*="transform: scale"] > div[class*="gap-"] > .relative svg {
  transform: scale(1.3);
}
/*connection text*/

.group\/1699370106252 .flex[style*="transform: scale"] .ProseMirror{
  order: 2;

}
/*connection*/

.group\/1699370106252 .flex[style*="transform: scale"] .ProseMirror + [data-editor-type="previewer"]{
  order: 1;
  padding-top: 2px;
    width: max-content !important; 
  max-width: 20% !important;
}


.group\/1699370106252 .flex[style*="transform: scale"] .ProseMirror + [data-editor-type="previewer"] .ProseMirror p{
  flex-basis: max-content;
  word-break: normal;
  width: max-content !important; 
  max-width: 100%;
  display: inline-block;
  font-size: calc(1em - 1px);
    background: hsla(0,0%,0%,0);
  border: 1px solid hsl(0,0%,50%,0);
  padding:1px 6px;
  border-radius: 16px;
  font-style: italic;
  font-weight: 600;
  
}


/*TAGS > ICON*/


.group\/1699370106252 .flex[style*="transform: scale"] > div[class*="gap-"] > .relative.text-label-mini {
  font-size: 14px;
  line-height: 1;
  padding: 7px 0.7rem !important;
  height: 27px;
}
.group\/1699370106252 .flex[style*="transform: scale"] > div[class*="gap-"] > .relative.text-label-mini > p {
  padding: 0px;

}
.group\/1699370106252 .flex[style*="transform: scale"] > div[class*="gap-"] > .relative.text-label-mini > svg {
  margin: 0px;
}

/*TAGS > CONTENT*/

.group\/1699370106252 .flex[style*="transform: scale"] > div[class*="gap-"] > .relative.text-label-mini + [data-editor-type="previewer"]{
  padding-top: 6px;
  padding-left: 10px;
}

/*****************
******************
******************
! REFERENCES - CARD TITLES
******************
******************
******************/
:root {
  --refTitlePad: .375rem;
  --refArrowIcnW: 18px;
}

/*CONTAINER*/
.group\/1685197199740 {
  display: flex;
  align-items: flex-start;
}


/*********
CONTAINER > ROWS
**********/
.group\/1685197199740 > * {
  position: relative
}


/*********
CONTAINER > ROW 1: EXPAND COLLAPSE ICON
**********/
.group\/1685197199740 > svg[viewBox="0 0 14 14"] {
  margin-bottom: unset;
  margin-top: calc(var(--refTitlePad) * .5);
}

/*********
CONTAINER > ROW 2: TEXT
**********/
/*TEXT CONTAINER*/
.group\/1685197199740 > div:nth-child(2) {
  padding-right: calc(var(--refArrowIcnW) + var(--refTitlePad));
  align-items: flex-start;
}
/*TEXT*/
.group\/1685197199740 > svg[viewBox="0 0 14 14"] + div > .truncate.text-label {

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap !important;

  /*
  max-width: calc(100% - var(--refArrowIcnW) + var(--refTitlePad)) !important;
  */
}

/*********
CONTAINER > ROW 3: HOVER ARROW
**********/
.group\/1685197199740 > div.ml-auto {
  margin-top: calc(var(--refTitlePad) * .25)
}
.group\/1685197199740 > div.ml-auto > svg {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--refArrowIcnW);
  height: var(--refArrowIcnW);
}
/*********
HOVER ARROW
**********/
/*********
OLD SELECTOR: svg after a 'group'

[class*="group"] > svg[viewBox="0 0 14 14"] 

NEW SELECTOR:  (the specific group that wraps Reference Card Titles)

.group\/1685197199740

*********/