/*****************
******************
******************
EDITOR > TABLES
******************
******************
******************/



:root {
		--tableHeaderBgClr:hsla(0, 0%, 0%, .035);
		--tabbleCellBgClr-Gray:var(--tableHeaderBgClr);

}
[data-theme="dark"] {
		--tableHeaderBgClr:hsla(0, 0%, 100%, .08);
		--tabbleCellBgClr-Gray:var(--tableHeaderBgClr);
}



[data-theme="dark"] [data-node-type="table"] [data-node-type="table_cell"] {
	--bg-blue-editor: hsla(200, 100%, 44%, 0.2);
}
/*
.ProseMirror [data-node-type=table] {
	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}
*/

/*bottom row adder*/
.ProseMirror [data-node-type="table"] table + div > div.absolute.left-0.top-0 {
	opacity: 0;
	visibility: hidden !important;
	display: none;
}
/*ROW/COLUMN ADDER - MAKE BIGGER*/ 
.ProseMirror [data-node-type="table"] table + div > .touch-none {
	transition: .12s !important;
	background: transparent !important;
	box-shadow: none !important;
}
.ProseMirror [data-node-type="table"] table + div > .touch-none:hover {
	background: hsla(0, 0%, 50%, 0.3) !important;
}
/*COLUMN ADDER*/
:root {
	--columnAdderWidth: 70px;
	--tableBrdRad: 3px;
}
.ProseMirror [data-node-type="table"] table + div > .touch-none.h-4 {
	width: var(--columnAdderWidth);
	margin-left: calc(var(--columnAdderWidth) * -.5)
}
.ProseMirror [data-node-type="table"] table + div > .touch-none.ease-in-out {
	background: transparent !important;
	transition: .3s !important;
	opacity: 0 !important;
	display: none;
}

/*****************
******************
******************
EDITOR > TABLES > BORDER RADIUS
******************
******************
******************/
 .ProseMirror table {
	border-radius: var(--tableBrdRad) !important;
	border-color: hsla(0, 0%, 40%, .1)!important;
	outline: 1px solid var(--light-middle-grey);
	outline-offset: -1px
}
 .ProseMirror table tbody tr > td:first-child {
	border-left-color: transparent;
}
 .ProseMirror table tbody > tr > td:last-child {
	border-right-color: transparent
}
 .ProseMirror table tbody tr:first-child > td {
	border-top-color: transparent;
}
 .ProseMirror table tbody tr:last-child > td {
	border-bottom-color: transparent
}

/*****************
******************
******************
EDITOR > TABLES > FIX WIDTH THING
******************
******************
******************/

[data-node-type="table"][style*="padding-left: 0px"],
[data-node-type="table"][style*="padding-left: 24px"]{
		min-width: 100% !important;
}

[data-node-type="table"] > [style*="0px"],
[data-node-type="table"] > [style*="21px"],
[data-node-type="table"][style*="24px"]  > div{
		width: calc(100% - 0px) !important;
}
[data-node-type="table"] > [style*="0px"] > table,
[data-node-type="table"] > [style*="21px"] > table,
[data-node-type="table"][style*="24px"]  > div > table{
}


[class*="nested"]  [data-node-type="table"] > div > table[style*="min-width"]{
		width:100% !important;
}

/*****************
******************
******************
EDITOR > TABLES > BACKGROUNDS
******************
******************
******************/

/*COLUMN AND ROW HEADERS*/
[data-node-type="table"]
._hasColumnHeader_7b1uz_13>div>table>tbody>tr>td:first-child, 
._hasColumnHeader_7b1uz_13>div>table>tbody>tr>th:first-child,
._hasRowHeader_7b1uz_8>div>table>tbody>tr:first-child>td, ._hasRowHeader_7b1uz_8>div>table>tbody>tr:first-child>th,
._hasColumnHeader_7b1uz_13>div>table>tbody>tr>td:first-child, ._hasColumnHeader_7b1uz_13>div>table>tbody>tr>th:first-child{
		background-color: var(--tableHeaderBgClr) !important;
}

/*BACKGROUND COLOR - GRAY*/
[data-node-type="table"] [data-node-type="table_cell"][data-background-color="gray"]{
		background-color: var(--tabbleCellBgClr-Gray)!important;
}



