/***********
************
************
************
************
************
! CONTEXT MENUS - ROOT
************
************
************
************
************
************/
:root {
    --mentionmenuBgClr: hsla(0, 0%, 97%, 1);
}

[data-theme="dark"] {
    --mentionmenuBgClr: hsl(207, 4%, 24%);
}


/*****************
******************
! CONTEXT MENUS
******************
******************/
/*****************
******************
BACKSLASH MENU
******************
******************/
.fixed.z-dropdown-menu + .max-h-\[40vh\].w-62.overflow-x-hidden.py-1.fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl {}


/*****************
******************
COMMAND + BACKSLASH
******************
******************/
.fixed.z-dropdown-menu + .w-62.overflow-hidden.fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl {}


/*****************
******************
MENTION / @ "AT" MENU
******************
******************/
:root {
    --mentionContextMenuItemWrapper-PadLeftRight: 10px;
    --mentionContextMenuItemWrapper-PadTopBtm: 10px;
    /**/
    --mentionContextMenuItem-PadLeft: 7px;
}
#root ~ div .fixed.left-0.top-0.z-dropdown-menu.h-screen.w-screen + .flex[class*="90vh"].max-h-80.overflow-hidden[class*="--scrollbar-width"].fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl {
    width: 600px !important;
    max-width: calc(100vw - 3vw) !important;
    border-radius: 17px !important;
    background: var(--mentionmenuBgClr);
    backdrop-filter: blur(10px);
}


/*****************
MENTION / @ "AT" MENU > LIST
******************/
#root ~ div .fixed.left-0.top-0.z-dropdown-menu.h-screen.w-screen + .flex[class*="90vh"].max-h-80.overflow-hidden[class*="--scrollbar-width"].fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl > div:first-child {
    flex: 1;
    padding-left: var(--mentionContextMenuItemWrapper-PadLeftRight) !important;
    padding-right: var(--mentionContextMenuItemWrapper-PadLeftRight) !important;
    padding-top: 0pc !important;
    padding-bottom: var(--mentionContextMenuItemWrapper-PadTopBtm) !important;
}
/*****************
MENTION / @ "AT" MENU > LIST > CONTENT TYPE CONTAINTER
******************/
#root ~ div .fixed.left-0.top-0.z-dropdown-menu.h-screen.w-screen + .flex[class*="90vh"].max-h-80.overflow-hidden[class*="--scrollbar-width"].fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl > div:first-child > div {}

/*****************
MENTION / @ "AT" MENU > LIST > CONTENT TYPE LABEL
******************/
#root ~ div .fixed.left-0.top-0.z-dropdown-menu.h-screen.w-screen + .flex[class*="90vh"].max-h-80.overflow-hidden[class*="--scrollbar-width"].fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl > div:first-child > div > p.text-label-mini {
    color: var(--bldClr);
    font-weight: 500 !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    position: sticky;
    backdrop-filter: blur(40px) !important;
    top: 0px;
    z-index: 10 !important;
    width: calc(100% + var(--mentionContextMenuItemWrapper-PadLeftRight));
    margin-left: calc(var(--mentionContextMenuItemWrapper-PadLeftRight) * -1);
    padding-left: calc(var(--mentionContextMenuItem-PadLeft) + var(--mentionContextMenuItemWrapper-PadLeftRight));
    padding-top: calc(var(--mentionContextMenuItemWrapper-PadTopBtm) + 2px);
    padding-bottom: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
}
/*****************
MENTION / @ "AT" MENU > LIST > ITEMS
******************/
#root ~ div .fixed.left-0.top-0.z-dropdown-menu.h-screen.w-screen + .flex[class*="90vh"].max-h-80.overflow-hidden[class*="--scrollbar-width"].fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl > div:first-child > div > div {
    padding-left: var(--mentionContextMenuItem-PadLeft);
    word-break: break-word !important;
    padding-top: .3rem;
    padding-bottom: .3rem;
}
#root ~ div .fixed.left-0.top-0.z-dropdown-menu.h-screen.w-screen + .flex[class*="90vh"].max-h-80.overflow-hidden[class*="--scrollbar-width"].fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl > div:first-child > div > div .grow {
    -webkit-font-smoothing: subpixel-antialiased !important;
}
#root ~ div .fixed.left-0.top-0.z-dropdown-menu.h-screen.w-screen + .flex[class*="90vh"].max-h-80.overflow-hidden[class*="--scrollbar-width"].fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl > div:first-child > div > div svg {
    margin-top: 1px;
}
/*****************
MENTION / @ "AT" MENU > PREVIEW
******************/
#root ~ div .fixed.left-0.top-0.z-dropdown-menu.h-screen.w-screen + .flex[class*="90vh"].max-h-80.overflow-hidden[class*="--scrollbar-width"].fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl > div.rounded-xl {
    width: 230px;
    margin-left: 0px !important;
    margin-right: var(--mentionContextMenuItemWrapper-PadLeftRight) !important;
    margin-top: var(--mentionContextMenuItemWrapper-PadTopBtm) !important;
    margin-bottom: var(--mentionContextMenuItemWrapper-PadTopBtm) !important;
}
@media (max-width: 600px) {
    :root {
        --mentionContextMenuItemWrapper-PadLeftRight: 6px;
        --mentionContextMenuItemWrapper-PadTopBtm: 6px;
    }
    /*preview*/
    #root ~ div .fixed.left-0.top-0.z-dropdown-menu.h-screen.w-screen + .flex[class*="90vh"].max-h-80.overflow-hidden[class*="--scrollbar-width"].fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl > div.rounded-xl {
        width: 40%;
    }
}
/*****************
******************
WHITEBOARD - LINK TO WHITEBOARD
******************
******************/
.fixed.z-dropdown-menu + .w-62.fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl.appear-done.enter-done {
    overflow-x: visible;
    -webkit-backdrop-filter: unset !important;
    backdrop-filter: unset !important;
    box-shadow: unset;
    background-color: unset!important;
    padding: unset;
}
.fixed.z-dropdown-menu + .w-62.fixed.z-dropdown-menu.rounded.bg-menu-texture-bg-medium.text-label.shadow-main.backdrop-blur-2xl.appear-done.enter-done > div {
    min-width: 420px !important;
    max-width: calc(100vw - 3vw) !important;
    --tw-backdrop-blur: blur(40px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    --tw-shadow: var(--shadow-main);
    --tw-shadow-colored: var(--shadow-main);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: var(--menu-texture-bg-medium);
    overflow-x: hidden;
    border-radius: .25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
}


/*****************
******************
WHITEBOARD - CONTEXT MENU - THE MAIN ONE
******************
******************/
#root ~ div .fixed.z-dropdown-menu[class*="80vh"][style*="width: 248"] {
    width: 248px !important;
    background: var(--menu-texture-bg-medium)!important;
}

/*****************
******************
WHITEBOARD - CONTEXT MENU - CONNECTOR
******************
******************/
#root ~ div .fixed.z-dropdown-menu[class*="80vh"][style*="width: 248"] {
    width: 248px !important;
    background: var(--menu-texture-bg-medium)!important;
}

/*****************
******************
WHITEBOARD - CONTEXT MENU - TIDY
******************
******************/
:root {
    --whiteboardTidyAdjustWidth: 100px;
}

#root ~ .fixed.z-dropdown-menu.backdrop-blur-2xl > div {
    position: relative;
}

#root ~ .fixed.z-dropdown-menu.backdrop-blur-2xl > div:after,
#root ~ .fixed.z-dropdown-menu.backdrop-blur-2xl > div:before {
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: -150px;
    height: 150px;
    left: -10px;
    right: -10px;
    ;
}

#root ~ .fixed.z-dropdown-menu.backdrop-blur-2xl > div:after {
    top: unset;
    bottom: -150px;
}

#root ~ .fixed.z-dropdown-menu.backdrop-blur-2xl > div > div.box-border:after,
#root ~ .fixed.z-dropdown-menu.backdrop-blur-2xl > div > div.box-border:before {
    content: "";
    display: block;
    position: absolute;
    background: transparent;
  /*˜ top: -150px;*/
    bottom: -150px;
    left: -120px;
    width: 120px;
    z-index: 0;
}

#root ~ .fixed.z-dropdown-menu.backdrop-blur-2xl > div > div.box-border:before {
    left: unset;
    right: -120px;
}


/*****************
******************

TEXT SELECTION MENU
******************
******************/
:root {
    --txtClrMenuBtnBgClr: white;
    --txtClrMenuBtnSVGBgClr:#c1c1c1;
    --txtClrMenuBtnSVGBrdClr: black;
}
[data-theme="dark"] {
    --txtClrMenuBtnBgClr: hsla(207, 5%, 24%, 1.0);
    --txtClrMenuBtnSVGBgClr:#000;
    --txtClrMenuBtnSVGBrdClr: white;
}

/*FIRST MENU*/
[data-is-floating-menu="true"] > div > button:last-child {
    background: var(--txtClrMenuBtnBgClr);
}
[data-is-floating-menu="true"] > div > button:last-child > svg:first-child {
    background: var(--txtClrMenuBtnSVGBgClr);
    box-shadow: 0 0 0 2px var(--txtClrMenuBtnSVGBrdClr) !important;
  filter: brightness(2)
}

/*2ND MENU*/
.z-dropdown-menu[style*="width: 136"] {
  padding-left: 0px;
  padding-right: 0px;
  background: var(--txtClrMenuBtnBgClr);
}
.z-dropdown-menu[style*="width: 136"] > div{
  padding-left: .5rem;
  padding-right: .5rem;
}
/*INFO POPUP*/

.p-12.hepta-scrim > [class*="680"][class*="max-w-120"] {
  width: 700px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 900px;
}