/***************
! EMBEDS
****************/
:root {
	--embedPadTopBtm:16px;
	--embedBrdRad:0px;
	--embedPadLR:10px;
	--embedPadLR-Active:10px;
	--embedTransition:.1s;
	/**/
	--embedBrdDashH:2.25px;
	--embedBrdDashOpacity:1;
	--embedDashPosTop:0;
	--embedDashPosBtm:0;
	--embedDashPosL:calc(var(--embedPadLR) * -1);
	--embedDashPosR:calc(var(--embedPadLR) * -1);
}

/*COLORS*/

:root {
	--embedBg:hsla(0, 0%, 98%, 1.0);
	--embedBg-Hover:hsla(0, 0%, 94%, 1.0);
	--embedBg-Selected:hsla(210, 55%, 89%, 1.0);
	--embedBrdClr:hsla(0, 0%, 89%, 1.0);
	--embedBrdClr-Active:hsla(210, 36%, 83%, 1.0);
}

[data-theme="dark"] {
	--embedBg:hsla(0, 0%, 100%, .02);
	--embedBgClr:hsla(0, 0%, 100%, .02);
	--embedBg:hsla(0, 0%, 0%, .052);
	/*--embedBg-Hover:linear-gradient(
			to right, 
			transparent 0%, 
			var(--embedBgClr) var(--embedPadLR-Active), 
			var(--embedBgClr) calc(100% - var(--embedPadLR-Active)), 
			transparent);*/
	--embedBg-Hover:hsla(0, 0%, 0%, .1);
	--embedBg-Selected:hsla(211, 30%, 27%, 1.0);
	--embedBrdClr:hsla(0,0%,0%,0.19);
	--embedBrdClr-Active:hsla(211, 25%, 36%, 1.0);
}

[class*="ProseMirror-hepta-style"] > .ProseMirror,
[class*="ProseMirror-hepta-style"] > .ProseMirror > *{
	box-shadow: inset  0 0 0 var(--embedTstBrdW) red;
}
[class*="ProseMirror-hepta-style"] > .ProseMirror  [data-node-type="embed"]{
	position: relative;
	
}

[class*="ProseMirror-hepta-style"] > .ProseMirror  [data-node-type="embed"] > [class*="group"] > [class*="ProseMirror-hepta-style"],
.grid.select-none .ProseMirror  [data-node-type="embed"] > [class*="group"] > [class*="ProseMirror-hepta-style"]{
	padding-top: var(--embedPadTopBtm);
	padding-bottom:  var(--embedPadTopBtm);
	padding-left:  var(--embedPadLR);
	padding-right:  var(--embedPadLR);
	background: var(--embedBg);
	border-radius: var(--embedBrdRad);
	border-color: var(--embedBrdClr);
	border-color: transparent;
	transition: var(--embedTransition);
		width: calc(100% + var(--embedPadLR) * 2);
	margin-left: calc(var(--embedPadLR) * -1);
	--embedPadLR:var(--embedPadLR-Active);
	outline: var(--embedTstBrdW) solid green;
}

/*EMBED > HOVER *NOT SELECTED*/
[class*="ProseMirror-hepta-style"] > .ProseMirror  [data-node-type="embed"]:hover > [class*="group"] > [class*="ProseMirror-hepta-style"],
.grid.select-none .ProseMirror  [data-node-type="embed"]:hover > [class*="group"] > [class*="ProseMirror-hepta-style"]{
	--embedBrdRad:3px;


}

/*EMBED > SELECTED*/
[class*="ProseMirror-hepta-style"] > .ProseMirror  [data-node-type="embed"][class*="selecting"] > [class*="group"] > [class*="ProseMirror-hepta-style"]{
	--embedBg:var(--embedBg-Selected);
	--embedBrdClr:var(--embedBrdClr-Active);
	--IconEmbedDashLine:var(--IconEmbedDashLineActive);
	--embedBrdRad:5px;
	--embedBrdDashOpacity:0;
	border-color: var(--embedBrdClr-Active);
	/*add faux padding*/

}
/*EMBED > AFTER THINGY*/
[class*="ProseMirror-hepta-style"] > .ProseMirror  [data-node-type="embed"]:after {
	opacity: 0 !important;
}
[class*="ProseMirror-hepta-style"] > .ProseMirror  [data-node-type="embed"][class*="selecting"]:after{
	opacity: 0;
	
}

/*BORDER DASH*/
:root {

}
/*top border dash*/
[class*="ProseMirror-hepta-style"] > .ProseMirror  [data-node-type="embed"]> [class*="group"] > [class*="ProseMirror-hepta-style"]:before,
.grid.select-none .ProseMirror  [data-node-type="embed"]> [class*="group"] > [class*="ProseMirror-hepta-style"]:before,
/*bottom border dash*/
[class*="ProseMirror-hepta-style"] > .ProseMirror  [data-node-type="embed"]> [class*="group"] > [class*="ProseMirror-hepta-style"]:after,
.grid.select-none .ProseMirror  [data-node-type="embed"]> [class*="group"] > [class*="ProseMirror-hepta-style"]:after{
	content: "";
	position: absolute;
	display: block;
	background-image: var(--IconEmbedDashLine);
	background-position: center left;
	background-repeat: repeat;
	height: var(--embedBrdDashH);
	top: var(--embedDashPosTop);
	left: var(--embedDashPosL);
	right:  var(--embedDashPosR);
	z-index: 2;
	opacity: var(--embedBrdDashOpacity);
	transition: var(--embedTransition);
}

[class*="ProseMirror-hepta-style"] > .ProseMirror  [data-node-type="embed"]> [class*="group"] > [class*="ProseMirror-hepta-style"]:after,
.grid.select-none .ProseMirror  [data-node-type="embed"]> [class*="group"] > [class*="ProseMirror-hepta-style"]:after{
	top: unset;
	bottom: var(--embedDashPosBtm);
}


/***************
! EMBEDS - HOVER MENU
****************/
:root {
	--embedHoverMenuH:20px;
	--embedMargTopBtm:.25rem;
}
[class*="ProseMirror-hepta-style"] > .ProseMirror [data-node-type="embed"] > [class*="group"] > .absolute {
	z-index: 93939393;
}



/****
MENU > NORMAL
*****/
[class*="ProseMirror-hepta-style"] > .ProseMirror [data-node-type="embed"]:not([data-node-type="embed"] [data-node-type="embed"]) > [class*="group"] > .absolute {
	position: sticky;
	height: var(--embedHoverMenuH);
	display: flex;
	flex-direction: column;
	top: 0px;
	margin-left: auto;
	width: fit-content;
	overflow: visible;
	visibility: visible !important;
	opacity: 0 !important;
	max-width: 100%;
	 max-width: calc(100% - 80px);
}
/****
MENU > HOVER
*****/
[class*="ProseMirror-hepta-style"] > .ProseMirror [data-node-type="embed"]:not([data-node-type="embed"] [data-node-type="embed"]):hover > [class*="group"] > .absolute{
	opacity: 1 !important;
}
/****
MENU > TEXT OUTER
*****/
[class*="ProseMirror-hepta-style"] > .ProseMirror [data-node-type="embed"]:not([data-node-type="embed"] [data-node-type="embed"]) > [class*="group"] > .absolute > div {
	min-height: fit-content;
	display: flex;
	justify-content: flex-end !important;
	align-items: center;
	margin-top: 0px;
	
}
[class*="ProseMirror-hepta-style"] > .ProseMirror [data-node-type="embed"]:not([data-node-type="embed"] [data-node-type="embed"]) > [class*="group"] > .absolute > div .text-label {
	min-height: 100%;
	max-width: calc(100%);
	white-space: nowrap
}

[class*="ProseMirror-hepta-style"] > .ProseMirror [data-node-type="embed"]:not([data-node-type="embed"] [data-node-type="embed"]) > [class*="group"] > .absolute > div .text-label .truncate {
		text-overflow: ellipsis !important;
	overflow: hidden !important;
	white-space: nowrap !important;
}

/****
OVERRIDES > EMBED
*****/

:root {
	--embedDashPosTop:-1px;
	--embedDashPosBtm:-1px;
	--embedDashPosL:0;
	--embedDashPosR:0;
}

[class*="ProseMirror-hepta-style"] > .ProseMirror [data-node-type="embed"]:not([data-node-type="embed"] [data-node-type="embed"]) > [class*="group"] > .absolute + div {
	position: relative;
}


[class*="ProseMirror-hepta-style"] > .ProseMirror [data-node-type="embed"]:not([data-node-type="embed"] [data-node-type="embed"]) > [class*="group"]{
	margin-top: calc(var(--embedHoverMenuH) * -1)
}

/***************
! ICONS
****************/
:root {
	/*DASHED LINE - LIGHT*/
	--IconEmbedDashLine-LIGHT: url('data:image/svg+xml;utf8,<svg viewBox="0 0 50 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="1" width="25" height="10" rx="5" fill="%23808080" fill-opacity="0.3"/></svg>');
	/*DASHED LINE - ACTIVE - LIGHT*/
	--IconEmbedDashLineActive-LIGHT: url('data:image/svg+xml;utf8,<svg viewBox="0 0 50 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="1" width="25" height="10" rx="5" fill="%23007BFF" fill-opacity="0.5"/></svg>');
	/*DASHED LINE - DARK*/
	--IconEmbedDashLine-DARK: url('data:image/svg+xml;utf8,<svg viewBox="0 0 50 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="1" width="25" height="10" rx="5" fill="%23808080" fill-opacity="0.325"/></svg>');
	/*DASHED LINE ACTIVE - DARK*/
	--IconEmbedDashLineActive-DARK: url('data:image/svg+xml;utf8,<svg viewBox="0 0 50 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="1" width="25" height="10" rx="5" fill="%234DA0FF" fill-opacity="0.45"/></svg>');
}


:root {
	--IconEmbedDashLine: var(--IconEmbedDashLine-LIGHT);
	--IconEmbedDashLineActive:var(--IconEmbedDashLineActive-LIGHT);
}
[data-theme="dark"] {
	--IconEmbedDashLine: var(--IconEmbedDashLine-DARK);
	--IconEmbedDashLineActive:var(--IconEmbedDashLineActive-DARK);
}