/***********
************
************
************
************
************
EDITOR - ROOT
************
************
************
************
************
************/

:root {
	--blockquoteBrdClr: hsla(0, 0%, 0%, .1);
	--blockquoteBrdLeftClr: hsla(0, 0%, 0%, .25);
	--blockquoteBgClr: hsla(0, 0%, 0%, .015);
}


[data-theme="dark"] {
	--blockquoteBrdClr: hsl(216, 6%, 100.5%, .1);
	--blockquoteBrdLeftClr: hsl(216, 6%, 100%, .1);
	--blockquoteBgClr: hsl(216, 6%, 100%, .0125);
}

/***********
************
BLOCKQUOTES 
************
************/

:root {
	--blockquoteBrdRad: 3px;
}
.ProseMirror blockquote {
	position: relative;
	border-left-color: transparent !important;
	outline: 1px solid var(--blockquoteBrdClr);
	outline-offset: -1px;
	border-radius: var(--blockquoteBrdRad);
	background: var(--blockquoteBgClr);
	border-top-left-radius: calc(var(--blockquoteBrdRad) * 1.75) !important;
	border-bottom-left-radius: calc(var(--blockquoteBrdRad) * 1.75) !important;
}

/*blockquote left border pseudo*/

.ProseMirror blockquote:before {
	content: "";
	display: block;
	position: absolute;
	background: var(--blockquoteBrdLeftClr);
	left: -3px;
	top: 0;
	bottom: 0;
	width: 6px;
	border-top-left-radius: calc(var(--blockquoteBrdRad) * 1.75);
	border-bottom-left-radius: calc(var(--blockquoteBrdRad) * 1.75);
}

/***********
************
MENTIONS 
************
************/
.ProseMirror [data-node-type="mention"] > [class*="group"] {
	align-items: flex-start;
}

.ProseMirror [data-node-type="mention"] > [class*="group"] > svg {
	margin-top: 7px;
	opacity: .7;
}
.ProseMirror [data-node-type="mention"] > [class*="group"] .truncate {
	white-space: normal;
	overflow: unset;
	height: unset;
}
.ProseMirror [data-node-type="mention"] > [class*="group"] .truncate .h-px {
	opacity: 0;
}
/***********
************
TABLES
************
************/

/*cells - normal*/
[data-node-type="table"] table td {
	transition: .1s;
}

/*cells - selecting*/
[data-node-type="table"] table td[class*="selectedCell"] {
	outline: 2px solid var(--active-item);
	outline-offset: -1px;
}
.whiteboard-canvas [data-is-editing=true] .ProseMirror [data-node-type=table] {
	overflow: unset;
}

/***********
************
TABLES - Hover thingys
************
************/
/*cells - editing*/
[data-node-type="table"] table + div > .border-2 {
	opacity: 0;
}
/*grabbers*/
[data-node-type="table"] table + div > .touch-none {
	opacity: .35 !important;
	transition: 0s;
}
/*grabbers - table hover*/
[data-node-type="table"] table + div > .touch-none:hover {
	opacity: 1 !important;
}

/*bottom row adder*/
[data-node-type="table"] table + div > div.absolute.left-0.top-0 {
	opacity: 0;
}


/***********
************
HIGHLIGHTS
************
************/
[style*="var(--annotation-"] + [class*="ProseMirror"] {
	background: transparent;
}
/***********
************
IMAGES
************
************/


/*exclude embedded images and svgs*/
.ProseMirror [data-node-type="embed"][class*="self-start"],
.ProseMirror [data-node-type="embed"][class*="self-center"],
.ProseMirror [data-node-type="embed"][class*="self-end"],
.ProseMirror [data-node-type="image"] {
	background: transparent;
	box-shadow: 0 0 0 1px solid var(--blockquoteBrdClr);
	border-radius: calc(var(--blockquoteBrdRad) * 2);
	padding: 0px;
	transition: 0.15s;
	overflow: hidden;
}


/*EMBEDDED IMAGES - SELECTING*/
.ProseMirror [data-node-type="embed"][class*="self-start"][class*="selecting"],
.ProseMirror [data-node-type="embed"][class*="self-center"][class*="selecting"],
.ProseMirror [data-node-type="embed"][class*="self-end"][class*="selecting"] {
	box-shadow: 0 0 0 3px var(--active-item);
}
/*IMAGES - SELECTING*/
.ProseMirror [data-node-type="image"][class*="selecting"] {
	box-shadow: 0 0 0 3px var(--active-item);
}


/*****************
******************
******************
EMBEDDED - IMAGES - POPUP TITLE / MEDIA TOOLBAR
******************
******************
******************/


.ProseMirror [data-node-type="embed"][class*="self-"] {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}


/*MEDIA TOOLBAR - POSITION*/
.ProseMirror [data-node-type="embed"][class*="self-"] > [class*="group"] > [class*="group"] > .absolute.right-2,
[data-object-type="imageCardInstance"] > .overflow-hidden + .absolute {
	right: 10px;
	max-width: calc(100% - 20px);
}


/*MEDIA TOOLBAR - CONTAINER*/
.ProseMirror .bg-media-toolbar-bg,
[data-object-type="imageCardInstance"] > .overflow-hidden + .absolute .bg-media-toolbar-bg {
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

/*MEDIA TOOLBAR - ELEMENTS - ALL*/
.ProseMirror [data-node-type="embed"][class*="self-"] .bg-media-toolbar-bg > div.border-r-media-divider,
[data-object-type="imageCardInstance"] > .overflow-hidden + .absolute .bg-media-toolbar-bg > div.border-r-media-divider {
	transition: .1s;
}


/*MEDIA TOOLBAR - ELEMENTS - TITLE*/
.ProseMirror [data-node-type="embed"][class*="self-"] .bg-media-toolbar-bg > div.border-r-media-divider:nth-of-type(1),
[data-object-type="imageCardInstance"] > .overflow-hidden + .absolute .bg-media-toolbar-bg > div.border-r-media-divider:nth-of-type(1) {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	max-width: 100% !important;
	overflow: hidden;
}
/*MEDIA TOOLBAR - ELEMENTS - TITLE - TEXT*/

.ProseMirror [data-node-type="embed"][class*="self-"] .bg-media-toolbar-bg > div.border-r-media-divider:nth-of-type(1) .truncate,
[data-object-type="imageCardInstance"] > .overflow-hidden + .absolute .bg-media-toolbar-bg > div.border-r-media-divider:nth-of-type(1) .truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: scroll;
}
.ProseMirror [data-node-type="embed"][class*="self-"] .bg-media-toolbar-bg > div.border-r-media-divider:nth-of-type(1) .truncate:hover,
[data-object-type="imageCardInstance"] > .overflow-hidden + .absolute .bg-media-toolbar-bg > div.border-r-media-divider:nth-of-type(1) .truncate:hover {
	text-overflow: unset;
}
.ProseMirror [data-node-type="embed"][class*="self-"] .bg-media-toolbar-bg > div.border-r-media-divider:nth-of-type(1) .truncate::-webkit-scrollbar,
[data-object-type="imageCardInstance"] > .overflow-hidden + .absolute .bg-media-toolbar-bg > div.border-r-media-divider:nth-of-type(1) .truncate::-webkit-scrollbar {
	height: 0px;
}

/**/

[class*="content"] .ProseMirror [data-node-type] {
	word-break: break-word;
}