/***********
************
************
************
************
************
! QUICK SWITCHER - ROOT
************
************
************
************
************
************/
:root {
	/*popup*/
	--popupBgClr: white;
	--popupBrdClr: hsl(0, 0%, 10%, 0.1);
	/*search*/
	--searchMatchBg: hsl(215, 100%, 46%, 1);
	--searchBgClr: hsl(0, 0%, 97%);
	--searchBrdClr: hsl(0, 0%, 87%);
	--searchheaderClr: black;
}

[data-theme="dark"] {
	/*popup*/
	--popupBgClr: hsl(214, 8%, 15%);
	--popupBrdClr: hsla(229, 0%, 100%, .08);
	/*search*/
	--searchMatchBg: hsl(211, 100%, 53%);
	--searchBgClr: hsla(0, 0%, 8%, 1.0);
	--searchBrdClr: hsl(218, 3%, 13%);
	--searchheaderClr: hsl(0, 0%, 88%);
}

/*****************
******************
! QUICK SWITCHER
******************
******************/
:root {
	--searchItmPadTopBtm: 5px;
	--searchItmPadLeft: 16px;
	--searchItmLabelHeight: 36px;
	--modalMaxHeight: 100%;
	--modalHeight:800px;
	--modalWidth: 800px;
	--modalPad: 2rem;
	--searchWidth: 860px;
	--versonHistPad: 30px;
	--versionHistWidth: 1000px;
}

/*POPUP/MODAL > OUTER CONTAINER*/
.hepta-scrim.cursor-pointer.items-center {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
	padding: var(--modalPad);
	flex-direction: row;
}

/*POPUP/MODAL > INNER CONTENT CONTAINER*/
body > .hepta-scrim.cursor-pointer.items-center > .h-full {
	max-height: var(--modalMaxHeight);
	height: var(--modalHeight);
	width: var(--modalWidth);
	max-width: 100%;
}

/*SEARCH > OUTER CONTAINER*/
.p-12.hepta-scrim > .h-full.w-full[class*="scrollbar-width"] {
	width: var(--searchWidth);
	max-width: 100%;
	max-height: calc(var(--modalMaxHeight) - 0rem);
}

/*SEARCH > INNER CONTENT CONTAINER*/
.p-12.hepta-scrim > .h-full.w-full[class*="scrollbar-width"] > .hepta-pseudo-overlay {
	background:var(--searchBgClr);
}

/*VERSION HISTORY > OUTER CONTAINER*/
body > .p-15.hepta-scrim.cursor-pointer.items-center {
	max-width: 100%;
}

/*VERSION HISTORY > INNER CONTENT CONTAINER*/
body > .p-15.hepta-scrim.cursor-pointer.items-center > .flex.size-full {
	max-height: var(--modalMaxHeight);
	width: calc(var(--versionHistWidth) - 60px);
	max-width: calc(100% - var(--versonHistPad));
	padding-top: calc(var(--versonHistPad) * .5);
	padding-bottom: calc(var(--versonHistPad) * .5);
}
/*VERSION HISTORY > USERSELECT*/
.hepta-quick-look-body-wrapper .ProseMirror [data-node-type]{
		user-select: all;
		cursor: text;
}

/*VERSION HISTORY > BULLETS AND TOGGLES*/
.hepta-quick-look-body-wrapper .ProseMirror [data-node-type] > [class*="bulletWrapper"],
.hepta-quick-look-body-wrapper .ProseMirror [data-node-type] > [class*="bulletWrapper"] *{
		pointer-events: all;
}

body > .p-15.hepta-scrim.cursor-pointer.items-center > .flex.size-full > .hepta-pseudo-overlay {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
}


/*SEARCH > INPUT*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .flex.text-body.text-primary {
	background: var(--searchBgClr) !important;
	box-shadow: inset 0 0px 0 1px var(--searchBrdClr);
	position: relative;
	padding-left: var(--searchItmPadLeft);
}

/***********
************
************
************
! SEARCH > RESULTS > FILTERS
************
************
************
************/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .gap-x-2.px-4.pb-1\.5{
	padding-top: 10px;
}
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .gap-x-2.px-4.pb-1\.5 > .text-label-mini {
	font-size: 13px;
	padding: 2px 8px;
	height: unset;
}
/***********
************
************
************
! SEARCH > RESULTS > CONTAINER
************
************
************
************/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border{
	flex-basis: var(--modalMaxHeight);
}
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow{
	padding-top: 0px;
	padding-right: 0px !important;
}

/*SEARCH > Preview*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .relative {
	width: 43%;
	max-height: calc(var(--modalMaxHeight) - 85px);
	margin-right:0px !important;
}

body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .relative > div > [class*="scale-70"] {
	transform: scale(.8) !important;
	width: calc(100% / 0.8);
}



/*SEARCH > RESULTS > ITEM TYPE > CONTAINER > LABEL*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label:first-of-type {
	margin-top: 1px;
}

body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label {
	display: flex;
	flex-direction: column;
	z-index: -1
}
/***
SEARCH CONTAINER
****/

.hepta-pseudo-overlay.bg-menu-texture-bg-hard-new {
	background: var(--searchBgClr)
}
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow{
	padding-top: 0px !important;
	padding-bottom: 40px !important;
}
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini {
	position: sticky;
	height:28px !important;
	top: 0;
	color: var(--searchheaderClr) !important;
	font-size: 0.925rem;
	box-shadow: 0 .5px 0 0 var(--searchBrdClr);
	background: var(--searchBgClr) !important;
	backdrop-filter: blur(40px) !important;
	opacity: 1;
	margin-bottom: var(--searchItmPadTopBtm);
	padding-top: var(--searchItmPadTopBtm);
	padding-bottom: var(--searchItmPadTopBtm);
	height: calc(var(--searchItmLabelHeight)* 1);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 10;
	padding-left: var(--searchItmPadLeft);
	margin-left: 1px;
}

/*SEARCH > RESULTS > ITEM TYPE > CONTAINER > ITEMS*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div.flex,
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label,
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label~.flex {
	padding-top: var(--searchItmPadTopBtm);
	padding-bottom: var(--searchItmPadTopBtm);
}

/*PARENT FILE *****/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~.text-label.text-middle-grey,
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label.text-middle-grey {
	position: sticky;
	top: var(--searchItmLabelHeight);
	box-shadow: inset 0 -1px 0 0 var(--searchBrdClr);
	background: var(--searchBgClr) !important;
	margin-right: 0px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: .775rem;
	font-weight:500;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	color: var(--text-color);
	margin-bottom: calc(var(--searchItmPadTopBtm) * 1);
	margin-top: calc(var(--searchItmPadTopBtm) * .5);
	padding-top: calc(var(--searchItmPadTopBtm)*0);
	padding-bottom: calc(var(--searchItmPadTopBtm)*0);
	margin-left: 0px;
	padding-left: var(--searchItmPadLeft);
	height: calc(var(--searchItmLabelHeight)* 1.25);
	color: var(--searchheaderClr) !important;
}

/*INNER TEXT - CONTAINER*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~.text-label.text-middle-grey > .flex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/*INNER TEXT - CONTAINER > TITLE*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~.text-label.text-middle-grey > .flex .truncate {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--bldClr);
	opacity: 1 !important;
	max-height: calc(var(--searchItmLabelHeight)* 1);
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/*INNER TEXT - CONTAINER > TITLE & MATCH COUNT*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~.text-label.text-middle-grey > .flex .truncate,
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~.text-label.text-middle-grey > .flex .ml-1 {
	display: flex;
	padding-top: 0px;
	line-height: 1.24;
}

body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label svg,
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label~.flex svg {
	opacity: 1;
	margin-right: 6px;
	width: 16px;
	height: 16px;
	padding: 0px;
	fill: var(--middle-grey);
}

/*PARENT FILE > BLOCKS INSIDE*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label > span.ml-1 {}

body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > div > .text-label {
	align-items: flex-start
}

/*PARENT FILE > CHILD BLOCKS INSIDE PARENT*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~.text-label.text-middle-grey~.cursor-pointer,
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label.text-middle-grey~.cursor-pointer {
	margin-left: calc(var(--searchItmPadLeft) * 2.4);
	padding-left: var(--searchItmPadTopBtm);
	margin-right: .5rem;
}

body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~.text-label.text-middle-grey~.cursor-pointer > svg,
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label.text-middle-grey~.cursor-pointer > svg {
	margin-right: 2px;
	width: 20px;
	opacity: .6;
	transform: scale(0.9);
	z-index: -1;
}

/*PARENT FILE > CHILD BLOCKS > HOVER*/
body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label~.flex.bg-light-grey {
	border-radius: 6px !important;
	box-shadow: 0 1px 0 0 transparent;
}

body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label~.flex svg {
	margin-top: 3px;
}

body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > .box-border > .grow > .text-label > .text-label-mini~div > .text-label~.flex {
	font-size: .85rem;
	-webkit-font-smoothing: antialiased;
}

.p-12.hepta-scrim.no-print.cursor-pointer.items-center > .h-full.w-full[class*="680"][class*="1000"] [data-chat-message-id],
.p-12.hepta-scrim.no-print.cursor-pointer.items-center > .h-full.w-full[class*="680"][class*="1000"] [data-chat-message-id] > div,
.p-12.hepta-scrim.no-print.cursor-pointer.items-center > .h-full.w-full[class*="680"][class*="1000"] [data-chat-message-id] > .relative > .h-8{
	padding-left: 0px !important;
	margin-left: 0px !important;
	padding-top: 0px !important;
}

/*STICKY HEADER > CHAT ICON COLOR*/
.hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay  svg  path:is([d*="1.8183-5.0735"],[d*="1.2585-2.8386.2017-"]) {
	fill:hsl(300, 100%, 75%) !important
}

/*STICKY HEADER > JOURNAL ICON COLOR*/
.hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay svg path[d*="1465.2193"]{
	fill:hsla(5, 83%, 55%, .8) !important 
}

/*STICKY HEADER > IMAGE ICON COLOR*/
.hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay svg path[d*="10155.0423"]{
	fill:hsla(5, 53%, 64%, 1) !important 
}


/*STICKY HEADER > HIGHLIGHT ICON COLOR*/
.hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay svg path[d*="2.5775z"],
.hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay svg path[d*="2.5775z"] ~ path{
	fill:hsla(51, 60%, 61%, .9) !important 
}
/*STICKY HEADER > WHITEBOARD ICON COLOR*/
.hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay svg path:is([d*="1.33-4-1.33v"],[d*="m2 2.66667c0-.36819.29848-."],[d*="M15.9274 2.1589C15.5054 1.73694"],[d*="M2.2097"]){
	fill:hsla(174, 48%, 46%, 1.0) !important 
}

/*STICKY HEADER > WHITEBOARD >  SECTION ICON COLOR*/
.hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay svg path[d*="2.12132z"],
.hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay svg path[d*="2.12132z"] ~ path{
	fill:hsla(174, 48%, 46%, 1.0) !important 
}
/*STICKY HEADER > WHITEBOARD >  MIND MAP ICON COLOR*/
.hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay svg path[d*="M6.632"]{
	fill:hsla(174, 48%, 46%, 1.0) !important;
}


.hepta-pseudo-overlay > div > .flex.text-middle-hard-grey {
	position: sticky;
	bottom: 0;
	backdrop-filter: blur(10px);
}
/*
.hepta-scrim.cursor-pointer.items-center .text-label .truncate {
	overflow: normal !important;
	text-overflow: normal !important;
	white-space: normal;
}*/

/*POPUP NOTE*/
#root~.p-12.hepta-scrim {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#root~.p-12.hepta-scrim > [class*="max-h-220"] {
	max-height: 900px;
	height: 100%;
}
/*IMAGE Modal / Info popup > File Name

.hepta-scrim.cursor-pointer.items-center .w-full.h-full .grow.overflow-y-auto.overflow-x-hidden .absolute.cursor-ew-resize + .w-full.h-full > img[data-hepta-media-name*=".png"],
.hepta-scrim.cursor-pointer.items-center .w-full.h-full .grow.overflow-y-auto.overflow-x-hidden .w-full.h-full > img[data-hepta-media-name*=".jpeg"],
.hepta-scrim.cursor-pointer.items-center .w-full.h-full .grow.overflow-y-auto.overflow-x-hidden .w-full.h-full > img[data-hepta-media-name*=".jpg"]{
 object-fit: unset;
	height: unset;
	width: unset;
	max-width: 100%;
	margin: 0 auto;
} */
/*****************
******************
FLOATING INFO
******************
******************/
.hepta-scrim.cursor-pointer.items-center > [class*="680px"][class*="w-120"] {
	max-height: 90vh;
	width: 600px;
	max-width: 100%;
}

/*****************
FLOATING INFO > TITLE
******************/
.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t {
	position: relative;
}

.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t,
.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t > div.flex,
.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t p.truncate {
	min-width: 100% !important;
	width: 100% !important;
}
/*
#root~.p-12.hepta-scrim > .w-full > .flex.w-full > .flex,
#root~.p-12.hepta-scrim > .w-full > .flex.w-full > .flex > .flex:first-child,
#root~.p-12.hepta-scrim > .w-full > .flex.w-full > .flex > .flex > .text-label {
	width: 100% !important;
	border: 1px solid red;
}*/
#root~.p-12.hepta-scrim > .w-full > .flex.w-full > .flex > .flex > .text-label {
max-width: 80%
}

#root~.p-12.hepta-scrim > .w-full > .flex.w-full > .flex > .flex + .relative.flex{
		position: absolute;
		right: 0px !important;
		padding-right: 10px;
		background:linear-gradient(to right, transparent 0%, var(--background-secondary) 15%, var(--background-secondary) 100%);
		padding-left: 10px;
}
/*****************
FLOATING INFO > PROPERTIES
******************/
.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t+div {
	margin-top: 0px;
}

/*PROPERTIES CONTAINER*/
.hepta-scrim > [class*="680px"] > [class*="pseudo"] > .absolute+div > div > div {}

/*PROPERTIES*/
.hepta-scrim > [class*="680px"] > [class*="pseudo"] > .absolute+div > div > div > div.my-1.flex.flex-col.gap-y-1 {
	order: 1;
}


/*****************
******************
DROPDOWN BACKSLASH
******************
******************/
#root~div > .fixed.z-dropdown-menu+[class*="40vh"] {
	display: flex;
	flex-direction: column-reverse;
}

/*****************
******************
POPUP - IMAGE
******************
******************/

/*****************
******************
POPUP - IMAGE CARD
******************
******************/

/*****************
******************
POPUP - NOTE
******************
******************/
body > .hepta-scrim.cursor-pointer.items-center > .h-full[class*="270"] {
		width: 1000px;
}
#root ~ .p-12.hepta-scrim.cursor-pointer.items-center > .h-full[class*="270"] > div.flex > .min-h-12{
		width: unset !important;
}


@media (max-width:900px) {
	:root {
		--modalPad: 1.0rem;
	}

	/*body > .hepta-scrim.cursor-pointer.items-center{
		padding:1.5rem;
	}*/
	body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] {
		flex-direction: column;
		padding-right: 0px;
		align-items: flex-start;
		justify-content: flex-start;
		min-height: 600px;
	}

	body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] > .grow {
		padding-right: 0px !important;
		width: 100%;
		overflow-y: auto;
		flex: 1;
		min-height: 300px !important;
	}

	body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] > .bg-background-secondary {
		width: calc(100% - 20px);
		margin: 0 auto;
		min-height: 190px !important;
		max-height: 191px !important;
		margin-bottom: 10px !important;
	}

	body > .hepta-scrim.cursor-pointer.items-center > div.h-full.w-full > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] {
		min-height: 84vh !important;
	}
}