[style*="--annotation-"] + [class*="text-middle-hard-grey"]{
    background: transparent;
}
[style*="--annotation-"] + [class*="text-middle-hard-grey"] .ProseMirror {
    color: var(--text-color);
}

[class*="text-middle-hard-grey"] .ProseMirror [data-node-type="heading"]{
    color: var(--headingClr);
}

.z-dropdown-menu > .scrollbar-gutter-stable[class*="max-h"][class*="209px"]{
    max-height: 100vh !important;
}