/***********
************
EDITOR TEXT COLORS - ROOT
************
************/

:root {
--bldClr:black;
--text-gray-editor:hsl(0, 0%, 70%)  !important;
--strikethroughlineClr:var(--text-gray-editor);
}


[data-theme="dark"] {
--bldClr:hsl(0, 0%, 93%);
--text-gray-editor:hsl(0, 0%, 40%) !important;
--strikethroughlineClr:var(--text-gray-editor);
}

/***********
BOLD
************/
.ProseMirror strong {
	color: var(--bldClr);
}
.ProseMirror strong a {
	color:var(--active-item);
}
.ProseMirror s {
	text-decoration-thickness:1.5px !important;
	color: var(--text-gray-editor) !important;
	text-decoration-color: var(--strikethroughlineClr) !important;
}
/***********
STRIKETHROUGH
************/
/***********
INLINE MENTION
************/
.ProseMirror .text-active .border-b{
	border-bottom-style: dashed;

}
