/*root*/

:root {
		--inboxBrdTstW:0px;
}

/***********
************
! INBOX - V2
************
************/
:root {
	--outerPadLR:1.5rem;
	--outerPadTopBtm:.5rem;
	/***/
	--inboxItemContentMaxW:1000px;
	--inboxItemMaxW: 750px;
	--inboxWrapW:1050px;
	--inboxItemPadTopBtm: 7px;
	--inboxItemBrdAlpha: 1;
	--inboxContainerPadLR:45px;
	--inboxInnerPadLR:12vw;

}

/***********
TOP BAR > OUTER
************/
.isolate > .bg-background-secondary.relative > .app-region-drag {
	border: var(--inboxBrdTstW) solid green;
	padding-left: var(--outerPadLR) !important;
	padding-right: var(--outerPadLR) !important;
	gap: 0px
}

.bg-background-secondary > .app-region-drag > .flex:last-child {
	width: var(--inboxItemContentMaxW) !important;
	margin: 0 auto;
	padding-right: 40px;
}
.isolate  .bg-background-secondary > .app-region-drag > div.flex .app-region-no-drag{
		border: var(--inboxBrdTstW) solid Purple;

}

/***********
MIDDLE  BAR > OUTER
************/

.isolate > .bg-background-secondary.relative > .app-region-drag + div.flex {
	border: var(--inboxBrdTstW) solid green;
	padding-left: var(--outerPadLR) !important;
	padding-right: var(--outerPadLR) !important;
	padding-top: var(--outerPadTopBtm)!important;
	padding-bottom: var(--outerPadTopBtm)!important;
	max-width: 100% !important;
}

/*MIDDLE  BAR > OUTER > RIGHT PREVIEW OPEN*/
.isolate > .bg-background-secondary.relative > .app-region-drag + div.flex[style*="max-width"]{
	
}
/***********
! MIDDLE BAR > INNER
************/
.isolate > .bg-background-secondary.relative > .app-region-drag + div.flex > div {
	border: var(--inboxBrdTstW) solid Purple;
	width: var(--inboxItemContentMaxW);
	margin: 0 auto !important;
	max-width: 100% !important;

}

/***********
************
! INBOX ITEMS - WRAPPER > OUTER
************
************/

.isolate .bg-background-secondary.relative > .scrollbar-gutter-stable{
	border: var(--inboxBrdTstW) solid green;
	padding-left: var(--outerPadLR) !important;
	padding-right: var(--outerPadLR) !important;
	padding-top: var(--outerPadTopBtm)!important;
	padding-bottom: var(--outerPadTopBtm)!important;
	max-width: 100% !important;

}
/*
.isolate .bg-background-secondary > .scrollbar-gutter-stable::-webkit-scrollbar{
	width: 0px !important;
}*/

/***********
! INBOX ITEMS - WRAPPER > INNER
************/
.isolate .bg-background-secondary > .scrollbar-gutter-stable > .mx-6.mt-2 {
	border: var(--inboxBrdTstW) solid Purple;
	margin: unset !important;
}
/***********
! INBOX ITEMS - ITEM CONTAINER > OUTER
************/
.bg-background-secondary [data-action-item-id] {
	border: calc(var(--inboxBrdTstW) * .5) solid #00909a;

	height: unset;
	padding-top: var(--inboxItemPadTopBtm);
	padding-bottom: var(--inboxItemPadTopBtm) !important;
	width: var(--inboxItemContentMaxW) !important;
	max-width: 100% !important;
	position: relative !important;
	margin: 0 auto !important;
	
}
[class*="sidebar"] + .relative.bg-background-secondary > .scrollbar-gutter-stable [data-action-item-id],
[class*="sidebar"] + .relative.bg-background-secondary > .app-region-drag + div.flex > div{
	margin:unset !important;
	
}

/*HOVERING - RIGHT SIDEBAR > NOT OPEN*/
.bg-background-secondary [data-action-item-id].bg-light-grey {
	position: unset !important;
}

.bg-background-secondary > .app-region-drag + div:not(flex[style*="max-width"]) + .scrollbar-gutter-stable [data-action-item-id].bg-light-grey {
	position: relative !important;
}
.bg-background-secondary > .app-region-drag + div.flex[style*="max-width"] + .scrollbar-gutter-stable [data-action-item-id].bg-light-grey {
	position: unset !important;

}
/***********
! INBOX ITEM - CONTENT WRAPPER
************/

.bg-background-secondary [data-action-item-id] > .flex.grow {
	border: calc(var(--inboxBrdTstW) * .5) solid #07f;
	padding: 5px !important;
	gap: 12px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.bg-background-secondary [data-action-item-id] > .flex.grow > .flex.grow .truncate.text-label.font-medium.text-primary {
		white-space: pre-wrap;
		overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}

/***********
! INBOX ITEM - CONTENT WRAP > LEFT SIDE
************/
.bg-background-secondary [data-action-item-id] > .flex.grow > .flex{

}
.bg-background-secondary [data-action-item-id] > .flex.grow > .flex.grow{
	border: calc(var(--inboxBrdTstW) * .5) solid green;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100% !important;
	flex: 1;
	order: 0;
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .flex.grow > div {
	align-items: flex-start;
}




/**
! INBOX ITEM - CONTENT WRAP - REMINDER/CHAT MESSAGE
***/
.bg-background-secondary [data-action-item-id] > .flex.grow > .flex.grow.items-center {
	align-items: flex-start;
	flex-wrap: wrap;
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .flex.grow.items-center .truncate {
	white-space: pre-wrap;
		overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .flex.grow.items-center .invisible {
	visibility: visible;
}

.bg-background-secondary [data-action-item-id] > .flex.grow > .flex.shrink-0.w-40 {
	min-height: 100% !important;
	border: var(--inboxBrdTstW) solid yellow;
	display: flex;
	flex: 0;
}


/***********
! INBOX ITEM - CONTENT WRAP > RIGHT (Metadata)
************/
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] {
	min-height: 100% !important;
	border: calc(var(--inboxBrdTstW) * .5) solid green;
	display: flex;
	max-width: 29vw;
	width: 25%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--inboxRightGap);

}



/*RIGHT SIDE > OVERRIDES*/
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] * {
	padding-left: 0px;
	padding-right: 0px;
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .flex.shrink-0 .text-label-mini {
	font-size: 13px;
	line-height: 1.3
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .flex.shrink-0 .flex > .text-label-mini:first-child{
	padding-left: calc(var(--inboxRightIcnW) + var(--inboxRightIcnMargR));
}

/*RIGHT SIDE > LOCATION*/
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] > .w-40 {
	width: 100%;
}

.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] > .w-40 .truncate {
	white-space: pre-wrap;
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] > .w-40 > .flex {
	gap: var(--inboxRightIcnMargR) !important;
	align-items: flex-start;
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] .flex[class*="gap"] {
	gap: var(--inboxRightIcnMargR) !important;
	align-items: flex-start;
}
/*RIGHT SIDE > DATE + TIME*/
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] > .flex {
	width: 100%;
	gap: var(--inboxRightIcnMargR) !important;
	align-items: flex-start;
	justify-content: flex-start;
	padding-left: calc(var(--inboxRightIcnW) + var(--inboxRightIcnMargR));
	padding-left: 0px;
}

.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] .flex svg{
}
/*right side - no icon*/
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] .flex[class*="gap"] > *:first-child {
	padding-left: calc(var(--inboxRightIcnMargR) + var(--inboxRightIcnW));
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0[class*="gap"] .flex[class*="gap"] > svg:first-child {
	padding-left: 0px;
}
/*RIGHHT SIDE SVG*/
:root {
	--inboxRightIcnW:16px;
	--inboxRightIcnMargR:9px;
	--inboxRightGap:6px;
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0 svg{
	transform: scale(1.0);
	width: var(--inboxRightIcnW);
	height: var(----inboxRightIcnW);
}
.bg-background-secondary [data-action-item-id] > .flex.grow > .grow + .flex.shrink-0 svg path[d*="m20.6101"] {
	fill: hsl(300, 100%, 75%,.7);
}



/***********
************
************
************
! HOVER MENU
************
************
************
************/

.isolate > .bg-background-secondary.relative [data-action-item-id] > .transition-opacity .absolute{
	transform-origin: center right;
	transform: scale(1.2);
}
.isolate > .bg-background-secondary.relative [data-action-item-id] > .transition-opacity {
}

.isolate > .bg-background-secondary.relative [data-action-item-id] > .transition-opacity{
	height: 10px !important;
	width: unset;
	position: absolute !important;
	right: 0 !important;
}


/*RIGHT PANEL CLOSED*/
.transition-opacity.opacity-100 > .absolute[style*="right: 6px"] {
margin-right: 0px !important;
}
.transition-opacity.opacity-100 > .absolute{
	margin-right: 30px
}
.isolate > .bg-background-secondary.relative > .app-region-drag + div.flex[style*="max-width"] + .scrollbar-gutter-stable [data-action-item-id].bg-light-grey .transition-opacity.opacity-100{
	
}

/*****
SIDE PANEL
******/
[data-is-inbox-app-panel] {
	background: hsla(0, 0%, 23%, 50%);
	box-shadow: 0 0 0px 0.5px black,
	0 4px 8px rgb(0, 0, 0, 25%),
	0 28px 50px rgb(0, 0, 0, 28%);
	backdrop-filter: blur(20px)saturate(5) brightness(0.5);
	border-left: 1px solid hsla(0, 0%, 100%, .1);
}



/*****
! INBOX - INNER STUFF
******/

/*Text*/
[data-action-item-id] > .flex > .grow .truncate {
	white-space: normal;
	font-size: .925rem;
	line-height: 1.6;
	white-space: pre-wrap
}

/*ICON*/
[data-action-item-id] > .flex > .grow > div svg {
	width: 1.2rem;
	height: 1.2rem;
	top:0px;
	position: relative;
}

/*borders*/
[data-action-item-id] > [class*="gap"]:before,
[data-action-item-id] > [class*="gap"]:after {
	content: "";
	display: block;
	height: 1px;
	background: hsla(214, 5%, 25%, 1.0);
	right: 7px;
	left: 37px;
	position: absolute;
	z-index: 0 !important;
	top: -1px;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .15s;
	opacity: var(--inboxItemBrdAlpha);
}
[data-action-item-id]:first-of-type > [class*="gap"]:before {
	left: 0;
	top: 0;
}



[data-action-item-id] > [class*="gap"]:after {
	top: unset;
	bottom: 0;
}

/*****
! TODOS
******/
#root .h-screen > .relative.flex > .duration-100 > .app-region-drag + .py-2 + .overflow-y-auto.px-6{
		width: calc(var(--cardlibToolbarMaxW) - 3rem);
	max-width: calc(100% - 3rem);
	margin: 0 auto;
}
[data-todo-item-id] {
	padding-top: var(--inboxItemPadTopBtm);
	padding-bottom: var(--inboxItemPadTopBtm);
	--inboxItemPadTopBtm:5px;
	display: flex;
	align-items: center;
}

[data-todo-item-id]:before, [data-todo-item-id]:after {
	content: "";
	display: block;
	height: 1px;
	background: hsla(214, 5%, 25%, 1.0);
	right: 7px;
	left: 37px;
	position: absolute;
	z-index: 0 !important;
	top: -1px;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .15s;
	opacity: var(--inboxItemBrdAlpha);
}
[data-todo-item-id]:first-of-type:before {
	left: 0;
	top: 0;
}



[data-todo-item-id]:first-of-type:after {
	top: unset;
	bottom: 0;
}

[data-todo-item-id] > div.flex {
	display: flex;
	justify-content: flex-start;
	min-height: 10px;
}
[data-todo-item-id] .flex.min-w-0.flex-1 {
	height: 100% !important;
	width: 60%;
	flex: 1;
}
[data-todo-item-id] .flex.shrink-0.items-center.gap-x-2{
	width: 35%;
}


[data-todo-item-id] .flex.min-w-0.flex-1 > div:first-child span {
border-color: hsla(0, 0%, 50%, .8);
	border-radius: 5px
}

/*text*/

[data-todo-item-id] [data-node-type="paragraph"]{
	white-space: normal;
	font-size: .95rem;
	line-height: 1.6;
	white-space: pre-wrap
}
[data-todo-item-id] .flex.min-w-0.flex-1 > [class*="truncatedInlinePreviewer"] {
		min-height: 100% !important;
	align-self: anchor-center;
}
[data-todo-item-id] [class*="truncatedInlinePreviewer"],
[data-todo-item-id] [class*="truncatedInlinePreviewer"] *{
	overflow: visible;
	white-space: pre-wrap;
}

/*metadata*/
[data-todo-item-id] .w-40 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	
}
[data-todo-item-id] .w-40 > div:first-child {
	flex: 1;
}
[data-todo-item-id] .w-40 > .flex{
	align-items: flex-start;
	display: flex;
}
[data-todo-item-id] .w-40 > .flex svg{
	position: relative;
	top: 2px
}
[data-todo-item-id] .w-40 .truncate {
	white-space: pre-wrap;
		overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: pre-line;
	font-size: 0.82rem;
}


/*menu*/
[data-todo-item-id] [class*="148px"] {
	max-width: 50px !important;

}

[class*="sidebar"] + .overflow-hidden.relative.flex.size-full > div:first-child .absolute[style*="right: "] {
	margin-right: 50px;
}
@media (max-width:700px) {
	[data-todo-item-id] [class*="148px"] {
		max-width:50px;
	}
}

/*****
! TODOS
******/
#root .h-screen > .relative.flex > .duration-100 > .app-region-drag + .py-2 + .overflow-y-auto.px-6{
		width: calc(var(--cardlibToolbarMaxW) - 3rem);
	max-width: calc(100% - 3rem);
	margin: 0 auto;
}
[data-todo-item-id] {
	padding-top: var(--inboxItemPadTopBtm);
	padding-bottom: var(--inboxItemPadTopBtm);
	--inboxItemPadTopBtm:5px;
	display: flex;
	align-items: center;
}

[data-todo-item-id]:before, [data-todo-item-id]:after {
	content: "";
	display: block;
	height: 1px;
	background: hsla(214, 5%, 25%, 1.0);
	right: 7px;
	left: 37px;
	position: absolute;
	z-index: 0 !important;
	top: -1px;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .15s;
	opacity: var(--inboxItemBrdAlpha);
}
[data-todo-item-id]:first-of-type:before {
	left: 0;
	top: 0;
}



[data-todo-item-id]:first-of-type:after {
	top: unset;
	bottom: 0;
}

[data-todo-item-id] > div.flex {
	display: flex;
	justify-content: flex-start;
	min-height: 10px;
}
[data-todo-item-id] .flex.min-w-0.flex-1 {
	height: 100% !important;
	width: 60%;
	flex: 1;
}
[data-todo-item-id] .flex.shrink-0.items-center.gap-x-2{
	width: 35%;
}


[data-todo-item-id] .flex.min-w-0.flex-1 > div:first-child span {
border-color: hsla(0, 0%, 50%, .8);
	border-radius: 5px
}

/*text*/

[data-todo-item-id] [data-node-type="paragraph"]{
	white-space: normal;
	font-size: .95rem;
	line-height: 1.6;
	white-space: pre-wrap
}
[data-todo-item-id] .flex.min-w-0.flex-1 > [class*="truncatedInlinePreviewer"] {
		min-height: 100% !important;
	align-self: anchor-center;
}
[data-todo-item-id] [class*="truncatedInlinePreviewer"],
[data-todo-item-id] [class*="truncatedInlinePreviewer"] *{
	overflow: visible;
	white-space: pre-wrap;
}

/*metadata*/
[data-todo-item-id] .w-40 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	
}
[data-todo-item-id] .w-40 > div:first-child {
	flex: 1;
}
[data-todo-item-id] .w-40 > .flex{
	align-items: flex-start;
	display: flex;
}
[data-todo-item-id] .w-40 > .flex svg{
	position: relative;
	top: 2px
}
[data-todo-item-id] .w-40 .truncate {
	white-space: pre-wrap;
		overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: pre-line;
	font-size: 0.82rem;
}


/*menu*/
[data-todo-item-id] [class*="148px"] {
	max-width: 50px !important;

}

.overflow-hidden.relative.flex.size-full > div:first-child .absolute[style*="right: "] {
	margin-right: -90px;
}
[class*="sidebar"] + .overflow-hidden.relative.flex.size-full > div:first-child .absolute[style*="right: "] {
	margin-right: 20px;
}
@media (max-width:700px) {
	[data-todo-item-id] [class*="148px"] {
		max-width:50px;
	}
}