/***********
! TABLE BACKGROUND COLORS
************/

[data-node-type="table"] [data-node-type="table_cell"] {
	--bg-gray-editor:rgba(0, 0, 0, 0.035);
}
[data-theme="dark"] [data-node-type="table"] [data-node-type="table_cell"] {
	--bg-gray-editor:hsla(0, 0%, 100%, .025);
	--bg-blue-editor: hsla(200, 100%, 50%, 0.15);
	--bg-brown-editor: hsl(19, 30%, 29%);
	--bg-orange-editor: hsla(25, 100%, 50%, .2);
	--bg-yellow-editor: hsla(50, 100%, 50%, 0.25);
	--bg-green-editor: hsla(142, 101%, 38%, .2);
	--bg-purple-editor: hsla(271, 91%, 65%, 0.3);
	--bg-pink-editor: hsla(330, 80%, 60%, .35);
	--bg-red-editor: hsla(0, 100%, 50%, .2);
}