/***********
************
************
************
************
************
NOTE PADDING - POPUP AND FULLSCREEN ONLY
************
************
************
************
************
************/
:root {
  --notePadLeftRight: 1.5rem;
}
[data-card-tab-id] > [class*="editor"] > .ProseMirror,
.p-12.hepta-scrim > .bg-background-secondary.max-h-220.max-w-270 ._editor_1rg43_1 .ProseMirror-hepta-style {
  width: 100% !important;
  max-width: 750px !Important;
  margin: 0 auto;
  padding-left: var(--notePadLeftRight) !important;
  padding-right: var(--notePadLeftRight) !important;

  box-sizing: border-box;
}

@media (max-width: 600px) {
  :root {
    --notePadLeftRight: .9rem;
  }
}