:root {
    --txtClrMenuBtnBgClr: white;
    --txtClrMenuBtnSVGBgClr:#c1c1c1;
    --txtClrMenuBtnSVGBrdClr: black;
}
[data-theme="dark"] {
    --txtClrMenuBtnBgClr: hsla(207, 5%, 24%, 1.0);
    --txtClrMenuBtnSVGBgClr:#000;
    --txtClrMenuBtnSVGBrdClr: white;
}

/*FIRST MENU*/
[data-is-floating-menu="true"] > div > button:last-child {
    background: var(--txtClrMenuBtnBgClr);
}
[data-is-floating-menu="true"] > div > button:last-child > svg:first-child {
    background: var(--txtClrMenuBtnSVGBgClr);
    box-shadow: 0 0 0 2px var(--txtClrMenuBtnSVGBrdClr) !important;
  filter: brightness(2)
}