/***********
************
CODEBLOCK
************
************/
.ProseMirror .cm-editor {
  background: var(--codeblockBgClr);
  box-shadow: inset 0 0 0 1px var(--codeblockBrdClr) !important;
  padding-top: 24px !important;
  border-radius: 10px
}
.ProseMirror .cm-editor > .cm-scroller {
  padding-bottom: 20px;
}
[data-node-type="code_block"][style*="var(--middle-transparent-blue)"] {
  --codeblockBgClr: var(--middle-transparent-blue);
}


/*code block > always wrap lines*/
.ProseMirror .cm-content:not([class*="whiteboardCanvas"] .ProseMirror .cm-content) {
  white-space: pre-wrap !important
}
/*code block header*/
[data-node-type="code_block"] > [class*="group"] > div:not(.cm-editor),
[data-node-type="code_block"] > [class*="group"] > div:not(.cm-editor) > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
[data-node-type="code_block"] > [class*="group"] > div:not(.cm-editor) > div,
[data-node-type="code_block"] > [class*="group"] > div:not(.cm-editor) > div * {
  transform: unset !important;
}

[data-chat-message-id] [data-node-type="code_block"] {
  max-width: 100% !important;
  width: 640px !important
}