/*****************
! QUICK SWITCHER - ROOT
******************/
:root { 
	/*search*/
	--searchMatchBg: hsl(215, 100%, 46%, 1);
	/*popup*/
	--popupBgClr: white;
	--popupBrdClr: hsl(0, 0%, 10%, 0.1);
	/*popup*/
	--searchBgClr: hsl(0, 0%, 97%);
	--searchBrdClr: hsl(0, 0%, 87%);
}

[data-theme="dark"] {
	/*search*/
	--searchMatchBg: hsl(211, 100%, 53%);
	/*popup*/
	--popupBgClr: hsl(214, 8%, 15%);
	--popupBrdClr: hsla(229, 0%, 100%, .08);
	/*popup*/
	--searchBgClr: hsl(218, 7%, 10%);
	--searchBrdClr: hsl(218, 3%, 21%);
}
/*****************
******************
! QUICK SWITCHER
******************
******************/
:root {
	--searchItmPadTopBtm: 5px;
	--searchItmPadLeft: 16px;
	--searchItmLabelHeight: 36px;
	--modalMaxHeight: 88vh;
	--modalWidth: 800px;
	--modalPad: 2rem;
	--searchWidth: 820px;
	--versonHistPad: 30px;
}
/*POPUP/MODAL > OUTER CONTAINER*/
.hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
	padding: var(--modalPad);
	flex-direction: row;
}

/*POPUP/MODAL > INNER CONTENT CONTAINER*/
body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > .h-full {
	max-height: var(--modalMaxHeight);
	width: var(--modalWidth);
	max-width: 100%;
}

/*SEARCH > OUTER CONTAINER*/
.p-12.hepta-scrim > .h-full.max-h-120.w-full.max-w-170[class*="scrollbar-width"] {
	width: var(--searchWidth);
	max-width: 100%;
	max-height: calc(var(--modalMaxHeight) - 0rem);
}
/*SEARCH > INNER CONTENT CONTAINER*/
.p-12.hepta-scrim > .h-full.max-h-120.w-full.max-w-170[class*="scrollbar-width"] > .hepta-pseudo-overlay {}

/*VERSION HISTORY > OUTER CONTAINER*/
body > .p-15.hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 {
	max-width: 100%;
}
/*VERSION HISTORY > INNER CONTENT CONTAINER*/
body > .p-15.hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > .flex.size-full {
	max-height: var(--modalMaxHeight);
	width: calc(var(--modalWidth) - 60px);
	max-width: calc(100% - var(--versonHistPad));
	padding-top: calc(var(--versonHistPad) * .5);
	padding-bottom: calc(var(--versonHistPad) * .5);
}
body > .p-15.hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > .flex.size-full > .hepta-pseudo-overlay {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
}


/*SEARCH > INPUT*/
body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > div.h-full.max-h-120.w-full.max-w-170 > .hepta-pseudo-olay > div > .flex.items-center.p-4.text-body.text-primary {
	background: var(--searchBgClr);
	box-shadow: inset 0 0px 0 1px var(--searchBrdClr);
	position: relative;
	padding-left: var(--searchItmPadLeft);
}
/*SEARCH > RESULTS*/
body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > div.h-full.max-h-120.w-full.max-w-170 > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] {
	min-height: 820px !important;
	max-height: 100% !important;
	box-shadow: none;
	border-top: 1px solid var(--searchBrdClr);
}
body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > div.h-full.max-h-120.w-full.max-w-170 > .hepta-pseudo-overlay > div > [class*="374px"] > .grow.overflow-y-auto.py-3 {
	padding-top: 0px;
	padding-right: 0px !important;
}

/*SEARCH > Preview*/
body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > div.h-full.max-h-120.w-full.max-w-170 > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] > div:last-child {
	width: 41%;
	max-height: calc(var(--modalMaxHeight) - 65px);
}
body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > div.h-full.max-h-120.w-full.max-w-170 > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] > div:last-child > div > [class*="scale-70"] {
	transform: scale(.8) !important;
	width: calc(100% / 0.8);
}

@media (max-width:900px) {
	:root {
		--modalPad: 1.5rem;
		--modalMaxHeight: 95vh;
	}
	/*body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1{
		padding:1.5rem;
	}*/
	body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > div.h-full.max-h-120.w-full.max-w-170 > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] {
		flex-direction: column;
		padding-right: 0px;
		align-items: flex-start;
		justify-content: flex-start;
		min-height: 600px;
	}
	body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > div.h-full.max-h-120.w-full.max-w-170 > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] > .grow {
		padding-right: 0px !important;
		width: 100%;
		overflow-y: auto;
		flex: 1;
		min-height: 300px !important;
	}
	body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > div.h-full.max-h-120.w-full.max-w-170 > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] > .bg-background-secondary {
		width: calc(100% - 20px);
		margin: 0 auto;
		min-height: 190px !important;
		max-height: 191px !important;
		margin-bottom: 10px !important;
	}
	body > .hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > div.h-full.max-h-120.w-full.max-w-170 > .hepta-pseudo-overlay > .overflow-hidden > [class*="374"] {
		min-height: 84vh !important;
	}
}

/*SEARCH > RESULTS > ITEM TYPE > CONTAINER > LABEL*/
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label:first-of-type {
	margin-top: 1px;
}
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label {
	display: flex;
	flex-direction: column;
	z-index: -1
}
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini {
	position: sticky;
	top: 0;
	color: var(--bldClr);
	font-size: 0.925rem;
	box-shadow: inset 0 -1px 0 0 var(--searchBrdClr),
	inset 1px 0px 0 0 var(--searchBrdClr);
	background: var(--searchBgClr) !important;
	opacity: 1;
	margin-bottom: var(--searchItmPadTopBtm);
	padding-top: var(--searchItmPadTopBtm);
	padding-bottom: var(--searchItmPadTopBtm);
	height: calc(var(--searchItmLabelHeight)* 1);
	;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 1;
	padding-left: var(--searchItmPadLeft);
}

/*SEARCH > RESULTS > ITEM TYPE > CONTAINER > ITEMS*/
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div.flex,
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label,
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label ~ .flex {
	padding-top: var(--searchItmPadTopBtm);
	padding-bottom: var(--searchItmPadTopBtm);
}

/*PARENT FILE *****/
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ .text-label.text-middle-grey,
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label.text-middle-grey {
	position: sticky;
	top: var(--searchItmLabelHeight);
	box-shadow: inset 0 -1px 0 0 var(--searchBrdClr);
	background: var(--searchBgClr);
	margin-right: 0px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: .775rem;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	line-height: 1.3;
	color: var(--text-color);
	margin-bottom: calc(var(--searchItmPadTopBtm) * 1);
	margin-top: calc(var(--searchItmPadTopBtm) * .5);
	padding-top: calc(var(--searchItmPadTopBtm)*0);
	padding-bottom: calc(var(--searchItmPadTopBtm)*0);
	margin-left: 0px;
	padding-left: var(--searchItmPadLeft);
	height: calc(var(--searchItmLabelHeight)* 1);
}

/*INNER TEXT - CONTAINER*/
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ .text-label.text-middle-grey > .flex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/*INNER TEXT - CONTAINER > TITLE*/
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ .text-label.text-middle-grey > .flex .truncate {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--bldClr);
	opacity: 1!important;
	max-height: calc(var(--searchItmLabelHeight)* 1);
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/*INNER TEXT - CONTAINER > TITLE & MATCH COUNT*/
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ .text-label.text-middle-grey > .flex .truncate,
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ .text-label.text-middle-grey > .flex .ml-1 {
	display: flex;
	padding-top: 0px;
	line-height: 1.24;
}
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label svg,
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label ~ .flex svg {
	opacity: 1;
	margin-right: 6px;
	width: 16px;
	height: 16px;
	padding: 0px;
	fill: var(--middle-grey);
}
/*PARENT FILE > BLOCKS INSIDE*/
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label > span.ml-1 {}

body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > div > .text-label {
	align-items: flex-start
}
/*PARENT FILE > CHILD BLOCKS INSIDE PARENT*/
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ .text-label.text-middle-grey ~ .cursor-pointer,
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label.text-middle-grey ~ .cursor-pointer {
	margin-left: calc(var(--searchItmPadLeft) * 2.4);
	padding-left: var(--searchItmPadTopBtm);
	margin-right: 0px;
}
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ .text-label.text-middle-grey ~ .cursor-pointer > svg,
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label.text-middle-grey ~ .cursor-pointer > svg {
	margin-right: 2px;
	width: 20px;
	opacity: .6;
	transform: scale(0.9);
	z-index: -1;
}
/*PARENT FILE > CHILD BLOCKS > HOVER*/
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label ~ .flex.bg-light-grey {
	border-radius: 6px !important;
	box-shadow: 0 1px 0 0 transparent;
}
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label ~ .flex svg {
	margin-top: 3px;
}
body > .hepta-scrim.cursor-pointer.items-center .grow.overflow-y-auto.py-3 > .text-label > .text-label-mini ~ div > .text-label ~ .flex {
	font-size: .85rem;
	-webkit-font-smoothing: antialiased;
}




.hepta-pseudo-overlay > div > .flex.text-middle-hard-grey {
	position: sticky;
	bottom: 0;
	backdrop-filter: blur(10px);
}

.hepta-pseudo-overlay .text-label .truncate {
	overflow: normal !important;
	text-overflow: normal !important;
	white-space: normal;
}


/*IMAGE Modal / Info popup > File Name

.hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 .w-full.h-full .grow.overflow-y-auto.overflow-x-hidden .absolute.cursor-ew-resize + .w-full.h-full > img[data-hepta-media-name*=".png"],
.hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 .w-full.h-full .grow.overflow-y-auto.overflow-x-hidden .w-full.h-full > img[data-hepta-media-name*=".jpeg"],
.hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 .w-full.h-full .grow.overflow-y-auto.overflow-x-hidden .w-full.h-full > img[data-hepta-media-name*=".jpg"]{
 object-fit: unset;
	height: unset;
	width: unset;
	max-width: 100%;
	margin: 0 auto;
} */
/*****************
******************
FLOATING INFO
******************
******************/
.hepta-scrim.cursor-pointer.items-center._scrim_1gpqn_1 > [class*="680px"][class*="w-120"] {
	max-height: 90vh;
	width: 600px;
	max-width: 100%;
}

/*****************
FLOATING INFO > TITLE
******************/
.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t {
	position: relative;
}
.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t,
.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t > div.flex,
.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t p.truncate {
	min-width: 100% !important;
	width: 100% !important;
}
#root ~ .p-12.hepta-scrim > .w-full > .flex.w-full > .flex,
#root ~ .p-12.hepta-scrim > .w-full > .flex.w-full > .flex > .flex:first-child,
#root ~ .p-12.hepta-scrim > .w-full > .flex.w-full > .flex > .flex > .text-label {
	min-width: 88% !important;
	width: 100% !important
}
/*****************
FLOATING INFO > PROPERTIES
******************/
.hepta-pseudo-overlay .absolute.top-0.text-body.text-primary.rounded-t + div {
	margin-top: 0px;
}

/*PROPERTIES CONTAINER*/
.hepta-scrim > [class*="680px"] > [class*="pseudo"] > .absolute + div > div > div {}

/*PROPERTIES*/
.hepta-scrim > [class*="680px"] > [class*="pseudo"] > .absolute + div > div > div > div.my-1.flex.flex-col.gap-y-1 {
	order: 1;
}


/*****************
******************
DROPDOWN BACKSLASH
******************
******************/
#root ~ div > .fixed.z-dropdown-menu + [class*="40vh"] {
	display: flex;
	flex-direction: column-reverse;
}
