/*****************
******************
******************
WHITEBOARD INSTANCE > TITLES
******************
******************
******************/
:root {
	--whiteboardInstanceTitleIcnW:32px;
	--whiteboardInstanceTitleGap:.25rem;
	--whiteboardInstanceTitlePadTopBtm:13px;
	--whiteboardInstanceTitlePadLR:.625rem;
}


/*****************
******************
******************
WHITEBOARD INSTANCE > TITLE > FLEX
******************
******************
******************/


/*TITLE > CONTAINER */
[data-object-type="whiteboardInstance"] > div > div.flex:first-child {
	align-items: flex-start;
	outline: var(--testBrdW) solid red;
	position: relative;
}

/*TITLE > ICON*/
[data-object-type="whiteboardInstance"] > div > div.flex:first-child > svg{
	/*width: var(--whiteboardInstanceTitleIcnW);
	margin-right: var(--whiteboardInstanceTitleGap);*/
	margin-top: var(--whiteboardInstanceTitlePadTopBtm);
	display: none;

}


/*TITLE > TEXT*/
[data-object-type="whiteboardInstance"] > div > div.flex:first-child > div[class*="min-w"] [class*="rounded"]{
	width: calc(100% + var(--whiteboardInstanceTitlePadLR) * 1);
}
/**/
[data-object-type="whiteboardInstance"] > div > div.flex:first-child > div[class*="min-w"] .truncate{
	white-space: pre-wrap;
	
}


/*TITLE > 3 DOT*/
[data-object-type="whiteboardInstance"] > div > div.flex:first-child > [class*="group"] {
	margin-right: -21px !important;
	margin-top: calc(var(--whiteboardInstanceTitlePadTopBtm) - 4px);
	display: flex;
	opacity: 0;
}

[data-object-type="whiteboardInstance"]:hover > div > div.flex:first-child > [class*="group"] {
	opacity: 1
}