/*****************
******************
******************
TEXT ELEMENTS
******************
******************
******************/

:root {
	--textElementBrdClr-Editing:hsla(0, 0%, 50%, .05);
}
[data-theme="dark"] {
	--textElementBrdClr-Editing:hsla(0, 0%, 50%, .075);
}
[data-object-type*="extElement"] > div.border-solid {
	border-radius: 10px;
	transition: .115s ease-in-out;
	outline: 0px solid var(--textElementBrdClr-Editing);
}
[data-object-type*="extElement"] > [style*="--bg-black-sect"] {
	--border-black-sect:var(--textElementBrdClr-Editing);
}


/*TOGGLES*/
[data-object-type*="extElement"] .ProseMirror [data-node-type*="toggle"] > [class*="bulletWrapper"],
[data-object-type*="extElement"] [data-node-type="table_cell"] [data-node-type*="toggle"] > [class*="bulletWrapper"] {
	width: 14px;
	margin-right: 2px;
}
[data-object-type*="extElement"] .ProseMirror [data-node-type*="toggle"] > [class*="bulletWrapper"] svg,
[data-object-type*="extElement"] [data-node-type="table_cell"] [data-node-type*="toggle"] > [class*="bulletWrapper"] svg {
	width: 14px !important;
	height: 14px !important;
}
/*BULLETS*/
[data-object-type*="extElement"] .ProseMirror [data-node-type*="list_item"] > [class*="bulletWrapper"],
[data-object-type*="extElement"] [data-node-type="table_cell"] [data-node-type*="list_item"] > [class*="bulletWrapper"] {
	width: 14px;
	margin-right: 2px;
}
[data-object-type*="extElement"] .ProseMirror [data-node-type*="list_item"] > [class*="bulletWrapper"] svg,
[data-object-type*="extElement"] [data-node-type="table_cell"] [data-node-type*="list_item"] > [class*="bulletWrapper"] svg {
	width: 14px !important;
	height: 14px !important;
}


/*HIDE THREE DOT MENU*/
[data-object-type*="extElement"] > div > .absolute[class*="menu"] {
	display: none !important;
}
/*editing*/

[data-object-type*="extElement"] .border-tooltip-bg {
	border-color: var(--textElementBrdClr-Editing);
	outline: 2px solid var(--textElementBrdClr-Editing) !important;
}