
/*******
! Chat > MESSAGE > HIDE HOVER
********/
[class*="group"][class*="1741629705525"]:after {
  opacity: 0 !important;
}

/*******
********
! Chat > MESSAGE > HEADER
*******
********/
:root {
  --chatHeaderH: 32px;
  --chatHeaderH-Type2: 24px;
  --chatHeader-ZIndex: 21;
  --chatHeaderIcnW: 17px;
  --chatHeaderGap: 6px;
  --chatHeaderPadTopBtm: 5px;
  --chatHeaderPadLR: 20px;
  --chatHeaderBtn-ZIndex: 22;
  --chatHeaderMargBtm:10px
}

/*overrides*/
.group\/1741629705525 > .relative > .h-8 * {
  margin: unset !important;
  width: unset;
}

/******
! HEADER > ALL
*******/
.group\/1741629705525 .h-8 {
  padding-left: var(--chatHeaderPadLR) !important;
  gap: var(--chatHeaderGap);
}

/******
! HEADER > USER/ASSISTANT
*******/
.group\/1741629705525 > .relative > *:is(.h-8,.z-10):not([class*="group"],[class*="max-w"]) {
  height: var(--chatHeaderH) !important;
  margin-bottom: 0px;
  margin-left: 1px !important;
  position: sticky;
  top: 0;
  display: flex !important;
  align-items: center;
  padding-top: calc(var(--chatHeaderPadTopBtm) * 1);
  padding-bottom: var(--chatHeaderPadTopBtm);
  box-shadow: inset 0 0 0 var(--testBrdChatW) red;
  z-index: var(--chatHeader-ZIndex);
  margin-left: 0px;
  margin-bottom: var(--chatHeaderMargBtm);
  backdrop-filter: blur(40px);
  background: hsla(216, 6%, 15%, .16);
  padding-right: 0px !important;
  gap: var(--chatHeaderGap);
  box-shadow: inset 0 0 0 var(--testBrdChatW) #4dedff;
  border-top: .5px solid hsla(0, 0%, 50%, .35);
}
#root .group\/1741629705525 > .relative > *:is(.z-10){
  height: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  position: sticky !important;
  top: var(--chatHeaderPadTopBtm) !important;
  box-shadow: unset !important;
  border: unset !important;
  margin-top: -30px !important;
  margin-bottom: 30px !important;
}
#root .group\/1741629705525 > .relative > *:is(.z-10) > div {
  align-self: flex-start;
}

/******
! HEADER > USER/ASSISTANT > EXTRA TOP PADDING
*******/
.group\/1741629705525 .flex ~ .relative > .h-8 {
  height: calc(var(--chatHeaderH) + var(--chatHeaderH-Type2)) !important;
  backdrop-filter: blur(40px) !important;
  background: hsla(216, 6%, 15%, .16);
  margin-top: calc(var(--chatHeaderH-Type2) * -1) !important;
  align-items: flex-end;
}




/*******
********
! HEADER > USER/ASSISTANT > ICONS + INNER
*******
********/
/*left sidebar open*/
.group\/1741629705525 .h-8  [class*="text-label"] {
  outline: var(--testBrdChatW) solid Pink;

}
.group\/1741629705525 .h-8 [class*="text-label"].truncate:not(.text-label-mini) {
  min-width:93% !important;
}

/**HEADER > USER/ASSISTANT > INNER ICON > ASSISTANT*/
.group\/1741629705525 .h-8 svg {
  margin-right: var(--chatHeaderIcnMargR);
  outline: var(--testBrdChatW) solid pink;
}

.group\/1741629705525 .h-8 > div:first-child svg.fill-middle-hard-grey {
  fill: hsl(300, 100%, 75%) !important;
}

.group\/1741629705525 .h-8 .size-5,
.group\/1741629705525 .h-8 .size-3 {
  width: var(--chatHeaderIcnW) !important;
  height: var(--chatHeaderIcnW) !important;

}
.group\/1741629705525 .h-8 .size-3 {
  transform: scale(0.8)
}

.group\/1741629705525 .h-8 .size-5 *,
.group\/1741629705525 .h-8 .size-3 * {
  width: 100%;
  height: 100%;
}

/**HEADER > USER/ASSISTANT > INNER ICON > USER*/
.group\/1741629705525 .h-8 .rounded-circle {
  width: 100%;
  transform: scale(1.2);
  font-size: 11px;
  box-shadow: inset 0 0 0 .5px hsla(0,0%,100%,0.2);
  margin-top: -1px !important;

    
}

.group\/1741629705525 .flex.items-center.gap-x-2[class*="pl-4"] ~ .relative > .h-8  .size-5{
margin-bottom: 2px !important;
}


/*******
********
********
! Chat > MESSAGE > HEADER > ABOVE USER / ASSISTANT
*******
********
********/

/******
*******
! HEADER > ABOVE USER/ASSISTANT > REPLIES
*******
*******/

.group\/1741629705525  .flex.h-8[class*="group"],
.group\/1741629705525 > div.h-8,
.group\/1741629705525 > div.flex{
  padding-left: calc(var(--chatHeaderPadLR) + var(--chatHeaderGap) + 4px);
  width: 100% !important;
  height: var(--chatHeaderH-Type2) !important;
  overflow: visible;
  z-index: var(--chatHeader-ZIndex);
  position: relative;
  box-shadow: inset 0 0 0 calc(var(--testBrdChatW) * 2) green;
  position: sticky;
}
/******
*******
! HEADER > ABOVE USER/ASSISTANT > REPLIES > INNER
*******
*******/
#root .group\/1743526506295 {
  min-width: calc(100% - var(--chatHeaderPadLR) * 1.25);
  padding-left: 0px !important;
}

/******
*******
! HEADER > ABOVE USER/ASSISTANT > DUPLICATED MESSAGE "REPOSTED FROM"
*******
*******/


.group\/1741629705525 > div.flex{
  position: sticky;
  top: 0;
  z-index: 22;
    box-shadow: 0 .5px 0 0 hsla(0, 0%, 50%, .125);
  outline: var(--testBrdChatW) solid Orange !important;
  outline-offset: -1px;
}
/*******
! EDITING > TOP HEADER
********/

/*EDITING > X + CHECKMARK*/
.group\/1741629705525 > .relative > .h-8 > div:last-child,
.group\/1741629705525 .group\/1743526506295 + .ml-auto.shrink-0{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*! EDITING > HEADER > BUTTONS*/
[class*="group"][class*="1698383979300"].w-6{
  width: 1.5rem;
}
/*! EDITING > HEADER > HIDE REGENERATE BUTTON */
[class*="gap"] > [class*="group"][class*="1698383979300"].w-6 + [class*="group"][class*="1698383979300"].w-6 + [class*="group"][class*="1698383979300"].w-6 {
  display: none;
}


/*******
! HOVER MENU
********/
.group\/1741629705525 .absolute[class*="right"][class*="top"] {
  height: 0px;
  top: unset !important;
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  opacity: 1;
  overflow: visible;
  flex: 1;
  z-index: 929292929292 !important;
  margin: unset !important;

}



.group\/1741629705525 .absolute[class*="right"][class*="top"] [class*="group"] svg {
  width: 1rem !important;
  height: 1rem !important;
}
.group\/1741629705525 .absolute[class*="right"][class*="top"] [class*="group"] [class*="clickable"] {
  padding-left: 7px;
  padding-right: 7px;
}

/*******
! Chat > MESSAGE > BOTTOM HOVER HEADER
********/
.group\/1741629705525 .h-8 ~ [class*="ProseMirror-hepta-style"] ~ [class*="empty:hidden"] + .ml-8 {
  width: fit-content;
  position: sticky;
  bottom: 0px;
  backdrop-filter: blur(40px);
  background: hsl(216, 6%, 15%,0.6);
  z-index: 20;
  border-radius: 3px;
  overflow: hidden;
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}

/*hide new card button*/
.group\/1741629705525 .h-8 ~ [class*="ProseMirror-hepta-style"] ~ div + .ml-8 > button.hepta-base-button{
  display: none;
}



/********
! TEXT AREA > MAX HEIGHT
*********/
.px-3.pb-3.pt-1 .max-h-50vh,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh{
  max-height: unset !important;
  margin: 0px !important;
}

/*HEIGHT*/
.px-3.pb-3.pt-1 .max-h-50vh [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex  div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .bg-background-primary [class*="bg-"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror{
  max-height: 37.5vh !important;
  transition: .25s;
    transition-delay: 1s;


}
.px-3.pb-3.pt-1 .max-h-50vh [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
.bg-background-secondary[style*="width:"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
[class*="max-h-"] + .bg-background-secondary.max-h-50vh  [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
.bg-background-secondary > .bg-background-primary [class*="bg-"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror:is(:focus-within){
  max-height: calc(79.5vh - 3rem - var(--chatHeaderH) - var(--chatHeaderH-Type2)) !important;
  transition-delay: 0s;
}

/*MIN HEIGHT > WHEN HOVERING OVER MESSAGES IN CHAT*/
.h-12 + .relative:is(:hover,:focus,:focus-within) + .px-3 .max-h-50vh  [data-editor-type="editor"] > .ProseMirror {
  max-height: 37.5vh !important;
  transition-delay: 0s;
}

/********
! USER / ASSISTANT MESSAGE COLORS
*********/
.group\/1741629705525 .h-8 .size-5 > div > div:after {
  content:"";
  display:block;
  position:absolute;
  top:0px;
  left:0;
  right:-50vw;
  bottom:0px;
  background:hsl(200,100%,64%,.1) !important;
  z-index:-2
}