/********
! TEXT AREA > MAX HEIGHT
*********/
.px-3.pb-3.pt-1 .max-h-50vh,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh{
  max-height: unset !important;
  margin: 0px !important;
}

/*HEIGHT*/
.px-3.pb-3.pt-1 .max-h-50vh [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex  div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .bg-background-primary [class*="bg-"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror{
  max-height: 35vh !important;
  transition: .25s;
    transition-delay: 1s;


}
.px-3.pb-3.pt-1 .max-h-50vh [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
.bg-background-secondary[style*="width:"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
[class*="max-h-"] + .bg-background-secondary.max-h-50vh  [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror:is(:focus-within),
.bg-background-secondary > .bg-background-primary [class*="bg-"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror:is(:focus-within){
  max-height: 67.5vh !important;
  transition-delay: 0s;
}

/*MIN HEIGHT > WHEN HOVERING OVER MESSAGES IN CHAT*/
.h-12 + .relative:is(:hover,:focus,:focus-within) + .px-3 .max-h-50vh  [data-editor-type="editor"] > .ProseMirror {
  max-height: 35vh !important;
  transition-delay: 0s;
}