/*root*/

:root {
  --testBrdW:0px;
  --testProseMirMaxH:unset;
}

/*********
MAIN
**********/
/*OVERRIDES*/
#dummybodyid .pt-4.pb-3 > div > .mb-4 {
  margin: 0px !important;
}
[data-chat-message-id] {
  border-bottom: .5px solid hsla(0, 0%, 50%, .35);
  padding-top: 0px !important;
  padding-bottom: 21px;
  padding-left: 0px !important;
}
[data-chat-message-id]:after{
  background: transparent !important;
}

[data-chat-message-id] > div {
  padding: 0px !important;
}


/*MESSAGE BODY*/

:root {
  --chatSideBarTitleFlexDirection:row;
  --chatSideBarTitleGap:0px;
  --chatSideBarTitleMargBtm:7px;
}



/*CHAT TITLES*/

/*div[style*="width"].bg-background-secondary .flex.h-12 + div [class*="group"] .flex.min-w-0.grow > div:first-child,
div[style*="min-width"].bg-ultra-light-grey .flex.h-12 + div [class*="group"] .flex.min-w-0.grow > div:first-child,
div[style*="min-width"] .flex.h-12 + div [class*="group"] .flex.min-w-0.grow > div:first-child,*/
div[style*="width"] .flex.h-12 + div [class*="group"] .flex.min-w-0.grow > div:first-child{
  height: unset !important;
  flex-direction: var(--chatSideBarTitleFlexDirection);
  gap: var(--chatSideBarTitleGap);

}


div[style*="width"] .flex.h-12 + div [class*="group"] .flex.min-w-0.grow > div:first-child > .truncate{
  white-space: normal;
  line-height: 1.35;
  font-size: 14.75px;
  font-weight: 500;
  margin: 0px !important; 
  color: var(--bldClr);
  width: 100%;
}
@media (max-width: 900px){
  :root {
      --chatSideBarTitleFlexDirection:column;
    --chatSideBarTitleGap:5px;
    --chatSideBarTitleMargBtm:var(--chatSideBarTitleGap);
  }
}

div[style*="width"][class*="bg-"] .flex.h-12 + div [class*="group"] .flex.min-w-0.grow > div:first-child{
  margin-bottom: var(--chatSideBarTitleMargBtm); 
  top: 1px;
  position: relative;
  align-items: flex-start;
}
/*CHAT METADATA*/
div[style*="width"] .flex.h-12 + div [class*="group"] .flex.min-w-0.grow > div:last-child,
div[style*="width"] .flex.h-12 + div [class*="group"] .flex.min-w-0.grow > div:last-child > div{
  margin: 0px;
  padding: 0px;
}


/*******
! REFERENCED CHATS
********/

[class*="highlightAutoFade"] + div [class*="group"][class*="175"],
.bg-ultra-light-grey [class*="group"][class*="175"],
[data-chat-message-id] .border-light-grey[class*="175px"]{
  background: hsla(0,0%,100%,.05);
  
}
[class*="highlightAutoFade"] + div [class*="group"][class*="175"],
.bg-ultra-light-grey [class*="group"][class*="175"]:hover,
[data-chat-message-id] .border-light-grey[class*="175px"]:hover{
  background: hsla(0,0%,100%,.15);
  
}
/*remove button*/
div  > [class*="remove"]{
transition: .1s !important;
  right: 2px !important;
  overflow: hidden;
  transform: scale(.7) !important;
  backdrop-filter: blur(4px) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  opacity: 0;
  border-radius: 20px !important;
  background: hsla(0,0%,100%,0.1) !important;
  box-shadow: inset 0 0 0 .5px hsla(0,0%,100%,0.125);
  margin: unset !important;
  width: 14px !important;
  height: 14px !important;
}
div  > [class*="remove"] svg {
  background:  transparent !important;
  backdrop-filter: unset !important;
  width: calc(100% - 20%) !important;
  height: calc(100% - 30%) !important;
  transform: unset !important;
  fill: white;
  margin: unset !important;
}
/*[class*="highlightAutoFade"] + div [class*="group"][class*="175"]:hover > [class*="remove"],
.bg-ultra-light-grey [class*="group"][class*="175"]:hover > [class*="remove"],
[data-chat-message-id] .border-light-grey[class*="175px"]:hover > [class*="remove"],*/
div:hover  > [class*="remove"]{
  transform: scale(1.1) !important;
  opacity: 1;
  
}
div:hover  > [class*="remove"]:hover{
  transform: scale(1.3) !important;
  background: hsla(0,0%,100%,0.25) !important;
}
.bg-ultra-light-grey [class*="group"][class*="175"]::-webkit-scrollbar,
.bg-ultra-light-grey [class*="group"][class*="175"]::-webkit-scrollbar-thumb,
.bg-ultra-light-grey [class*="group"][class*="175"]::-webkit-scrollbar-track{
  height: 0px !important; 
  width: 0px !important;
  --scrollbar-width:0px !important;
  --scrollbar-height:0px !important;
  border: unset !important;;
}




/*******
! CHAT > REASONING SUMMARY
********/

[data-chat-message-id] .h-8 ~ .rounded-md{
  background: var(--ultra-light-grey);
}



/*******
! CHAT > PROSEMIRROR
********/
[data-chat-message-id] .h-8 ~ [class*="ProseMirror-hepta-style"]{
  margin-left: calc(var(--chatHeaderPadLR) + var(--chatHeaderGap) + var(--chatHeaderIcnW))
}

[data-chat-message-id] .ProseMirror {
  max-height: var(--testProseMirMaxH) !important;
  overflow: hidden;
}

/*******
********
! CHAT > HEADER
*******
********/
:root {
  --chatHeaderH: 32px;
  --chatHeaderH-Type2: 24px;
  --chatHeader-ZIndex: 21;
  --chatHeaderIcnW: 17px;
  --chatHeaderGap: 6px;
  --chatHeaderPadTopBtm: 5px;
  --chatHeaderPadLR: 20px;
  --chatHeaderBtn-ZIndex: 22;
}

/*overrides*/
[data-chat-message-id] > .relative > .h-8 * {
  margin: unset !important;
  width: unset;
}
[data-chat-message-id] .h-8 .text-label > .shrink-0.text-middle-grey,
[data-chat-message-id] .h-8 .text-label > .truncate.text-label-mini.text-middle-grey {
  
}

/******
! HEADER > NORMAL
*******/
[data-chat-message-id] > div > .flex.h-8:not([class*="group"],[class*="max-w"]) {
  height: var(--chatHeaderH) !important;
  margin-bottom: 0px;
  position: sticky;
  top: 0;
  display: flex !important;
  align-items: center;
  padding-top: calc(var(--chatHeaderPadTopBtm) * 1);
  padding-bottom: var(--chatHeaderPadTopBtm);
  box-shadow: inset 0 0 0 var(--testBrdW) red;
  z-index: var(--chatHeader-ZIndex);
  margin-left: 0px;
  margin-bottom: 10px;
  backdrop-filter: blur(40px);
  background: hsla(216, 6%, 15%, .16);
  padding-right: 0px !important;
  gap: var(--chatHeaderGap);
}

/*all headers*/
[data-chat-message-id] .h-8 {
  padding-left: var(--chatHeaderPadLR) !important;
  gap: var(--chatHeaderGap);
}

/******
! HEADER > TYPE 2
*******/
[data-chat-message-id]  .flex.h-8[class*="group"],
[data-chat-message-id] > div.h-8{
  padding-left: calc(var(--chatHeaderPadLR) + var(--chatHeaderGap) + 4px);
  width: 100% !important;
  height: var(--chatHeaderH-Type2) !important;
  overflow: visible;
  z-index: var(--chatHeader-ZIndex);
  position: relative;
}

/******
! HEADER > TYPE 2 AND TYPE 1
*******/

/*type 2*/

[class*="group"] > .flex.items-center.gap-x-2[class*="pl-4"]{
  position: sticky;
  top: 0;
  z-index: 22;
    box-shadow: 0 .5px 0 0 hsla(0, 0%, 50%, .125);
}

/*type 1*/
[data-chat-message-id] .flex.items-center.gap-x-2[class*="pl-4"] ~ .relative > .h-8 {
  height: calc(var(--chatHeaderH) + var(--chatHeaderH-Type2)) !important;
  backdrop-filter: blur(40px) !important;
  background: hsla(216, 6%, 15%, .16);
  margin-top: calc(var(--chatHeaderH-Type2) * -1) !important;
  align-items: flex-end;
}
[data-chat-message-id] .flex.items-center.gap-x-2[class*="pl-4"] ~ .relative > .h-8  .size-5{
margin-bottom: 2px !important;
}
[class*="group"] > .flex.items-center.gap-x-2[class*="pl-4"] ~ .relative{
}

/******
! HEADER > TYPE 2 AND TYPE 1 > INBOX SIDEBAR
*******/

[data-is-inbox-app-panel] [data-chat-message-id] .flex.items-center.gap-x-2[class*="pl-4"] ~ .relative > .h-8 {
  backdrop-filter: unset !important;
  background: hsla(216, 6%, 15%,1) !important;
}

/*******
********
HEADER > ICONS
*******
********/
/*left sidebar open*/
[data-chat-message-id] .h-8  [class*="text-label"] {
  outline: var(--testBrdW) solid yellow;

}
[data-chat-message-id] .h-8 [class*="text-label"].truncate:not(.text-label-mini) {
  min-width:93% !important;
}

/**HEADER > INNER ICON > ASSISTANT*/
[data-chat-message-id] .h-8 svg {
  margin-right: var(--chatHeaderIcnMargR);
  outline: var(--testBrdW) solid pink;
}

[data-chat-message-id] .h-8 > div:first-child svg.fill-middle-hard-grey {
  fill: hsl(300, 100%, 75%) !important;
}

[data-chat-message-id] .h-8 .size-5,
[data-chat-message-id] .h-8 .size-3 {
  width: var(--chatHeaderIcnW) !important;
  height: var(--chatHeaderIcnW) !important;
}
[data-chat-message-id] .h-8 .size-3 {
  transform: scale(0.8)
}

[data-chat-message-id] .h-8 .size-5 *,
[data-chat-message-id] .h-8 .size-3 * {
  width: 100%;
  height: 100%;
}

/**HEADER > INNER ICON > USER*/
[data-chat-message-id] .h-8 .rounded-circle {
  width: 100%;
  transform: scale(1.2);
  font-size: 11px;
  box-shadow: inset 0 0 0 .5px hsla(0,0%,100%,0.2)
}

/*******
********
HEADER > BUTTON
*******
********/
[data-chat-message-id] .h-8 .absolute[class*="right"][class*="top"],
[data-chat-message-id] .h-8 ~ .absolute[class*="right"][class*="top"] {
  height: 0px;
  position: relative !important;
  top: unset !important;
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  overflow: visible;
  transition: 190ms cubic-bezier(.7, 1.5, 0, .95);
  transform-origin: top right;
  transform: scale(.8);
  flex: 1;
  z-index: var(--chatHeaderBtn-ZIndex) !important;
}

/*******  
HEADER > BUTTON > TYPE 2
********/
[data-chat-message-id] .h-8 ~ .absolute[class*="right"][class*="top"] {
  top: calc(var(--chatHeaderH-Type2) * 1) !important;
  align-items: flex-start;
  height: var(--chatHeaderH-Type2) !important;
  margin: unset;
}

[data-chat-message-id]:hover .absolute[class*="right"][class*="top"] {
  opacity: 1;
  transform: scale(1);
}

[data-chat-message-id] .absolute[class*="right"][class*="top"] [class*="group"] {
  display: flex !important;
  height: calc(var(--chatHeaderH) - 6px);
}

[data-chat-message-id] .absolute[class*="right"][class*="top"] [class*="group"] [class*="clickable"] {
  padding-left: 7px;
  padding-right: 7px;
}

[data-chat-message-id] .absolute[class*="right"][class*="top"] [class*="group"] svg {
  width: 1rem !important;
  height: 1rem !important;
}

/*EDITING > X + CHECKMARK*/
[data-chat-message-id] > .relative > .h-8 > div:last-child {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*******
! CHAT > EDITING
********/
:root {
  --chatProseMirrorEditPadLR: 15px;
  --chatProseMirrorEditPadTopBtm: 5px;
}

[data-chat-message-id] [class*="ProseMirror-hepta-style"] > [data-editor-type] > .ProseMirror {
  /*/
  padding-top: var(--chatProseMirrorEditPadTopBtm);
  padding-bottom: var(--chatProseMirrorEditPadTopBtm);
  padding-left: var(--chatProseMirrorEditPadLR);
  padding-right: var(--chatProseMirrorEditPadLR);
  margin-top: calc(var(--chatProseMirrorEditPadTopBtm) * -1);
  margin-bottom: calc(var(--chatProseMirrorEditPadTopBtm) * -1);
  margin-left: calc(var(--chatProseMirrorEditPadTopBtm) * -3);
  */
  border: unset;
  padding: 0px !important;
  background: transparent;
  
}
[data-chat-message-id] [class*="ProseMirror-hepta-style"] > [data-editor-type="editor"] > .ProseMirror > * {
  z-index: 1
}

/**/
[data-chat-message-id] [class*="ProseMirror-hepta-style"] > [data-editor-type] > .ProseMirror:before,
[data-chat-message-id] [class*="ProseMirror-hepta-style"] > [data-editor-type="previewer"] > .ProseMirror:before{
  content:"";
  position: absolute;
  display: block;
  top: calc(var(--chatProseMirrorEditPadTopBtm) * -1);
  bottom: calc(var(--chatProseMirrorEditPadTopBtm) * -1.5);
  left: calc(var(--chatProseMirrorEditPadTopBtm) * -3);
  right: calc(var(--chatProseMirrorEditPadTopBtm) * -0.5);
  box-shadow: 0 0 0 1px hsla(0, 0%, 50%, 0.3);
  z-index: -1;
  background-color: var(--ultra-light-grey);
  transition: 1s !important;
  transform: scale(.8) ease-in-out;
  opacity: 0;
  border-radius: 6px;
}
[data-chat-message-id] [class*="ProseMirror-hepta-style"] > [data-editor-type="editor"] > .ProseMirror:before {
  transform: scale(1);
  transition: 1s ease-in-out;
  opacity: 1;
  z-index: 1;
}


/********
*********
*********
! CHAT > SOURCE LINKS
*********
*********
*********/

:root {
  --chatSourceBrdW:11px;
}
/*overrides*/
.app-region-drag + div [class*="--light-grey"] + div > .overflow-x-hidden .gap-y-4,
[data-is-inbox-app-panel] .pt-4 .gap-y-4{
  gap: unset !important;
}
[data-is-inbox-app-panel] .pt-4 .gap-y-4{
  background: hsla(214, 8%, 15%, 1.0) !important;
}

.app-region-drag + div [class*="--light-grey"] + div > .overflow-x-hidden .gap-y-4 > div:last-of-type {
  border: unset !important;
}

/********
! DUPLICATED CHAT > SOURCE LINK
*********/
[data-chat-message-id] [class*="ProseMirror-hepta-style"] ~ .flex.h-8{
  margin-left: calc(var(--chatHeaderPadLR) + var(--chatHeaderGap) + var(--chatHeaderIcnW) + 1px) !important;
  padding-top: var(--chatHeaderPadTopBtm);
  padding-bottom: var(--chatHeaderPadTopBtm);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: unset !important;
  padding-left: calc(var(--chatHeaderPadLR) * .5) !important;
}

[data-chat-message-id] [class*="ProseMirror-hepta-style"] ~ .flex.h-8 svg {

  align-items: center;
  margin-top:1px !important;
}

[data-chat-message-id] [class*="ProseMirror-hepta-style"] ~ .flex.h-8 .truncate {
  font-size: 0.835rem;
  line-height: 1.4
}


/********
! DUPLICATED CHATS > END INDICATOR > BORDER
*********/
.app-region-drag + div [class*="--light-grey"] + div > .overflow-x-hidden .gap-y-4 + div {
  padding: 0px var(--chatHeaderPadLR);
  height: 20px;
}
.app-region-drag + div [class*="--light-grey"] + div > .overflow-x-hidden .gap-y-4 + div > div {
  border-top: 5px dotted hsla(0,0%,100%,0.3);
  background: transparent;
}

/********
! DUPLICATED CHATS > SOURCE MESSAGE > ABSOLUTE BORDER
*********/
[data-chat-message-id] [class*="ProseMirror-hepta-style"] ~ .absolute{
  left: calc(var(--chatHeaderPadLR) * .5 + var(--chatHeaderGap) * .5 + var(--chatHeaderIcnW) * .5 + 9px * .5);
  width: var(--chatSourceBrdW)!important;
  border-bottom-left-radius: 6px;
}
/*********
END OF COPIED MESSAGES
**********/
.app-region-drag + div [class*="--light-grey"] + div > .overflow-x-hidden{
  background: var();
}

/********
*********
*********
! TEXT AREA
*********
*********
*********/

:root {
  --chatTextAreaPadLR:13px;
  --chatTextAreaPadTopBtm:calc(var(--chatTextAreaPadLR) * .75);
}
/********
! TEXT AREA > MAX HEIGHT
*********/
.bg-background-secondary > .app-region-drag + .flex > div.px-4  .max-h-50vh,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh{
  max-height: unset !important;
  margin: 0px !important;
  padding-bottom: 0px;
}

/*HEIGHT*/
.bg-background-secondary[style*="width:"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex  div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .bg-background-primary [class*="bg-"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror{
  max-height: 26vh !important;
  transition: .15s;

}
.bg-background-secondary[style*="width:"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror:focus-within,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror:focus-within,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror:focus-within,
.bg-background-secondary > .bg-background-primary [class*="bg-"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror:focus-within{
  max-height: 65vh !important;
}



/********
! TEXT AREA > PADDING
*********/
.bg-background-secondary[style*="width:"] > .app-region-drag + .flex > div.px-4  .max-h-50vh > div,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh > div{
  margin: 0px !important;
  padding-left: var(--chatTextAreaPadLR);
  padding-right: var(--chatTextAreaPadLR);
}

.bg-background-secondary[style*="width:"] > .app-region-drag + .flex > div.px-4  .max-h-50vh  [data-editor-type="editor"] > .ProseMirror,
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh [data-editor-type="editor"] > .ProseMirror{
  padding-left: 0px !important;
}

/********
! BOTTOM NAV
*********/
:root {
  --chatBtmNavBtnH:30px;
}
/*overrides*/
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh > div[class*="gap"] > div > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*container*/
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh > div[class*="gap"] {
    padding-bottom: var(--chatTextAreaPadTopBtm) !important;
  padding-top: var(--chatTextAreaPadTopBtm) !important;
  box-shadow: 0 -1px 0 0 hsla(0,0%,50%,0.2)
  
}
.bg-background-secondary > .app-region-drag + .hepta-pseudo-overlay > .flex + div > div.px-4 .max-h-50vh > div[class*="gap"] > div {
  height: var(--chatBtmNavBtnH) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/********
*********
*********
! LEFT SIDEBAR
*********
*********
*********/
:root {
  --chatSideBarMinW:40vw;
}

@media (max-width: 1000px){
.app-region-drag + div.flex > div[style*="min-width:"]{
  min-width: var(--chatSideBarMinW) !important;
}

.app-region-drag + div.flex > div[style*="width: 536"]{
  max-width:var(--chatSideBarMinW)!important;
}
}


/*TOP HEADER*/
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12,
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div{
  gap: 0px !important;
}


/*search*/
:root{
  --chatSearchIcnW:1.6rem;
  --chatSearchPadLR:5px;
  --chatSearchOutlineW:1px;
}
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow{
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 6px;
  padding-right: 6px
}
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow *{
  margin: unset;
}

/*icon*/
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow > div:first-of-type {
  position: absolute;
  left: calc(var(--chatSearchPadLR) * .2);
  transform: scale(0.76);
  width: var(--chatSearchIcnW);
  height: var(--chatSearchIcnW);
  overflow: visible;
  pointer-events: none !important;
  user-select: none !important;
  opacity: .6
}

/*input*/
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow  input {
  box-shadow: inset 0 0 0 1px hsla(0,0%,50%,0.2);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: calc(var(--chatSearchIcnW));
  padding-right: 5px;
  border-radius: 7px;
  max-width: 350px;
  transition: .1s !important;
}
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow  input:empty{
  background: transparent;
}
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow  input:not(:empty){
  background: red !important;
}
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow  input:focus,
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow  input:focus-within{
  box-shadow: inset 0 0 0 1px hsla(0,0%,50%,0.3);
  background: hsla(0,0%,0%,0.1);

}
/*cancel*/

.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow  input + div {
  position: relative;
  margin-left: calc(var(--chatSearchPadLR) * -5);
  right: calc(var(--chatSearchPadLR) * 1);
  left: unset;
  opacity: .6;
}
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow  input + div:hover{
  opacity: 1;
}
.app-region-drag + div.flex > div[style*="min-width:"] > div.h-12 > div.grow  input + div svg{
  transform: scale(1.1);
}