/*****************
******************
******************
WHITEBOARD CARD TOGGLES
******************
******************
******************/
/*
[data-object-type="cardInstance"] .ProseMirror > [data-node-type*="toggle"] > [class*="nested"] > [data-node-type*="table"] table, 
[data-object-type="mindMapTextElementNode"] .ProseMirror > [data-node-type*="toggle"] > [class*="nested"] > [data-node-type*="table"] table {
		background: red !important;
}*/


.ProseMirror > [data-node-type*="table"] table[style*="min-width"]{
		table-layout: auto !important;
}
.ProseMirror > [data-node-type*="table"] table[style*="min-width"] tr > td > div{
		flex: 1; 
}
.ProseMirror > [data-node-type*="table"] table[style*="min-width"]  tr > td > div > [data-node-type]{
		word-break: auto-phrase !important;
}

.ProseMirror > [data-node-type*="table"] table[style*="min-width"]  tr > td *{
		white-space: pre-wrap;
}