/*****************
MAC APP OVERRIDES
******************/


.grid.select-none > div > div,
.grid.select-none > div > div:hover{
  min-height: unset !important;
  height: unset !important;
  border-color:hsla(0,0%,50%,.0001) !important;
  background:transparent;
}
.grid.select-none > div > div > div {
    padding-top:0px !important;

}
.grid.select-none > div [class*="w-"][class*="scale-"] {
  transform: unset !important;
  width: 100% !important;
}




/*****************
CARD LIBRARY - SOURCE
******************/
#root .grid.select-none .sticky {
    background: transparent;
    position: relative;
    width: 100%;
    max-width: 100% !important;
}
#root .grid.select-none .sticky > .flex {
    padding-left: var(--cardlibCardPadLeftRight) !important;
}
#root .grid.select-none .sticky > .flex > .text-label {
    color: hsla(0,0%,50%);
    opacity: .7
}
#root .grid.select-none .sticky + div.grow {
    display: none;
}
#root .grid.select-none .sticky > .pt-5{
    padding-top: 0px;
    display: none;
}
#root .grid.select-none .sticky > .pt-5 > .flex > div:first-child {
    padding-left: var(--cardlibCardPadLeftRight) !important;
}
#root .grid.select-none .sticky > .pt-5 > .flex > div:first-child > button {
    padding-left: 0px !important;
}
#root .grid.select-none .sticky > .pt-5 > .flex > div{
    border: unset;
    padding-bottom: 0px;
}
#root .grid.select-none .sticky > .pt-5 > .flex > div * {
    color: hsla(0,0%,50%);
    opacity: .7
}