/**OFF*/
[class*="_whiteboardToolbarLeft"]{
		display: none !important;
}

/**MINI*/
[class*="_whiteboardToolbarLeft"]{
		transition: .24s;
		max-height: 1.75rem;
		overflow: hidden;
		transition-delay: 1.5s;
		
}
[class*="_whiteboardToolbarLeft"]:is(:hover,:focus-within,:focus){
		max-height: 400px;
		transition-delay: .5s;
}