/***********
************
************
************
************
************
WHITEBOARD - COLLAPSED CARDS
************
************
************
************
************


[class*="whiteboardObject"][data-is-folded="true"] .w-6 + .truncate,
[class*="whiteboardObject"][data-is-folded="true"] h1,
[class*="whiteboardObject"][data-is-folded="true"] h2,
[class*="whiteboardObject"][data-is-folded="true"] h3,
[class*="whiteboardObject"][data-is-folded="true"] h4,
[class*="whiteboardObject"][data-is-folded="true"] h5,
[class*="whiteboardObject"][data-is-folded="true"] h6 {
	font-size: 24px;
		width: 100%;
		text-align: left;
}

[class*="whiteboardObject"][data-is-folded="true"] > div {
	padding-top: 0.15rem;
	padding-bottom: .15rem;
}

[class*="whiteboardObject"][data-is-folded="true"] > div > [data-is-editor-container],
[class*="whiteboardObject"][data-is-folded="true"] > div > [data-is-editor-container] *{
		pointer-events: none !important;
		
}

[class*="whiteboardObject"][data-is-folded="true"] > div > .flex.h-8.w-6.shrink-0.items-center{
		top: 10px;
		position: relative;
}
************/