/***********
************
************
************
************
************
WHITEBOARD - COLLAPSED CARDS
************
************
************
************
************
************/

/*
[class*="whiteboardObject"][data-is-folded="true"] .w-6 + .truncate,
[class*="whiteboardObject"][data-is-folded="true"] h1,
[class*="whiteboardObject"][data-is-folded="true"] h2,
[class*="whiteboardObject"][data-is-folded="true"] h3,
[class*="whiteboardObject"][data-is-folded="true"] h4,
[class*="whiteboardObject"][data-is-folded="true"] h5,
[class*="whiteboardObject"][data-is-folded="true"] h6 {
	font-size: 24px;
		width: 100%;
		text-align: left;
}
*/

[class*="whiteboardObject"] > div [class*="firstBlockEditor"] h1,
[class*="whiteboardObject"] > div [class*="firstBlockEditor"] h2,
[class*="whiteboardObject"] > div [class*="firstBlockEditor"] h3,
[class*="whiteboardObject"] > div [class*="firstBlockEditor"] h4,
[class*="whiteboardObject"] > div [class*="firstBlockEditor"] h5,
[class*="whiteboardObject"] > div [class*="firstBlockEditor"] h6{
	font-size: 24px;
	
		width: 100%;
		text-align: left;
}

[class*="whiteboardObject"] > div.py-3 {
	padding-top: 0.15rem;
	padding-bottom: .15rem;
	padding-left: 0px;
	padding-right: 0px !important;
}