(function() {
	let style = `<style>


:root {
--tblToggleBulletW:1.25rem;
}
[data-object-type="textElement"] .ProseMirror > [data-node-type*="table"] {
	overflow:unset !important;;
}
[data-object-type="textElement"] .ProseMirror > [data-node-type*="table"] [data-node-type="table_cell"] > div > [data-node-type*="toggle"] {

}

[data-object-type="textElement"] .ProseMirror > [data-node-type*="table"] [data-node-type="table_cell"] > div > [data-node-type*="toggle"] > [class*="bullet"] {
	width:var(--tblToggleBulletW) !important;
	position:absolute !important;
	left:calc(var(--tblToggleBulletW) * -1);
	z-index:949494949494;
	background:var(--whiteboard-background) !important;
	border-radius:4px;
	height:26px !important;
	top:-1px;
}

[data-object-type="textElement"] .ProseMirror > [data-node-type*="table"] [data-node-type="table_cell"] > div > [data-node-type*="toggle"] > [class*="bullet"] [class*="bullet"] {
height:100% !important;
}
[data-object-type="textElement"] .ProseMirror > [data-node-type*="table"] [data-node-type="table_cell"] > div > [data-node-type*="toggle"] > [class*="nested"] {
	background:transparent;
}




</style>`;

	document.head.insertAdjacentHTML("beforeend", style);
})();
