/***********
************
************
************
************
************
WHITEBOARD - CARD BACKGROUNDS
************
************
************
************
************
************/

[class*="_whiteboardObject"] [class*="contentContainer"][style*="--bg-red"] {
	background: var(--whiteBoardCardBg-Red) !important;
--whiteBoardCardBrdClr:var(--whiteBoardCardBrd-Red);
}
[class*="_whiteboardObject"] [class*="contentContainer"][style*="--bg-orange"] {
	background: var(--whiteBoardCardBg-Orange) !important;
--whiteBoardCardBrdClr:var(--whiteBoardCardBrd-Orange);
}
[class*="_whiteboardObject"] [class*="contentContainer"][style*="--bg-yellow"] {
	background: var(--whiteBoardCardBg-Yellow) !important;
--whiteBoardCardBrdClr:var(--whiteBoardCardBrd-Yellow);
}
[class*="_whiteboardObject"] [class*="contentContainer"][style*="--bg-green"] {
	background: var(--whiteBoardCardBg-Green) !important;
--whiteBoardCardBrdClr:var(--whiteBoardCardBrd-Green);
}
[class*="_whiteboardObject"] [class*="contentContainer"][style*="--bg-blue"] {
	background: var(--whiteBoardCardBg-Blue) !important;
--whiteBoardCardBrdClr:var(--whiteBoardCardBrd-Blue);
}
[class*="_whiteboardObject"] [class*="contentContainer"][style*="--bg-purple"] {
	background: var(--whiteBoardCardBg-Purple) !important;
--whiteBoardCardBrdClr:var(--whiteBoardCardBrd-Purple);
}
[class*="_whiteboardObject"] [class*="contentContainer"][style*="--bg-black"] {
	background: var(--whiteBoardCardBg-Black) !important;
--whiteBoardCardBrdClr:var(--whiteBoardCardBrd-Black);
}
