:root {
  --white: white;
  --black: black;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.container_large {
  width: 910px;
  max-width: 100%;
  margin: auto;
}

.border {
  width: 100%;
  padding: 1rem;
}

.headline {
  text-align: center;
  letter-spacing: -1.5px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  font-family: Posterama Text, sans-serif;
  font-size: 78px;
  line-height: 1;
  display: flex;
}

.paid-advert-wrap {
  border-bottom: 4px solid #000;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  display: flex;
}

.body {
  color: #000;
  -webkit-text-stroke-color: #000;
  font-family: TimesSmith, sans-serif;
  font-size: 15px;
  line-height: 1.15;
}

.paid-advert-txt {
  text-align: center;
  width: 50%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.main-grid {
  grid-column-gap: 1.1rem;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  position: relative;
}

.column_4 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: .5rem;
  display: flex;
  position: relative;
}

.subhead-wrap {
  padding-left: .6rem;
}

.paragraph {
  text-align: justify;
  font-family: Futura Bt, sans-serif;
  font-size: 26.05px;
  font-weight: 700;
  line-height: 1.6;
}

.column_1 {
  position: relative;
}

.rich-text-caption {
  text-align: justify;
  text-indent: 14px;
  margin-top: 1rem;
  font-family: Futura Bt, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
}

.rich-text {
  text-align: justify;
}

.rich-text p {
  text-indent: 19px;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.rich-text h4 {
  text-align: center;
  -webkit-text-stroke-width: .4px;
  font-family: Posterama Text, sans-serif;
  font-size: 13.25px;
  line-height: 1.6;
}

.rich-text strong {
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: #000;
}

.rich-text.para-spacer1 {
  margin-top: .5rem;
}

.rich-text.para-spacer1.line-height-stretch {
  line-height: 1.2;
}

.divider {
  background-color: #000;
  width: 75%;
  height: 2px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.franklin-h3 {
  letter-spacing: .4px;
  -webkit-text-stroke-width: .5px;
  margin-top: 11px;
  margin-bottom: 8px;
  font-family: "Franklin Gothic Lt Extra Cond 1", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
}

.franklin-break {
  display: block;
}

.franklin-letter-space {
  letter-spacing: .1px;
}

.futura-h4 {
  text-align: justify;
  text-indent: 14px;
  margin-top: 6px;
  font-family: Futura Bt, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.futura-h4.no-marg-top {
  margin-top: 0;
  margin-bottom: 0;
}

.column_2, .column_3 {
  margin-top: 1rem;
  position: relative;
}

.center-box {
  padding: 4px;
  box-shadow: 0 0 0 5px #000;
}

.poster-h4 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Posterama Text, sans-serif;
  font-size: 13.45px;
  line-height: 1.5;
}

.poster-h4.no-marg-top {
  margin-top: 0;
}

.poster-h4.spacer {
  margin-top: 15px;
  margin-bottom: 10px;
}

.poster-h4.order {
  margin-top: 0;
  font-size: 14px;
}

.poster-h4.h4-spacer {
  padding-top: .5rem;
  padding-bottom: .35rem;
}

.poster-h4.h4-spacer._2 {
  padding-top: .76rem;
  padding-bottom: .5rem;
}

.center-inner {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border: 1.75px solid #000;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: .5rem;
  display: flex;
}

.poster-h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Posterama Text, sans-serif;
  font-size: 35px;
  line-height: 1.2;
}

.futura-h5 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Posterama Text, sans-serif;
  font-size: 17px;
  line-height: 1.2;
}

.h5-breaker {
  display: block;
}

.bullet-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: flex-start;
  display: flex;
}

.center-bullet-img {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  display: flex;
}

.bullet-img {
  width: 100%;
}

.bullet-img-caption {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: Futura Bt, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.rich-text-bullet {
  width: 75%;
  font-size: 13px;
}

.rich-text-bullet strong {
  font-family: Futura Bt, sans-serif;
}

.rich-text-bullet p {
  margin-bottom: 0;
}

.center-bullet-pad {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.bullet-img-caption-2 {
  text-align: center;
  text-transform: none;
  margin-top: 0;
  font-family: Futura Bt, sans-serif;
  font-size: 12px;
}

.center-grid {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: .5rem;
  padding-right: .5rem;
  display: grid;
}

.center-grid-item {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.grid-img {
  width: 100%;
}

.center-grid-label {
  text-align: center;
  text-transform: capitalize;
  margin-top: .4rem;
  font-family: Futura Bt, sans-serif;
  font-size: 11px;
}

.order-form {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -1rem;
  padding: 1rem;
  font-size: 14px;
  display: flex;
}

.paid-advert-wrap-btm {
  border-top: 2px solid #000;
  border-bottom: 0 solid #000;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding-top: 3px;
  font-weight: 700;
  display: flex;
}

.rich-text-copy {
  text-align: justify;
}

.rich-text-copy p {
  text-indent: 14px;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.rich-text-copy h4 {
  text-align: center;
  -webkit-text-stroke-width: .4px;
  font-family: Posterama Text, sans-serif;
  font-size: 13.25px;
  line-height: 1.6;
}

.rich-text-copy strong {
  -webkit-text-stroke-width: .35px;
  -webkit-text-stroke-color: #000;
}

.order-form-item {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.order-dashed-line-stretch {
  border-bottom: 1px solid #000;
  width: 100%;
  height: 100%;
  margin-bottom: 4px;
}

.order-form-wrap {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.order-form-inner {
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.order-checkbox {
  border: 2px solid #000;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  margin-bottom: 4px;
}

.order-checkbox-label {
  width: 100%;
}

.order-checkbox-item {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.h4-breaker {
  display: block;
}

.h4-spacer {
  padding: .125rem;
}

.h1-stretch {
  text-transform: capitalize;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.col-border {
  opacity: .25;
  background-color: #000;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -.55rem;
}

.col-border.end {
  left: -.5rem;
  right: auto;
}

.col-border.end._2 {
  display: none;
}

.col-border.end._2.w {
  display: block;
  left: auto;
  right: -.5rem;
}

.wsj {
  color: #000;
  font-family: Iowan Old Style, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.rhm_tag-per-border {
  border-radius: 3px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba(255, 242, 0, .3);
}

.rhm_prob-connect-wrap {
  position: absolute;
  bottom: 4px;
  left: -3.2rem;
}

.rhm_testimonial {
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  padding: 2rem 2rem 1rem;
  display: flex;
  position: relative;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .65);
}

.h_marquee {
  width: 100%;
}

.text-color-testimonial-card-grey {
  color: #303236;
}

.rhm_testi-tag {
  border-radius: 3px;
  justify-content: flex-start;
  align-items: stretch;
  margin-right: 5px;
  display: flex;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px #a3afcc;
}

.rhm_bullet-tag-flex-wrap {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  display: flex;
}

.rhm_cta-arrow {
  color: #000;
  width: 2rem;
  height: 2rem;
  transition: all .3s;
}

.container-narrow {
  width: 700px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon-small-medium {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  display: flex;
}

.h_hero-top-link-arrow {
  color: #fff;
  transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.marquee_tag {
  border: 2px solid rgba(90, 96, 102, .27);
  padding: .5rem 1rem .3rem;
}

.rcheck_customer-img {
  width: 100%;
  display: block;
}

.rhm_prob-circle-wrap {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 1rem;
  position: relative;
}

.rhm_text-color-red {
  color: #ff958b;
}

.h_flex-right-col-2 {
  width: 95%;
  padding-left: 3rem;
  position: relative;
}

.rhm_tag-orange-asset {
  opacity: .85;
  color: #ffc44c;
  background-color: rgba(255, 242, 0, .01);
  border-radius: 3px;
  margin-left: 3px;
  padding: 2px 6px 1px;
  display: inline-block;
  box-shadow: inset 0 0 0 1px rgba(255, 191, 128, .9);
}

.rhm_container-small {
  z-index: 7;
  width: 1280px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rhm_bullet-txt {
  width: 900px;
  max-width: 100%;
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.rhm_testi-bottom {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 70px;
  margin-top: 10px;
  font-size: .95rem;
  display: flex;
  overflow: hidden;
}

.rhm_pop-up-link {
  color: rgba(168, 166, 255, .9);
  cursor: pointer;
  text-decoration: underline;
}

.rhm_pop-up-link:hover {
  text-decoration: underline;
}

.rhm_faq-question-wrap {
  border-top: 2px solid #666e7f;
  border-bottom: 2px solid #666e7f;
  width: 100%;
}

.rhm_h2-break {
  display: inline;
}

.rhm_testi-client-img-wrap {
  border-radius: 100px;
  width: 25%;
  margin-right: 20px;
  display: flex;
  overflow: hidden;
}

.rhm_tag-fed-border {
  border-radius: 3px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  box-shadow: inset 0 0 #ff958b;
}

.rhm_faq-body {
  width: 100%;
  max-width: 100%;
  display: block;
  overflow: hidden;
}

.rhm_testi-tag-active {
  background-color: #04c;
  display: flex;
}

.txt-clr_off-white-muted {
  color: #cad7e6;
  width: 100%;
  max-width: 100%;
}

.marquee_row-1 {
  width: 100%;
}

.rhm_h6 {
  letter-spacing: .03rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
}

.h_hero-cta-wrap {
  z-index: 1;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  position: relative;
}

.rhm_bullet {
  z-index: 11;
  color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}

.rhm_planet-outer {
  z-index: 30393;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
  top: -14vw;
}

.rhm-section_icon-blur-red {
  filter: blur(18px);
  background-image: radial-gradient(circle, #ff8bb2, rgba(13, 17, 23, 0));
  width: 3rem;
  height: 3rem;
  position: absolute;
}

.rhm_bullet-tag-per {
  background-color: rgba(255, 242, 0, .3);
}

.h_hero-top-link-bank-icn {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
}

.rhm_testi-client-info {
  width: 100%;
}

.rhm_bullet-tag-assets {
  background-color: rgba(255, 102, 0, .4);
}

.rhm_bullet-tag {
  margin-right: 10px;
  display: flex;
}

.rsection_how-it-works {
  background-color: #192030;
}

.rhm_planet-outer-s {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
  top: -14vw;
}

.rhm_final-cta-flex-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding-top: 3rem;
  display: flex;
}

.rsection_problem {
  background-color: #0e131a;
  padding-top: 20px;
}

.faq_advisors {
  z-index: 300;
  position: relative;
}

.h_hero-body {
  width: 800px;
  max-width: 100%;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.txt-clr_off-white-warm-muted {
  opacity: .75;
  color: #fffdf7;
}

.rhm_col-right {
  width: 48%;
}

.icon-html {
  justify-content: center;
  align-items: center;
  display: flex;
}

.h_hero-top-link-text {
  flex-direction: column;
  justify-content: center;
  width: 24rem;
  max-width: 100%;
  line-height: 1.3;
  transition: all .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
}

.rhm_bullet-item-wrap {
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  margin-top: 8px;
  padding-top: 7px;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
}

.rhm_faq-question-container {
  width: 100%;
  position: relative;
}

.planet-cta_absolute-bottom {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 800px;
  display: none;
  position: absolute;
  bottom: -282px;
}

.h_bullet-item {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: .75rem;
  display: flex;
}

.rhm_planet-bg {
  z-index: -1;
  background-color: #2b2d6e;
  background-image: none;
  width: 100%;
  height: 130%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rhm_h2 {
  letter-spacing: -.06rem;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.15;
}

.h_hero-top-link-bank-icn-wrap {
  background-image: radial-gradient(circle closest-corner at 50% 100%, rgba(255, 255, 255, .28), rgba(0, 0, 0, 0)), linear-gradient(#5a5e5f, #141516);
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  padding: 5px;
  display: flex;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2);
}

.rhm_testi-client-name {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.rsection_testimonials {
  background-color: #192030;
  position: relative;
}

.container-medium {
  width: 1160px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rhm_txt-bullet {
  letter-spacing: .1px;
  width: 100%;
  max-width: 100%;
  font-size: 1.2rem;
  line-height: 1.55;
  display: block;
}

.rsection_objection-in-advance {
  background-color: #0e131a;
  position: relative;
}

.rhm_padding-mini {
  padding: 1rem;
}

.rhm_testi-detail-wrap {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.rhm_faq-icn-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-classic {
  z-index: 2;
  background-color: #2b2d6e;
}

.rhm_important-icn-2 {
  color: #5b75b2;
  justify-content: center;
  align-items: center;
  width: 7px;
  display: flex;
}

.rhm_h3 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.9rem;
  font-weight: 500;
  line-height: 1.3;
}

.rhm_tbl-wrap {
  background-color: rgba(139, 148, 158, .15);
  border-bottom: 1px solid rgba(139, 148, 158, .4);
  width: 100%;
  padding: 6px 20px 5px 70px;
}

.rhm_tbl-wrap.odd {
  background-color: rgba(139, 148, 158, .05);
  padding-left: 110px;
}

.rhm_tbl-wrap._2nd {
  border-top: 1px solid rgba(139, 148, 158, .4);
  margin-right: 400px;
}

.h_hero-top-link-text-2 {
  width: 100%;
  transition: all .2s;
}

.rhm_step-padding-top {
  width: 100%;
  padding: 4rem;
}

.rhm_bullet-connect {
  z-index: 11;
}

.h_hero-top-link {
  color: #8b949e;
  border: 1px solid rgba(139, 148, 158, .3);
  border-radius: 30px 100px 100px 30px;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  padding: .8rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.h_hero-top-link:hover {
  background-image: linear-gradient(to right, rgba(1, 0, 51, 0), rgba(1, 0, 51, 0));
  text-decoration: none;
}

.rhm_tag-yellow-asset {
  opacity: .85;
  color: #ff6;
  background-color: rgba(255, 242, 0, .01);
  border-radius: 3px;
  padding: 2px 6px 1px;
  display: inline-block;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 76, .9);
}

.rhm-hero_padding-bottom {
  padding: 12.2rem;
}

.rsection_faq {
  background-color: #1f273b;
  position: relative;
}

.rhm_testi-tag-txt {
  color: #303236;
  white-space: nowrap;
  margin-top: 2px;
  font-size: .79rem;
  font-weight: 500;
  line-height: 1.3;
}

.h_hero-top-link-wrap {
  z-index: 6;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}

.rhm_trail-purple {
  background-image: linear-gradient(#99a0ff, #5960ff 42%, rgba(13, 17, 23, 0));
  height: 100%;
}

.rhm_important-note-icn-wrap {
  z-index: 2;
  background-color: #161c2b;
  border-bottom: 1px solid #27324c;
  border-right: 1px solid #27324c;
  border-radius: 7px 0;
  justify-content: center;
  align-items: center;
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.rhm_bullet-tag-disclaimer-txt {
  font-weight: 300;
  line-height: 1.3;
}

.rhm_flex-wrap-single-col {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.rhm_h2-padding-below {
  width: 100%;
  padding: 3rem 3rem 2.5rem;
}

.total-dollars-rescued-fed {
  color: #ffbf00;
}

.h-hero_section-header {
  grid-row-gap: 1rem;
  color: #f2f0ea;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 2rem;
  display: flex;
}

.txt-clr_purple {
  color: #a8a6ff;
  width: 100%;
  max-width: 100%;
}

.rhm_text-colorgreen {
  color: #8ae68a;
  width: 100%;
  max-width: 100%;
}

.rhm_h4-headline {
  width: 100%;
  padding-bottom: 2rem;
}

.txt-clr_icon-green {
  color: #02b35a;
}

.planet-cta_wrapper-top {
  width: 3200px;
  position: absolute;
}

.rhm_text-centered {
  text-align: center;
  width: 100%;
}

.rhm_planet {
  z-index: -2;
  background-image: linear-gradient(#06060e 10%, #06060e 40%, rgba(13, 17, 23, 0) 62%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 -2px #fff;
}

.final-cta_wrapper {
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.rhm_planet-wrap-s {
  justify-content: center;
  width: 120vw;
  height: 120vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
}

.rhm_col-left {
  width: 48%;
  max-width: 100%;
  margin-right: 38px;
}

.rhm_testi-tag-status-txt {
  color: #fff;
  white-space: nowrap;
  margin-top: 2px;
  font-size: .79rem;
  line-height: 1.3;
}

.rsection_introducing {
  background-color: #0e131a;
  position: relative;
}

.txt-clr_blue {
  color: #007eec;
  width: 100%;
  max-width: 100%;
}

.h_hero_h1 {
  color: #fff;
  letter-spacing: -.06rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}

.rhm_faq-icon {
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
}

.rhm_bullet-icon {
  justify-content: center;
  align-items: center;
  min-width: 22px;
  min-height: 22px;
  margin-top: 6px;
  margin-right: 15px;
  display: flex;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.rhm_grid-item {
  z-index: 6;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  display: flex;
}

.rhm_flex-left-col {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 5%;
  display: flex;
}

.rhm_flex-left-col.rhm-hidden {
  display: none;
}

.rhm_col-container-copy {
  z-index: 4;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 1280px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.rhm_faq-question {
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  margin-top: -2px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.rhm_testi-tag-status-wrap {
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
}

.rhm_txt-body {
  letter-spacing: .1px;
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 1.55;
  display: block;
}

.rhm_tbl-outer {
  width: 100%;
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.txt-clr_tag-orange {
  color: #fcc;
}

.rhm-section-icn-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5.9rem;
  margin-right: -1.3rem;
  display: flex;
  position: relative;
}

.rhm_important-note {
  background-color: #1a2233;
  border: 1px solid #2a3652;
  border-radius: 7px;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  margin-top: 15px;
  padding: 1rem 1rem 1rem 3rem;
  font-weight: 400;
  display: flex;
  position: relative;
}

.rhm_h2-wrap {
  width: 100%;
}

.h_hero-section-wrap {
  z-index: 6;
  grid-row-gap: 4rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.rhm_planet-spoof-s {
  z-index: 0;
  background-image: linear-gradient(#06060e 10%, #06060e 40%, rgba(13, 17, 23, 0) 62%);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2700px;
  display: none;
  position: absolute;
  top: 700px;
}

.rsection_included {
  background-color: #192030;
  position: relative;
}

.rhm_testi-tag-right {
  background-color: rgba(163, 175, 204, .12);
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
}

.rhm_prob-itm-wrap {
  width: 100%;
  max-width: 100%;
  padding-left: 1.5rem;
}

.rhm_mini-step {
  background-color: #161c2b;
  border: 2px solid #000;
  border-radius: 5px;
  width: 900px;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 20px 40px -30px #000;
}

.rhm_trail-border {
  border-radius: 2px;
  flex: 1;
  width: 3px;
  height: 100%;
  overflow: hidden;
}

.rhm_bullet-tag-fed {
  background-color: rgba(255, 102, 0, .4);
}

.h_hero-top-link-text-1 {
  color: #fff;
  font-variation-settings: "wght"500;
  letter-spacing: 0;
  width: 100%;
  transition: all .2s;
}

.rhm_h5 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: 1.1;
}

.rhm_testi-content {
  z-index: 1;
  position: relative;
}

.h_quick-stats {
  width: 100%;
}

.rhm_span-bold {
  font-weight: 700;
}

.rhm_cta-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  padding-top: 3rem;
  display: flex;
}

.bg-planet_final-cta {
  opacity: .2;
  background-image: url('../images/Ca-planet-up.svg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 3200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rhm-section_icon-blur-purple {
  filter: saturate(250%) blur(18px);
  background-image: radial-gradient(circle, #8095ff, rgba(13, 17, 23, 0));
  width: 3rem;
  height: 3rem;
  position: absolute;
}

.rhm_trail-green-copy {
  background-image: linear-gradient(#56d364, #2ea043 40%, rgba(13, 17, 23, 0));
  height: 100%;
}

.txt-clr_tag-yellow {
  color: rgba(255, 250, 153, .8);
}

.rhm_bullet-header {
  color: #fff;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
}

.rhm_pricing-bg {
  display: none;
  position: absolute;
  top: 0;
  bottom: -40px;
  left: -40px;
  right: -40px;
}

.rhm_flex-wrap-main {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.rhm_prob-itm {
  z-index: 6;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  padding-top: 3.2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  display: flex;
}

.rhm_testi-tag-retired {
  background-color: #008020;
  display: flex;
}

.rhm_faq-section-title {
  z-index: 2;
  text-transform: capitalize;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 3rem;
  padding-right: .5rem;
  display: flex;
  position: relative;
}

.h_hero-toplink-bg {
  z-index: 1;
  opacity: 1;
  background-image: linear-gradient(to right, rgba(1, 0, 51, .5), rgba(1, 0, 51, 0));
  border-radius: 1px;
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
}

.rhm_h2-price {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
}

.rhm-section_icon {
  z-index: 1;
  color: #fff;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  position: relative;
}

.rhm_bullet-tag-txt {
  padding: 3px 5px 0;
  font-size: 1rem;
  line-height: 1.1;
}

.rhm_planet-wrap {
  justify-content: center;
  width: 120vw;
  height: 120vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
}

.rhm_planet-spoof {
  z-index: 0;
  background-image: linear-gradient(#06060e 10%, #06060e 40%, rgba(13, 17, 23, 0) 62%);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2700px;
  display: flex;
  position: absolute;
  top: 700px;
}

.rhm_final-cta-wrap {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.rhm_bullet-tag-flex-in {
  justify-content: flex-start;
  align-items: flex-start;
  display: none;
}

.rhm_faq-body-margin-bot {
  width: 900px;
  max-width: 100%;
  margin-bottom: 2.75rem;
}

.rhm_container-narrow {
  z-index: 7;
  width: 1140px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rhm_h4 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.rhm_testi-tag-left {
  border-right: 1px solid #a3afcc;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
}

.padding-section-final-cta {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.txt-clr_white {
  color: #fff;
}

.h_bullet-item-inner {
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-bottom: .75rem;
  font-weight: 300;
  display: flex;
}

.rhm_padding-medium {
  padding: 2rem;
}

.h_hero-toplink-bg-hover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05));
  border-radius: 1px;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rhm_faq-icn-vert-bar {
  background-color: #f6f4ee;
  width: 2px;
  height: 26px;
  position: absolute;
}

.marquee_tag-txt {
  font-variation-settings: "wght"525, "wdth"87;
  letter-spacing: .1px;
  text-transform: uppercase;
  white-space: nowrap;
}

.padding-section-hero {
  padding-top: 11rem;
  padding-bottom: 8rem;
}

.marquee_row-wrap {
  flex-wrap: nowrap;
  align-items: flex-start;
  display: flex;
}

.rhm_testi-tag-icn {
  color: #7d8499;
  width: 12px;
  height: 14px;
  display: flex;
}

.rhm_txt-grid {
  flex-direction: column;
  width: 900px;
  max-width: 100%;
  font-size: 1.6rem;
  line-height: 1.6;
  display: flex;
  position: relative;
}

.rhm_padding-xsmall {
  width: 100%;
  padding: 1rem 3rem;
}

.rhm_planet-s {
  background-image: linear-gradient(192deg, rgba(140, 138, 255, .12), rgba(140, 138, 255, 0) 16%), radial-gradient(circle farthest-side at 50% 0, rgba(61, 46, 92, .41), rgba(140, 138, 255, 0) 23%), linear-gradient(#192030 9%, #192030 33%, rgba(13, 17, 23, 0) 78%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 2px 0 1px 1px #fff, 10px 0 30px -9px rgba(14, 19, 26, .2), inset 0 10px 30px -10px rgba(255, 255, 255, .25), 0 -20px 72px -31px rgba(3, 0, 143, .5), 1px 1px 150px -30px rgba(0, 24, 143, .6), 0 -2px 70px -3px rgba(255, 255, 255, .1);
}

.h_bullet-item-hr {
  background-color: rgba(255, 255, 255, .3);
  width: 100%;
  height: 1px;
  display: block;
}

.h_bullet-item-icn-wrap {
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  margin-right: 20px;
  display: flex;
}

.h_hero-bullet-wrap {
  width: 800px;
  max-width: 100%;
}

.rhm_cta-btn {
  z-index: 1;
  color: #000;
  letter-spacing: .01rem;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem .6rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: relative;
  box-shadow: 0 0 rgba(252, 252, 252, 0), 0 10px 30px -20px rgba(0, 0, 0, .5);
}

.rhm_cta-btn:hover {
  background-color: #8c8aff;
  box-shadow: 0 0 0 10px rgba(130, 128, 255, .3), 0 10px 30px -20px rgba(0, 0, 0, .5);
}

.rhm_section-padding-bottom {
  width: 100%;
  max-width: 100%;
  padding: 6rem 8.2rem 8.2rem;
}

.rhm_h2-padding-above {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2.7rem;
}

.rhm_bullet-svg-red {
  border-radius: 100%;
  width: 100%;
  min-width: 28px;
  height: 100%;
  position: relative;
  box-shadow: 0 0 25px #ff666b, 0 0 5px #ff666b;
}

.rhm_faq-title {
  color: #f6f2ee;
  cursor: pointer;
  background-color: #1f273b;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  text-decoration: none;
  display: flex;
  position: relative;
}

.marquee_row {
  grid-column-gap: 1rem;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: .5rem 1rem .5rem 0;
  display: flex;
}

.rhm_txt-body-faq {
  letter-spacing: .1px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 1.55;
  display: flex;
}

.rhm_final-cta-btn {
  z-index: 1;
  color: #000;
  letter-spacing: .01rem;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem .6rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: relative;
  box-shadow: 0 0 rgba(252, 252, 252, 0), 0 30px 50px -20px #000;
}

.rhm_final-cta-btn:hover {
  background-color: #8c8aff;
  box-shadow: 0 0 0 10px rgba(130, 128, 255, .3), 0 10px 30px -20px rgba(0, 0, 0, .5);
}

.rhm_body-txt-wrapper {
  width: 900px;
  max-width: 100%;
}

.rhm_disclaimer-txt {
  opacity: .74;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 100%;
  margin-top: 20px;
  line-height: 1.3;
  display: flex;
}

.rhm-section_icon-blur-green {
  filter: blur(18px);
  background-image: radial-gradient(circle, rgba(102, 255, 115, .8), rgba(13, 17, 23, 0));
  width: 3rem;
  height: 3rem;
  position: absolute;
}

.rhm_h3-wrap {
  width: 100%;
  max-width: 100%;
}

.rhm_tag-spacer {
  padding-right: .5rem;
}

.faq_aum {
  z-index: 300;
  position: relative;
}

.txt-clr_off-white-warm {
  color: #f2f0ea;
  width: 100%;
  max-width: 100%;
}

.rhm2_bullet-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  display: flex;
}

.rhm_planet-s-cover-up {
  z-index: 1;
  background-image: linear-gradient(#192030, #192030 54%, rgba(13, 17, 23, 0));
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  bottom: -50%;
}

.planet-cta_bg {
  opacity: .2;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rhm_trail-red {
  background-image: linear-gradient(#ffd6cc, #ec4823 29%, rgba(117, 56, 45, .46) 67%, rgba(13, 17, 23, 0));
  height: 100%;
}

.txt-clr_off-white-warm-2 {
  color: #e0dfd9;
  width: 100%;
  max-width: 100%;
}

.rhm_h6-subhead {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 6rem;
  display: flex;
}

.rhm_h6-subhead.rhm_hidden {
  display: none;
}

.rhm_planet-under-gradient {
  z-index: 0;
  background-image: linear-gradient(#0e131a, #192030);
  height: 1000px;
  display: flex;
  position: absolute;
  bottom: -50vh;
  left: 0;
  right: 0;
}

.rhm_tbl-txt {
  clear: both;
  line-height: 1.3;
}

.rhm_faq-icn-horiz-bar {
  background-color: #f6f4ee;
  width: 26px;
  height: 2px;
  position: absolute;
}

.rsection_final-cta {
  background-color: #1f273b;
  position: relative;
}

.marquee_container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.rhm_testi-top {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.main-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.rhm_testi-read-review {
  z-index: 1;
  color: #192030;
  font-size: .95rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.icon-big {
  justify-content: center;
  align-items: center;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  display: flex;
}

.rhm_final-cta-padding-top {
  width: 100%;
  padding: 4rem;
}

.rhm_bullet-red-blur {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 25px #ff666b, 0 0 5px #ff666b;
}

.wsj_img-wrap {
  width: 100%;
}

.wsj_header-img {
  width: 100%;
  display: block;
}

.letter-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  align-items: center;
  width: 100%;
  display: flex;
}

.rich-text-wsj {
  text-align: justify;
  width: 100%;
  margin-top: 20px;
}

.rich-text-wsj h3 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.4;
}

.rich-text-wsj.no-indent {
  margin-top: 0;
}

.rich-text-wsj.no-indent p {
  text-indent: 0;
}

.rich-text-wsj p {
  text-indent: 2rem;
}

.padding-section-wsj {
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.underline {
  text-decoration: underline;
}

.wsj-sig-img-wrap {
  width: 100%;
}

.wsj-sig-img {
  width: 250px;
}

@media screen and (max-width: 991px) {
  .headline {
    font-size: 7.8vw;
  }

  .body {
    font-size: 17px;
    line-height: 1.25;
  }

  .main-grid {
    grid-column-gap: 4vw;
    grid-row-gap: 0rem;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    align-items: start;
    justify-items: stretch;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column_4 {
    margin-top: 1.5rem;
  }

  .subhead-wrap {
    padding-left: 0;
  }

  .paragraph {
    margin-right: 0;
  }

  .rich-text-caption {
    font-size: 15px;
    line-height: 1.25;
  }

  .rich-text.para-spacer1.line-height-stretch {
    line-height: 1.25;
  }

  .divider {
    width: 85%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 0;
  }

  .franklin-h3 {
    text-align: left;
    font-size: 36px;
  }

  .futura-h4 {
    font-size: 16.5px;
  }

  .column_2 {
    margin-top: 10px;
  }

  .column_3 {
    margin-top: 0;
  }

  .poster-h4 {
    font-size: 16.5px;
  }

  .poster-h4.no-marg-top {
    margin-top: 10px;
  }

  .poster-h4.h4-spacer {
    padding-left: .12rem;
    padding-right: .12rem;
  }

  .poster-h4.h4-spacer._2 {
    padding-top: .5rem;
  }

  .center-inner {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .futura-h5 {
    font-size: 14px;
  }

  .center-bullet-pad {
    padding-left: .5rem;
    padding-right: .75rem;
  }

  .order-form {
    margin-top: 1.5rem;
  }

  .h4-spacer {
    padding: 0;
  }

  .col-border {
    bottom: -.5rem;
    right: -2vw;
  }

  .col-border.end {
    display: none;
  }

  .col-border.end._2 {
    display: block;
    top: -.5rem;
    left: auto;
    right: -2vw;
  }

  .col-border.end._2.w {
    right: -2vw;
  }

  .rhm_prob-connect-wrap {
    width: 50px;
    left: -1.8rem;
    overflow: hidden;
  }

  .h_flex-right-col-2 {
    padding-left: 1.5rem;
  }

  .rhm_h2-break {
    display: inline;
  }

  .rhm_h2 {
    font-size: 3rem;
  }

  .rhm_padding-mini {
    padding: 1rem 2.5rem;
  }

  .rhm_step-padding-top {
    padding: 2.5rem;
  }

  .rhm-hero_padding-bottom {
    padding: 4rem;
  }

  .rhm_h2-padding-below {
    padding: 2.5rem;
  }

  .h-hero_section-header {
    padding-left: 0;
  }

  .rhm_planet-wrap-s {
    width: 140vw;
    height: 140vw;
  }

  .marquee_row-2 {
    width: 100%;
  }

  .h_hero_h1 {
    letter-spacing: -.03rem;
    font-size: 3rem;
  }

  .padding-global {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .rhm_grid-item {
    max-width: 100%;
  }

  .rhm_flex-left-col {
    width: 3%;
  }

  .rhm-section-icn-wrap {
    display: none;
  }

  .rhm_h5 {
    border: 0 solid #000;
  }

  .bg-planet_final-cta {
    background-position: 50% -20%;
    background-size: 2000px;
  }

  .rhm_h2-price {
    font-size: 3rem;
  }

  .rhm_planet-wrap {
    width: 140vw;
    height: 140vw;
  }

  .rhm_h4 {
    border: 0 solid #000;
  }

  .padding-section-hero {
    padding-top: 17rem;
    padding-bottom: 6rem;
  }

  .rhm_padding-xsmall {
    padding: 2.5rem;
  }

  .rhm_section-padding-bottom {
    padding: 4rem;
  }

  .rhm_h2-padding-above, .rhm_final-cta-padding-top {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .headline {
    margin-bottom: 14px;
    font-size: 8.5vw;
  }

  .paid-advert-wrap {
    font-size: 12px;
  }

  .body {
    font-size: 16.5px;
    line-height: 1.25;
  }

  .main-grid {
    padding-left: 0;
    padding-right: 0;
  }

  .subhead-wrap {
    margin-bottom: 5px;
  }

  .paragraph {
    font-size: 23px;
    line-height: 1.2;
  }

  .rich-text-caption {
    font-size: 16px;
  }

  .author-img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .franklin-h3 {
    font-size: 44px;
  }

  .futura-h4 {
    line-height: 1.35;
  }

  .center-box {
    margin-top: 1.5rem;
    box-shadow: 0 0 0 3px #000;
  }

  .poster-h4 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 17px;
  }

  .poster-h4.order {
    font-size: 17px;
  }

  .center-inner {
    padding-bottom: 2rem;
  }

  .futura-h5 {
    font-size: 18px;
  }

  .h5-breaker {
    display: inline;
  }

  .bullet-wrap {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .center-bullet-img {
    width: 30%;
  }

  .bullet-img-caption {
    font-size: 14px;
  }

  .rich-text-bullet p {
    font-size: 14.5px;
  }

  .center-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .grid-img {
    max-width: 120px;
  }

  .order-form {
    font-size: 15px;
  }

  .col-border, .col-border.end._2, .col-border.end._2.w {
    display: none;
  }

  .wsj {
    font-size: 1.15rem;
  }

  .h_flex-right-col-2 {
    max-width: 100%;
  }

  .rhm_tag-orange-asset {
    margin-left: 1px;
  }

  .rhm_padding-mini, .rhm_step-padding-top {
    padding: 1.5rem;
  }

  .rhm-hero_padding-bottom {
    padding: 3rem;
  }

  .rhm_h2-padding-below {
    padding: 1.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .rhm_cta-wrap {
    align-items: flex-start;
  }

  .bg-planet_final-cta {
    background-position: 50% -100%;
    background-size: 1600px;
  }

  .padding-section-hero {
    padding-top: 16rem;
    padding-bottom: 4rem;
  }

  .rhm_padding-xsmall {
    padding: 1.5rem;
  }

  .rhm_cta-btn {
    padding: .6rem .75rem .5rem;
    font-size: 1.3rem;
  }

  .rhm_section-padding-bottom {
    padding: 3rem;
  }

  .rhm_h2-padding-above {
    padding: 1.5rem;
  }

  .rhm_final-cta-btn {
    padding: .6rem .75rem .5rem;
    font-size: 1.3rem;
  }

  .rhm_cta-breaker {
    display: none;
  }

  .rhm_final-cta-padding-top {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .headline {
    font-size: 10.9vw;
    line-height: 1.1;
    display: block;
  }

  .column_4 {
    width: 100%;
  }

  .paragraph {
    font-size: 20px;
  }

  .column_1, .column_2, .column_3, .center-box {
    width: 100%;
  }

  .poster-h2 {
    font-size: 9.5vw;
  }

  .futura-h5 {
    font-size: 16px;
  }

  .bullet-wrap {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .center-bullet-img {
    width: 50%;
    max-width: 140px;
  }

  .rich-text-bullet {
    width: 100%;
  }

  .center-bullet-pad {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .h1-stretch {
    justify-content: flex-start;
    display: inline;
  }

  .bg-planet_final-cta {
    background-position: 50% 110%;
    background-size: 1400px;
  }

  .rhm_cta-btn, .rhm_final-cta-btn {
    padding-left: .6rem;
    padding-right: .6rem;
    font-size: 1rem;
    line-height: 1.3;
  }

  .padding-section-wsj {
    padding-top: 3rem;
  }
}

#w-node-_162f8162-7837-7d77-38d8-1b1e566fbf48-31ad49df {
  grid-area: span 2 / span 3 / span 2 / span 3;
  align-self: start;
}

#w-node-_4a028f7c-58e7-f2c3-9abc-f500826696b1-31ad49df {
  grid-area: 3 / 1 / 9 / 2;
  align-self: start;
}

#w-node-c5fbb3f8-43c6-0486-2e01-1f14696c5f85-31ad49df {
  grid-area: 3 / 2 / 5 / 4;
}

#w-node-_7a5e01fe-ad9c-f678-499b-a068f04175f1-31ad49df {
  grid-area: 5 / 2 / 9 / 3;
  align-self: start;
}

#w-node-d6eafa1a-14ff-392f-80b6-c76a339d994f-31ad49df {
  grid-area: 5 / 3 / 12 / 4;
}

#w-node-_33e69cf8-a515-ae96-0add-8b00e645656c-31ad49df {
  grid-area: 1 / 4 / 12 / 5;
}

#w-node-d6d42808-e65d-f0f4-d72a-365d0a882cc4-31ad49df {
  grid-area: span 3 / span 2 / span 3 / span 2;
}

#w-node-_90049bf8-97a2-c8b5-4086-6faa29286d83-b7327a33 {
  grid-area: span 2 / span 3 / span 2 / span 3;
  align-self: start;
}

#w-node-_90049bf8-97a2-c8b5-4086-6faa29286d86-b7327a33 {
  grid-area: 3 / 1 / 9 / 2;
  align-self: start;
}

#w-node-_90049bf8-97a2-c8b5-4086-6faa29286dbb-b7327a33 {
  grid-area: 3 / 2 / 5 / 4;
}

#w-node-_90049bf8-97a2-c8b5-4086-6faa29286e11-b7327a33 {
  grid-area: 5 / 2 / 9 / 3;
  align-self: start;
}

#w-node-_90049bf8-97a2-c8b5-4086-6faa29286e32-b7327a33 {
  grid-area: 5 / 3 / 12 / 4;
}

#w-node-_90049bf8-97a2-c8b5-4086-6faa29286e58-b7327a33 {
  grid-area: 1 / 4 / 12 / 5;
}

#w-node-_90049bf8-97a2-c8b5-4086-6faa29286e9f-b7327a33 {
  grid-area: span 3 / span 2 / span 3 / span 2;
}

@media screen and (max-width: 991px) {
  #w-node-_162f8162-7837-7d77-38d8-1b1e566fbf48-31ad49df {
    grid-area: 1 / 1 / 3 / 5;
  }

  #w-node-_4a028f7c-58e7-f2c3-9abc-f500826696b1-31ad49df {
    grid-row-end: 6;
    grid-column-end: 3;
  }

  #w-node-c5fbb3f8-43c6-0486-2e01-1f14696c5f85-31ad49df {
    grid-area: span 2 / span 2 / span 2 / span 2;
    align-self: start;
  }

  #w-node-_7a5e01fe-ad9c-f678-499b-a068f04175f1-31ad49df {
    grid-row: 6 / 8;
    grid-column-start: 1;
  }

  #w-node-d6eafa1a-14ff-392f-80b6-c76a339d994f-31ad49df {
    grid-area: 8 / 1 / 10 / 3;
  }

  #w-node-_33e69cf8-a515-ae96-0add-8b00e645656c-31ad49df {
    grid-area: span 8 / span 2 / span 8 / span 2;
  }

  #w-node-d6d42808-e65d-f0f4-d72a-365d0a882cc4-31ad49df {
    grid-area: 10 / 1 / 12 / 3;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286d83-b7327a33 {
    grid-area: 1 / 1 / 3 / 5;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286d86-b7327a33 {
    grid-row-end: 6;
    grid-column-end: 3;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286dbb-b7327a33 {
    grid-area: span 2 / span 2 / span 2 / span 2;
    align-self: start;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286e11-b7327a33 {
    grid-row: 6 / 8;
    grid-column-start: 1;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286e32-b7327a33 {
    grid-area: 8 / 1 / 10 / 3;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286e58-b7327a33 {
    grid-area: span 8 / span 2 / span 8 / span 2;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286e9f-b7327a33 {
    grid-area: 10 / 1 / 12 / 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_4a028f7c-58e7-f2c3-9abc-f500826696b1-31ad49df {
    grid-row-end: 5;
    grid-column-end: 5;
  }

  #w-node-c5fbb3f8-43c6-0486-2e01-1f14696c5f85-31ad49df {
    grid-column: span 4 / span 4;
  }

  #w-node-_7a5e01fe-ad9c-f678-499b-a068f04175f1-31ad49df {
    grid-row: 5 / 7;
    grid-column-end: 5;
  }

  #w-node-d6eafa1a-14ff-392f-80b6-c76a339d994f-31ad49df {
    grid-row: 7 / 9;
    grid-column-end: 5;
  }

  #w-node-_33e69cf8-a515-ae96-0add-8b00e645656c-31ad49df {
    grid-column: span 4 / span 4;
  }

  #w-node-d6d42808-e65d-f0f4-d72a-365d0a882cc4-31ad49df {
    grid-row: 9 / 12;
    grid-column-end: 5;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286d86-b7327a33 {
    grid-row-end: 5;
    grid-column-end: 5;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286dbb-b7327a33 {
    grid-column: span 4 / span 4;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286e11-b7327a33 {
    grid-row: 5 / 7;
    grid-column-end: 5;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286e32-b7327a33 {
    grid-row: 7 / 9;
    grid-column-end: 5;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286e58-b7327a33 {
    grid-column: span 4 / span 4;
  }

  #w-node-_90049bf8-97a2-c8b5-4086-6faa29286e9f-b7327a33 {
    grid-row: 9 / 12;
    grid-column-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d6d42808-e65d-f0f4-d72a-365d0a882cc4-31ad49df, #w-node-_90049bf8-97a2-c8b5-4086-6faa29286e9f-b7327a33 {
    grid-row-start: 9;
  }
}


@font-face {
  font-family: 'Franklin Gothic Std Extra Condensed';
  src: url('../fonts/Franklin-Gothic-Std-Extra-Condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TimesSmith';
  src: url('../fonts/TimesSmith-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TimesSmith';
  src: url('../fonts/TimesSmith-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'TimesSmith';
  src: url('../fonts/TimesSmith-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'TimesSmith';
  src: url('../fonts/TimesSmith-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Posterama Text';
  src: url('../fonts/Posterama-Text-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura Bt';
  src: url('../fonts/Futura-BT---Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura Bt';
  src: url('../fonts/Futura-BT---Book-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Futura Bt';
  src: url('../fonts/Futura-BT---Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Futura Bt';
  src: url('../fonts/Futura-BT---Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Futura Bt';
  src: url('../fonts/Futura-BT---Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura Bt';
  src: url('../fonts/Futura-BT---Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Franklin Gothic Lt Extra Cond 1';
  src: url('../fonts/Franklin-Gothic-LT---Extra-Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Franklin Gothic Lt Extra Cond 2';
  src: url('../fonts/Franklin-Gothic-ITC-Condensed-3---Book-Extra.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Franklin Gothic Lt Extra Cond 3';
  src: url('../fonts/Franklin-Gothic-ITC-Condensed-3---Demi-Extra.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Iowan Old Style';
  src: url('../fonts/Iowan-Old-Style---Regular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Iowan Old Style';
  src: url('../fonts/Iowan-Old-Style---Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Iowan Old Style';
  src: url('../fonts/Iowan-Old-Style---Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Iowan Old Style';
  src: url('../fonts/Iowan-Old-Style---Black-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Iowan Old Style';
  src: url('../fonts/Iowan-Old-Style---Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Iowan Old Style';
  src: url('../fonts/Iowan-Old-Style---Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}