/**ROOT*/

:root {
	--prjct-MargTopBtm: 7px;
	--root-font-size: 2rem;
	--name-fontSize: 20px;
	--name-lineHeight: 28px;
	--notes-fontSize: .95rem;
	--notes-lineHeight: 18px;
	--header1-fontSize: 1.5rem;
	--header1-lineHeight: 1.3;
	--header2-fontSize: 1.35rem;
	--header2-lineHeight: 1.275;
	--pagePadLR:15px;
	--pageMarginTop:30px;
}

:root {
	--testBrdW:0px;
	--mbltstBrdW:0px;
	--testMobileBrdW:0px
}
/**MAIN*/

/****************
BUTTON MARGIN TOP
*****************/
#app .project > .name > .prefix,
#app .project > .name > .expand {}

:root {
	--btn-MargTop: 2px !important;

}
#app .project.header1 > .name {
	--btn-MargTop: 12px !important;
}
#app .project.header2 > .name {
	--btn-MargTop: 6px !important;
}
#app .project.header3> .name {
	--btn-MargTop: 9.5px !important;
}
/*Header 2*/
#app .project.header2 > .name > .bullet:not(#app .board .header2 > .name > .bullet),
#app .project.header2 > .name > .prefix:not(#app .board .header2 > .name > .prefix),
#app .project.header2 > .name > .expand:not(#app .board .header2 > .name > .expand) {

	top: 9px !important;
}


/****************
PARAGRAPH MARGIN
*****************/
#app .project:not(.board) > .children{
		--prjct-MargTopBtm:4px !important;
}



.project:not([class*="head"]) > .name > .content:empty:before{
	height: 28px !important;
}
/********
*********
*********
WORKFLOWY - V12 - MOBILE -  OVERRIDES
*********
*********/


/*******************************
********************************
ROOT
********************************
********************************/


/*******************************
********************************
MOBILE - OVERRIDES
********************************
********************************/


/*
.topBar,
.hideForSheetView {
		z-index: 4;
}*/
/****************
PAGE
*****************/
#app .pageContainer {}
#app .page {
	transition: .1s !important;
	margin-top: var(--pageMarginTop) !important;
	padding-top: var(--pageMarginTop) !important;
	padding-left: var(--pagePadLeft);
	padding-right: var(--pagePadRight);
	position: unset;
	max-width: 100% !important;
	display: block !important;

}


/****************
PAGE - SEARCHING
*****************/
#app .page.searching .project.root > .children > .project {
	margin-top: 50px !important;
}
#app .page.searching .project.root > .children > .project > .content,
#app .page.searching .project.root > .children > .project > .content * {
	font-weight: 500 !important;

}

.page.searching .selected > .children .children {
	margin-left: 0px !important;
	padding-left: calc(var(--children-Indent) * 1) !important
}

/*page - searching*/
#app .page._1y5a8kp,
#app .page._1uo8egu {
	--pageMarginTop: 64px
}
.is-mobile .project.half-open.root {
	margin-top: 40px !important;
}
.is-mobile .topBar {}
/****************
HIGHLIGHTS , UNDERLINES
*****************/
#app .project > .name > .content u,
#app .project > .name > .content a {
	text-underline-offset: 4px !important;
	text-decoration-thickness: 1.5px !important
}


/****************
HIGHLIGHTS , UNDERLINES
*****************/
#app .project > .name > .content {
	width: 100% !important;
	max-width: 800px !important;
}

/****************
CHILDREN
*****************/
.children .children .project {
	margin-left: 0px !important;
}

.board .zoomChevronIcon {
	display: none !important;
}

*,
#app .project.board > .children * {
	box-sizing: border-box !important;
}

/****************
Font Family
*****************/
*,
body * {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif !important;
}
/****************
root
*****************/
.root > .children {
	padding-left: 0px !important;
}
#app .page > .project.root > .children {
	padding-top: 20px !important;
}
.closeExpandedNote {
	display: none;
}
/****************
EMPTY LINE FIX
*****************/
.project > .name > .content:empty:before {
	content: "";
	display: block;
	background: transparent;
	width: 100%;
	height: 26px;
}
.project > .name.name--with-image > .content:empty:before {
	height: 5px !important;

}
/****************
BREADCRUMBS
*****************/

/****************
BOARD
*****************/
#app .board.root > .children > .boardColumn:first-child {
	margin-left: 0px !important;
}
.project.board.open > .children > .boardColumn{
	padding-bottom: 10px;
}

.project.board + .project {
	margin-top: 0px !important;
}
.project.board .project > .name > .content:empty:before {
	content: "";
	display: block;
	background: transparent;
	width: 100%;
	height: 16px;
}
.project.board .boardColumn > .name > .content:empty:before {
	height: 24px;
}
.project.board .boardCard > .name > .content:empty:before,
.project.board .boardCard .project > .name > .content:empty:before {
	height: 18px;
}

.project.board .boardCard.header1 > .name > .content:empty:before,
.project.board .boardCard .project.header1 > .name > .content:empty:before {
	height: 21px;
}

.project.board .boardCard.header2 > .name > .content:empty:before,
.project.board .boardCard .project.header2 > .name > .content:empty:before {
	height: 20px;
}


.project.root > .name .innerContentContainer,
.project.root > .innerContentContainer .colored {
	font-weight: 700;
	color: var(--NODE--TXT-CLR--bold);
}

/****************
FONT SIZES
*****************/
.project.root > .children .project > .name > .content,
.project > .name > .content {
	font-size: var(--name-fontSize);
	line-height: var(--name-lineHeight);
	color: var(--NODE--TXT-CLR--main);
}

.project.root > .children .header1 > .name > .content,
.project.header1 > .name > .content {
	font-size: var(--header1-fontSize);
	line-height: var(--header1-lineHeight);
}
.project.root > .children .header2 > .name > .content,
.project.header2 > .name > .content {
	font-size: var(--header2-fontSize);
	line-height: var(--header2-lineHeight);
}

/****************
NAME NOTES INNERCONTENT
*****************/
#app .project .name > .content,
#app .project .notes > .content,
#app .project .name > .content > .innerContentContainer,
#app .project .notes > .content > .innerContentContainer {
	height: unset !important;
}

/****************
ANIMATION FIX
*****************/
#app .project > .name:hover > .bullet,
#app .project > .name:hover > .menu {
	opacity: .5;
	animation: none !important;
	animation-duration: unset !important;
}
#app .project > .name > .bullet,
#app .project > .name > .menu {
	animation: unset !important;
	animation-duration: unset !important;
}


.project.board.open > .name:not(.project.board.root > .name):after {}

/****************
IMAGES FIX
*****************/

.project > .name--with-image > .content {
	display: block;
	max-width: 100%;
}
.project > .name--with-image > .file-preview {
	margin-left: calc(var(--children-Indent) * 1) !important;

}


.project > .name.name--with-image {}

/*******************************
********************************
BULLETS REWORK
********************************
********************************/

/*******************************
EXPAND
********************************/
:root {
	--expandArrowWH: 14px;
}
#app .project > .name > .expand:not(#app .board.project > .children .expand) {
	right: calc(var(--children-Indent) * -0.35) !important;
	left: unset !important;
	width: 30px !important;
}
#app .project > .name > .expand:not(#app .board.project > .children .expand):hover {
	background: var(--BG-BUTTON--HOVER) !important;
}
.project > .name > .expand:not(.board .project>.name>.expand):after {
	opacity: 0;
}
#app .project.board:not(.root) > .name > .expand:not(#app .board.project > .children .expand){
	right: 0px !important;
	box-shadow: unset !important;
	outline: unset !important;
	border: unset !important;
	
}
#app .project.board:not(.root) > .name > .expand:not(#app .board.project > .children .expand,.expand:hover){
	background: transparent !important;
}
/******
EXPAND - JUST FOR BOARDS
*******/
#app .root .project .project.board > .name > .expand {
	right: calc(var(--children-Indent) * -1px) !important;
	left: -10px !important;
	box-shadow: inset 0 0 0 2px var(--BG-Bullet-under) !important;
	outline: 2px solid var(--BG-Bullet-under);
	border: 2px solid hsla(0, 0%, 50%, .5) !important;
}

.project > .name > .expand:before {
	display: none;
}

/*Expand - Icon Wrapper */
#app .project:not(.board) .project > .name > .expand,
#app .project:not(.board) .project > .name > .expand > div{
	opacity: 1 !important;
}
#app .project:not(.board) .project > .name > .expand > div:not(.project.board > .children .expand > div) {
	background-image: var(--ICON--ARROW) !important;
	width: var(--expandArrowWH);
	height: var(--expandArrowWH);
	transform: scale(1)rotate(90deg);
}
#app .project.collapsed > .name > .expand > div:not(.project.board.collapsed > .children .expand > div, .project.board .project.collapsed .expand > div) {
	transform: scale(1)rotate(0deg) !important;

}



/*******************************
NORMAL BULLET
********************************/
:root {
	--mobilebulletWidth: 9px;
}
#app .project > .name > .bullet:not(.board.project > .children .bullet) {
	left: calc(var(--children-Indent) * 0) !important;
	opacity: 1 !important;
}

#app .project > .name > .bullet:not(.project.board .project > .name > .bullet):before {
	background: var(--BG-Bullet-open);
	content: "";
	width: var(--mobilebulletWidth);
	height: var(--mobilebulletWidth);
	border-radius: 100px;
	z-index: 1;
}
#app .project.open > .name > .bullet:not(.project.board .project.open > .name > .bullet):after,
#app .project.collapsed > .name > .bullet:not(.project.board .project.collapsed > .name > .bullet):after {
	content: "";
	position: absolute;
	width: var(--mobilebulletWidth);
	height: var(--mobilebulletWidth);
	transform: scale(2);
	background: var(--BG-Bullet-under);
	opacity: 1;
	z-index: 0;
}
#app .project.open > .name > .bullet:not(.project.board .project.open > .name > .bullet):after {
	transform: scale(0)
}
/*******************************
PARAGRAPH
********************************/

#app .project.paragraph > .name > .bullet:not(.project.board .project.paragraph > .name > .bullet):before {
	width: 3px;
	opacity: 0;
	transition: 0s !important;
}
#app .project.paragraph.open > .name > .bullet:not(.project.board .project.paragraph > .name > .bullet):before,
#app .project.paragraph.collapsed > .name > .bullet:not(.project.board .project.paragraph > .name > .bullet):before {
	opacity: 1;

}

#app .project.paragraph.open > .name > .bullet:not(.project.board .project.paragraph.open > .name > .bullet):after,
#app .project.paragraph.collapsed > .name > .bullet:not(.project.board .project.paragraph.collapsed > .name > .bullet):after {
	width: 6px;
}
/*******************************
TODO
********************************/
#app .project.checkmark > .name > .bullet.diamond:before {
	opacity: 0 !important;
}

.project > .name > .prefix:not(.project.checkmark > .name > .prefix):after {
	opacity: 0;
}

.project.checkmark > .name > .bullet:after {}
.project.checkmark > .name > .prefix {
	top: 0px !important;
}
.project.checkmark > .name > .bullet:after {
	display: none !important;
}
/**ROOT CHECKBOX*/
.project.root.checkmark > .name > .content {
	padding-left: 30px !important;
	transition: .4s !important;
}
.project.root.checkmark > .name > .prefix {
	top: 4px !important;
	left: -4px !important;
}

@media (max-width:700px) {
	.project.root.checkmark > .name > .prefix {}
	.project.root.checkmark > .name > .content {}
}
/*******************************
MIRROR SOURCE
********************************/
:root {
	--mirrorBrdRad: 2px;
	--mirrorTransformOpen: scale(.8)rotate(45deg);
	--mirrorTransformClose: scale(.8)rotate(-45deg);

}
#app .hasMirrors > .name > .bullet.diamond:not(.board .hasMirrors > .name > .bullet):before {
	border-radius: var(--mirrorBrdRad) !important;
	background: var(--BG-primary) !important;
	box-shadow: inset 0 0 0 1.5px var(--BG-Bullet-open);
}

/*******************************
MIRROR - MIRRORED
********************************/

#app .project > .name > .bullet.diamond:not(.board .bullet.diamond):before {
	border-radius: var(--mirrorBrdRad) !important;
	transform: scale(.95)rotate(45deg) !important;
}
#app .project.collapsed > .name > .bullet.diamond:not(.board .project.collapsed .bullet.diamond):before {
	transform: scale(.95)rotate(-45deg) !important;
}
#app .project > .name > .bullet.diamond:not(.board .bullet.diamond):before {}

/*******************************
CONTENT PADDING
********************************/
.project.root > .children > .project .name:not(.project.board > .children > .project .name) {
	padding-right: 14px !important;
}
/*******************************
BOX SHADDOW TESTING
********************************/

#app .project > .name > .bullet,
#app .project > .name > .expand,
#app .project > .name > .prefix,
#app .project > .name > .menu {
	box-shadow: 0 0 0 .5px hsl(0, 100%, 50%, 0);
}

/*******************************
********************************
MENUS / POPUPS / NAV
********************************
********************************/
._n3lhwy > div {
	max-height: 75vh;
	box-shadow: -3px 0px 12px hsla(324, 0%, 0%, .2)
}

._n3lhwy .menuItem {
	padding-top: 11px;
	padding-bottom: 11px;
}


/*Items Inside 3 dot*/
._n3lhwy ._itlg46 > div {
	height: unset;
	padding-top: 10px;
	padding-bottom: 10px;
}

/***************
Link To & Mirror Menu
****************/
._10fntxy {
	border: 1px solid hsla(0, 0%, 50%, .3);
	border-bottom: none;
	border-radius: 10px;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

._15zleo {
	max-height: 35vh !important;
}
._15zleo .menuItem {
	border-bottom: none;
}
.menuItem._1170u7l {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

/***************
TOGGLE SWITCHES
****************/
label .toggle-container {
	border: 1px solid hsla(0, 0%, 50%, 0.2);
	display: flex;
	align-items: center;
	padding: 2px;
}
/*toggle button*/
label .toggle-container > div {
	width: 16px;
	height: 16px;
}


/***************
QUICK SWITCHER
****************/

/*dark*/
#app div > .dialog-box._dbuxzi,
/*light*/
#app div > .dialog-box._1ahk2z2 {
	top: unset;
	max-height: calc(100vh - 60px);
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0px !important;
	height: 100%;
	top: 22px !important;

}
/*dark*/
#app div > .dialog-box._dbuxzi > div,
/*light*/
#app div > .dialog-box._1ahk2z2 > div {
	max-width: 100%;
	padding: 0px;
	width: 100%;
	height: 100%;
}
/*dark*/
#app div > .dialog-box._dbuxzi input,
/*light*/
#app div > .dialog-box._1ahk2z2 input {
	height: 70px !important;

}

/*dark*/
#app div > .dialog-box._dbuxzi > div > div:first-of-type,
/*light*/
#app div > .dialog-box._1ahk2z2 > div > div:first-of-type {
	height: 70px !important;
	position: sticky;
	top: 0;
}
/*dark*/
#app div > .dialog-box._dbuxzi > div > div:last-of-type,
/*light*/
#app div > .dialog-box._1ahk2z2 > div > div:last-of-type {
	display: block !important;
}
#app div > .dialog-box._dbuxzi > div > div:last-of-type > div,
/*light*/
#app div > .dialog-box._1ahk2z2 > div > div:last-of-type > div {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

/*dark*/
#app div > .dialog-box._dbuxzi .switcher-option,
/*light*/
#app div > .dialog-box._1ahk2z2 .switcher-option {
	margin: 0px;
	margin-top: 0px !important;
	padding-left: 39px !important;
	padding-right: 10px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

/*******************************
********************************
QUICK SWITCHER - MOBILE
********************************
********************************/
.is-mobile #app .dialog-box {
	padding: 0px !important;
}
.is-mobile #app .dialog-box > div {
	padding: 0px !important;
}
.is-mobile #app .dialog-box > div > div:last-child {
	padding: 0px !important;
	position: relative !important;
	width: 100% !important;
	display: block !important;
	margin: 0 auto !important;
	max-width: 100% !important;
}

.is-mobile #app .dialog-box > div > div:last-child > div,
.is-mobile #app .dialog-box > div > div:last-child > div .switcher-option {
	margin-left: unset !important;
	margin-right: unset !important;
	width: 100% !important;
	max-width: 100% !important;
}

.is-mobile #app .dialog-box > div > div:last-child > div {
	margin-top: 0px !important;
	padding: 0px !important;
	padding-left: 5px !important;
	padding-right: 5px !important
}
.is-mobile #app .dialog-box > div > div > div .switcher-option {
	padding: 6px 9px !important;
}



/***************
TOP HEADER
****************/

.MobileBreadcrumbs:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background: var(--COMMENT-CONTAINER--BORDER-CLR);
	opacity: .4
}

/*******************************
********************************
NAV
********************************
********************************/


/*******************************
TOP NAV
********************************/
.topBar {
	z-index: 95 !important;
}
/*******************************
BOTTOM NAV - NOT EDITING
********************************/


/*editor bar*/
/*
._trm07q{
bottom:0px !important;
padding-bottom:10px;
position:fixed;
right:0;
left:0;
}
*/
/*
.mobileControls{
		bottom:20px !important;
		position: fixed;
		right:0;
		left:0;
}
*/

/*******************************
BOTTOM NAV - EDITING
********************************/

.hideForSheetView,
.mobileControls {
	box-shadow: inset 0 0 0 0px red !important;
	height: unset !important;
	max-height: unset !important;
	z-index: 100 !important;
}

.hideForSheetView {
	padding-top: 5px;
}
/*
.mobileControls > div:last-of-type {
	padding-right: 20px !important;
	min-width: 100px !important;
}
*/


/*******************************
********************************
SWIPE MENU
********************************
********************************/
/**SWIPE MENU PARENT*/
.font-custom .name{

}
.font-custom .name[style*="transform: translateX(-"]{
	/*transform: translateX(-100%) !important;*/
	outline: var(--testMobileBrdW) solid green;
	position: relative;
}
/*SWIPE MENU*/
.swipe-menu{
	display: flex !important;
	align-items: center !important;
	justify-content: space-between !important;
	left: calc(100vw - var(--children-Indent) * 2);
	outline: var(--testMobileBrdW) solid PINK;
	max-width: 70px !important;
	z-index: 949494;
	backdrop-filter: blur(30px);
	top: 0;
	bottom: 0;
}
.root > .children > .project > .name .swipe-menu {
	left: calc(100vw - var(--children-Indent) * 1);
}
.root > .children > .project > .children > .project > .name .swipe-menu{
	left: calc(100vw - var(--children-Indent) * 2);
}
.root > .children > .project > .children > .project > .children > .project > .name .swipe-menu{
	left: calc(100vw - var(--children-Indent) * 3);
}
.root > .children > .project > .children > .project > .children > .project > .children > .project > .name .swipe-menu{
	left: calc(100vw - var(--children-Indent) * 4);
}
.root > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .name .swipe-menu{
	left: calc(100vw - var(--children-Indent) * 5);
}
.root > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .name .swipe-menu{
	left: calc(100vw - var(--children-Indent) * 6);
}
.root > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .name .swipe-menu{
	left: calc(100vw - var(--children-Indent) * 6);
}
.root > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .name .swipe-menu{
	left: calc(100vw - var(--children-Indent) * 7);
}
.root > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .children > .project > .name .swipe-menu{
	left: calc(100vw - var(--children-Indent) * 8);
}
/*SWIPE MENU > BUTTONS*/
.swipe-menu > div {
	
}
/*BUTTONS*/
#app .project > .name > .expand + div + div > div {
	min-width: 20vw !important;
	max-width: 20vw !important;
	width: 25vw !important;
	display: flex !important;
	align-items: center;
	justify-content: center;

	position: relative !important;
	top: unset !important;
	left: unset !important;
	right: unset !important;
	bottom: unset !important;

}

#app .project > .name > .expand + div + div svg {
	min-width: 20px !important;
	max-width: 20px !important;
	position: relative !important;
}

.project.open > .name:after, .project.references > .children .project.open > div:first-child:after, .project.references > .children .project.open > .children:after{
	z-index: 0;
}


/*******************************
********************************
HEADER BULLETS 

DON'T DELETE! 

THESE LOOK WRONG IN VIVALDI. THEY LOOK CORRECT ON IPAD!
********************************
********************************/
#app .project.header1 > .name > .bullet:not(#app .board .header1 > .name > .bullet), #app .project.header1 > .name > .prefix:not(#app .board .header1 > .name > .prefix), #app .project.header1 > .name > .expand:not(#app .board .header1 > .name > .expand){
		top: 7px !important;
}
#app .project.header2 > .name > .bullet:not(#app .board .header2 > .name > .bullet), #app .project.header2 > .name > .prefix:not(#app .board .header2 > .name > .prefix), #app .project.header2 > .name > .expand:not(#app .board .header2 > .name > .expand){
		top: 5px !important;
}
#app .project.header3 > .name > .bullet:not(#app .board .header3 > .name > .bullet), #app .project.header3 > .name > .prefix:not(#app .board .header3 > .name > .prefix), #app .project.header3 > .name > .expand:not(#app .board .header3 > .name > .expand){
		top: 5px !important;
}
/*******************************
********************************
DIVIDER
********************************
********************************/
#app .project.divider:not(.collapsed,.open) > .name > .bullet:not(.board.project > .children .bullet) {
		opacity: 0 !important; 
}
/*******************************
********************************
NOTES
********************************
********************************/
#app .project.noted > .notes {}
#app .project.noted > .notes > .content {
	display: block !important;
}
#app .project.noted > .notes > .content > .innerContentContainer {
	display: block !important;
}

/*******************************
********************************
MOBILE - MEDIA QUERIES
********************************
********************************/

@media(max-width:1400px) {
	#app .pageContainer {}
	#app .pageContainer .page {
		transition: .1s !important;
		margin-top: var(--pageMarginTop) !important;
		padding-top: var(--pageMarginTop) !important;
		width: 100% !important;
		max-width: 100% !important;
		padding-left: var(--pagePadLR) !important;
		padding-right: var(--pagePadLR) !important;

	}
}

@media (max-width:650px) {
	:root {
		--children-Indent:24px;
	}
}



/****************
*****************
BOARDS
*****************
*****************/
#app {
	max-width: 100vw;
	overflow: hidden;
}

/*Board Overflow*/
#app .project.board {
	overflow: hidden !important;
}
#app .project.board:not(#app .project.board.root) {
	width: calc(100% + var(--pagePadRight)) !important;
	max-width: calc(100% + var(--pagePadRight)) !important;
}


#app .project.board > .name,
#app .project.board > .notes {
	width: 100% !important;
	max-width: 100% !important;
	overflow: visible !important;
}
#app .boardColumn {
	overflow: unset !important;
}
#app .project.board.root.noted > .notes {
	padding-left: unset;
}
html #app .project.root > .name {
	height: unset;
}
/****************
BOARD OVERRIDES
*****************/
#app .board .bullet {
	opacity: 1 !important;
}
#app .board > .name > .content,
#app .board > .notes > .content {
	padding-left: 0px;
}
/****************
BOARD ROOT
*****************/
#app .page[style="overflow-y: auto;"] > .project.board.root {
	position: relative;
	top: unset;
	padding: unset;
	padding-left: unset;
	padding-right: unset;
	height: unset;
	margin: unset;
}
.project.board.root > .name,
.project.board.root > .notes {
	padding-left: var(--pagePadLeft) !important;
	padding-right: var(--pagePadRight) !important;
}
.project.board.root > .name .content,
.project.board.root > .name .content .innerContentContainer,
.project.board.root > .notes .content,
.project.board.root > .notes .content .innerContentContainer {
	white-space: nowrap !important;
	overflow-x: scroll !important;
}
#app .page[style="overflow-y: auto;"] > .project.board.root > .children {
	max-height: 70vh;
	padding-top: 0px !important;
}
.project.board.root .boardColumn > .children > div:last-of-type {
	margin-bottom: 100px;
}
/****************
BOARD BUTTONS
*****************/
.board .project > .name > .expand ._fz92jl:before {
	content: var(--ICON--ARROW);
	display: block;
	width: 24px;
	height: 24px;
	transition: .2s;
	position: absolute;
}


._18kgnc6 {
	display: none;
}

.name > .bullet,
.name > .prefix,
.name > .prefix .item-checkbox,
.name > .expand,
.name > .expand ._fz92jl,
.name > .menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: var(--btn-Width);
	height: var(--btn-Height);
	transition: var(--btn-transition);
	cursor: pointer;
	border-radius: var(--btn-BrdRad);
}
._fz92jl {
	transform: scale(1.2);
}

.board .project > .name > .expand ._fz92jl:hover {
	background: var(--BG-BUTTON--HOVER);
}

/*************
BOARD - BUTTONS
**************/
/*BOARD COLUMN - BUTTONS*/
.project.boardColumn > .name > .expand {
	left: calc(var(--children-Indent) * .5) !important;
}
.project.boardColumn > .name > .expand ._fz92jl:before {
	transform: scale(.575)rotate(90deg);
}
.project.boardColumn.collapsed > .name > .expand ._fz92jl:before {
	transform: scale(.575)rotate(0deg);
}
/*BOARD CARD - BUTTONS*/
#app .project.boardCard > .name > .expand {
	left: calc(var(--children-Indent) * .5) !important;
	margin: unset;
}
.project.boardCard > .name > .expand ._fz92jl:before {
	transform: scale(.48)rotate(90deg);
}
.project.boardCard.collapsed > .name > .expand ._fz92jl:before {
	transform: scale(.48)rotate(0deg);
}
/*BOARD CARD CHILDREN- BUTTONS*/
.project.boardCard .project > .name > .expand ._fz92jl:before {
	transform: scale(.38)rotate(90deg);
}

.project.boardCard .project.collapsed > .name > .expand ._fz92jl:before {
	transform: scale(.38)rotate(0deg);
}


.project.boardColumn > .name > .bullet,
.project.boardColumn > .name > .prefix,
.project.boardCard > .name > .bullet,
.project.boardCard > .name > .prefix {
	right: calc(var(--children-Indent) * .25) !important
}

/*************
BOARD - FONT SIZES
**************/
.project.board .boardColumn > .name {
	--name-fontSize: 1.25rem !important;
	--name-lineHeight: 1.25 !important;
	--header1-fontSize: 1.25rem !important;
	--header1-lineHeight: 1.25 !important;
	--header2-fontSize: 1.25rem !important;
	--header2-lineHeight: 1.25 !important;
}
.project.board .boardColumn > .name {
	font-weight: 700 !important;
}
.project.board .boardColumn .name {
	--name-fontSize: 1.05rem;
	--name-lineHeight: 1.1;
}
.project.board .boardColumn .header1 > .name > .content {
	--header1-fontSize: 1.15rem;
	--header1-lineHeight: 1.175;
}

.project.board .boardColumn .header2 > .name > .content {
	--header2-fontSize: 1.1rem;
	--header2-lineHeight: 1.15 !important;
}
/*************
BOARD - BORDER BOTTOM - NOT ROOT
**************/

#app .project.board.open + .project:before {
	content: "";
	display: block;
	left: -100vw;
	right: -100vw;
	height: 1px;
	background: var(--COMMENT-CONTAINER--BORDER-CLR);
	top: calc(var(--prjct-MargTopBtm) * -1);
	position: absolute;
}

#app .page[style*="overflow-y: auto"] {
	padding: 0px !important;
	overflow-y: hidden !important;
	position: fixed !important;
	top: var(--wf-header-height);
	bottom: 0 !important;
	height: unset !important;
	margin: unset !important;
	border: var(--mbltstBrdW) solid orange !important;
}
#app .page[style="overflow-y: auto;"] > .project.board.root{
	border: var(--mbltstBrdW) solid red !important;
	height: 100% !important;
}
#app .page[style="overflow-y: auto;"] > .project.board.root > .children{
	height: 100% !important;
	max-height: calc(100% - 40px) !important;
	border: var(--mbltstBrdW) solid purple !important;

}
#app .project.board.root > .children > .boardColumn {
	border: var(--mbltstBrdW) solid #0f1 !important;
}
#app .project.board.root > .children > .boardColumn > .name > .bullet,
#app .project.board.root > .children > .boardColumn > .name > .expand,
#app .project.board.root > .children > .boardColumn > .name > .menu,
#app .project.board.root > .children > .boardColumn > .name > .prefix{
	top: 7px !important;
}



#app .board.root .project:not(.boardCard) > .name > .expand {
	top: 1px !important;
}

#app .board.root .project.quote-block > .name > .expand{
		top: 6px !important;
}
#app .board > .children .boardCard > .children .project > .name > .bullet{
	background: transparent;
}
#app .board.root > .name,
#app .board.root> .notes {
	padding-left: 20px !important;
}
#app .project.board.root > .children > .boardColumn:first-child {
	margin-left: 20px !important;
	
}


.MobileBreadcrumbs .items-stretch {
	gap: 6px;
	font-style: normal;
}
.MobileBreadcrumbs .items-stretch * {
		font-style: normal;

}
.MobileBreadcrumbs .items-stretch {
	
}

.boardCard .comment-container {
	padding: unset !important; 
}
#app .comment-container.open > .name > .bullet .conversation-container-bullet{
	opacity: 1;
}



/*************
MOBILE BOARD FONT SIZE
**************/


#app .board .project > .name > .content {
	font-size: 16px !important;
	line-height: 22.25px !important;
}

/*
#app .board .project > .name > .expand {
	transform: scale(1.15);
}*/




/*************
MOBILE BREAD CRUMBS
**************/

.MobileBreadcrumbs .items-stretch {
	gap: 6px !important;
}
.MobileBreadcrumbs .items-stretch {
	
}

/*************
MOBILE EXPAND SCALE
**************/
/*
#app .page .board.root > .children .boardCard > .children .project.comment:not(.checkmark) > .name > .expand,
#app .page .board.root > .children .boardCard > .children .project.comment:not(.checkmark) > .children .project > .name > .expand{
	top: var(--btn-MargTop) !important;
	--btn-MargTop:3px !important
}


#app .board .project > .name > .bullet {
	background: transparent;
}


#app .board .project.boardCard > .name > .expand {
	top: 2px !important;
}


*/