/*********** 
! NAME > CONTENT > WIDTH OVERRIDES 
************/

#app .project:not(.board) .project>.name,
#app .project:not(.board) .project>.notes {
	max-width: calc(100% - 40px) !important;
}

#app .project:not(.board) .project>.name>.content {
	min-width: 100% !important;
	/*box-shadow: inset 0 0 0 1px red !important;*/
}

/*********** 
! NAME > EXPAND
************/
.project:not(.board) .project>.name>.expand {
	/*box-shadow: inset 0 0 0 1px red !important;*/
}

/*********** 
! NOTE OVERRIDES 
************/
:root {
	--notesMaxH: 21px;
}

/*NOTES > MAKE THEM 1 LINE*/
#app .page .project.root>.children .project>.notes>.content {
	display: -webkit-box !important;
	-webkit-box-orient: vertical !important;
	-webkit-line-clamp: 1 !important;
	max-height: var(--notesMaxH) !important;
	overflow: hidden !important;
	line-height: 20px !important;
	font-size: 14.5px !important
}

/*NOTES > SHOW ALL LINES WHEN ACTIVE*/

/*ACTIVE*/
#app .page .project.root>.children .project>.notes>.content.active,
#app .page .project>.children .project>.notes>.content.active {
	-webkit-line-clamp: 100 !important;
	--notesMaxH: 1000px !important;
	display: block !important;
	overflow: unset !important;
	-webkit-box-orient: unset !important;
}


#app .board:not(.root) {
	--notesMaxH: 24px;
}

#app .board.root {
	--notesMaxH: 24px;
}

/***********
BOARD OVERRIDES
*************/

/*BOARD MOBILE PADDING ADJUST*/
#app .page .project.board .project:not([class*="heade"])>.name {
	margin-top: 2px
}

#app .page .project.board .project:not(.noted)>.name>.content {
	margin-bottom: 3px !important;
}

#app .page .project.board .project>.notes>.content {
	margin-bottom: 4px !important;
}


/* MOBILE BREADCRUMBS*/
._1qonciq {
	gap: 10px !important;
}

/***** 
BOARDS > FONT SIZE
******/
#app .board .project>.name>.content {
	font-size: 16px !important;
	line-height: 22.25px !important;
}

#app .board .project>.name>.expand {
	transform: scale(1.15)
}

#app .board .project>.name>.bullet {
	background: transparent;
}

#app .board .project.boardCard>.name>.expand {
	top: 2px !important;
}