._1PeZajQI0Wm8P3B45yshR{fill:var(--newCommunityTheme-actionIcon)}._1PeZajQI0Wm8P3B45yshR._3axV0unm-cpsxoKWYwKh2x{fill:#ea0027}
._8j1c5tda8wyYwjTEGlw7C{fill:var(--newRedditTheme-actionIcon);width:12px;height:13px}
._1c_YBKkiW4FhhLJPkq9c1v{fill:var(--newCommunityTheme-actionIcon)}
._3dezPhiKJXkVFXj94zLKcs{fill:var(--newCommunityTheme-actionIcon)}
._3TGaJCWUjkbNuBqTHvrC05{fill:var(--newCommunityTheme-actionIcon)}
._1ZVHRoTDdo57082D2GcC80{fill:var(--newCommunityTheme-actionIcon)}
._33vXt91MK_ualpifvvw_3v{fill:var(--newCommunityTheme-actionIcon)}
._34rYEsgbWk8eOQx_bs7fTV{fill:var(--newCommunityTheme-actionIcon)}
._32TQMV98QwoweVXtMHpwr2{fill:var(--newCommunityTheme-actionIcon)}
._1329vPT9OSGZyEvo6Fqss{fill:var(--newCommunityTheme-actionIcon)}
.F0bObcodUF6At5SPF9bIr{fill:var(--newCommunityTheme-actionIcon)}
._8Y1-XP7A1OOfoU_mUqKcg{fill:var(--newCommunityTheme-actionIcon)}
._2C-VR7luDjfFqzNiJQEpk0{fill:var(--newCommunityTheme-actionIcon)}
._2-0pxD6-cM6bWeb73TNNhJ{fill:var(--newCommunityTheme-actionIcon)}
._1PNKgIKbpvIWTVU3LO0PJQ{fill:var(--newCommunityTheme-actionIcon)}
._32WqBD1jOzjyQPJdFZ8Rrt{fill:var(--newCommunityTheme-actionIcon)}
._1cI-FoGkiT7RNcT2BsWaRU{fill:var(--newCommunityTheme-actionIcon)}
._1fQOXfyxB1SmgMOi7sihQV{fill:var(--newCommunityTheme-actionIcon)}
._1KIFUYxvtUxuRVhS-FGTns{fill:var(--newCommunityTheme-actionIcon)}
._3C1w798INaJPgFxfklr4an{fill:var(--newCommunityTheme-actionIcon)}
._1-9XTFabkhOZ_fzqaoy2SX{fill:var(--newCommunityTheme-actionIcon)}
._1DvEfZosXHE4A0gHsGOjEU{fill:var(--newCommunityTheme-actionIcon)}
._12fGjUaA4qUfdUrX7rnmTK{fill:var(--newCommunityTheme-actionIcon)}
._2w7u00gFR4JH7UzVmD5lDJ{fill:var(--newCommunityTheme-actionIcon)}
.LfxAZX1Sm9aiJZiizUSZO{fill:var(--newCommunityTheme-actionIcon)}
._23XYJUJn_XitrV-LLkNyCQ{fill:var(--newCommunityTheme-actionIcon)}._23XYJUJn_XitrV-LLkNyCQ._1jCsYjqdUw4PYY-s3mGB47{fill:var(--newCommunityTheme-navIcon)}
._1pAYDrDlDFEJk994qhxbYj{fill:var(--newCommunityTheme-actionIcon)}
._2irXdPA4C5flwkupsFkN9-{fill:var(--newCommunityTheme-actionIcon)}
._2HCuqd3NYACKYaSTmrITE3{margin-right:2px;width:10px;height:10px;vertical-align:middle;fill:#ff4500}
._1dCUcobmYK3gyzqbl9T8UR{fill:var(--newCommunityTheme-actionIcon);stroke:var(--newCommunityTheme-actionIcon)}
._1d7BoD7egpRq9JmZVmVXkB{fill:var(--newCommunityTheme-actionIcon)}
.c6SVS_wE2GjDv20G4oiHX{fill:var(--newCommunityTheme-actionIcon)}
._2qT9eltTv4vv9GxxEZqvc0{fill:var(--newCommunityTheme-activeLight60)}
._2OUcXcp-8gkoFyUSKdNTxF{fill:var(--newCommunityTheme-activeLight60)}
._13NhOjx-Siom7MKe3Dex5y{fill:var(--newCommunityTheme-actionIcon)}
._1Fa4RPHlhrfUZuNaXK2-eP{fill:var(--newCommunityTheme-actionIcon)}
._3QNLLzw_kUPhkWkxg22tT9{fill:var(--newCommunityTheme-actionIcon)}
._2sBykNOXv7XBQtHHHAB1JB{fill:var(--newCommunityTheme-actionIcon)}
._1x0QJr7iXMkiGpOnQbAvYN{fill:#fff;height:50px;width:50px}
._11XLCF2uLCEj35_lDddpNT{fill:#fff;height:50px;width:50px}
.Ui8OEQfWnkN9BO2o-qSXV{fill:#fff;height:50px;width:50px}
.o2NVVhdZrQ3VeGMHO8aA0{fill:#fff;height:50px;width:50px}
._3DFi9BDKHWFWnty75sJhyJ{fill:#fff;height:50px;width:50px}
._1PkP2GybP9Bh6mN4gmbPN4{fill:#fff;height:50px;width:50px}
.eI6Ep6BNFA5DZjPWNVb4O{fill:#fff;height:50px;width:50px}
._1EfHCA6m0dIgLYzGW2aor1{fill:#fff;height:50px;width:50px}
._3N5UJK0Os17icJ33e54tfY{fill:#fff;height:50px;width:50px}
.G2_89gx6TwcALtRI4k7hc{fill:#fff;height:50px;width:50px}
.fpaVW-I8iox1soX0hTuwb{fill:#fff;height:50px;width:50px}
._2kG3YOJULmYUC8YtVtNO9J{fill:#fff;height:50px;width:50px}
._1NxifIlpri3Af8fEoxkaUr{fill:#fff;height:50px;width:50px}
._2X_GdgwreX3clU-MfCHx-Y{fill:#fff;height:50px;width:50px}
.egx9Z9oH6-wpjLKKhAEoM{fill:#fff;height:50px;width:50px}
._3ppQRTaxPs0X9rsFYHfSdf>circle{fill:var(--newRedditTheme-body)}

/*# sourceMappingURL=https://www.redditstatic.com/desktop2x/chunkCSS/0.683c9531cc2bd83d38bf_.css.map*/