/* CSS Document */
.book-wrapper {
  width: 100%;
  margin-right: 0%;
}
/*Toc*/
#toc {
  width: 100%;
  position: relative !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  max-width: 100%;
  margin: 0 auto;
}
#toc, .book {
  width: 620px;
}
.book h4, .book h5 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
#toc:before {
  display: none;
}
.toc-wrap {
  overflow: unset;
  padding-bottom: 20px !important;
  height: unset !important;
}
.app-wrap {
  flex-direction: column;
}