/* CSS Document */
.book-wrapper {
  width: 100%;
  margin-right: 0%;
}
/*Toc*/
#toc {
  width: 100%;
  position: relative !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  width: 660px;
  max-width: 100%;
  margin: 0 auto;
}
#toc:before {
  display: none;
}
.toc-wrap {
  overflow: unset;
  padding-bottom: 20px !important;
  height: unset !important;
}
.app-wrap {
  flex-direction: column;
}